Repository shopware/shopware, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shopware/product-ct-core, @shopware/product-ct-admin, @shopware/product-ct-storefront, @shopware/product-operations, @product/engineering/solution-teams/ctrl-alt-elite

.github/CODEOWNERS:

# general
/adr/                             @shopware/product-ct-core @shopware/product-ct-admin @shopware/product-ct-storefront

# this file
/.github/CODEOWNERS     @shopware/product-ct-core @shopware/product-ct-admin @shopware/product-ct-storefront


# ops
/.github/               @shopware/product-operations
/.gitlab/               @shopware/product-operations
.gitlab-ci.yml          @shopware/product-operations


# admin
/src/Administration/Resources/* @shopware/product-ct-admin
/.github/workflows/admin* @shopware/product-ct-admin @shopware/product-operations


# storefront
/src/Storefront/ @shopware/product-ct-storefront
/.github/workflows/storefront* @shopware/product-ct-storefront @shopware/product-operations


# ctrl-alt-elite
src/Core/System/UsageData/usage-data-allow-list.json @product/engineering/solution-teams/ctrl-alt-elite


# core
**/composer.json @shopware/product-ct-core
/.github/workflows/php* @shopware/product-ct-core @shopware/product-operations

/src/Core/Checkout/Cart/Facade/ @shopware/product-ct-core
/src/Core/Checkout/Cart/AbstractCartPersister.php @shopware/product-ct-core
/src/Core/Checkout/Cart/CartCalculator.php @shopware/product-ct-core
/src/Core/Checkout/Cart/CartDataCollectorInterface.php @shopware/product-ct-core
/src/Core/Checkout/Cart/CartPersister.php @shopware/product-ct-core
/src/Core/Checkout/Cart/CartProcessorInterface.php @shopware/product-ct-core
/src/Core/Checkout/Cart/CartRuleLoader.php @shopware/product-ct-core
/src/Core/Checkout/Cart/RuleLoader.php @shopware/product-ct-core
/src/Core/Checkout/Cart/Processor.php @shopware/product-ct-core
/src/Core/Checkout/Cart/Validator.php @shopware/product-ct-core
/src/Core/Checkout/Cart/Price/ @shopware/product-ct-core
/src/Core/Checkout/Cart/Processor/ @shopware/product-ct-core
/src/Core/Checkout/Cart/CartValidatorInterface.php @shopware/product-ct-core
/src/Core/Checkout/Order/SalesChannel/OrderRoute.php @shopware/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionProcessor.php @shopware/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionDeliveryProcessor.php @shopware/product-ct-core
/src/Core/Checkout/Promotion/Cart/PromotionCalculator.php @shopware/product-ct-core
/src/Core/Content/Media/Pathname/ @shopware/product-ct-core
/src/Core/Content/Product/SalesChannel/ @shopware/product-ct-core
/src/Core/Content/Product/DataAbstractionLayer/ @shopware/product-ct-core
/src/Core/Content/Product/Cart/ @shopware/product-ct-core
/src/Core/Content/Product/Subscriber/ProductSubscriber.php @shopware/product-ct-core
/src/Core/Content/Seo/SeoUrlGenerator.php @shopware/product-ct-core
/src/Core/Content/Seo/SeoResolver.php @shopware/product-ct-core
/src/Core/Content/Seo/SeoUrlPersister.php @shopware/product-ct-core
/src/Core/Content/Seo/SeoUrlUpdater.php @shopware/product-ct-core
/src/Core/Content/Seo/SeoUrlTwigFactory.php @shopware/product-ct-core
/src/Core/Content/Seo/SeoUrlPlaceholderHandler.php @shopware/product-ct-core
/src/Core/**/Cache*.php @shopware/product-ct-core
/src/Core/Framework/Adapter/ @shopware/product-ct-core
/src/Core/Framework/Api/ @shopware/product-ct-core
/src/Core/Framework/App/ @shopware/product-ct-core
/src/Core/Framework/DataAbstractionLayer/ @shopware/product-ct-core
/src/Core/Framework/Feature/ @shopware/product-ct-core
/src/Core/Framework/Log/ @shopware/product-ct-core
/src/Core/Framework/MessageQueue/ @shopware/product-ct-core
/src/Core/Framework/Migration/ @shopware/product-ct-core
/src/Core/Framework/Plugin/ @shopware/product-ct-core
/src/Core/Framework/Resources/config/ @shopware/product-ct-core
/src/Core/Framework/Routing/ @shopware/product-ct-core
/src/Core/Framework/Rule/ @shopware/product-ct-core
/src/Core/Framework/Script/ @shopware/product-ct-core
/src/Core/Framework/Update/ @shopware/product-ct-core
/src/Core/Framework/Util/ @shopware/product-ct-core
/src/Core/Framework/Uuid/ @shopware/product-ct-core
/src/Core/Framework/Validation/ @shopware/product-ct-core
/src/Core/Framework/Webhook/ @shopware/product-ct-core
/src/Core/Framework/*.php @shopware/product-ct-core
/src/Core/Profiling/ @shopware/product-ct-core
/src/Core/DevOps/ @shopware/product-ct-core
/src/Core/System/CustomEntity/ @shopware/product-ct-core
/src/Core/System/CustomField/ @shopware/product-ct-core
/src/Core/System/Integration/ @shopware/product-ct-core
/src/Elasticsearch/ @shopware/product-ct-core
/bin/ @shopware/product-ct-core
/public/ @shopware/product-ct-core
/config/bundles.php @shopware/product-ct-core
phpstan.neon @shopware/product-ct-core
.bc-exclude.php @shopware/product-ct-core
deprecation.ignore @shopware/product-ct-core
/src/Core/Framework/Resources/config/packages/shopware.yaml @shopware/product-ct-core

add failing test for redis cart storage
  src/Core/Framework/Resources/config/packages/shopware.yaml
  tests/integration/Core/Checkout/Cart/FailingTestRedisCartPersisterTest.php
Owners: @shopware/product-ct-core

NEXT-37871 - Make it work with tls proxy, ddev test case
  changelog/_unreleased/2024-10-21-support-tls-proxy-for-hot-reloading.md
  src/Storefront/Resources/app/storefront/build/start-hot-reload.js
Owners: @shopware/product-ct-storefront

fix: Only show Google Ads cookie if Google Analytics is enabled
  changelog/_unreleased/2024-10-21-only-show-google-ads-cookie-notice-if-google-analytics-is-enabled.md
  src/Storefront/Controller/CookieController.php
  tests/unit/Storefront/Controller/CookieControllerTest.php
Owners: @shopware/product-ct-storefront

update test
  tests/integration/Core/Checkout/Cart/FailingTestRedisCartPersisterTest.php
Owners: none

update test
  tests/integration/Core/Checkout/Cart/FailingTestRedisCartPersisterTest.php
Owners: none

update test
  tests/integration/Core/Checkout/Cart/FailingTestRedisCartPersisterTest.php
Owners: none

NEXT-33734 - Add nightly pipeline to ensure blue green deployment compatibility between 6.6 and 6.7
  .github/workflows/integration.yml
  .gitlab/stages/22-blue-green.yml
Owners: @shopware/product-operations

update test
  tests/integration/Core/Checkout/Cart/FailingTestRedisCartPersisterTest.php
Owners: none

NEXT-39174 - Make league/flysystem-async-aws-s3 dev dependency
  composer.json
  src/Core/composer.json
Owners: @shopware/product-ct-core

NEXT-39170 - Fix testing settings to be persisted on local emailAgent
  changelog/_unreleased/2024-10-21-fix-mailer-settings-persisting-old-data.md
  src/Administration/Resources/app/administration/src/module/sw-settings-mailer/page/sw-settings-mailer/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-mailer/page/sw-settings-mailer/sw-settings-mailer.spec.js
Owners: none

NEXT-34133 - Enable services
  src/Core/Service/DependencyInjection/services.xml
Owners: none

Allow to specify custom field types for attributed entities
  changelog/_unreleased/2024-10-22-allow-to-specify-field-class-directly-for-attributed-entities.md
  src/Core/Framework/DataAbstractionLayer/AttributeEntityCompiler.php
  tests/integration/Core/Framework/DataAbstractionLayer/AttributeEntityIntegrationTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/AttributeEntity.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/schema.sql
Owners: @shopware/product-ct-core

NEXT-28108 - fix colorpicker overlapping in theme manager fixes #5180
  changelog/_unreleased/2024-10-20-fix-colorpicker-overlapping-issue.md
  src/Administration/Resources/app/administration/src/app/component/structure/sw-page/sw-page.scss
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/sw-theme-manager-detail.html.twig
Owners: @shopware/product-ct-storefront

NEXT-38534 - Add support for opensearch sigv4 credential provider
  changelog/_unreleased/2024-10-08-add-opensearch-sigv4-credential-provider-configuration.md
  composer.json
  config-schema.json
  src/Elasticsearch/DependencyInjection/Configuration.php
  src/Elasticsearch/ElasticsearchException.php
  src/Elasticsearch/Framework/AsyncAwsSigner.php
  src/Elasticsearch/Framework/ClientFactory.php
  src/Elasticsearch/composer.json
  tests/unit/Elasticsearch/ElasticsearchExceptionTest.php
  tests/unit/Elasticsearch/Framework/AsyncAwsSignerTest.php
  tests/unit/Elasticsearch/Framework/ClientFactoryTest.php
Owners: @shopware/product-ct-core

NEXT-34873 - License sync handling services
  src/Core/Service/AuthenticatedServiceClient.php
  src/Core/Service/DependencyInjection/services.xml
  src/Core/Service/ServiceClientFactory.php
  src/Core/Service/ServiceException.php
  src/Core/Service/ServiceRegistryClient.php
  src/Core/Service/ServiceRegistryEntry.php
  src/Core/Service/Subscriber/LicenseSyncSubscriber.php
  tests/unit/Core/Service/AuthenticatedServiceClientTest.php
  tests/unit/Core/Service/ServiceClientFactoryTest.php
  tests/unit/Core/Service/ServiceRegistryClientTest.php
  tests/unit/Core/Service/Subscriber/LicenseSyncSubscriberTest.php
Owners: none

- add an event to filter violations at the end of the process - add public visibility for the definitions in the event
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
  src/Core/Framework/DataAbstractionLayer/Event/DefinitionValidatorFilterEvent.php
  src/Core/Framework/DataAbstractionLayer/Event/DefinitionValidatorViolationsFilterEvent.php
Owners: @shopware/product-ct-core
