Repository shopware/shopware, pull requests merged in 2019-08, with the labels that each got.

#113 fix misspelled operator constant in Docs
  src/Docs/Resources/current/2-internals/1-core/20-data-abstraction-layer/020-search.md
Labels: Scheduled

#114 Fix storefront namespace for PhpStorm
  src/Storefront/Resources/views/ide-twig.json
Labels: Scheduled

#116 Fix typo in german translation of the plugin unzip failure message
  src/Administration/Resources/administration/src/module/sw-plugin/snippet/de-DE.json
Labels: Accepted

#147 Remove duplicate add select call
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityWriteGateway.php
Labels: QuickPick
