Repository shopware/shopware, pull requests merged in 2020-05, with the labels that each got.

#928 NEXT-8436 - Remove alpha numerical filter from quick add. Fixes #680
  CHANGELOG-6.2.md
  src/Storefront/Controller/CartLineItemController.php
  src/Storefront/Test/Controller/CartLineItemControllerTest.php
Labels: Incomplete

#925 NEXT-8546
  CHANGELOG-6.2.md
  src/Core/System/SystemConfig/SystemConfigService.php
  src/Core/System/Test/SystemConfig/SystemConfigServiceTest.php
Labels: Incomplete

#918 NEXT-8340 - Fix the media file name direction in media library Fixes …
  CHANGELOG-6.2.md
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-base-item/sw-media-base-item.scss
Labels: Accepted

#903 NEXT-8438: Fixes #769 | add event listener to close flyout when cursor leaves window, also repair flyout flickering
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/sw-admin-menu.html.twig
Labels: Accepted

#919 NEXT-7788 - Add config for disabling reviews
  CHANGELOG-6.2.md
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/snippet/en-GB.json
  src/Core/Content/Product/Exception/ReviewNotActiveExeption.php
  src/Core/Migration/Migration1589458026SetDefaultReviewConfig.php
  src/Core/System/Resources/config/listing.xml
  src/Storefront/Controller/ProductController.php
  src/Storefront/DependencyInjection/controller.xml
  src/Storefront/Framework/Twig/TemplateDataExtension.php
  src/Storefront/Resources/views/storefront/component/listing/filter/filter-rating.html.twig
  src/Storefront/Resources/views/storefront/component/product/card/box-standard.html.twig
  src/Storefront/Resources/views/storefront/page/product-detail/buy-widget.html.twig
  src/Storefront/Resources/views/storefront/page/product-detail/tabs.html.twig
Labels: Incomplete

#935 NEXT-8598 - Add plural to packaging unit - Fixes #868
  CHANGELOG-6.2.md
  src/Administration/Resources/app/administration/src/module/sw-product-stream/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product-stream/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-packaging-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-packaging-form/sw-product-packaging-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en-GB.json
  src/Administration/Resources/app/administration/test/module/sw-import-export/service/mocks/entity-schema.mock.js
  src/Core/Content/Product/Aggregate/ProductTranslation/ProductTranslationDefinition.php
  src/Core/Content/Product/Aggregate/ProductTranslation/ProductTranslationEntity.php
  src/Core/Content/Product/ProductDefinition.php
  src/Core/Content/Product/ProductEntity.php
  src/Core/Migration/Migration1536233120Product.php
  src/Storefront/Resources/views/storefront/page/product-detail/buy-widget-form.html.twig
Labels: Incomplete

#902 NEXT-8616 - fixes https://github.com/shopware/platform/issues/885
  CHANGELOG-6.2.md
  src/Storefront/Resources/app/storefront/src/main.js
  src/Storefront/Resources/app/storefront/src/plugin/zoom-modal/zoom-modal.plugin.js
  src/Storefront/Resources/views/storefront/element/cms-element-image-gallery.html.twig
  src/Storefront/Resources/views/storefront/utilities/thumbnail.html.twig
Labels: Incomplete

#896 NEXT-8603 Don't load multiple bundles from plugins
  src/Core/Framework/Plugin/KernelPluginLoader/KernelPluginLoader.php
  src/Core/Framework/Test/Plugin/KernelPluginLoader/StaticKernelPluginLoaderTest.php
  src/Core/Framework/Test/Plugin/PluginIntegrationTestBehaviour.php
  src/Core/Framework/Test/Plugin/_fixture/bundles/FooBarBundle.php
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTest/src/SwagTest.php
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestWithBundle/CHANGELOG.md
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestWithBundle/composer.json
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestWithBundle/src/SwagTestWithBundle.php
  src/Core/Kernel.php
Labels: Incomplete

#926 NEXT-6407 - Upload media on manufacturer detail
  src/Administration/Resources/app/administration/src/module/sw-manufacturer/page/sw-manufacturer-detail/sw-manufacturer-detail.html.twig
Labels: Administration, Incomplete
