Repository shopware/shopware, pull requests merged in 2020-02, with the labels that each got.

#482 Added .gitkeep for ftp/sftp upload
  src/Storefront/Theme/Command/ThemeCreateCommand.php
Labels: QuickPick, Scheduled

#515 Add new twig template block around block category options
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-sidebar/sw-cms-sidebar.html.twig
Labels: QuickPick, Scheduled

#523 Restore $useCache property to previous Value
  src/Core/Framework/Context.php
Labels: Accepted, Scheduled

#513 Change logging for production mode
  src/Core/Framework/Resources/config/packages/prod/monolog.yaml
Labels: Scheduled
