Repository shopware/shopware, pull requests merged in 2024-12, with the labels that each got.

#5838 Fix webpack config order
  changelog/_unreleased/changelog/_unreleased/2024-12-11-fix-webpack-plugin-config-order.md
  src/Storefront/Resources/app/storefront/webpack.config.js
Labels: Area: Storefront

#5839 NEXT-40045 - Add promo code input placeholder
  changelog/_unreleased/2024-12-13-add-promo-code-input-placeholder.md
  src/Storefront/Resources/views/storefront/component/checkout/offcanvas-cart.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/cart/index.html.twig
Labels: Status:In-Review

#5844 NEXT-40033 - Ability to set pseudo modal root content
  changelog/_unreleased/2024-12-12-ability-to-add-modal-root.md
  src/Storefront/Resources/app/storefront/src/utility/modal-extension/pseudo-modal.util.js
  src/Storefront/Resources/app/storefront/test/utility/modal-extension/pseudo-modal.template.html
  src/Storefront/Resources/app/storefront/test/utility/modal-extension/pseudo-modal.util.test.js
  src/Storefront/Resources/views/storefront/component/pseudo-modal.html.twig
Labels: Status:In-Review

#5855 Add field for meta author and use it in frontend
  changelog/_unreleased/2024-10-04-add-meta-author-configuration-and-use-it-in-frontend.md
  src/Core/System/Resources/config/basicInformation.xml
  src/Storefront/Page/GenericPageLoader.php
  src/Storefront/Resources/views/storefront/layout/meta.html.twig
Labels: Area: Administration, Area: Storefront

#5852 NEXT-39778 - allow sending email synchronously
  src/Core/Content/DependencyInjection/mail_template.xml
  src/Core/Content/Mail/MailException.php
  src/Core/Content/Mail/MailerConfigurationCompilerPass.php
  src/Core/Content/Mail/Service/MailSender.php
  src/Core/Content/MailTemplate/Exception/MailTransportFailedException.php
  tests/unit/Core/Content/Mail/MailerConfigurationCompilerPassTest.php
  tests/unit/Core/Content/Mail/Service/MailSenderTest.php
Labels: Area: Core

#5851 NEXT-39787 - Google analytics tracking acceptance test
  tests/acceptance/tests/Settings/BasicConsentBannerAcceptAllCookies.spec.ts
  tests/acceptance/tests/Settings/BasicConsentBannerAvailability.spec.ts
  tests/acceptance/tests/Settings/BasicConsentBannerDeclineCookies.spec.ts
  tests/acceptance/tests/Settings/GoogleAnalyticsAcceptTracking.spec.ts
  tests/acceptance/tests/Settings/GoogleAnalyticsDeclineTracking.spec.ts
Labels: Status:In-Review

#5837 Fix loading data for one to many grid
  changelog/_unreleased/2024-12-16-fix-loading-data-for-one-to-many-grid-component.md
  src/Administration/Resources/app/administration/src/app/component/entity/sw-one-to-many-grid/index.js
  src/Administration/Resources/app/administration/src/app/component/entity/sw-one-to-many-grid/sw-one-to-many-grid.spec.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/promotion-codes/sw-promotion-v2-individual-codes-behavior/sw-promotion-v2-individual-codes-behavior.html.twig
Labels: Area: Administration, Bug, Status:In-Review

#5857 Next 39784/customer changes email and password
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
  tests/acceptance/tests/Account/ChangeCustomerCredentials.spec.ts
Labels: Status:In-Review

#5832 NEXT-37995 - Fix customer can add review for product more than one time via store api
  phpstan-baseline.neon
  src/Core/Content/Product/SalesChannel/Review/ProductReviewSaveRoute.php
  src/Core/Framework/DataAbstractionLayer/Validation/EntityNotExists.php
  src/Core/Framework/FrameworkException.php
  tests/integration/Core/Framework/DataAbstractionLayer/Validation/EntityNotExistsValidatorTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Validation/EntityNotExistsTest.php
Labels: Status:In-Review

#5846 NEXT-39904 - Migrate swOrderDetail store to pinia.
  changelog/_unreleased/2024-12-11-migrate-sworderdetail-store-to-pinia.md
  src/Administration/Resources/app/administration/src/app/composables/use-context.ts
  src/Administration/Resources/app/administration/src/global.types.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-address-selection/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-address-selection/sw-order-address-selection.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-details-state-card/sw-order-details-state-card.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/sw-order-document-card.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-general-info/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-general-info/sw-order-general-info.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-promotion-field/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-promotion-field/sw-order-promotion-field.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/sw-order-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/store/order-detail.store.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/store/order-detail.store.ts
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-details/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-details/sw-order-detail-details.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-documents/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-general/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-general/sw-order-detail-general.spec.js
  src/Administration/Resources/app/administration/test/_setup/prepare_environment.js
Labels: Status:In-Review

#5881 feat(accessibility): unify focus outlines for better visibility
  changelog/_unreleased/2024-12-16-unify-focus-outlines-for-better-accessibility.md
  src/Storefront/Resources/app/storefront/src/plugin/listing/listing.plugin.js
  src/Storefront/Resources/app/storefront/src/scss/component/_cms-block.scss
  src/Storefront/Resources/app/storefront/src/scss/component/_filter-panel.scss
  src/Storefront/Resources/app/storefront/src/scss/component/_filter-property-select.scss
  src/Storefront/Resources/app/storefront/src/scss/layout/_account-menu.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/abstract/variables/_bootstrap.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/component/_button.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/component/_form.scss
  src/Storefront/Resources/app/storefront/test/plugin/listing/listing.plugin.test.js
  src/Storefront/Resources/views/storefront/component/listing/filter-panel.html.twig
Labels: accessibility, Domain:Framework

#5927 fix: hot reload, http header and skip not used themes
  changelog/_unreleased/2024-12-19-additional-header-for-http-replace-escaped-urls.md
  src/Storefront/Resources/app/storefront/build/start-hot-reload.js
  src/Storefront/Resources/app/storefront/webpack.config.js
Labels: Storefront, Domain:Framework

#5873 fix: draco decoders path
  src/Storefront/Resources/app/storefront/package-lock.json
  src/Storefront/Resources/app/storefront/package.json
  src/Storefront/Resources/app/storefront/static/draco/README.md
  src/Storefront/Resources/app/storefront/static/draco/draco_decoder.js
  src/Storefront/Resources/app/storefront/static/draco/draco_decoder.wasm
  src/Storefront/Resources/app/storefront/static/draco/draco_encoder.js
  src/Storefront/Resources/app/storefront/static/draco/draco_wasm_wrapper.js
  src/Storefront/Resources/app/storefront/static/draco/gltf/draco_decoder.js
  src/Storefront/Resources/app/storefront/static/draco/gltf/draco_decoder.wasm
  src/Storefront/Resources/app/storefront/static/draco/gltf/draco_encoder.js
  src/Storefront/Resources/app/storefront/static/draco/gltf/draco_wasm_wrapper.js
  src/Storefront/Resources/app/storefront/webpack.config.js
  src/Storefront/Resources/views/storefront/element/cms-element-image-gallery.html.twig
Labels: Domain:Framework

#5896 fix: payment status cannot be exported
  src/Core/Content/ImportExport/DataAbstractionLayer/Serializer/Field/FieldSerializer.php
  tests/unit/Core/Content/ImportExport/DataAbstractionLayer/Serializer/Field/FieldSerializerTest.php
Labels: Domain:CRM & After Sales

#5931 test(ats): fix saas related issues
  tests/acceptance/.eslintrc.cjs
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
  tests/acceptance/tasks/ShopAdmin/Category/CreateLandingPage.ts
  tests/acceptance/tests/Account/CancelOrder.spec.ts
  tests/acceptance/tests/Account/CommercialCustomerRegistration.spec.ts
  tests/acceptance/tests/Product/ProductBulkEdit.spec.ts
  tests/acceptance/tests/Settings/BasicConsentBannerAcceptAllCookies.spec.ts
  tests/acceptance/tests/Settings/BasicConsentBannerDeclineCookies.spec.ts
Labels: Product Ops, Domain:Framework

#5902 fix: Changed `ScheduledTaskEntity` to enable automatic recovery for tasks stuck in state `running`.
  changelog/_unreleased/2024-12-18-improve-scheduled-task-recovery.md
  src/Core/Framework/MessageQueue/ScheduledTask/ScheduledTaskEntity.php
  tests/integration/Core/Framework/MessageQueue/ScheduledTask/ScheduledTaskHandlerTest.php
Labels: Core, Domain:Framework

#5959 fix: get correct path for user icon module
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo-usage/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo-usage/sw-media-quickinfo-usage.spec.js
Labels: Status:In-Review

#5962 fix: media folder creation not possible with enter key
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-base-item/sw-media-base-item.html.twig
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-folder-item/sw-media-folder-item.html.twig
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-media-item/sw-media-media-item.html.twig
Labels: Administration, Good first issue, Status:In-Review

#5923 fix: oom on file upload
  src/Core/Framework/Api/EventListener/JsonRequestTransformerListener.php
  src/Core/Framework/Api/OAuth/BearerTokenValidator.php
Labels: Domain:Framework

#5958 feat: [A11y-HTML] Document creation via Bulk Edit also creates HTML File
  changelog/_unreleased/2024-12-26-a11y-html-document-creation-via-bulk-edit-also-creates-html-file.md
  src/Core/Checkout/DependencyInjection/document.xml
  src/Core/Checkout/Document/Controller/DocumentController.php
  src/Core/Checkout/Document/Renderer/RenderedDocument.php
  src/Core/Checkout/Document/Service/DocumentMerger.php
  tests/integration/Core/Checkout/Document/Service/DocumentMergerTest.php
  tests/unit/Core/Checkout/Document/Service/DocumentMergerTest.php
Labels: Work in progress
