Repository shopware/shopware, pull requests merged in 2025-05, with the labels that each got.

#8943 fix: add allowfullscreen attribute to YouTube iframe in CmsGdprVideoElement
  changelog/_unreleased/2025-04-30-allowfullscreen-video-element.md
  src/Storefront/Resources/app/storefront/src/plugin/cms-gdpr-video-element/cms-gdpr-video-element.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/cms-gdpr-video-element/cms-gdpr-video-element.plugin.test.js
Labels: component/storefront, backport-6.6.x, backport-6.7.0.0, domain/framework

#8900 chore: deprecate cart alerts
  UPGRADE-6.8.md
  changelog/_unreleased/2025-04-29-deprecated-carts-alerts.md
  src/Storefront/Resources/views/storefront/component/checkout/cart-alerts.html.twig
Labels: domain/checkout

#9032 ci: skip broken update test case
  .github/workflows/integration.yml
Labels: backport-6.6.x, domain/product-ops, backport-6.7.0.0

#8954 fix: pagination page selector height
  src/Administration/Resources/app/administration/src/app/component/grid/sw-pagination/sw-pagination.scss
Labels: component/administration, backport-6.7.0.0, domain/framework

#8960 fix: Allow small size of `sw-select-rule-create`
  changelog/_unreleased/2025-04-30-allow-small-size-of-sw-select-rule-create.md
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-select-base/index.js
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-select-base/sw-select-base.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-select-base/sw-select-base.scss
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-single-select/index.js
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-single-select/sw-entity-single-select.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/sw-select-rule-create/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-select-rule-create/sw-select-rule-create.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-context-prices/sw-product-detail-context-prices.scss
Labels: component/administration, backport-6.7.0.0, domain/framework

#8917 fix: added line break to product variant info
  src/Administration/Resources/app/administration/src/app/component/base/sw-product-variant-info/sw-product-variant-info.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/sw-order-line-items-grid.scss
Labels: backport-6.7.0.0, domain/checkout

#8949 fix: no line breaks for placholder
  changelog/_unreleased/2025-04-30-fix-no-new-line-for-placeholder.md
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-single-select/sw-entity-single-select.scss
Labels: backport-6.7.0.0, domain/checkout

#8963 fix: currency and taxes detail page, no empty state restored and searchbox height
  src/Administration/Resources/app/administration/src/app/component/base/sw-simple-search-field/sw-simple-search-field.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-currency/page/sw-settings-currency-detail/sw-settings-currency-detail.html.twig
Labels: component/administration, 6.7-RC-Issues, backport-6.7.0.0, domain/framework

#9025 fix: change native type of userId in StateMachineHistoryEntity
  src/Core/System/StateMachine/Aggregation/StateMachineHistory/StateMachineHistoryEntity.php
Labels: backport-6.7.0.0, domain/checkout

#9030 fix: meteor transition issues
  src/Administration/Resources/app/administration/src/app/component/base/sw-button-process/sw-button-process.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-permissions-details-modal/sw-extension-permissions-details-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-ratings/sw-extension-rating-stars/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-ratings/sw-extension-rating-stars/sw-extension-rating-stars.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-ratings/sw-extension-ratings-summary/sw-extension-ratings-summary.scss
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-create/index.ts
Labels: component/administration, 6.7-RC-Issues, backport-6.7.0.0, domain/checkout

#8956 fix: selects height in the flow builder
  src/Administration/Resources/app/administration/src/module/sw-flow/view/detail/sw-flow-detail-flow/sw-flow-detail-flow.scss
Labels: component/administration, 6.7-RC-Issues, backport-6.7.0.0, domain/framework

#8585 feat: add http cache for some storefront routes
  .vscode/settings.json
  UPGRADE-6.8.md
  changelog/2025-04-15-country-state-controller-get-support.md
  src/Core/Framework/Resources/config/packages/feature.yaml
  src/Storefront/Controller/AuthController.php
  src/Storefront/Controller/CountryStateController.php
  src/Storefront/Controller/RegisterController.php
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-country-state-select.plugin.js
Labels: component/storefront, component/core, domain/framework

#9033 fix: promotion deletion cart error
  changelog/_unreleased/2025-05-05-fixed-promotion-deletion-cart-error.md
  src/Core/Checkout/Promotion/Cart/PromotionCollector.php
  tests/unit/Core/Checkout/Promotion/Cart/PromotionCollectorTest.php
Labels: backport-6.6.x, component/promotions, 6.7-RC-Issues, backport-6.7.0.0, domain/checkout

#9021 fix: Grid edit for properties and property values is not centered correctly
  src/Administration/Resources/app/administration/src/module/sw-property/page/sw-property-list/sw-property-list.scss
Labels: backport-6.7.0.0, domain/inventory

#8970 fix: add spacing to checkboxes in address modal
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-address-form/sw-customer-address-form.scss
Labels: component/administration, domain/framework

#9046 fix: formatted remove data mapping option in cms
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-mapping-field/sw-cms-mapping-field.scss
Labels: 6.7-RC-Issues, backport-6.7.0.0, domain/discovery

#9008 fix(admin): Metadata grid of media files
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-sidebar/sw-media-sidebar.scss
Labels: component/media, 6.7-RC-Issues, backport-6.7.0.0, domain/discovery

#9064 chore: update 6.6.10.4 changelog
  CHANGELOG.md
  changelog/release-6-6-10-4/2025-04-24-fix-local-mode-of-sw-one-to-many-grid.md
Labels: domain/product-ops

#8981 fix: remove specific color on icon-wishlist
  changelog/_unreleased/2025-05-02-remove-specific-color-on-icon-wishlist.md
  src/Storefront/Resources/app/storefront/src/scss/component/_product-wishlist.scss
Labels: component/storefront, domain/framework

#8996 fix: improve admin vite build log output and add correct exit code
  src/Administration/Resources/app/administration/build/plugins.vite.ts
  src/Administration/Resources/app/administration/vite.config.mts
Labels: component/administration, domain/framework

#9023 fix: allow product stream updater to be disabled correctly
  src/Core/Content/DependencyInjection/product.xml
  src/Core/Content/DependencyInjection/product_stream.xml
  src/Core/Content/Product/DataAbstractionLayer/ProductStreamUpdater.php
  src/Core/Content/ProductStream/DataAbstractionLayer/ProductStreamIndexer.php
  tests/unit/Core/Content/Product/DataAbstractionLayer/ProductStreamUpdaterTest.php
  tests/unit/Core/Content/ProductStream/DataAbstractionLayer/ProductStreamIndexerTest.php
Labels: component/core, backport-6.6.x, backport-6.7.0.0, domain/framework

#8783 fix: error when changing to isempty in rule condition
  src/Administration/Resources/app/administration/src/app/component/rule/sw-condition-operator-select/index.js
  src/Administration/Resources/app/administration/src/app/component/rule/sw-condition-operator-select/sw-condition-operator-select.spec.js
Labels: backport-6.6.x, backport-6.7.0.0, domain/crm-after-sales

#8867 fix: Basic Captcha form validation compatibility
  changelog/_unreleased/2025-04-28-improve-basic-captcha-compatibility.md
  src/Storefront/Resources/app/storefront/src/plugin/captcha/basic-captcha.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/captcha/basic-captcha.plugin.test.js
  tests/acceptance/tests/Forms/ValidateBasicCaptchaInContactForm.spec.ts
Labels: component/storefront, backport-6.7.0.0, domain/framework

#9026 fix: Vite build with underscore in plugin class generates correct file path
  changelog/_unreleased/2025-05-05-fix-admin-assets-with-underscores.md
  src/Administration/Resources/app/administration/build/vite-plugins/utils/index.ts
Labels: component/administration, 6.7-RC-Issues, backport-6.7.0.0, domain/framework

#9066 feat: force track_scores when search in explain mode
  src/Elasticsearch/Framework/DataAbstractionLayer/ElasticsearchEntitySearcher.php
  tests/unit/Elasticsearch/Framework/DataAbstractionLayer/ElasticsearchEntitySearcherTest.php
Labels: Status:In-Review, component/advanced-search, component/search, backport-6.7.0.0, domain/inventory

#8574 chore: deprecate account order detail page
  UPGRADE-6.8.md
  changelog/_unreleased/2025-04-15-deprecate-account-order-detail-page.md
  src/Storefront/Controller/AccountOrderController.php
  src/Storefront/Page/Account/Order/AccountOrderDetailPage.php
  src/Storefront/Page/Account/Order/AccountOrderDetailPageLoadedEvent.php
  src/Storefront/Page/Account/Order/AccountOrderDetailPageLoadedHook.php
  src/Storefront/Page/Account/Order/AccountOrderDetailPageLoader.php
  tests/integration/Storefront/Controller/AccountOrderControllerTest.php
Labels: domain/checkout

#8137 fix: meta information in landing pages is not inherited
  changelog/_unreleased/2025-03-27-meta-information-in-landing-pages-is-not-inherited.md
  phpstan-baseline.neon
  src/Storefront/Page/LandingPage/LandingPageLoader.php
  tests/integration/Storefront/Page/LandingPage/LandingPageLoaderTest.php
  tests/unit/Storefront/Page/LandingPage/LandingPageLoaderTest.php
Labels: Incomplete, External Contribution

#9087 fix: added removed property for cart table
  src/Storefront/Resources/views/storefront/component/checkout/cart-header.html.twig
Labels: domain/checkout

#8827 feat: Improve extensibility of header and footer ESI templates
  .bc-exclude.php
  UPGRADE-6.7.md
  changelog/_unreleased/2025-04-30-improve-extensibility-of-header-and-footer-esi-templates.md
  src/Storefront/Controller/NavigationController.php
  src/Storefront/Event/StorefrontRenderEvent.php
  src/Storefront/Resources/views/storefront/base.html.twig
  tests/unit/Storefront/Controller/NavigationControllerTest.php
  tests/unit/Storefront/Controller/SearchControllerTest.php
Labels: component/storefront, component/core, backport-6.7.0.0, domain/framework

#8530 fix: broken snippets in rule builder conditions
  changelog/_unreleased/2025-04-17-fix-broken-snippets-in-rule-builder-conditions.md
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
Labels: backport-6.7.0.0, domain/crm-after-sales

#8986 fix: Adjust tag proportions to display correctly
  changelog/_unreleased/2025-05-02-fix-incorrect-proportions-of-tags-in-orders.md
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-multi-select/sw-entity-multi-select.scss
Labels: component/administration, backport-6.7.0.0, domain/framework

#8995 fix: Properly set height of search field in `sw-card-filter` component
  changelog/_unreleased/2025-05-02-fix-height-of-search-field-in-sw-card-filter-component.md
  src/Administration/Resources/app/administration/src/app/component/base/sw-card-filter/sw-card-filter.scss
  src/Administration/Resources/app/administration/src/app/component/base/sw-simple-search-field/sw-simple-search-field.scss
Labels: component/administration, 6.7-RC-Issues, backport-6.7.0.0, domain/framework

#9085 fix: overflow issues in sw-entity-multi-select
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-select-selection-list/sw-select-selection-list.scss
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-multi-select/sw-entity-multi-select.scss
Labels: 6.7-RC-Issues, backport-6.7.0.0, domain/discovery

#8879 fix: Allow enriching seoUrls for search results's extensions
  changelog/_unreleased/2025-04-28-inclue-seourls-for-suggestsearch-and-search-entities.md
  src/Core/Content/Seo/SalesChannel/StoreApiSeoResolver.php
  tests/unit/Core/Content/Seo/SalesChannel/MockSeoUrlAwareExtension.php
  tests/unit/Core/Content/Seo/SalesChannel/StoreApiSeoResolverTest.php
Labels: Status:In-Review, backport-6.6.x, component/search, component/seo, backport-6.7.0.0, domain/inventory

#9103 fix: admin password recovery submit
  changelog/_unreleased/2025-05-06-fixed-admin-password-recovery.md
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-recovery/sw-login-recovery.html.twig
Labels: component/administration, domain/framework

#9107 feat: added customer orders card title
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-customer/view/sw-customer-detail-order/sw-customer-detail-order.html.twig
Labels: backport-6.7.0.0, domain/checkout

#8972 fix: formatting of Payment, Delivery, and Order status dropdowns in General & Details tab
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-select-v2/sw-order-state-select-v2.scss
Labels: component/administration, backport-6.7.0.0, domain/checkout

#9080 fix: Add padding bottom to category tree
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree/sw-tree.scss
Labels: backport-6.7.0.0, domain/discovery

#9069 fix: fix styling in sw-entity-multi-select and dynamic product groups
  src/Administration/Resources/app/administration/src/module/sw-product-stream/component/sw-product-stream-value/sw-product-stream-value.scss
Labels: component/administration, backport-6.7.0.0, domain/framework

#9130 [6.7.0.0] fix: NEXT-40000 - add order transaction transition action pay (#7652)
  changelog/_unreleased/2024-12-19-rename-transaction-transition-action-pay-and-pay-partially.md
  src/Core/Checkout/Order/Aggregate/OrderTransaction/OrderTransactionStateHandler.php
  src/Core/Migration/V6_7/Migration1742302302RenamePaidTransitionActions.php
  src/Core/System/StateMachine/Aggregation/StateMachineTransition/StateMachineTransitionActions.php
  tests/integration/Core/Checkout/Order/Aggregate/OrderTransaction/OrderTransactionStateHandlerTest.php
  tests/integration/Core/Checkout/Order/Listener/OrderStateChangeEventListenerTest.php
  tests/integration/Core/Checkout/Order/SalesChannel/OrderServiceTest.php
  tests/migration/Core/V6_7/Migration1742302302RenamePaidTransitionActionsTest.php
  tests/unit/Core/Checkout/Order/Aggregate/OrderTransaction/OrderTransactionStateHandlerTest.php
Labels: domain/checkout

#8740 fix: mail templates without sender name are not send
  src/Core/Content/Mail/Service/MailService.php
  tests/unit/Core/Content/Mail/Service/MailServiceTest.php
Labels: backport-6.6.x, backport-6.7.0.0, domain/crm-after-sales

#9126 feat: Add language header to emails [6.7.0]
  src/Core/Content/DependencyInjection/mail_template.xml
  src/Core/Content/Mail/Service/MailService.php
  tests/integration/Core/Content/Mail/Service/MailServiceTest.php
  tests/unit/Core/Content/Mail/Service/MailServiceTest.php
Labels: domain/crm-after-sales

#9150 fix: add missing cms_block_version_id
  src/Core/Migration/V6_7/Migration1733136208AddH1ToCmsCategoryListing.php
Labels: component/storefront, backport-6.7.0.0, domain/framework

#8739 fix: imitate customer, add active sales channel filter
  changelog/_unreleased/2025-04-22-fix-imitate-customer-active-sales-channel-check.md
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-imitate-customer-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-imitate-customer-modal/sw-customer-imitate-customer-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/en-GB.json
Labels: backport-6.6.x, backport-6.7.0.0, domain/checkout

#9041 feat: Add language header to emails
  src/Core/Content/DependencyInjection/mail_template.xml
  src/Core/Content/Mail/Service/MailService.php
  tests/integration/Core/Content/Mail/Service/MailServiceTest.php
  tests/unit/Core/Content/Mail/Service/MailServiceTest.php
Labels: backport-6.7.0.0, domain/crm-after-sales

#6486 feat: change redirect path for wishlist after login
  changelog/_unreleased/2025-01-29-change-redirect-path-for-wishlist-after-login.md
  src/Storefront/Controller/WishlistController.php
  tests/integration/Storefront/Controller/WishlistControllerTest.php
Labels: component/wishlist, External Contribution, domain/discovery

#8957 fix: Revert "NEXT-37382 - Ignore admin ES indexing errors"
  changelog/_unreleased/2025-04-30-revert-silently-ignoring-admin-es-errors.md
  src/Elasticsearch/Admin/AdminSearchRegistry.php
Labels: component/core, backport-6.7.0.0, domain/framework, domain/inventory

#9136 fix: check if config fields value 'type' is set
  src/Storefront/Theme/ResolvedConfigLoader.php
Labels: component/storefront, component/core, skip-danger-phpstan-baseline, backport-6.7.0.0, domain/framework

#9114 fix: set height to min-height
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-v2-rule-select/sw-promotion-v2-rule-select.scss
Labels: backport-6.7.0.0, domain/checkout

#9027 refactor: Add blocks for inputs in register and address forms
  changelog/_unreleased/2025-05-05-add-blocks-for-inputs-for-address-and-register-form.md
  src/Storefront/Resources/views/storefront/component/account/register.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-personal-company.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-personal-vat-id.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
Labels: component/storefront, backport-6.7.0.0, domain/framework

#9015 fix: correct faulty modal behavior in Advanced Pricing "Create New Rule"
  changelog/_unreleased/2025-05-04-fix-faulty-modal-behavior-in-advanced-pricing-create-new-rule.md
  src/Administration/Resources/app/administration/src/app/component/rule/sw-rule-modal/sw-rule-modal.scss
Labels: backport-6.7.0.0, domain/inventory

#9028 chore: Remove unused variable declarations of `requiredMessage`
  changelog/_unreleased/2025-05-05-remove-obsolete-requiredmessage-variable-declarations.md
  src/Storefront/Resources/views/storefront/component/address/address-personal-company.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
  src/Storefront/Resources/views/storefront/component/address/field/address-city-field.html.twig
  src/Storefront/Resources/views/storefront/component/address/field/address-street-field.html.twig
  src/Storefront/Resources/views/storefront/component/address/field/address-zipcode-field.html.twig
Labels: component/storefront, backport-6.7.0.0, domain/framework

#9147 fix: ElasticsearchIndexer should ultilize logAndThrown helper
  src/Elasticsearch/Framework/Indexing/ElasticsearchIndexer.php
  tests/unit/Elasticsearch/Framework/Indexing/ElasticsearchIndexerTest.php
Labels: component/core, Status:In-Review, backport-6.6.x, component/advanced-search, component/search, backport-6.7.0.0, domain/inventory

#8989 feat: track state changes performed by integrations
  changelog/_unreleased/2025-05-02-track-status-changes-performed-by-integrations.md
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-details-state-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-details-state-card/sw-order-details-state-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-card-entry/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-card-entry/sw-order-state-history-card-entry.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/sw-order-state-history-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/en-GB.json
  src/Core/Migration/V6_7/Migration1746176773AddIntegrationIdStateHistory.php
  src/Core/System/Integration/IntegrationDefinition.php
  src/Core/System/Integration/IntegrationEntity.php
  src/Core/System/StateMachine/Aggregation/StateMachineHistory/StateMachineHistoryDefinition.php
  src/Core/System/StateMachine/Aggregation/StateMachineHistory/StateMachineHistoryEntity.php
  src/Core/System/StateMachine/StateMachineRegistry.php
  tests/integration/Core/System/StateMachine/StateMachineRegistryTest.php
  tests/migration/Core/V6_7/Migration1746176773AddIntegrationIdStateHistoryTest.php
Labels: domain/checkout

#4728 feat: remove force option from es:index:cleanup command
  changelog/_unreleased/2024-09-13-deprecate-force-option-from-es-index-cleanup-command.md
  src/Elasticsearch/Framework/Command/ElasticsearchAdminResetCommand.php
  src/Elasticsearch/Framework/Command/ElasticsearchCleanIndicesCommand.php
  src/Elasticsearch/Framework/Command/ElasticsearchResetCommand.php
Labels: Status:In-Review, domain/inventory

#9091 fix: Add label and value property
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/sw-sales-channel-detail-base.html.twig
Labels: backport-6.7.0.0, domain/discovery

#9099 fix: restore main-nav focus when closing dropdown via btn using keyboard
  src/Storefront/Resources/app/storefront/src/plugin/navbar/navbar.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/navbar/navbar.plugin.test.js
Labels: 6.7-RC-Issues, backport-6.7.0.0, domain/discovery

#8594 fix: nested line items not nested [6.6.x]
  changelog/_unreleased/2025-04-07-fix-nested-line-items.md
  src/Storefront/Resources/app/storefront/src/scss/component/_line-item.scss
  src/Storefront/Resources/views/storefront/component/line-item/element/children-wrapper.html.twig
Labels: component/storefront, area/accessibility, domain/framework

#9156 feat: add sw-settings-measurement module
  changelog/_unreleased/2025-05-08-add-sw-settings-measurement-module.md
  src/Administration/Resources/app/administration/src/meta/baseline.ts
  src/Administration/Resources/app/administration/src/meta/position-identifiers.json
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/page/sw-settings-measurement/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/page/sw-settings-measurement/sw-settings-measurement.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/page/sw-settings-measurement/sw-settings-measurement.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/snippet/en-GB.json
Labels: Status:In-Review, domain/inventory

#8841 feat: Add measurement settings into sales channel configuration
  changelog/_unreleased/2025-04-25-add-measurement-settings-into-sales-channel-configuration.md
  changelog/_unreleased/2025-05-05-add-measurement-settings-into-sales-channel-domain-configuration.md
  changelog/_unreleased/2025-05-05-update-domain-listing-to-show-measurement-information.md
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/sw-sales-channel-detail-domains.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/sw-sales-channel-detail-domains.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-create/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-create/sw-sales-channel-create.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/sw-sales-channel-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/sw-sales-channel-detail-base.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-units/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-units/page/sw-settings-units-list/sw-settings-units.html.twig
Labels: domain/inventory

#9174 fix: Misaligned search icon in generate variants modal
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-configurator/sw-product-variants-configurator-selection/sw-product-variants-configurator-selection.scss
Labels: 6.7-RC-Issues, domain/inventory

#8534 fix: Only include subcategory navigation template if there are subcategories
  changelog/_unreleased/2025-04-14-do-not-include-empty-subcategory-navigation-list.md
  src/Storefront/Resources/views/storefront/layout/navbar/categories.html.twig
  src/Storefront/Resources/views/storefront/layout/sidebar/category-navigation.html.twig
Labels: component/storefront, backport-6.7.0.0, domain/framework

#9206 fix: pipeline for measurement epic
  tests/integration/Core/Checkout/Customer/SalesChannel/SendPasswordRecoveryMailRouteTest.php
  tests/integration/Core/Checkout/Customer/Subscriber/CustomerGroupSubscriberTest.php
  tests/integration/Core/Checkout/Order/SalesChannel/OrderServiceTest.php
  tests/integration/Core/Content/Category/SalesChannel/CategoryRouteTest.php
  tests/integration/Core/Content/Newsletter/Service/NewsletterRecipientServiceTest.php
  tests/integration/Core/Content/Product/ProductVisibility/ProductVisibilityEntityTest.php
  tests/integration/Core/Content/Product/SalesChannel/ProductSearchRouteTest.php
  tests/integration/Core/Content/Seo/HreflangLoaderTest.php
  tests/integration/Core/Content/Sitemap/ScheduledTask/SitemapGenerateTaskHandlerTest.php
  tests/integration/Core/Content/Sitemap/Service/SitemapExporterTest.php
  tests/integration/Core/Framework/Api/Controller/ApiControllerTest.php
  tests/integration/Core/Framework/Api/Controller/SalesChannelProxyControllerTest.php
  tests/integration/Core/Framework/Routing/SalesChannelRequestContextResolverTest.php
  tests/integration/Core/Framework/Webhook/Hookable/HookableEventFactoryTest.php
  tests/integration/Storefront/Integration/ProductVisibilityTest.php
  tests/integration/Storefront/Theme/ThemeLifecycleHandlerTest.php
  tests/migration/Core/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystemTest.php
Labels: domain/inventory

#9138 fix: display admin UI correctly when staging mode enabled
  changelog/_unreleased/2025-05-07-fix-admin-ui-when-staging-mode-enabled.md
  src/Administration/Resources/app/administration/src/app/component/structure/sw-desktop/sw-desktop.scss
Labels: component/administration, backport-6.7.0.0, domain/framework

#9141 fix: Added origin directive to vite.config.mts to allow requests from APP_URL
  changelog/_unreleased/2025-05-07-Fix-admin-watcher-vite-origin-host-for-ddev.md
  src/Administration/Resources/app/administration/vite.config.mts
Labels: component/administration, backport-6.7.0.0, domain/framework

#9213 fix: missing getSlots method in sw-select-field using deprecated prop
  src/Administration/Resources/app/administration/src/app/component/form/sw-select-field/index.ts
Labels: component/administration, backport-6.7.0.0, domain/framework

#9187 fix: Write category search to correct container
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-products-assignment-modal/index.js
Labels: backport-6.7.0.0, domain/discovery

#9083 feat: Only set initial country id if it's not previously defined.
  src/Storefront/Resources/views/storefront/component/address/field/address-country-field.html.twig
Labels: component/storefront, backport-6.7.0.0, domain/framework

#9100 feat: announce wishlist changes
  src/Storefront/Resources/app/storefront/src/plugin/header/wishlist-widget.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/header/wishlist-widget.plugin.test.js
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/layout/header/actions/wishlist-widget.html.twig
  src/Storefront/Resources/views/storefront/layout/header/header.html.twig
Labels: backport-6.7.0.0, domain/discovery

#9235 fix: add createTextEditorDataMappingButton to component helper
  changelog/_unreleased/2025-05-09-export-createtexteditordatamappingbutton-through-global-shopware-component-helper.md
  src/Administration/Resources/app/administration/src/app/init/component-helper.init.spec.js
  src/Administration/Resources/app/administration/src/app/init/component-helper.init.ts
  src/Administration/Resources/app/administration/src/global.types.ts
Labels: component/administration, backport-6.7.0.0, domain/framework

#9243 chore(app-snippets): Remove first level app snippet restriction
  changelog/_unreleased/2025-05-09-remove-first-level-app-snippet-restriction.md
  src/Administration/Snippet/SnippetException.php
  src/Administration/Snippet/SnippetFinder.php
  tests/unit/Administration/Snippet/SnippetExceptionTest.php
  tests/unit/Administration/Snippet/SnippetFinderTest.php
Labels: domain/discovery

#9200 fix: Do not dump opcache preload file if warmup directory is used
  composer.json
  src/Core/Kernel.php
  src/Core/composer.json
  tests/unit/Core/KernelTest.php
Labels: component/core, backport-6.6.x, backport-6.7.0.0, domain/framework

#9245 ci: reenable 6.6.0.0 update (fixes #9031)
  .github/workflows/integration.yml
Labels: backport-6.6.x, domain/product-ops, backport-6.7.0.0

#9216 refactor: Change PropertyGroupOption `combinable` visibility
  changelog/_unreleased/2025-05-09-change-property-group-option-combinable-visibility.md
  src/Core/Content/Property/Aggregate/PropertyGroupOption/PropertyGroupOptionDefinition.php
  src/Core/Content/Property/Aggregate/PropertyGroupOption/PropertyGroupOptionEntity.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Labels: backport-6.7.0.0, domain/inventory

#9256 chore: upgrade @shopware-ag/meteor-component-library to 4.11.0
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/app/adapter/view/vue.adapter.ts
Labels: Status:In-Review, domain/inventory

#9257 chore: use convert-units package
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
Labels: Status:In-Review, domain/inventory

#9183 feat: Added missing Upgrade information
  UPGRADE-6.6.md
  UPGRADE-6.7.md
Labels: backport-6.6.x, backport-6.7.0.0, domain/checkout

#9194 fix: payload custom field set search
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/page/sw-settings-custom-field-set-list/index.js
Labels: component/administration, backport-6.7.0.0, domain/framework

#9226 fix: link to admin profile
  src/Administration/Resources/app/administration/src/module/sw-profile/extension/sw-admin-menu/sw-admin-menu.html.twig
Labels: component/administration, 6.7-RC-Issues, backport-6.7.0.0, domain/framework

#8993 fix: dashboard statistics time range field height
  src/Administration/Resources/app/administration/src/module/sw-dashboard/component/sw-dashboard-statistics/sw-dashboard-statistics.scss
Labels: backport-6.7.0.0, domain/crm-after-sales

#9067 fix: remove extra closing curly brace (#9060)
  changelog/_unreleased/2025-05-06-fix-remove-extra-closing-curly-brace.md
  src/Storefront/Resources/views/storefront/layout/navbar/navbar.html.twig
Labels: component/storefront, backport-6.7.0.0, domain/framework

#9255 fix: Description of the author-github option of the `changelog:create` command
  src/Core/Framework/Changelog/Command/ChangelogCreateCommand.php
Labels: component/core, skip-danger-phpstan-baseline, domain/framework

#9275 fix: Use Symfony Filesystem for dumping opcache preloading files
  src/Core/Kernel.php
  tests/unit/Core/KernelTest.php
Labels: component/core, backport-6.7.0.0, domain/framework

#9250 fix: Do not dump opcache preload file if warmup directory is used [6.6.x]
  composer.json
  src/Core/Kernel.php
  src/Core/composer.json
  tests/unit/Core/KernelTest.php
Labels: component/core, domain/framework

#9236 feat: AllowHtml / Object Field / Runtime support for attribute entities
  .bc-exclude.php
  changelog/_unreleased/2025-01-02-add-allow-html-entity-attribute.md
  src/Core/Framework/DataAbstractionLayer/Attribute/AllowHtml.php
  src/Core/Framework/DataAbstractionLayer/Attribute/Field.php
  src/Core/Framework/DataAbstractionLayer/Attribute/FieldType.php
  src/Core/Framework/DataAbstractionLayer/AttributeEntityCompiler.php
  tests/integration/Core/Framework/DataAbstractionLayer/AttributeEntityIntegrationTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/AttributeEntity.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/schema.sql
Labels: component/core, domain/framework

#9101 refactor: Deprecate active language and currency from header pagelet
  changelog/_unreleased/2025-05-06-deprecate-active-language-and-currency-from-header-pagelet.md
  src/Storefront/Pagelet/Header/HeaderPagelet.php
  src/Storefront/Pagelet/Header/HeaderPageletLoader.php
  tests/unit/Storefront/Controller/NavigationControllerTest.php
  tests/unit/Storefront/Pagelet/Header/HeaderPageletLoaderTest.php
Labels: component/storefront, domain/framework

#5748 feat: improve sw-page back button linking
  changelog/_unreleased/2024-12-04-improve-sw-page-back-button-linking.md
  src/Administration/Resources/app/administration/src/app/component/structure/sw-page/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-page/sw-page.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-page/sw-page.spec.js
Labels: component/administration, domain/framework

#6512 fix: Add missing callback argument in html-offcanvas
  src/Storefront/Resources/app/storefront/src/plugin/offcanvas/html-offcanvas.plugin.js
Labels: component/storefront, backport-6.6.x, backport-6.7.0.0, domain/framework

#8524 fix: add boolean test-cases
  tests/integration/Core/Content/ImportExport/DataAbstractionLayer/Serializer/Field/CustomFieldsSerializerTest.php
Labels: component/core, domain/framework

#9285 feat: Only set initial country id if it's not previously defined [6.6.x]
  src/Storefront/Resources/views/storefront/component/address/address-form.html.twig
Labels: component/storefront, domain/framework

#8834 chore: Update PHPStan and its plugins
  .danger.php
  composer.json
  phpstan-baseline.neon
  src/Core/Checkout/Document/Zugferd/ZugferdDocument.php
  src/Core/Content/ImportExport/DataAbstractionLayer/Serializer/SerializerRegistry.php
  src/Core/Content/ImportExport/ImportExportException.php
  src/Core/DevOps/StaticAnalyze/PHPStan/common.neon
  src/Core/DevOps/Test/Environment/EnvironmentHelperTest.php
  src/Core/Framework/Adapter/Filesystem/FilesystemFactory.php
  src/Core/Framework/Adapter/Filesystem/PrefixFilesystem.php
  src/Core/Framework/Adapter/Twig/SecurityExtension.php
  src/Core/Framework/FrameworkException.php
  src/Core/Framework/Test/Api/Serializer/AssertValuesTrait.php
  src/Core/Framework/Test/TestCaseBase/DatabaseTransactionBehaviour.php
  src/Core/Framework/Validation/Constraint/ArrayOfTypeValidator.php
  src/Core/Framework/Validation/Constraint/ArrayOfUuidValidator.php
  src/Core/Framework/Validation/Constraint/UuidValidator.php
  src/Core/Framework/Validation/HappyPathValidator.php
  src/Core/Test/Integration/Traits/Promotion/PromotionTestFixtureBehaviour.php
  src/Core/Test/Integration/Traits/TestShortHands.php
  src/WebInstaller/Tests/Services/FlexMigratorTest.php
  src/WebInstaller/Tests/Services/PluginCompatibilityTest.php
  tests/integration/Core/Checkout/Cart/Rule/LineItemTagRuleTest.php
  tests/integration/Core/Checkout/Cart/SalesChannel/CartOrderRouteTest.php
  tests/integration/Core/Checkout/Order/SalesChannel/SetPaymentOrderRouteTest.php
  tests/integration/Core/Content/Sitemap/Provider/HomeUrlProviderTest.php
  tests/integration/Core/Framework/App/Hmac/QuerySignerTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/AttributeEntityIntegrationTest.php
  tests/integration/Core/Framework/Demodata/PersonalData/CleanPersonalDataCommandTest.php
  tests/integration/Core/Framework/Plugin/KernelPluginIntegrationTest.php
  tests/integration/Core/System/Language/LanguageRuleTest.php
  tests/integration/Core/System/SalesChannel/Context/SalesChannelContextTest.php
  tests/unit/Core/Checkout/Cart/Rule/LineItemTagRuleTest.php
  tests/unit/Core/Content/Cms/Subscriber/CmsPageDefaultChangeSubscriberTest.php
  tests/unit/Core/Content/ImportExport/DataAbstractionLayer/Serializer/SerializerRegistryTest.php
  tests/unit/Core/Content/ImportExport/ImportExportExceptionTest.php
  tests/unit/Core/Framework/Adapter/Filesystem/PrefixFilesystemTest.php
  tests/unit/Core/Framework/ContextTest.php
  tests/unit/Core/Framework/FeatureTest.php
  tests/unit/Core/Framework/Validation/Constraint/ArrayOfTypeValidatorTest.php
  tests/unit/Core/Framework/Validation/Constraint/ArrayOfUuidValidatorTest.php
  tests/unit/Core/Framework/Validation/Constraint/UuidValidatorTest.php
  tests/unit/Core/Framework/Validation/ValidatorFactoryTest.php
  tests/unit/Core/System/Language/Rule/LanguageRuleTest.php
  tests/unit/Core/Test/Stub/DataAbstractionLayer/EmptyEntityExistenceTest.php
  tests/unit/Framework/ContextTest.php
Labels: component/core, domain/framework

#9202 fix: RetryableTransaction is not retrying on deadlocks
  changelog/_unreleased/2025-05-09-fix-retryabletransaction-missing-savepoint-error.md
  src/Core/Framework/DataAbstractionLayer/Doctrine/RetryableTransaction.php
  tests/unit/Core/Framework/DataAbstractionLayer/Doctrine/RetryableTransactionTest.php
Labels: component/core, 6.7-RC-Issues, backport-6.7.0.0, domain/framework

#9283 feat: Only set initial country id if it's not previously defined [6.7.0.0]
  src/Storefront/Resources/views/storefront/component/address/address-form.html.twig
Labels: component/storefront, domain/framework

#9231 fix: correct tags placeholder text alignment
  changelog/_unreleased/2025-05-09-fixed-misalignment-of-add-tags-placeholder-in-order-edit-view.md
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-multi-select/sw-entity-multi-select.scss
Labels: component/administration, backport-6.7.0.0, domain/framework

#9234 fix: changed text when edit locked cms page in table view
  changelog/_unreleased/2025-09-05-changed-text-when-edit-locked-cms-page.md
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-list/sw-cms-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/en-GB.json
Labels: component/administration, backport-6.7.0.0, domain/framework

#9244 chore: Fix sidebar filter panel reset button width
  src/Administration/Resources/app/administration/src/app/component/filter/sw-sidebar-filter-panel/sw-sidebar-filter-panel.scss
Labels: component/administration, backport-6.7.0.0, domain/framework

#9287 ci: Set default node version to 22.x
  .github/actions/ats/action.yaml
  .github/workflows/05-prepare-release.yml
  .github/workflows/integration.yml
  .github/workflows/storefront.yml
  devenv.nix
Labels: component/administration, component/storefront, domain/product-ops, backport-6.7.0.0, domain/framework

#6528 ci: Reduce PHPStan analysis time
  src/Core/Framework/DataAbstractionLayer/Search/CriteriaArrayConverter.php
  tests/integration/Elasticsearch/Product/ElasticsearchProductTest.php
  tests/integration/Elasticsearch/Product/Fixture/CheapestPriceSorting.php
  tests/integration/Elasticsearch/Product/Fixture/CustomFields.php
  tests/integration/Elasticsearch/Product/Fixture/DateHistogram.php
  tests/integration/Elasticsearch/Product/Fixture/MultiFilterWithOneToManyRelation.php
  tests/integration/Elasticsearch/Product/Fixture/ProductsFixture.php
Labels: component/core, domain/framework

#9281 fix: fix product entity stringify should use translated name
  src/Core/Content/Product/ProductEntity.php
  tests/integration/Core/Content/Product/ProductEntityTest.php
  tests/unit/Core/Content/Product/ProductEntityTest.php
Labels: backport-6.6.x, component/inventory-products, backport-6.7.0.0, domain/inventory

#9272 chore: update styling for selection unit
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-single-select/index.js
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-single-select/sw-entity-single-select.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.scss
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.spec.js
Labels: domain/inventory

#9309 chore: correct units styling
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/snippet/en-GB.json
Labels: domain/inventory

#9240 fix: errors which lead to issues in the modal handling
  src/Administration/Resources/app/administration/src/app/directive/tooltip.directive.ts
Labels: component/administration, backport-6.7.0.0, domain/framework

#9264 fix: promotion admin issues
  changelog/_unreleased/2025-05-09-solve-admin-promotion-issues.md
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-discount-component/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-discount-component/sw-promotion-discount-component.html.twig
  src/Core/Checkout/Promotion/Aggregate/PromotionDiscountPrice/PromotionDiscountPriceEntity.php
Labels: backport-6.7.0.0, domain/checkout

#9007 fix: Remove space between tabs and tab content in variants view
  src/Administration/Resources/app/administration/src/app/component/base/sw-tabs/sw-tabs.scss
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-variants/sw-product-detail-variants.scss
Labels: component/administration, domain/framework

#9314 ci: dont add triage label to closed issues/prs
  .github/workflows/01-needs-triage-labeler.yml
Labels: domain/product-ops

#9188 fix: cancellation invoice creation for embedded zugferd invoice
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-storno-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-select-document-type-modal/index.js
  src/Core/Checkout/Document/Service/ReferenceInvoiceLoader.php
  tests/integration/Core/Checkout/Document/Service/ReferenceInvoiceLoaderTest.php
Labels: domain/crm-after-sales

#9267 fix: update Node.js engine version in package.json to include 24.x
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/meta/meta.spec.js
Labels: component/administration, backport-6.6.x, backport-6.7.0.0, domain/framework

#9009 fix: solve some phpstan ignore in tests
  phpstan.neon.dist
  src/Core/Migration/Test/NullConnection.php
  src/Core/Test/Stub/Doctrine/FakeConnection.php
  src/Core/Test/Stub/Redis/RedisMultiWrapper.php
  src/Core/Test/Stub/SystemConfigService/StaticSystemConfigService.php
  tests/integration/Core/Checkout/Cart/Facade/CartFacadeTest.php
  tests/integration/Core/Checkout/Cart/Facade/CartTestHook.php
  tests/integration/Core/Checkout/Cart/Processor/_fixtures/AbsoluteItem.php
  tests/integration/Core/Checkout/Cart/Processor/_fixtures/ContainerItem.php
  tests/integration/Core/Checkout/Cart/Processor/_fixtures/PercentageItem.php
  tests/integration/Core/Checkout/Cart/Processor/_fixtures/QuantityItem.php
  tests/integration/Core/Checkout/Cart/SalesChannel/CartServiceTest.php
  tests/integration/Core/Checkout/Customer/AccountServiceEventTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/RegisterRouteTest.php
  tests/integration/Core/Checkout/Order/Aggregate/OrderTransaction/OrderTransactionStateHandlerTest.php
  tests/integration/Core/Content/Product/Hook/ProductPricingHookTest.php
  tests/integration/Core/Content/Product/ProductFeatureSet/ProductFeatureSetEntityTest.php
  tests/integration/Core/Content/Product/ProductFeatureSet/ProductFeatureSetTranslationEntityTest.php
  tests/integration/Core/Framework/Api/Serializer/JsonSalesChannelApiEncoderTest.php
  tests/integration/Core/Framework/Api/Serializer/JsonSalesChannelEntityEncoderTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Facade/RepositoryFacadeTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Facade/RepositoryWriterFacadeTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Facade/SalesChannelRepositoryFacadeTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Validation/EntityNotExistsValidatorTest.php
  tests/integration/Core/Framework/MessageQueue/ScheduledTask/TaskRegistryTest.php
  tests/integration/Core/Framework/Plugin/KernelPluginLoader/StaticKernelPluginLoaderTest.php
  tests/integration/Core/System/Language/LanguageRuleTest.php
  tests/integration/Storefront/Controller/AddressControllerTest.php
  tests/integration/Storefront/Theme/ThemeTest.php
  tests/unit/Administration/Framework/Search/CriteriaCollectionTest.php
  tests/unit/Core/Checkout/Cart/Address/AddressValidatorTest.php
  tests/unit/Core/Content/Flow/Dispatching/FlowExecutorTest.php
  tests/unit/Core/Content/ImportExport/Processing/Mapping/MappingCollectionTest.php
  tests/unit/Core/Content/Product/Hook/ProductProxyTest.php
  tests/unit/Core/Content/Product/SalesChannel/Listing/ProductListingLoaderExtensionsTests.php
  tests/unit/Core/Content/Seo/SalesChannel/StoreApiSeoResolverTest.php
  tests/unit/Core/Framework/Adapter/Filesystem/Plugin/CopyBatchTest.php
  tests/unit/Core/Framework/Adapter/Twig/SwTwigFunctionTest.php
  tests/unit/Core/Framework/App/InAppPurchases/Payload/InAppPurchasesPayloadServiceTest.php
  tests/unit/Core/Framework/App/Lifecycle/AppLoaderTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Search/Filter/RangeFilterTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Validation/EntityNotExistsTest.php
  tests/unit/Core/Framework/MessageQueue/ScheduledTask/Scheduler/TaskRunnerTest.php
  tests/unit/Core/Framework/Plugin/PluginLifecycleServiceTest.php
  tests/unit/Core/Framework/Store/InAppPurchases/Services/InAppPurchaseProviderTest.php
  tests/unit/Core/Framework/Util/FloatComparatorTest.php
  tests/unit/Core/Installer/Requirements/Struct/RequirementsCheckCollectionTest.php
  tests/unit/Core/Profiling/Doctrine/ConnectionProfilerTest.php
  tests/unit/Core/System/SalesChannel/Api/ResponseFieldsTest.php
  tests/unit/Core/System/UsageData/EntitySync/DispatchEntityMessageHandlerTest.php
  tests/unit/Core/System/UsageData/Services/ManyToManyAssociationServiceTest.php
  tests/unit/Core/System/UsageData/Services/UsageDataAllowListServiceTest.php
  tests/unit/Core/System/UsageData/Subscriber/EntityDeleteSubscriberTest.php
  tests/unit/Storefront/Page/GuestWishlistPageletTest.php
  tests/unit/Storefront/Page/LandingPage/LandingPageLoaderTest.php
  tests/unit/Storefront/Theme/MockedCacheInvalidator.php
Labels: component/core, domain/framework

#9318 fix: onlyAvailable flag in CachedPaymentMethodRoute
  src/Core/Checkout/Payment/SalesChannel/CachedPaymentMethodRoute.php
  src/Core/Checkout/Shipping/SalesChannel/CachedShippingMethodRoute.php
Labels: domain/checkout

#9098 fix: duplicate order creation
  changelog/_unreleased/2025-05-07-added-cart-order-lock.md
  src/Core/Checkout/Cart/CartException.php
  src/Core/Checkout/Cart/SalesChannel/CartOrderRoute.php
  src/Core/Checkout/DependencyInjection/cart.xml
  tests/integration/Core/Checkout/Cart/SalesChannel/CartOrderRouteTest.php
  tests/unit/Core/Checkout/Cart/SalesChannel/CartOrderRouteTest.php
Labels: backport-6.6.x, backport-6.5.x, backport-6.7.0.0, domain/checkout

#9315 fix: insert variable button shows empty popover
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-text-editor/sw-text-editor-toolbar-button-cms-data-mapping/index.ts
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-text-editor/sw-text-editor-toolbar-button-cms-data-mapping/sw-text-editor-toolbar-button-cms-data-mapping.spec.ts
Labels: component/administration, backport-6.7.0.0, domain/framework

#9332 fix: Error resets edit mode
  src/Administration/Resources/app/administration/src/app/mixin/discard-detail-page-changes.mixin.ts
Labels: component/administration, backport-6.7.0.0, domain/framework

#9326 fix: Unnecessary padding in the card
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-product-assignment-categories/sw-sales-channel-product-assignment-categories.scss
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-products-assignment-single-products/sw-sales-channel-products-assignment-single-products.scss
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-products/sw-sales-channel-detail-products.scss
Labels: backport-6.7.0.0, Platform(Default), domain/discovery

#9313 refactor: Add blocks for inputs in register and address forms
  changelog/_unreleased/2025-05-05-add-blocks-for-inputs-for-address-and-register-form.md
  src/Storefront/Resources/views/storefront/component/account/register.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-personal-company.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-personal-vat-id.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
Labels: component/storefront, domain/framework

#9306 fix(a11y): Correct `aria-controls` attribute of the collapse button of orders
  changelog/_unreleased/2025-05-12-fixed-accessibility-issue-of-collapse-button-of-orders.md
  src/Storefront/Resources/views/storefront/page/account/order-history/order-item.html.twig
Labels: backport-6.6.x, backport-6.7.0.0, domain/crm-after-sales

#9075 feat: add active classes to main navigation
  changelog/_unreleased/2025-05-13-add-active-styling-class-to-main-navigation.md
  src/Storefront/Resources/app/storefront/src/plugin/navbar/navbar.plugin.js
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/abstract/variables/_bootstrap.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/layout/_main-navigation.scss
  src/Storefront/Resources/app/storefront/test/plugin/navbar/navbar.plugin.test.js
  src/Storefront/Resources/views/storefront/base.html.twig
  src/Storefront/Resources/views/storefront/layout/navbar/navbar.html.twig
  src/Storefront/Resources/views/storefront/layout/navigation/active-styling.html.twig
Labels: component/storefront, backport-6.7.0.0, domain/framework

#9353 fix: replace depreacted $tc call
  src/Administration/Resources/app/administration/src/app/component/base/sw-error-summary/sw-error-summary.html.twig
  src/Administration/Resources/app/administration/src/app/component/base/sw-property-search/sw-property-search.html.twig
  src/Administration/Resources/app/administration/src/app/component/entity/sw-bulk-edit-modal/sw-bulk-edit-modal.html.twig
  src/Administration/Resources/app/administration/src/app/component/entity/sw-entity-listing/sw-entity-listing.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-single-select/sw-entity-single-select.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/sw-text-editor.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-modal-delete/index.js
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-modal-folder-dissolve/sw-media-modal-folder-dissolve.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-modal-move/sw-media-modal-move.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-inheritance-warning/sw-inheritance-warning.html.twig
  src/Administration/Resources/app/administration/src/app/component/utils/sw-duplicated-media-v2/sw-duplicated-media-v2.html.twig
  src/Administration/Resources/app/administration/src/app/component/utils/sw-license-violation/sw-license-violation.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal-confirm/sw-bulk-edit-save-modal-confirm.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-entry-point-overwrite-modal/sw-category-entry-point-overwrite-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-sidebar/sw-cms-sidebar.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-detail/sw-cms-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-list/sw-cms-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-info/sw-customer-base-info.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-ratings/sw-extension-ratings-summary/sw-extension-ratings-summary.html.twig
  src/Administration/Resources/app/administration/src/module/sw-flow/view/listing/sw-flow-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-sidebar/index.js
  src/Administration/Resources/app/administration/src/module/sw-product-stream/page/sw-product-stream-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variant-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-modal-variant-generation/sw-product-modal-variant-generation.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/discount/sw-promotion-v2-settings-discount-type/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/promotion-codes/sw-promotion-v2-individual-codes-behavior/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-products-assignment-modal/sw-sales-channel-products-assignment-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-products/sw-sales-channel-detail-products.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-list/sw-custom-field-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-detail/sw-settings-customer-group-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-list/sw-settings-customer-group-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/view/sw-settings-rule-detail-assignments/sw-settings-rule-detail-assignments.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/component/sw-settings-shipping-price-matrix/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-list/sw-settings-snippet-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-set-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-tag/component/sw-settings-tag-detail-assignments/sw-settings-tag-detail-assignments.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings/component/sw-system-config/index.js
Labels: component/administration, component/snippets, domain/checkout, domain/framework

#9354 fix: fix ReferenceInvoiceLoaderTest
  tests/integration/Core/Checkout/Document/Service/ReferenceInvoiceLoaderTest.php
Labels: domain/crm-after-sales

#9321 fix: Fix search result order
  changelog/_unreleased/2025-05-13-fix-search-result-order.md
  src/Core/Content/Product/SearchKeyword/ProductSearchKeywordAnalyzer.php
  tests/integration/Core/Content/Product/DataAbstractionLayer/SearchKeywordUpdaterTest.php
  tests/integration/Core/Content/Product/SearchKeyword/ProductSearchKeywordAnalyzerTest.php
  tests/unit/Core/Content/Product/SearchKeyword/ProductSearchKeywordAnalyzerTest.php
Labels: Status:In-Review, backport-6.6.x, component/search, backport-6.7.0.0, domain/inventory

#9305 fix: Cancel order modal
  changelog/_unreleased/2025-05-12-cleanup-cancel-order-modal.md
  src/Storefront/Resources/views/storefront/page/account/order/cancel-order-modal.html.twig
  src/Storefront/Resources/views/storefront/page/account/order/index.html.twig
Labels: backport-6.7.0.0, domain/crm-after-sales

#9392 fix: replace depreacted tc call [6.7.0.0]
  src/Administration/Resources/app/administration/src/app/component/base/sw-error-summary/sw-error-summary.html.twig
  src/Administration/Resources/app/administration/src/app/component/base/sw-property-search/sw-property-search.html.twig
  src/Administration/Resources/app/administration/src/app/component/entity/sw-bulk-edit-modal/sw-bulk-edit-modal.html.twig
  src/Administration/Resources/app/administration/src/app/component/entity/sw-entity-listing/sw-entity-listing.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-single-select/sw-entity-single-select.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/sw-text-editor.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-modal-delete/index.js
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-modal-folder-dissolve/sw-media-modal-folder-dissolve.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-modal-move/sw-media-modal-move.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-inheritance-warning/sw-inheritance-warning.html.twig
  src/Administration/Resources/app/administration/src/app/component/utils/sw-duplicated-media-v2/sw-duplicated-media-v2.html.twig
  src/Administration/Resources/app/administration/src/app/component/utils/sw-license-violation/sw-license-violation.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal-confirm/sw-bulk-edit-save-modal-confirm.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-entry-point-overwrite-modal/sw-category-entry-point-overwrite-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-sidebar/sw-cms-sidebar.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-detail/sw-cms-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-list/sw-cms-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-info/sw-customer-base-info.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-ratings/sw-extension-ratings-summary/sw-extension-ratings-summary.html.twig
  src/Administration/Resources/app/administration/src/module/sw-flow/view/listing/sw-flow-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-sidebar/index.js
  src/Administration/Resources/app/administration/src/module/sw-product-stream/page/sw-product-stream-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variant-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-modal-variant-generation/sw-product-modal-variant-generation.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/discount/sw-promotion-v2-settings-discount-type/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/promotion-codes/sw-promotion-v2-individual-codes-behavior/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-products-assignment-modal/sw-sales-channel-products-assignment-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-products/sw-sales-channel-detail-products.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-list/sw-custom-field-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-detail/sw-settings-customer-group-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-list/sw-settings-customer-group-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/view/sw-settings-rule-detail-assignments/sw-settings-rule-detail-assignments.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/component/sw-settings-shipping-price-matrix/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-list/sw-settings-snippet-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-set-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-tag/component/sw-settings-tag-detail-assignments/sw-settings-tag-detail-assignments.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings/component/sw-system-config/index.js
Labels: component/administration, needs-triage, component/snippets, 6.7-RC-Issues, domain/checkout, domain/framework

#9391 fix: cherry pick fix grid inline edit double click
  src/Administration/Resources/app/administration/src/app/component/grid/sw-grid-row/index.js
Labels: component/administration, domain/framework

#9395 fix: fix measurement system migration
  src/Core/Content/MeasurementSystem/Entity/MeasurementDisplayUnitEntity.php
  src/Core/Framework/Test/Seo/StorefrontSalesChannelTestHelper.php
  src/Core/Framework/Test/TestCaseBase/SalesChannelApiTestBehaviour.php
  src/Core/Maintenance/SalesChannel/Service/SalesChannelCreator.php
  src/Core/Migration/V6_7/Migration1742199548MeasurementSystem.php
  src/Core/Migration/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystem.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelDomain/SalesChannelDomainDefinition.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelDomain/SalesChannelDomainEntity.php
  src/Core/System/SalesChannel/SalesChannelDefinition.php
  src/Core/System/SalesChannel/SalesChannelEntity.php
  src/Storefront/Framework/Command/SalesChannelCreateStorefrontCommand.php
  src/Storefront/Test/Page/StorefrontPageTestBehaviour.php
Labels: domain/inventory

#9409 chore: Update meteor to latest release
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
Labels: component/administration, domain/framework

#9413 chore: prepare changelog 6.7.0.0 rc4
  CHANGELOG.md
  UPGRADE-6.7.md
  UPGRADE-6.8.md
  changelog/release-6-7-0-0/2024-12-04-improve-sw-page-back-button-linking.md
  changelog/release-6-7-0-0/2024-12-19-rename-transaction-transition-action-pay-and-pay-partially.md
  changelog/release-6-7-0-0/2025-02-21-fix-multi-select-filter-for-translated-entities.md
  changelog/release-6-7-0-0/2025-04-08-fix-struct-encoder-custom-field-visibility.md
  changelog/release-6-7-0-0/2025-04-14-do-not-include-empty-subcategory-navigation-list.md
  changelog/release-6-7-0-0/2025-04-17-fix-broken-snippets-in-rule-builder-conditions.md
  changelog/release-6-7-0-0/2025-04-22-fix-imitate-customer-active-sales-channel-check.md
  changelog/release-6-7-0-0/2025-04-24-allow-small-size-of-sw-simple-search-field.md
  changelog/release-6-7-0-0/2025-04-24-fix-local-mode-of-sw-one-to-many-grid.md
  changelog/release-6-7-0-0/2025-04-28-case-insensitive-guest-order-check.md
  changelog/release-6-7-0-0/2025-04-28-improve-basic-captcha-compatibility.md
  changelog/release-6-7-0-0/2025-04-28-inclue-seourls-for-suggestsearch-and-search-entities.md
  changelog/release-6-7-0-0/2025-04-29-changed-form-validation-to-check-for-custom-error-message.md
  changelog/release-6-7-0-0/2025-04-30-add-deprecated-prop-to-facilitate-the-migration-to-meteor-components.md
  changelog/release-6-7-0-0/2025-04-30-allow-small-size-of-sw-select-rule-create.md
  changelog/release-6-7-0-0/2025-04-30-allowfullscreen-video-element.md
  changelog/release-6-7-0-0/2025-04-30-fix-no-new-line-for-placeholder.md
  changelog/release-6-7-0-0/2025-04-30-improve-extensibility-of-header-and-footer-esi-templates.md
  changelog/release-6-7-0-0/2025-04-30-revert-silently-ignoring-admin-es-errors.md
  changelog/release-6-7-0-0/2025-04-30-show-customer-default-addresses-in-listing.md
  changelog/release-6-7-0-0/2025-05-02-fix-height-of-search-field-in-sw-card-filter-component.md
  changelog/release-6-7-0-0/2025-05-02-fix-incorrect-proportions-of-tags-in-orders.md
  changelog/release-6-7-0-0/2025-05-04-fix-faulty-modal-behavior-in-advanced-pricing-create-new-rule.md
  changelog/release-6-7-0-0/2025-05-05-add-blocks-for-inputs-for-address-and-register-form.md
  changelog/release-6-7-0-0/2025-05-05-fix-admin-assets-with-underscores.md
  changelog/release-6-7-0-0/2025-05-05-fix-category-search-results-not-scrollable.md
  changelog/release-6-7-0-0/2025-05-05-fixed-promotion-deletion-cart-error.md
  changelog/release-6-7-0-0/2025-05-06-fix-remove-extra-closing-curly-brace.md
  changelog/release-6-7-0-0/2025-05-06-fixed-admin-password-recovery.md
  changelog/release-6-7-0-0/2025-05-07-Fix-admin-watcher-vite-origin-host-for-ddev.md
  changelog/release-6-7-0-0/2025-05-07-added-cart-order-lock.md
  changelog/release-6-7-0-0/2025-05-07-fix-admin-ui-when-staging-mode-enabled.md
  changelog/release-6-7-0-0/2025-05-08-elasticsearch-index-s-mapping-should-be-updated-post-update.md
  changelog/release-6-7-0-0/2025-05-09-change-property-group-option-combinable-visibility.md
  changelog/release-6-7-0-0/2025-05-09-export-createtexteditordatamappingbutton-through-global-shopware-component-helper.md
  changelog/release-6-7-0-0/2025-05-09-fix-retryabletransaction-missing-savepoint-error.md
  changelog/release-6-7-0-0/2025-05-09-fixed-misalignment-of-add-tags-placeholder-in-order-edit-view.md
  changelog/release-6-7-0-0/2025-05-09-solve-admin-promotion-issues.md
  changelog/release-6-7-0-0/2025-05-12-cleanup-cancel-order-modal.md
  changelog/release-6-7-0-0/2025-05-12-fixed-accessibility-issue-of-collapse-button-of-orders.md
  changelog/release-6-7-0-0/2025-05-13-add-active-styling-class-to-main-navigation.md
  changelog/release-6-7-0-0/2025-09-05-changed-text-when-edit-locked-cms-page.md
Labels: needs-triage, domain/product-ops

#9440 chore: add selling packaging information card
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/meta/position-identifiers.json
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.html.twig
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.scss
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/snippet/en-GB.json
Labels: Status:In-Review, domain/inventory

#9317 feat: Introduce PHPStan strict rules extension
  composer.json
  src/Core/DevOps/StaticAnalyze/PHPStan/common.neon
  tests/integration/Core/Framework/DataAbstractionLayer/Facade/SalesChannelRepositoryFacadeTest.php
  tests/integration/Core/Framework/Store/Services/StoreClientFactoryTest.php
  tests/unit/Core/Checkout/Cart/ProductCartProcessorTest.php
  tests/unit/Core/Checkout/Cart/TaxProvider/TaxAdjustmentCalculatorTest.php
  tests/unit/Core/Checkout/Customer/SalesChannel/RegisterRouteTest.php
Labels: component/core, domain/framework

#9435 fix: Consider theme asset directory while deleting old theme directories
  src/Storefront/Theme/ScheduledTask/DeleteThemeFilesTaskHandler.php
  tests/unit/Storefront/Theme/ScheduledTask/DeleteThemeFilesTaskHandlerTest.php
Labels: component/storefront, component/core, backport-6.6.x, backport-6.7.0.0, domain/framework

#9427 fix: Display correct file name in move media modal
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-modal-move/sw-media-modal-move.html.twig
Labels: backport-6.7.0.0, domain/discovery

#9455 fix: Correct shipping costs for Google Analytics
  changelog/_unreleased/2025-05-15-transmit-correct-shipping-costs-to-google-analytics.md
  src/Storefront/Resources/views/storefront/component/checkout/hidden-line-items-information.html.twig
Labels: component/storefront, backport-6.6.x, backport-6.7.0.0, domain/checkout

#9480 fix: birthday label class
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
Labels: domain/checkout

#9442 fix: media module ui issues
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-folder-content/sw-media-folder-content.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-folder-content/sw-media-folder-content.scss
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-modal-move/sw-media-modal-move.html.twig
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-modal-move/sw-media-modal-move.scss
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-upload-v2/sw-media-upload-v2.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo-multiple/sw-media-quickinfo-multiple.scss
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-sidebar/sw-media-sidebar.scss
  src/Administration/Resources/app/administration/src/module/sw-media/component/sw-media-library/sw-media-library.scss
  src/Administration/Resources/app/administration/src/module/sw-media/page/sw-media-index/sw-media-index.scss
Labels: domain/discovery

#9446 fix: Fix search result order for preview search in mysql
  changelog/_unreleased/2025-05-15-fix-search-result-order-in-preview-search-in-mysql.md
  src/Core/Content/Product/SalesChannel/Listing/Processor/SortingListingProcessor.php
  tests/unit/Core/Content/Product/SalesChannel/Listing/Processor/SortingListingProcessorTest.php
Labels: backport-6.6.x, component/search, backport-6.7.0.0, domain/inventory

#9498 ci: refactor needs-triage
  .github/workflows/01-needs-triage-labeler.yml
Labels: domain/product-ops

#9496 feat: add skip-theme-recompile option for app:uninstall command
  changelog/_unreleased/2025-05-16-add-skip-theme-compile-option-for-app-uninstall.md
  src/Core/Framework/App/Command/UninstallAppCommand.php
Labels: component/core, backport-6.7.0.0, domain/framework

#9467 fix: Set the context token from main request also to current request
  changelog/_unreleased/2025-05-15-provide-context-token-to-current-request.md
  src/Storefront/Framework/Routing/StorefrontSubscriber.php
  tests/unit/Storefront/Framework/Routing/StorefrontSubscriberTest.php
Labels: component/storefront, component/core, backport-6.6.x, backport-6.7.0.0, domain/framework

#9497 fix(storefront): login form validation error
  src/Storefront/Resources/views/storefront/component/account/login.html.twig
Labels: component/storefront, backport-6.7.0.0, domain/framework

#9454 fix: In Administration errors are not reported for OneToManyAssociationField in case its added through EntityExtension.
  src/Administration/Resources/app/administration/src/core/data/error-resolver.data.js
Labels: component/administration, domain/framework

#9468 build: add env variables to customize extensions dev server
  src/Administration/Resources/app/administration/build/plugins.vite.ts
Labels: component/administration, domain/framework

#9500 fix(admin): Remove padding of small selects
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-select-base/sw-select-base.scss
Labels: component/administration, backport-6.7.0.0, domain/framework

#9501 fix(admin): Remove superflous padding of property search toolbar
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-add-properties-modal/sw-product-add-properties-modal.scss
Labels: component/administration, backport-6.7.0.0, domain/framework

#7447 fix: variant indicator missing in product listing
  changelog/_unreleased/2025-03-12-variant-indicator-missing-in-product-listing.md
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-clone-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-clone-modal/sw-product-clone-modal.spec.js
  src/Core/Content/Product/DataAbstractionLayer/ProductIndexer.php
  src/Core/Framework/DataAbstractionLayer/Field/ChildCountField.php
  tests/integration/Core/Content/Product/DataAbstractionLayer/ProductIndexerTest.php
  tests/unit/Core/Content/Product/DataAbstractionLayer/ProductIndexerTest.php
Labels: backport-6.6.x, backport-6.7.0.0, domain/inventory

#9462 fix: styling prio of sw-single-select
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-single-select/sw-single-select.scss
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-select-v2/sw-order-state-select-v2.scss
Labels: component/administration, 6.7-RC-Issues, backport-6.7.0.0, domain/checkout

#9394 fix: Validate administration snippets of Plugin
  src/Core/System/Snippet/Files/SnippetFileLoader.php
  tests/unit/Core/System/Snippet/Files/SnippetFileLoaderTest.php
  tests/unit/Core/System/Snippet/Files/_fixtures/BaseSnippetSet/Resources/app/administration/src/module/sw-module/snippet/de-DE.json
  tests/unit/Core/System/Snippet/Files/_fixtures/BaseSnippetSet/Resources/app/administration/src/module/sw-module/snippet/en-GB.json
Labels: domain/b2b

#9514 fix: wrong size of chevron in menu breadcrumb navigation
  src/Administration/Resources/app/administration/src/module/sw-flow/page/sw-flow-index/sw-flow-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-integration/page/sw-integration-list/sw-integration-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-index/sw-mail-template-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/page/sw-newsletter-recipient-list/sw-newsletter-recipient-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-cache/page/sw-settings-cache-index/sw-settings-cache-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-cart/page/sw-settings-cart/sw-settings-cart.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-country/page/sw-settings-country-list/sw-settings-country-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-currency/page/sw-settings-currency-list/sw-settings-currency-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/page/sw-settings-custom-field-set-list/sw-settings-custom-field-set-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-list/sw-settings-customer-group-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-delivery-times/page/sw-settings-delivery-time-list/sw-settings-delivery-time-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-list/sw-settings-document-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-language/page/sw-settings-language-list/sw-settings-language-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/page/sw-settings-listing/sw-settings-listing.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-logging/page/sw-settings-logging-list/sw-settings-logging-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-login-registration/page/sw-settings-login-registration/sw-settings-login-registration.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-mailer/page/sw-settings-mailer/sw-settings-mailer.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-media/page/sw-settings-media/sw-settings-media.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-newsletter/page/sw-settings-newsletter/sw-settings-newsletter.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-number-range/page/sw-settings-number-range-list/sw-settings-number-range-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-product-feature-sets/page/sw-settings-product-feature-sets-list/sw-settings-product-feature-sets-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/page/sw-settings-rule-list/sw-settings-rule-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-salutation/page/sw-settings-salutation-list/sw-settings-salutation-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-search/page/sw-settings-search/sw-settings-search.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-seo/page/sw-settings-seo/sw-settings-seo.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/page/sw-settings-shipping-list/sw-settings-shipping-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-shopware-updates/page/sw-settings-shopware-updates-index/sw-settings-shopware-updates-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-sitemap/page/sw-settings-sitemap/sw-settings-sitemap.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-set-list/sw-settings-snippet-set-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-state-machine/page/sw-settings-state-machine-list/sw-settings-state-machine-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-store/page/sw-settings-store/sw-settings-store.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-tag/page/sw-settings-tag-list/sw-settings-tag-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/page/sw-settings-tax-list/sw-settings-tax-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-units/page/sw-settings-units-list/sw-settings-units.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/page/sw-settings-usage-data/sw-settings-usage-data.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions/sw-users-permissions.html.twig
Labels: component/administration, backport-6.7.0.0, domain/framework

#9479 fix: Search icon misaligned in the Generate Variants modal
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-configurator/sw-product-variants-configurator-selection/sw-product-variants-configurator-selection.scss
Labels: backport-6.7.0.0, domain/inventory

#9478 fix: Extra spacing between Cancel/Save button in Admin pages
  src/Administration/Resources/app/administration/src/app/component/base/sw-button-group/sw-button-group.scss
Labels: component/administration, domain/inventory

#9359 feat: Use same type for Shopware.Application.registerServiceProvider and Shopware.Service().register
  src/Administration/Resources/app/administration/src/app/store/marketing.store.spec.ts
  src/Administration/Resources/app/administration/src/core/factory/service.factory.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/store/order.store.spec.ts
Labels: component/administration, domain/framework

#9474 fix: Pagination has additional spacing in Generate Variants modal
  src/Administration/Resources/app/administration/src/app/component/base/sw-property-search/sw-property-search.scss
Labels: component/administration, backport-6.7.0.0, domain/inventory

#9499 fix: Send email to customer toggle is misaligned
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-change-modal/sw-order-state-change-modal-attach-documents/sw-order-state-change-modal-attach-documents.scss
Labels: backport-6.7.0.0, domain/checkout
