Repository shopware/shopware, pull requests merged in 2025-02, with the labels that each got.

#6337 fix: address editor update multiple state selects
  changelog/_unreleased/2025-01-21-fix-address-editor-update-multiple-state-selects.md
  src/Storefront/Resources/views/storefront/component/address/address-editor-modal-create-address.html.twig
Labels: Domain:Checkout

#6572 chore: ignore opensearch deprecation, clean up phpstan config
  composer.json
  phpstan.neon.dist
  src/Core/Content/Media/UnusedMediaPurger.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Internal/InternalClassRule.php
  src/Core/Framework/DataAbstractionLayer/VersionManager.php
  src/Core/Framework/Validation/HappyPathValidator.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/AttributeEntityUnionEnum.php
  tests/integration/Elasticsearch/Product/ElasticsearchProductTest.php
Labels: Core, Domain:Framework

#6571 fix: skip ProductSearch test for saas deployment
  tests/acceptance/tests/Search/ProductSearch.spec.ts
Labels: skip-danger-phpstan-baseline

#6526 chore(ci): make trunk 6.7
  .bc-exclude.php
  .devcontainer/devcontainer.json
  .github/bin/generate-phpunit-matrix.php
  .github/workflows/05-prepare-release.yml
  .github/workflows/admin.yml
  .github/workflows/downstream.yml
  .github/workflows/integration.yml
  .github/workflows/nightly.yml
  .github/workflows/php.yml
  .github/workflows/saas-branch.yml
  .github/workflows/storefront.yml
  .gitlab-ci.yml
  composer.json
  phpstan-v67-baseline.neon
  phpstan.neon.dist
  src/Administration/Resources/app/administration/src/module/sw-import-export/service/importExportProfileMapping.service.spec.js
  src/Administration/composer.json
  src/Core/Content/Media/UnusedMediaPurger.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Internal/InternalClassRule.php
  src/Core/Framework/DataAbstractionLayer/VersionManager.php
  src/Core/Framework/Framework.php
  src/Core/Framework/Resources/config/packages/feature.yaml
  src/Core/Framework/Routing/Exception/InvalidRouteScopeException.php
  src/Core/Framework/Test/Plugin/Requirement/_fixture/SwagRequirementValidSubpackageTest/composer.json
  src/Core/Framework/Validation/HappyPathValidator.php
  src/Core/Installer/Database/MigrationCollectionFactory.php
  src/Core/Kernel.php
  src/Core/System/DependencyInjection/CompilerPass/SalesChannelEntityCompilerPass.php
  src/Core/composer.json
  src/Elasticsearch/Product/SearchFieldConfig.php
  src/Elasticsearch/composer.json
  src/Storefront/Page/Page.php
  src/Storefront/Theme/ThemeConfigValueAccessor.php
  src/Storefront/composer.json
  tests/acceptance/tests/Update/Update.spec.ts
  tests/devops/Core/Test/AnnotationTagTest.php
  tests/integration/Core/Checkout/Cart/Facade/CartFacadeTest.php
  tests/integration/Core/Checkout/Cart/LineItem/Group/LineItemGroupBuilderTest.php
  tests/integration/Core/Checkout/Document/Renderer/CreditNoteRendererTest.php
  tests/integration/Core/Checkout/Document/Renderer/DeliveryNoteRendererTest.php
  tests/integration/Core/Checkout/Document/Renderer/InvoiceRendererTest.php
  tests/integration/Core/Checkout/Document/Renderer/StornoRendererTest.php
  tests/integration/Core/Checkout/Document/Service/DocumentGeneratorTest.php
  tests/integration/Core/Checkout/Document/Service/PdfRendererTest.php
  tests/integration/Core/Content/ImportExport/ImportExportTest.php
  tests/integration/Core/Content/Product/SalesChannel/Detail/ProductDetailRouteTest.php
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/AttributeEntityUnionEnum.php
  tests/integration/Elasticsearch/Product/ElasticsearchProductTest.php
  tests/integration/Elasticsearch/Product/ProductSearchQueryBuilderTest.php
  tests/integration/Storefront/Controller/CheckoutControllerTest.php
  tests/unit/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/unit/Elasticsearch/Product/ProductSearchQueryBuilderTest.php
Labels: Bug

#6514 chore: deprecate fine grained caching options
  .bc-exclude.php
  UPGRADE-6.7.md
  changelog/_unreleased/2025-01-30-deprecate-fine-grained-caching.md
  src/Core/Framework/Adapter/Cache/CacheInvalidationSubscriber.php
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/System/SystemConfig/Event/SystemConfigChangedHook.php
  src/Core/System/SystemConfig/SystemConfigService.php
  tests/integration/Core/System/SystemConfig/SystemConfigServiceTest.php
Labels: Core, Domain:Framework, skip-danger-phpstan-baseline

#6367 fix: get rid of the files card on the product creation page
  changelog/_unreleased/2025-01-23-get-rid-the-files-card-on-the-product-creation-page.md
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-base/sw-product-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-base/sw-product-detail-base.spec.js
Labels: Domain:Inventory

#6565 feat(accessibility): adjust VAT, TOS etc. links to show a modal
  changelog/_unreleased/2025-01-24-replace-storefront-modal-links-with-page-links.md
  changelog/_unreleased/2025-02-04-adjust-vat-tos-and-tax-links-to-show-modal-depending-on-the-context.md
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-cms-handler.plugin.js
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/component/_button.scss
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/component/buy-widget/buy-widget.html.twig
  src/Storefront/Resources/views/storefront/component/privacy-notice.html.twig
  src/Storefront/Resources/views/storefront/component/product/card/price-unit.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-components/cms-element-form-privacy.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/confirm/index.html.twig
Labels: Storefront, accessibility, Domain:Framework

#6592 feat(accessibility): adjust VAT, TOS etc. links to show a modal
  changelog/_unreleased/2025-01-24-replace-storefront-modal-links-with-page-links.md
  changelog/_unreleased/2025-02-04-adjust-vat-tos-and-tax-links-to-show-modal-depending-on-the-context.md
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-cms-handler.plugin.js
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/component/_button.scss
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/component/buy-widget/buy-widget.html.twig
  src/Storefront/Resources/views/storefront/component/privacy-notice.html.twig
  src/Storefront/Resources/views/storefront/component/product/card/price-unit.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-components/cms-element-form-privacy.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/confirm/index.html.twig
Labels: Storefront, accessibility, Domain:Framework

#6453 fix: Fix CMS background NEXT-39997 #5794
  changelog/_unreleased/2025-01-28-fix-cms-section-background.md
  src/Storefront/Resources/views/storefront/section/cms-section-block-container.html.twig
Labels: Domain:Discovery, backport-6.6.x

#6591 chore: deprecate fine grained caching options (#6514)
  .bc-exclude.php
  UPGRADE-6.7.md
  changelog/_unreleased/2025-01-30-deprecate-fine-grained-caching.md
  src/Core/Framework/Adapter/Cache/CacheInvalidationSubscriber.php
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/System/SystemConfig/Event/SystemConfigChangedHook.php
  src/Core/System/SystemConfig/SystemConfigService.php
  tests/integration/Core/System/SystemConfig/SystemConfigServiceTest.php
Labels: Core, Domain:Framework, skip-danger-phpstan-baseline

#6554 fix: vite dependencies prod env
  src/Administration/Resources/app/administration/build/plugins.vite.ts
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/vite.config.mts
Labels: Administration, Domain:Framework

#6544 chore: Remove performance tweaks feature flag
  src/Core/Checkout/Customer/SalesChannel/RegisterRoute.php
  src/Core/Content/Product/Cart/ProductCartProcessor.php
  src/Core/Framework/Resources/config/packages/feature.yaml
Labels: Bug, Integration:phpunit

#6458 chore: update dompdf/dompdf to version 3.1.0
  composer.json
  src/Core/composer.json
Labels: Bug, Domain:Framework

#5986 chore: update oauth2-server and remove deprecations
  UPGRADE-6.7.md
  composer.json
  config-schema.json
  phpstan-baseline.neon
  src/Administration/Resources/app/administration/src/core/service/login.service.ts
  src/Core/Framework/Api/ApiException.php
  src/Core/Framework/Api/OAuth/AccessToken.php
  src/Core/Framework/Api/OAuth/AccessTokenRepository.php
  src/Core/Framework/Api/OAuth/BearerTokenValidator.php
  src/Core/Framework/Api/OAuth/Client/ApiClient.php
  src/Core/Framework/Api/OAuth/ClientRepository.php
  src/Core/Framework/Api/OAuth/JWTConfigurationFactory.php
  src/Core/Framework/Api/OAuth/RefreshTokenRepository.php
  src/Core/Framework/Api/OAuth/Scope/AdminScope.php
  src/Core/Framework/Api/OAuth/Scope/UserVerifiedScope.php
  src/Core/Framework/Api/OAuth/ScopeRepository.php
  src/Core/Framework/Api/OAuth/SymfonyBearerTokenValidator.php
  src/Core/Framework/Api/OAuth/User/User.php
  src/Core/Framework/Api/OAuth/UserRepository.php
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/Framework/DependencyInjection/api.xml
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/Framework/Test/TestCaseBase/AdminApiTestBehaviour.php
  src/Core/Installer/Controller/DatabaseConfigurationController.php
  src/Core/Installer/Controller/RequirementsController.php
  src/Core/Installer/DependencyInjection/services.xml
  src/Core/Maintenance/DependencyInjection/services.xml
  src/Core/Maintenance/System/Command/SystemGenerateJwtSecretCommand.php
  src/Core/Maintenance/System/Command/SystemInstallCommand.php
  src/Core/Maintenance/System/Command/SystemSetupCommand.php
  src/Core/Maintenance/System/Service/JwtCertificateGenerator.php
  src/Core/TestBootstrapper.php
  src/Core/composer.json
  tests/acceptance/package.json
  tests/integration/Administration/Controller/NotificationControllerTest.php
  tests/integration/Core/Framework/Api/Controller/AuthControllerTest.php
  tests/unit/Core/Framework/Api/OAuth/AccessTokenTest.php
  tests/unit/Core/Framework/Api/OAuth/ClientRepositoryTest.php
  tests/unit/Core/Framework/Api/OAuth/JWTConfigurationFactoryTest.php
  tests/unit/Core/Installer/Controller/DatabaseConfigurationControllerTest.php
  tests/unit/Core/Installer/Controller/RequirementsControllerTest.php
  tests/unit/Core/Maintenance/System/Command/SystemGenerateJwtSecretCommandTest.php
  tests/unit/Core/Maintenance/System/Command/SystemInstallCommandTest.php
  tests/unit/Core/Maintenance/System/Command/SystemSetupCommandTest.php
  tests/unit/Core/Maintenance/System/Service/JwtCertificateGeneratorTest.php
Labels: Bug, Domain:Framework, Integration:acceptance, Integration:phpunit

#6530 fix: vite plugin build without admin path
  src/Administration/Resources/app/administration/build/vite-plugins/utils/index.ts
Labels: Administration, Domain:Framework

#6548 chore: remove deprecations for src/Core/Framework/App
  composer.json
  src/Administration/Controller/AdminExtensionApiController.php
  src/Core/Framework/App/ActiveAppsLoader.php
  src/Core/Framework/App/Aggregate/ActionButton/ActionButtonEntity.php
  src/Core/Framework/App/Aggregate/ActionButtonTranslation/ActionButtonTranslationEntity.php
  src/Core/Framework/App/Aggregate/AppPaymentMethod/AppPaymentMethodEntity.php
  src/Core/Framework/App/Aggregate/AppScriptCondition/AppScriptConditionEntity.php
  src/Core/Framework/App/Aggregate/AppTranslation/AppTranslationEntity.php
  src/Core/Framework/App/Aggregate/CmsBlock/AppCmsBlockEntity.php
  src/Core/Framework/App/Aggregate/CmsBlockTranslation/AppCmsBlockTranslationEntity.php
  src/Core/Framework/App/AppEntity.php
  src/Core/Framework/App/AppException.php
  src/Core/Framework/App/Command/ValidateAppCommand.php
  src/Core/Framework/App/Exception/ActionNotFoundException.php
  src/Core/Framework/App/Exception/AppFlowException.php
  src/Core/Framework/App/Exception/AppXmlParsingException.php
  src/Core/Framework/App/Lifecycle/AppLoader.php
  src/Core/Framework/App/Manifest/Xml/CustomField/CustomFields.php
  src/Core/Framework/App/Payment/Handler/AppPaymentHandler.php
  src/Core/Framework/App/Payment/Payload/Struct/CapturePayload.php
  src/Core/Framework/App/Payment/Payload/Struct/PaymentPayload.php
  src/Core/Framework/App/Payment/Response/CaptureResponse.php
  src/Core/Framework/App/Payment/Response/RecurringPayResponse.php
  src/Core/Framework/App/Payment/Response/SyncPayResponse.php
  src/Core/Framework/App/Template/TemplateEntity.php
  src/Core/Framework/Util/UtilException.php
  src/Core/Framework/Util/XmlReader.php
  src/Core/System/CustomEntity/CustomEntityException.php
  src/Core/System/SystemConfig/Exception/XmlParsingException.php
  src/Core/composer.json
  tests/integration/Core/Framework/App/ActionButton/AppActionLoaderTest.php
  tests/integration/Core/Framework/App/Cms/CmsExtensionsTest.php
  tests/integration/Core/Framework/App/CustomFieldTypeTestBehaviour.php
  tests/integration/Core/Framework/App/Flow/FlowAction/FlowActionTest.php
  tests/integration/Core/Framework/App/Flow/FlowEvent/FlowEventTest.php
  tests/integration/Core/Framework/App/GuzzleTestClientBehaviour.php
  tests/integration/Core/Framework/App/Payment/AbstractAppPaymentHandlerTestCase.php
  tests/integration/Core/Framework/App/Payment/AppAsyncPaymentHandlerTest.php
  tests/integration/Core/Framework/App/Payment/AppPreparedPaymentHandlerTest.php
  tests/integration/Core/Framework/Plugin/PluginExtractorTest.php
  tests/integration/Core/System/CustomEntity/CustomEntityTest.php
  tests/unit/Core/Framework/App/ActiveAppsLoaderTest.php
  tests/unit/Core/Framework/App/Lifecycle/AppLoaderTest.php
  tests/unit/Core/Framework/App/Payment/Payload/Struct/CapturePayloadTest.php
  tests/unit/Core/Framework/App/Payment/Payload/Struct/PaymentPayloadTest.php
  tests/unit/Core/Framework/App/Payment/Payload/Struct/ValidatePayloadTest.php
Labels: Domain:Framework, skip-danger-phpstan-baseline

#6470 feat: added ZUGFeRD document type for e-invoices
  composer.json
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-modal/sw-order-document-settings-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-document/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-document/snippet/en-GB.json
  src/Core/Checkout/DependencyInjection/document.xml
  src/Core/Checkout/Document/DocumentConfiguration.php
  src/Core/Checkout/Document/DocumentException.php
  src/Core/Checkout/Document/DocumentGeneratorController.php
  src/Core/Checkout/Document/Event/DocumentOrderEvent.php
  src/Core/Checkout/Document/Exception/InvalidDocumentException.php
  src/Core/Checkout/Document/Exception/InvalidDocumentGeneratorTypeException.php
  src/Core/Checkout/Document/Exception/InvalidFileGeneratorTypeException.php
  src/Core/Checkout/Document/FileGenerator/FileTypes.php
  src/Core/Checkout/Document/Renderer/AbstractDocumentRenderer.php
  src/Core/Checkout/Document/Renderer/CreditNoteRenderer.php
  src/Core/Checkout/Document/Renderer/DeliveryNoteRenderer.php
  src/Core/Checkout/Document/Renderer/DocumentRendererRegistry.php
  src/Core/Checkout/Document/Renderer/InvoiceRenderer.php
  src/Core/Checkout/Document/Renderer/RenderedDocument.php
  src/Core/Checkout/Document/Renderer/RendererResult.php
  src/Core/Checkout/Document/Renderer/StornoRenderer.php
  src/Core/Checkout/Document/Renderer/ZugferdEmbeddedRenderer.php
  src/Core/Checkout/Document/Renderer/ZugferdRenderer.php
  src/Core/Checkout/Document/Service/DocumentConfigLoader.php
  src/Core/Checkout/Document/Service/DocumentGenerator.php
  src/Core/Checkout/Document/Service/PdfRenderer.php
  src/Core/Checkout/Document/Service/XmlRenderer.php
  src/Core/Checkout/Document/Zugferd/ZugferdBuilder.php
  src/Core/Checkout/Document/Zugferd/ZugferdDocument.php
  src/Core/Checkout/Document/Zugferd/ZugferdInvoiceGeneratedEvent.php
  src/Core/Checkout/Document/Zugferd/ZugferdInvoiceItemAddedEvent.php
  src/Core/Checkout/Document/Zugferd/ZugferdInvoiceOrdersEvent.php
  src/Core/Framework/Resources/config/packages/framework.yaml
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/Framework/Resources/views/documents/delivery_note.html.twig
  src/Core/Framework/Resources/views/documents/includes/letter_header.html.twig
  src/Core/Migration/V6_6/Migration1730790665ElectronicInvoice.php
  src/Core/composer.json
  tests/integration/Core/Content/Flow/GenerateDocumentActionTest.php
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/migration/Core/V6_6/Migration1730790665ElectronicInvoiceTest.php
  tests/unit/Core/Checkout/Document/Exception/InvalidDocumentExceptionTest.php
  tests/unit/Core/Checkout/Document/Exception/InvalidFileGeneratorTypeExceptionTest.php
  tests/unit/Core/Checkout/Document/Renderer/InvoiceRendererTest.php
  tests/unit/Core/Checkout/Document/Renderer/ZugferdEmbeddedRendererTest.php
  tests/unit/Core/Checkout/Document/Renderer/ZugferdRendererTest.php
  tests/unit/Core/Checkout/Document/Renderer/_fixtures/empty_1.pdf
  tests/unit/Core/Checkout/Document/Renderer/_fixtures/invoice_1.pdf
  tests/unit/Core/Checkout/Document/Renderer/_fixtures/invoice_1.xml
  tests/unit/Core/Checkout/Document/Service/DocumentConfigLoaderTest.php
  tests/unit/Core/Checkout/Document/Service/DocumentFileRendererRegistryTest.php
  tests/unit/Core/Checkout/Document/Service/DocumentGeneratorTest.php
  tests/unit/Core/Checkout/Document/Service/HtmlRendererTest.php
  tests/unit/Core/Checkout/Document/Service/PdfRendererTest.php
  tests/unit/Core/Checkout/Document/Service/XmlRendererTest.php
  tests/unit/Core/Checkout/Document/Zugferd/ZugferdBuilderTest.php
  tests/unit/Core/Checkout/Document/Zugferd/ZugferdDocumentTest.php
Labels: Extension:Commercial, Domain:Checkout, backport-6.6.x

#6597 feat: add label to 3d media settings
  src/Administration/Resources/app/administration/src/module/sw-settings-media/page/sw-settings-media/sw-settings-media.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-media/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-media/snippet/en-GB.json
Labels: Status:In-Review

#6624 build: bump the ATS version to 11.6.0
  tests/acceptance/package-lock.json
Labels: Acceptance test

#6607 ci: Reduce flakyness of ES test
  src/Core/Test/Stub/Framework/IdsCollection.php
  src/Elasticsearch/Test/ElasticsearchTestTestBehaviour.php
  tests/integration/Elasticsearch/Product/ElasticsearchProductTest.php
  tests/integration/Elasticsearch/Product/ProductSearchQueryBuilderTest.php
Labels: Bug, Core, Domain:Framework

#6576 feat: added iaps to shop /pluginupdates request
  phpstan-baseline.neon
  src/Core/Framework/DependencyInjection/store.xml
  src/Core/Framework/Store/Exception/StoreApiException.php
  src/Core/Framework/Store/Services/ExtensionLoader.php
  src/Core/Framework/Store/Services/StoreClient.php
  src/Core/Framework/Store/StoreException.php
  src/Core/Framework/Store/Struct/ExtensionStruct.php
  src/Core/Framework/Store/Struct/StoreUpdateStruct.php
  tests/integration/Core/Framework/Store/Services/StoreClientTest.php
  tests/unit/Core/Framework/Store/StoreExceptionTest.php
Labels: Domain:Checkout, backport-6.6.x

#6608 ci: sync 6.6.x branch
  .github/workflows/sync.yml
Labels: backport-6.6.x

#6600 test: acceptance test to repeat orders from storefront account page
  tests/acceptance/tests/Account/RepeatOrder.spec.ts
Labels: Acceptance test

#6551 test: Acceptance test for changing the payment method on an existing order
  tests/acceptance/tests/Account/ChangeOrderPaymentMethod.spec.ts
Labels: Acceptance test

#6545 chore: remove deprecations for src/Core/Maintenance
  composer.json
  phpstan-v67-baseline.neon
  src/Core/Installer/DependencyInjection/services.xml
  src/Core/Maintenance/MaintenanceException.php
  src/Core/Maintenance/SalesChannel/Command/SalesChannelUpdateDomainCommand.php
  src/Core/Maintenance/SalesChannel/Service/SalesChannelCreator.php
  src/Core/Maintenance/Staging/Event/SetupStagingEvent.php
  src/Core/Maintenance/System/Command/SystemIsInstalledCommand.php
  src/Core/Maintenance/System/Command/SystemSetupCommand.php
  src/Core/Maintenance/System/Exception/DatabaseSetupException.php
  src/Core/Maintenance/System/Exception/JwtCertificateGenerationException.php
  src/Core/Maintenance/System/Exception/ShopConfigurationException.php
  src/Core/Maintenance/System/Service/DatabaseConnectionFactory.php
  src/Core/Maintenance/System/Service/ShopConfigurator.php
  src/Core/Maintenance/System/Struct/DatabaseConnectionInformation.php
  src/Core/Maintenance/System/SystemException.php
  src/Core/Maintenance/User/Service/UserProvisioner.php
  tests/unit/Core/Maintenance/System/Command/SystemInstallCommandTest.php
  tests/unit/Core/Maintenance/System/Command/SystemSetupCommandTest.php
Labels: Domain:Framework

#6618 fix: remove deprecated total reviews prop to fix product detail route test
  phpstan-v67-baseline.neon
  src/Core/Content/Product/SalesChannel/Review/ProductReviewLoader.php
  src/Core/Content/Product/SalesChannel/Review/ProductReviewResult.php
  src/Storefront/Controller/CmsController.php
  tests/integration/Core/Content/Product/SalesChannel/Detail/ProductDetailRouteTest.php
  tests/integration/Core/Content/Product/SalesChannel/Detail/_fixtures/recursion_encoding_with_layout_result.json
Labels: Core, Domain:Framework

#6628 fix: Remove SearchFieldConfig deprecation
  src/Elasticsearch/Product/SearchFieldConfig.php
Labels: Bug, Core, Domain:Framework

#6639 test: fixed 6.7 feature flag condition in product bulk edit test
  tests/acceptance/tests/Product/ProductBulkEdit.spec.ts
Labels: Acceptance test

#6593 test: page not found
  tests/acceptance/tests/Categories/PageNotFound.spec.ts
Labels: Acceptance test

#6603 fix: Fix CustomFieldGenerator
  src/Core/Framework/Demodata/Faker/Commerce.php
  tests/unit/Core/Framework/Demodata/Faker/CommerceTest.php
Labels: Status:In-Review, Domain:Framework

#6627 ci: Reduce flakyness of ES test (#6607)
  src/Core/Test/Stub/Framework/IdsCollection.php
  src/Elasticsearch/Test/ElasticsearchTestTestBehaviour.php
  tests/integration/Elasticsearch/Product/ElasticsearchProductTest.php
  tests/integration/Elasticsearch/Product/ProductSearchQueryBuilderTest.php
Labels: Core, Domain:Framework

#6595 chore: prepare release v6.5.8.16
  .danger.php
  .github/bin/check_workflow.bash
  .github/bin/compile_deployment_info.sh
  .github/bin/create_github_release.bash
  .github/bin/generate-phpunit-matrix.php
  .github/bin/post_last_deployment.bash
  .github/bin/sbp_release.bash
  .github/bin/split.bash
  .github/workflows/integration.yml
  .github/workflows/php.yml
  CHANGELOG.md
  changelog/release-6-5-8-16/2024-10-21-fix-order-can-not-recalculate-when-line-items-are-empty.md
  changelog/release-6-5-8-16/2024-10-24-changed-to-cleanup-custom-fields-before-save-to-db.md
  changelog/release-6-5-8-16/2024-10-25-fixed-belgian-vat-id-pattern.md
  changelog/release-6-5-8-16/2024-10-28-fix-address-handling-does-not-work-properly.md
  changelog/release-6-5-8-16/2024-11-05-set-group-promotions-cause-a-timeout-if-too-many-products-are-in-cart.md
  changelog/release-6-5-8-16/2024-11-11-fixed-price-field-collection-serialization.md
  changelog/release-6-5-8-16/2024-11-11-fixed-shipping-method-fixed-tax-recalculation.md
  changelog/release-6-5-8-16/2024-11-20-fix-issue-delivery-promotion-not-apply.md
  changelog/release-6-5-8-16/2024-11-26-adding-the-sort-when-searching-the-properties.md
  changelog/release-6-5-8-16/2024-12-04-fixed-elasticsearch-filter-parsing-of-translated-fields-in-product-related-entities.md
  src/Core/Content/Test/Product/SalesChannel/ProductListingFeaturesSubscriberTest.php
Labels: Incomplete

#6621 fix: admin product slider element
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/config/index.js
Labels: Domain:Discovery

#6583 chore: Add missing deprecation notices for cache rework
  src/Core/Content/Product/SalesChannel/Listing/CachedProductListingRoute.php
  src/Core/Framework/Adapter/Cache/CacheTracer.php
  src/Core/Framework/DependencyInjection/cache.xml
  src/Storefront/Resources/views/storefront/layout/header/actions/currency-widget.html.twig
  src/Storefront/Theme/ThemeConfigValueAccessor.php
Labels: Domain:Framework

#6647 fix: revert deprecation of ImportExportAfterImportRecordEvent
  changelog/_unreleased/2025-01-29-mark-import-export-internal.md
  src/Core/Content/ImportExport/Event/ImportExportAfterImportRecordEvent.php
  src/Core/Content/ImportExport/Strategy/Import/BatchImportStrategy.php
  src/Core/Content/ImportExport/Strategy/Import/OneByOneImportStrategy.php
  tests/unit/Core/Content/ImportExport/Strategy/Import/BatchImportStrategyTest.php
  tests/unit/Core/Content/ImportExport/Strategy/Import/OneByOneImportStrategyTest.php
Labels: skip-danger-phpstan-baseline

#6649 refactor(checkout): move to constructor property promotion
  phpstan-baseline.neon
  src/Core/Checkout/Cart/Delivery/DeliveryProcessor.php
  src/Core/Checkout/Cart/Delivery/Struct/Delivery.php
  src/Core/Checkout/Cart/Delivery/Struct/DeliveryPosition.php
  src/Core/Checkout/Cart/Delivery/Struct/ShippingLocation.php
  src/Core/Checkout/Cart/Event/AfterLineItemAddedEvent.php
  src/Core/Checkout/Cart/Event/AfterLineItemQuantityChangedEvent.php
  src/Core/Checkout/Cart/Event/AfterLineItemRemovedEvent.php
  src/Core/Checkout/Cart/Event/BeforeLineItemAddedEvent.php
  src/Core/Checkout/Cart/Event/BeforeLineItemRemovedEvent.php
  src/Core/Checkout/Cart/Event/CartCreatedEvent.php
  src/Core/Checkout/Cart/Event/CartDeletedEvent.php
  src/Core/Checkout/Cart/Event/CartSavedEvent.php
  src/Core/Checkout/Cart/Event/LineItemRemovedEvent.php
  src/Core/Checkout/Cart/Order/IdStruct.php
  src/Core/Checkout/Cart/Price/Struct/AbsolutePriceDefinition.php
  src/Core/Checkout/Cart/Price/Struct/CartPrice.php
  src/Core/Checkout/Cart/Price/Struct/ListPrice.php
  src/Core/Checkout/Cart/Price/Struct/PercentagePriceDefinition.php
  src/Core/Checkout/Cart/Price/Struct/QuantityPriceDefinition.php
  src/Core/Checkout/Cart/Price/Struct/ReferencePrice.php
  src/Core/Checkout/Cart/Price/Struct/ReferencePriceDefinition.php
  src/Core/Checkout/Cart/Price/Struct/RegulationPrice.php
  src/Core/Checkout/Cart/Tax/Struct/TaxRule.php
  src/Core/Checkout/Cart/Transaction/Struct/Transaction.php
  src/Core/Checkout/CheckoutRuleScope.php
  src/Core/Checkout/Customer/Event/CustomerWishlistProductListingResultEvent.php
  src/Core/Checkout/Customer/Event/WishlistMergedEvent.php
  src/Core/Checkout/Customer/Rule/DifferentAddressesRule.php
  src/Core/Checkout/Customer/Rule/IsCompanyRule.php
  src/Core/Checkout/Customer/SalesChannel/LoadWishlistRouteResponse.php
  src/Core/Checkout/Promotion/Cart/Error/AutoPromotionNotFoundError.php
  src/Core/Checkout/Promotion/Cart/Error/PromotionNotEligibleError.php
  src/Core/Checkout/Promotion/Cart/Error/PromotionNotFoundError.php
Labels: Extension:Commercial, Domain:Checkout, skip-danger-phpstan-baseline

#6645 fix: Double submit issue of CMS form handler
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-cms-handler.plugin.js
Labels: Storefront, Domain:Framework

#5866 fix: can't create customer with different addresses
  changelog/_unreleased/2024-12-04-fix-can-t-create-customer-with-different-addresses.md
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-new-customer-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-new-customer-modal/sw-order-new-customer-modal.spec.js
Labels: Status:In-Review, Domain:Checkout

#6518 test: acceptance test to validate the google recaptcha function on forms
  tests/acceptance/tests/Forms/ValidateGoogleRecaptchaOnRegisterForm.spec.ts
Labels: Acceptance test

#6638 chore: remove message queue deprecations
  src/Core/Framework/DependencyInjection/CompilerPass/MessengerMiddlewareCompilerPass.php
  src/Core/Framework/DependencyInjection/message-queue.xml
  src/Core/Framework/DependencyInjection/services.xml
  src/Core/Framework/MessageQueue/MessageQueueException.php
  src/Core/Framework/MessageQueue/Middleware/RoutingOverwriteMiddleware.php
  src/Core/Framework/MessageQueue/ScheduledTask/ScheduledTaskEntity.php
  src/Core/Framework/MessageQueue/ScheduledTask/ScheduledTaskHandler.php
  tests/integration/Core/Checkout/Payment/DataAbstractionLayer/PaymentMethodIndexerTest.php
  tests/integration/Core/Content/Category/DataAbstractionLayer/CategoryIndexerTest.php
  tests/integration/Core/Content/ImportExport/Message/ImportExportHandlerTest.php
  tests/integration/Core/Content/ImportExport/ScheduledTask/CleanupImportExportFileTaskHandlerTest.php
  tests/integration/Core/Content/Media/Command/GenerateThumbnailsCommandTest.php
  tests/integration/Core/Content/Media/File/FileSaverTest.php
  tests/integration/Core/Content/Newsletter/DataAbstractionLayer/Indexing/CustomerNewsletterSalesChannelsUpdaterTest.php
  tests/integration/Core/Content/Product/DataAbstractionLayer/ProductIndexerTest.php
  tests/integration/Core/Content/ProductExport/ScheduledTask/ProductExportGenerateTaskHandlerTest.php
  tests/integration/Core/Framework/Api/Controller/CacheControllerTest.php
  tests/integration/Core/Framework/Api/Controller/IndexingControllerTest.php
  tests/integration/Core/Framework/Cache/CacheClearerTest.php
  tests/integration/Core/Framework/MessageQueue/Api/ConsumeMessagesControllerTest.php
  tests/integration/Core/Framework/Plugin/PluginManagementServiceTest.php
  tests/integration/Elasticsearch/Product/CustomFieldUpdaterTest.php
  tests/integration/Storefront/Theme/ThemeTest.php
  tests/unit/Core/Framework/DependencyInjection/CompilerPass/DefaultTransportCompilerPassTest.php
  tests/unit/Core/Framework/MessageQueue/Middleware/RoutingOverwriteMiddlewareTest.php
Labels: Integration:phpunit

#6634 chore: remove deprecations in elasticsearch bundle
  UPGRADE-6.7.md
  src/Elasticsearch/Framework/AbstractElasticsearchDefinition.php
  src/Elasticsearch/Framework/Indexing/ElasticsearchIndexer.php
  src/Elasticsearch/Product/AbstractProductSearchQueryBuilder.php
  src/Elasticsearch/Product/ElasticsearchProductDefinition.php
  src/Elasticsearch/Product/ProductSearchQueryBuilder.php
  src/Elasticsearch/Resources/config/packages/elasticsearch.yaml
  src/Elasticsearch/TokenQueryBuilder.php
Labels: Bug, Core, Domain:Framework

#6623 chore: Remove deprecate in inventory package for FE part
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/build/vite-plugins/utils/index.ts
  src/Administration/Resources/app/administration/src/meta/position-identifiers.json
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-price-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-modal-variant-generation/sw-product-modal-variant-generation.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-configurator/sw-product-variants-configurator-selection/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-cross-selling/sw-product-detail-cross-selling.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-variants/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-variants/sw-product-detail-variants.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-number-range/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-product-feature-sets/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-search-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-seo/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-tag/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-units/index.js
  src/Storefront/Resources/app/storefront/src/plugin/listing/listing-pagination.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/listing/listing.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/listing/listing.plugin.test.js
Labels: Status:In-Review, Domain:Inventory

#6491 perf: fix elasticsearch indexing performance for orders in administration
  changelog/_unreleased/2025-01-30-fix-order-elasticsearch-indexing-performance-for-administration.md
  src/Elasticsearch/Admin/Indexer/OrderAdminSearchIndexer.php
Labels: Domain:Inventory, backport-6.6.x

#5981 feat: Add `custom_field` `storeApiAware` field
  changelog/_unreleased/2025-01-02-add-custom-field-store-api-aware.md
  phpstan-baseline.neon
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-detail/sw-custom-field-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/snippet/en-GB.json
  src/Core/Migration/V6_6/Migration1735807464AddCustomFieldStoreApiAware.php
  src/Core/System/CustomField/CustomFieldDefinition.php
  src/Core/System/CustomField/CustomFieldEntity.php
  src/Core/System/DependencyInjection/sales_channel.xml
  src/Core/System/SalesChannel/Api/StructEncoder.php
  src/Core/System/SalesChannel/SalesChannelException.php
  tests/migration/Core/V6_6/Migration1735807464AddCustomFieldStoreApiAwareTest.php
  tests/unit/Core/System/SalesChannel/Api/StructEncoderTest.php
Labels: Administration, Core, Domain:Framework

#6646 chore!: NEXT-40590 - Fix discovery deprecations (Category, CMS, LandingPage)
  phpstan-baseline.neon
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-list-item/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-list-item/sw-cms-list-item.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-section/sw-cms-section-actions/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-sidebar/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/component/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/config/sw-cms-el-config-product-slider.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-list/index.js
  src/Core/Content/Category/Aggregate/CategoryTranslation/CategoryTranslationEntity.php
  src/Core/Content/Category/CategoryEntity.php
  src/Core/Content/Category/Event/CategoryIndexerEvent.php
  src/Core/Content/Category/Event/NavigationLoadedEvent.php
  src/Core/Content/Category/SalesChannel/CachedCategoryRoute.php
  src/Core/Content/Category/SalesChannel/CachedNavigationRoute.php
  src/Core/Content/Category/Tree/Tree.php
  src/Core/Content/Category/Tree/TreeItem.php
  src/Core/Content/Cms/Aggregate/CmsBlock/CmsBlockEntity.php
  src/Core/Content/Cms/Aggregate/CmsPageTranslation/CmsPageTranslationEntity.php
  src/Core/Content/Cms/Aggregate/CmsSection/CmsSectionEntity.php
  src/Core/Content/Cms/Aggregate/CmsSlot/CmsSlotEntity.php
  src/Core/Content/Cms/Aggregate/CmsSlotTranslation/CmsSlotTranslationEntity.php
  src/Core/Content/Cms/CmsException.php
  src/Core/Content/Cms/CmsPageEntity.php
  src/Core/Content/Cms/DataResolver/FieldConfig.php
  src/Core/Content/Cms/Events/CmsPageLoadedEvent.php
  src/Core/Content/Cms/Events/CmsPageLoaderCriteriaEvent.php
  src/Core/Content/Cms/SalesChannel/Struct/BuyBoxStruct.php
  src/Core/Content/Cms/SalesChannel/Struct/CrossSellingStruct.php
  src/Core/Content/Cms/SalesChannel/Struct/ImageSliderItemStruct.php
  src/Core/Content/Cms/SalesChannel/Struct/ImageSliderStruct.php
  src/Core/Content/Cms/SalesChannel/Struct/ImageStruct.php
  src/Core/Content/Cms/SalesChannel/Struct/ManufacturerLogoStruct.php
  src/Core/Content/Cms/SalesChannel/Struct/ProductBoxStruct.php
  src/Core/Content/Cms/SalesChannel/Struct/ProductDescriptionReviewsStruct.php
  src/Core/Content/Cms/SalesChannel/Struct/ProductListingStruct.php
  src/Core/Content/Cms/SalesChannel/Struct/ProductSliderStruct.php
  src/Core/Content/Cms/SalesChannel/Struct/TextStruct.php
  src/Core/Content/DependencyInjection/category.xml
  src/Core/Content/DependencyInjection/landing_page.xml
  src/Core/Content/LandingPage/Aggregate/LandingPageTranslation/LandingPageTranslationEntity.php
  src/Core/Content/LandingPage/Event/LandingPageIndexerEvent.php
  src/Core/Content/LandingPage/Exception/LandingPageNotFoundException.php
  src/Core/Content/LandingPage/LandingPageEntity.php
  src/Core/Content/LandingPage/SalesChannel/CachedLandingPageRoute.php
  src/Core/Content/Product/Cms/ProductListingCmsElementResolver.php
  src/Core/Content/Product/Cms/ProductSliderCmsElementResolver.php
  src/Core/Framework/Adapter/Cache/CacheInvalidationSubscriber.php
  src/Core/Framework/DataAbstractionLayer/TranslationEntity.php
  src/Storefront/Page/LandingPage/LandingPageLoadedEvent.php
  tests/integration/Core/Content/Category/SalesChannel/CachedCategoryRouteTest.php
  tests/integration/Core/Content/Category/SalesChannel/CachedNavigationRouteTest.php
  tests/unit/Core/Content/Category/SalesChannel/CachedCategoryRouteTest.php
  tests/unit/Core/Content/Category/SalesChannel/CachedNavigationRouteTest.php
  tests/unit/Core/Content/LandingPage/SalesChannel/CachedLandingPageRouteTest.php
  tests/unit/Core/Content/Product/Cms/ProductSliderCmsElementResolverTest.php
Labels: Domain:Discovery, skip-danger-phpstan-baseline

#6546 fix: Execute composer remove on plugin update if necessary
  phpstan-baseline.neon
  src/Core/Framework/Plugin/BundleConfigGenerator.php
  src/Core/Framework/Plugin/Exception/PluginBaseClassNotFoundException.php
  src/Core/Framework/Plugin/Exception/PluginComposerJsonInvalidException.php
  src/Core/Framework/Plugin/Exception/PluginHasActiveDependantsException.php
  src/Core/Framework/Plugin/Exception/PluginNotActivatedException.php
  src/Core/Framework/Plugin/Exception/PluginNotInstalledException.php
  src/Core/Framework/Plugin/PluginException.php
  src/Core/Framework/Plugin/PluginLifecycleService.php
  src/Core/Framework/Plugin/Requirement/RequirementsValidator.php
  tests/unit/Core/Framework/Plugin/BundleConfigGeneratorTest.php
  tests/unit/Core/Framework/Plugin/PluginExceptionTest.php
  tests/unit/Core/Framework/Plugin/PluginLifecycleServiceTest.php
Labels: Domain:Framework, Integration:phpunit, backport-6.6.x

#6632 chore: Disable meteor components
  src/Administration/Resources/app/administration/src/app/asyncComponent/form/sw-datepicker/index.ts
  src/Administration/Resources/app/administration/src/app/asyncComponent/form/sw-datepicker/sw-datepicker.spec.js
  src/Administration/Resources/app/administration/src/app/component/base/sw-alert/index.ts
  src/Administration/Resources/app/administration/src/app/component/base/sw-alert/sw-alert.spec.js
  src/Administration/Resources/app/administration/src/app/component/base/sw-button/index.js
  src/Administration/Resources/app/administration/src/app/component/base/sw-button/sw-button.spec.js
  src/Administration/Resources/app/administration/src/app/component/base/sw-card/index.ts
  src/Administration/Resources/app/administration/src/app/component/base/sw-card/sw-card.spec.js
  src/Administration/Resources/app/administration/src/app/component/base/sw-icon/index.js
  src/Administration/Resources/app/administration/src/app/component/base/sw-tabs/index.ts
  src/Administration/Resources/app/administration/src/app/component/base/sw-tabs/sw-tabs.spec.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-checkbox-field/index.ts
  src/Administration/Resources/app/administration/src/app/component/form/sw-checkbox-field/sw-checkbox-field.spec.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-colorpicker/index.ts
  src/Administration/Resources/app/administration/src/app/component/form/sw-colorpicker/sw-colorpicker.spec.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-email-field/index.ts
  src/Administration/Resources/app/administration/src/app/component/form/sw-email-field/sw-email-field.spec.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-number-field/index.ts
  src/Administration/Resources/app/administration/src/app/component/form/sw-number-field/sw-number-field.spec.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-password-field/index.ts
  src/Administration/Resources/app/administration/src/app/component/form/sw-password-field/sw-password-field.spec.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-select-field/index.ts
  src/Administration/Resources/app/administration/src/app/component/form/sw-select-field/sw-select-field.spec.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-switch-field/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-switch-field/sw-switch-field.spec.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-field/index.ts
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-field/sw-text-field.spec.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-textarea-field/index.ts
  src/Administration/Resources/app/administration/src/app/component/form/sw-textarea-field/sw-textarea-field.spec.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-url-field/index.ts
  src/Administration/Resources/app/administration/src/app/component/form/sw-url-field/sw-url-field.spec.js
  src/Administration/Resources/app/administration/src/app/component/utils/sw-external-link/index.ts
  src/Administration/Resources/app/administration/src/app/component/utils/sw-external-link/sw-external-link.spec.js
  src/Administration/Resources/app/administration/src/app/component/utils/sw-loader/index.js
  src/Administration/Resources/app/administration/src/app/component/utils/sw-loader/sw-loader.spec.js
  src/Administration/Resources/app/administration/src/app/component/utils/sw-popover/index.ts
  src/Administration/Resources/app/administration/src/app/component/utils/sw-popover/sw-popover.spec.js
  src/Administration/Resources/app/administration/src/app/component/utils/sw-skeleton-bar/index.ts
  src/Administration/Resources/app/administration/src/app/component/utils/sw-skeleton-bar/sw-skeleton-bar.spec.js
  src/Core/Framework/Resources/config/packages/feature.yaml
  tests/acceptance/tests/Product/ProductBulkEdit.spec.ts
  tests/acceptance/tests/Settings/CustomerGroupRegistration.spec.ts
  tests/acceptance/tests/Settings/RuleAssignmentsEntities.spec.ts
  tests/acceptance/tests/Settings/RunFirstRunWizard.spec.ts
Labels: Administration, Domain:Framework

#6513 fix: Ensure the right composer is used for detecting the required 'composer/composer' version
  .danger.php
  phpstan-baseline.neon
  src/Core/DevOps/StaticAnalyze/PHPStan/composer.json
  src/Core/Framework/Plugin/Composer/CommandExecutor.php
  src/Core/Framework/Plugin/Exception/PluginComposerRemoveException.php
  src/Core/Framework/Plugin/Exception/PluginComposerRequireException.php
  src/Core/Framework/Plugin/Exception/PluginNotFoundException.php
  src/Core/Framework/Plugin/PluginException.php
  src/Core/Framework/Plugin/PluginService.php
  src/Core/Framework/Test/Plugin/PluginIntegrationTestBehaviour.php
  src/Core/Framework/Test/Plugin/PluginTestsHelper.php
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestExecuteComposerCommands/composer.json
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestExecuteComposerCommands/src/SwagTestExecuteComposerCommands.php
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/composer.json
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/composer.lock
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/src/SwagTestShipsVendorDirectory.php
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/vendor/autoload.php
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/vendor/composer/ClassLoader.php
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/vendor/composer/InstalledVersions.php
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/vendor/composer/LICENSE
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/vendor/composer/autoload_classmap.php
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/vendor/composer/autoload_namespaces.php
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/vendor/composer/autoload_psr4.php
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/vendor/composer/autoload_real.php
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/vendor/composer/autoload_static.php
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/vendor/composer/installed.json
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/vendor/composer/installed.php
  tests/integration/Core/Framework/Plugin/KernelPluginLoader/ComposerPluginLoaderTest.php
  tests/integration/Core/Framework/Plugin/PluginLifecycleServiceTest.php
  tests/unit/Core/Framework/Plugin/PluginExceptionTest.php
  tests/unit/Core/Framework/Plugin/PluginServiceTest.php
Labels: Domain:Framework, Integration:phpunit, backport-6.6.x

#6508 fix: fixed issue where promotion code doesn't mark as redeemed in promotions table
  src/Core/Checkout/Cart/Order/RecalculationService.php
  src/Core/Checkout/DependencyInjection/order.xml
  src/Core/Checkout/DependencyInjection/promotion.xml
  src/Core/Checkout/Promotion/DataAbstractionLayer/PromotionRedemptionUpdater.php
  src/Core/Checkout/Promotion/PromotionException.php
  src/Core/Checkout/Promotion/Subscriber/PromotionIndividualCodeRedeemer.php
  tests/integration/Core/Checkout/Cart/Order/RecalculationServiceTest.php
  tests/integration/Core/Checkout/Promotion/DataAbstractionLayer/PromotionRedemptionUpdaterTest.php
  tests/unit/Core/Checkout/Cart/Order/RecalculationServiceTest.php
  tests/unit/Core/Checkout/Promotion/Subscriber/PromotionIndividualCodeRedeemerTest.php
Labels: Domain:Checkout, backport-6.6.x

#6584 ci: Add integration test labels
  .github/workflows/integration.yml
Labels: Integration:acceptance, Integration:phpunit, backport-6.6.x

#6699 Put servicemenu addtion to the right place
  UPGRADE-6.7.md
Labels: Domain:Framework

#6727 test: delete flaky test
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestExecuteComposerCommands/composer.json
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestExecuteComposerCommands/src/SwagTestExecuteComposerCommands.php
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/composer.json
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/composer.lock
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/src/SwagTestShipsVendorDirectory.php
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/vendor/autoload.php
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/vendor/composer/ClassLoader.php
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/vendor/composer/InstalledVersions.php
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/vendor/composer/LICENSE
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/vendor/composer/autoload_classmap.php
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/vendor/composer/autoload_namespaces.php
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/vendor/composer/autoload_psr4.php
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/vendor/composer/autoload_real.php
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/vendor/composer/autoload_static.php
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/vendor/composer/installed.json
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/vendor/composer/installed.php
  tests/integration/Core/Framework/Plugin/PluginLifecycleServiceTest.php
Labels: Core, Domain:Framework, Integration:phpunit

#6690 fix: added missing driver parameter to db connection initialization in SystemSetupCommand
  src/Core/Maintenance/System/Command/SystemSetupCommand.php
Labels: Domain:Framework

#6694 chore: Remove language switch from settings > documents
  changelog/_unreleased/2025-02-11-remove-laguage-switch-from-document-settings.md
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-list/sw-settings-document-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-list/sw-settings-document-list.spec.js
Labels: Domain:CRM & After Sales

#5847 fix: Product Slider Refactoring
  changelog/_unreleased/2025-02-06-product-slider-refactoring.md
  src/Core/Content/Cms/DataResolver/CmsSlotsDataResolver.php
  src/Core/Content/Cms/DataResolver/Element/AbstractCmsElementResolver.php
  src/Core/Content/DependencyInjection/product.xml
  src/Core/Content/Product/Cms/ProductSlider/AbstractProductSliderProcessor.php
  src/Core/Content/Product/Cms/ProductSlider/ProductStreamProcessor.php
  src/Core/Content/Product/Cms/ProductSlider/StaticProductProcessor.php
  src/Core/Content/Product/Cms/ProductSliderCmsElementResolver.php
  tests/integration/Core/Content/Cms/DataResolver/CmsSlotsDataResolverTest.php
  tests/unit/Core/Content/Cms/DataResolver/Element/AbstractCmsElementResolverTest.php
  tests/unit/Core/Content/Cms/DataResolver/Element/Fixtures/TestCmsElementResolver.php
  tests/unit/Core/Content/Product/Cms/ProductSlider/AbstractProductSliderProcessorTest.php
  tests/unit/Core/Content/Product/Cms/ProductSlider/ProductSliderUnitTrait.php
  tests/unit/Core/Content/Product/Cms/ProductSlider/ProductStreamProcessorTest.php
  tests/unit/Core/Content/Product/Cms/ProductSlider/StaticProductProcessorTest.php
  tests/unit/Core/Content/Product/Cms/ProductSliderCmsElementResolverTest.php
Labels: Domain:Discovery

#6667 fix: Double submit issue of CMS form handler (#6645)
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-cms-handler.plugin.js
Labels: Storefront, Domain:Framework

#4980 feat: add Twig functions and tokens with inheritance alternatives
  .bc-exclude.php
  UPGRADE-6.7.md
  changelog/_unreleased/2024-10-04-add-twig-functions-and-tokens-with-their-alternatives-with-inheritance.md
  src/Core/Framework/Adapter/AdapterException.php
  src/Core/Framework/Adapter/Twig/Extension/NodeExtension.php
  src/Core/Framework/Adapter/Twig/Extension/TwigFeaturesWithInheritanceExtension.php
  src/Core/Framework/Adapter/Twig/Node/MacroOverrideNode.php
  src/Core/Framework/Adapter/Twig/Node/SwBlockReferenceExpression.php
  src/Core/Framework/Adapter/Twig/Node/SwInclude.php
  src/Core/Framework/Adapter/Twig/TokenParser/EmbedTokenParser.php
  src/Core/Framework/Adapter/Twig/TokenParser/ExtendsTokenParser.php
  src/Core/Framework/Adapter/Twig/TokenParser/FromTokenParser.php
  src/Core/Framework/Adapter/Twig/TokenParser/ImportTokenParser.php
  src/Core/Framework/Adapter/Twig/TokenParser/IncludeTokenParser.php
  src/Core/Framework/Adapter/Twig/TokenParser/MacroOverrideTokenParserMacro.php
  src/Core/Framework/Adapter/Twig/TokenParser/ReturnNodeTokenParser.php
  src/Core/Framework/Adapter/Twig/TokenParser/SwMacroFunctionTokenParser.php
  src/Core/Framework/Adapter/Twig/TokenParser/UseTokenParser.php
  src/Core/Framework/DependencyInjection/seo.xml
  src/Storefront/Resources/views/storefront/block/cms-block-app-renderer.html.twig
  src/Storefront/Resources/views/storefront/component/product/card/box-wishlist.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/_page.html.twig
  tests/unit/Core/Framework/Adapter/Twig/Extension/TwigFeaturesWithInheritanceExtensionTest.php
  tests/unit/Core/Framework/Adapter/Twig/Node/SwBlockReferenceExpressionTest.php
  tests/unit/Core/Framework/Adapter/Twig/TokenParser/EmbedTokenParserTest.php
  tests/unit/Core/Framework/Adapter/Twig/TokenParser/FromTokenParserTest.php
  tests/unit/Core/Framework/Adapter/Twig/TokenParser/ImportTokenParserTest.php
  tests/unit/Core/Framework/Adapter/Twig/TokenParser/UseTokenParserTest.php
Labels: Scheduled, Storefront, Domain:Framework

#6706 fix: bump acceptance test suite minor version to 11.6.1
  tests/acceptance/package-lock.json
Labels: backport-6.6.x

#6665 chore!: more framework deprecations
  src/Core/Framework/Context.php
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/Validation/EntityNotExists.php
  src/Core/Framework/DependencyInjection/plugin.xml
  src/Core/Framework/FrameworkException.php
  src/Core/Framework/Plugin/PluginLifecycleService.php
  src/Core/Framework/Resources/views/documents/delivery_note.html.twig
  src/Core/Framework/Resources/views/documents/includes/letter_header.html.twig
  src/Core/Framework/Routing/RoutingException.php
  src/Core/Framework/Routing/SalesChannelRequestContextResolver.php
  src/Core/Framework/Rule/Container/DaysSinceRule.php
  src/Core/Framework/Rule/Container/MatchAllLineItemsRule.php
  src/Core/Framework/Rule/CustomFieldRule.php
  src/Core/Framework/Rule/DateRangeRule.php
  src/Core/Framework/Rule/SalesChannelRule.php
  src/Core/Framework/Rule/ScriptRule.php
  src/Core/Framework/Rule/SimpleRule.php
  src/Core/Framework/Rule/TimeRangeRule.php
  src/Core/Framework/Rule/WeekdayRule.php
  src/Core/Framework/Script/Api/ScriptStoreApiRoute.php
  src/Core/Framework/Script/Exception/HookInjectionException.php
  src/Core/Framework/Script/Execution/ScriptExecutor.php
  src/Core/System/SalesChannel/Exception/ContextPermissionsLockedException.php
  src/Core/System/SalesChannel/Exception/ContextRulesLockedException.php
  src/Core/System/SalesChannel/SalesChannelException.php
  tests/integration/Core/Framework/Changelog/ChangelogTestBehaviour.php
  tests/integration/Core/Framework/Demodata/PersonalData/CleanPersonalDataCommandTest.php
  tests/integration/Core/Framework/KernelTest.php
  tests/integration/Core/Framework/Plugin/KernelPluginIntegrationTest.php
  tests/integration/Core/Framework/Plugin/PluginLifecycleServiceMigrationTest.php
  tests/integration/Core/Framework/Plugin/PluginLifecycleServiceTest.php
  tests/integration/Core/Framework/Routing/CoreSubscriberTest.php
  tests/integration/Core/Framework/Routing/SalesChannelRequestContextResolverTest.php
  tests/integration/Core/Framework/Webhook/Service/WebhookManagerTest.php
  tests/unit/Core/Framework/App/Lifecycle/AppLoaderTest.php
  tests/unit/Core/Framework/DependencyInjection/CompilerPass/MessengerMiddlewareCompilerPassTest.php
  tests/unit/Core/Framework/Event/EventData/EntityTypeTest.php
  tests/unit/Core/Framework/FrameworkExceptionTest.php
  tests/unit/Core/Framework/Plugin/PluginLifecycleServiceTest.php
  tests/unit/Core/Framework/Routing/RoutingExceptionTest.php
Labels: skip-danger-phpstan-baseline

#5781 perf: optimize product export performance by optimizing seo url replace
  changelog/_unreleased/2024-12-07-improve-product-export-performance-by-reducing-seo-url-replacement-calls.md
  src/Core/Content/DependencyInjection/product_export.xml
  src/Core/Content/ProductExport/Service/ProductExportGenerator.php
  src/Core/Content/ProductExport/Service/ProductExportRenderer.php
  tests/unit/Core/Content/ProductExport/Service/ProductExportRendererTest.php
Labels: Status:In-Review, Domain:Inventory

#6707 ci: use octo-sts for backport
  .github/workflows/backport.yml
Labels: backport-6.6.x

#5744 feat: isolate flow execution from business process
  adr/2025-01-31-move-flow-execution-after-business-process.md
  changelog/_unreleased/2025-01-31-move-flow-execution-after-business-process.md
  phpstan-baseline.neon
  src/Core/Content/DependencyInjection/flow.xml
  src/Core/Content/Flow/Dispatching/BufferedFlowExecutionTriggersListener.php
  src/Core/Content/Flow/Dispatching/BufferedFlowExecutor.php
  src/Core/Content/Flow/Dispatching/BufferedFlowQueue.php
  src/Core/Content/Flow/Dispatching/FlowDispatcher.php
  src/Core/Content/Flow/Dispatching/FlowExecutor.php
  src/Core/Content/Flow/Exception/ExecuteSequenceException.php
  src/Core/Framework/Resources/config/packages/feature.yaml
  tests/unit/Core/Content/Flow/Dispatching/BufferedFlowExecutionTriggersListenerTest.php
  tests/unit/Core/Content/Flow/Dispatching/BufferedFlowExecutorTest.php
  tests/unit/Core/Content/Flow/Dispatching/BufferedFlowQueueTest.php
  tests/unit/Core/Content/Flow/Dispatching/FlowDispatcherTest.php
  tests/unit/Core/Content/Flow/Dispatching/FlowExecutorTest.php
Labels: Domain:CRM & After Sales

#6650 feat: add vite port env
  src/Administration/Resources/app/administration/vite.config.mts
Labels: Administration, Domain:Framework

#6732 refactor: removed useless variable reassignment
  src/Core/Content/Media/Thumbnail/ThumbnailService.php
Labels: Domain:Discovery

#6724 fix: skip incompatible accessibility tests
  tests/acceptance/tests/Categories/NavigateThroughStorefrontMenu.spec.ts
  tests/acceptance/tests/Settings/BasicConsentBannerDeclineCookies.spec.ts
  tests/acceptance/tests/Settings/TaxFreeCartForCurrency.spec.ts
Labels: accessibility, Acceptance test, backport-6.6.x

#6668 chore!: Remove deprecate in inventory package for BE part
  phpstan-baseline.neon
  src/Core/Content/Product/Cart/ProductNotFoundError.php
  src/Core/Content/Product/Cart/ProductOutOfStockError.php
  src/Core/Content/Product/Events/ProductGatewayCriteriaEvent.php
  src/Core/Content/Product/Events/ProductListingCollectFilterEvent.php
  src/Core/Content/Product/ProductCollection.php
  src/Core/Content/Product/ProductEntity.php
  src/Core/Content/Seo/Hreflang/HreflangStruct.php
  src/Core/Content/Seo/HreflangLoaderParameter.php
  src/Core/Content/Seo/MainCategory/MainCategoryEntity.php
  src/Core/Content/Seo/SeoUrl/SeoUrlEntity.php
  src/Core/Content/Seo/SeoUrlTemplate/SeoUrlTemplateEntity.php
  src/Core/Content/Seo/SeoUrlTwigFactory.php
  src/Core/System/Unit/Aggregate/UnitTranslation/UnitTranslationEntity.php
Labels: Status:In-Review

#6637 feat: Add AllowEmptyString attribute support
  changelog/_unreleased/2025-02-06-add-allowEmptyString-attribute-support.md
  src/Core/Framework/DataAbstractionLayer/Attribute/AllowEmptyString.php
  src/Core/Framework/DataAbstractionLayer/AttributeEntityCompiler.php
  tests/integration/Core/Framework/DataAbstractionLayer/AttributeEntityIntegrationTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/AttributeEntity.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/schema.sql
Labels: Domain:Framework

#6748 fix: global needs-triage label
  .github/labeler.yml
Labels: needs-triage

#6755 fix: fixed agb link
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
Labels: Domain:Checkout, backport-6.6.x

#6425 feat(js-cleanup): Update polyfills and browser-support for v6.7.0
  UPGRADE-6.7.md
  changelog/_unreleased/2025-01-24-update-polyfills-and-cleanup-js.md
  src/Storefront/Resources/app/storefront/.browserslistrc
  src/Storefront/Resources/app/storefront/package-lock.json
  src/Storefront/Resources/app/storefront/package.json
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-auto-submit.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/listing/listing.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/variant-switch/variant-switch.plugin.js
  src/Storefront/Resources/app/storefront/src/utility/history/history.util.js
  src/Storefront/Resources/app/storefront/test/utility/history/history.util.test.js
Labels: Storefront, Domain:Framework

#6747 fix: updated ProductSearchTermInterpreter for better search ux
  changelog/_unreleased/2025-02-12-fix-the-number-slops-to-find-numbers-between-non-digits.md
  src/Core/Content/Product/SearchKeyword/ProductSearchTermInterpreter.php
  tests/integration/Core/Content/Product/SearchKeyword/ProductSearchTermInterpreterTest.php
Labels: Storefront, Domain:Framework

#6701 fix: target blank for top level links in new navbar
  src/Storefront/Resources/app/storefront/src/plugin/navbar/navbar.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/navbar/navbar.plugin.test.js
Labels: Storefront, Domain:Framework

#6688 fix: order delivery state machine name
  changelog/_unreleased/2025-02-10-fix-order-delivery-state-machine-name.md
  src/Core/Migration/Traits/ImportTranslationsTrait.php
  src/Core/Migration/V6_6/Migration1739198249FixOrderDeliveryStateMachineName.php
  tests/migration/Core/V6_6/Migration1739198249FixOrderDeliveryStateMachineNameTest.php
Labels: Domain:Checkout, backport-6.6.x

#6772 fix: Restore previous block name in configurator template
  src/Storefront/Resources/views/storefront/component/buy-widget/configurator.html.twig
Labels: Storefront, Domain:Framework

#6775 fix: Restore previous block name in configurator template
  src/Storefront/Resources/views/storefront/component/buy-widget/configurator.html.twig
Labels: Storefront, Domain:Framework

#6751 fix(pinia): SwCategoryDetail store initialization
  src/Administration/Resources/app/administration/src/module/sw-cms/mixin/sw-cms-element.mixin.ts
Labels: Domain:Framework

#5987 feat: Add AllowHtml attribute for entity properties
  changelog/_unreleased/2025-01-02-add-allow-html-entity-attribute.md
  src/Core/Framework/DataAbstractionLayer/Attribute/AllowHtml.php
  src/Core/Framework/DataAbstractionLayer/AttributeEntityCompiler.php
  tests/integration/Core/Framework/DataAbstractionLayer/AttributeEntityIntegrationTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/AttributeEntity.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/schema.sql
Labels: Domain:Framework

#6682 fix: handle non eligible fixed unit promotions
  src/Core/Checkout/Promotion/Cart/PromotionCalculator.php
  tests/integration/Core/Checkout/Promotion/Cart/PromotionCalculatorTest.php
Labels: Domain:Checkout

#6741 fix: updated VAT regex patterns to be correct
  src/Core/Migration/V6_6/Migration1739355802FixVatHandling.php
  tests/integration/Core/Checkout/Customer/Validation/Constraint/CustomerVatIdentificationValidatorTest.php
  tests/migration/Core/V6_6/Migration1739355802FixVatHandlingTest.php
Labels: Domain:Checkout, Integration:phpunit, backport-6.6.x, needs-triage

#6768 fix: unskip BulkEditCustomerInformation.spec.ts
  tests/acceptance/tests/BulkEdit/BulkEditCustomerInformation.spec.ts
Labels: Acceptance test, backport-6.6.x, needs-triage

#6718 chore: Use dev branch for conflicts package
  composer.json
Labels: Core, Product Ops, Domain:Framework, backport-6.6.10.0

#6776 fix: Restore previous block name in configurator template
  src/Storefront/Resources/views/storefront/component/buy-widget/configurator.html.twig
Labels: Storefront, Domain:Framework

#6780 fix: Fix field visibility and add test
  src/Core/Framework/Adapter/Twig/SwTwigFunction.php
  tests/integration/Core/Framework/Adapter/Twig/TwigFieldVisibilityTest.php
  tests/integration/Core/Framework/Adapter/Twig/fixtures/FieldVisibilityCases/repository-access.twig
Labels: Core, Domain:Framework

#6736 fix: unskip TaxFreeCartForCurrency.spec.ts
  tests/acceptance/tests/Settings/TaxFreeCartForCurrency.spec.ts
Labels: accessibility, Acceptance test, backport-6.6.x

#6758 fix: sw-tree focusing the wrong item on focusin handler
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree/index.js
Labels: Administration, Domain:Framework

#6505 test: acceptance test to validate the captcha functionality on contact form
  tests/acceptance/tests/Forms/ValidateCaptchaInContactForm.spec.ts
Labels: Acceptance test, backport-6.6.x

#6594 test: acceptance test to validate listing price visibility on variants
  tests/acceptance/tests/Product/VariantProductListingPriceVisibility.spec.ts
Labels: Acceptance test, backport-6.6.x

#6663 test: add acceptance test validation to contact form
  tests/acceptance/tests/Forms/ValidateContactFormStorefront.spec.ts
Labels: Acceptance test, backport-6.6.x

#6687 test: Refactor acceptance test to use getListingItemByName
  tests/acceptance/tests/SalesChannels/StorefrontCurrencies.spec.ts
  tests/acceptance/tests/Settings/BasicConsentBannerDeclineCookies.spec.ts
  tests/acceptance/tests/Settings/CurrencyRoundingByCountry.spec.ts
Labels: Acceptance test, backport-6.6.x

#6783 fix: sw-tree focusing the wrong item on focusin handler
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree/index.js
Labels: Administration, Domain:Framework, backport-6.6.x

#6808 chore(ci): enable repo split for protected branches
  .github/bin/check_workflow.bash
  .github/bin/compile_deployment_info.sh
  .github/bin/create_github_release.bash
  .github/bin/sbp_release.bash
  .github/bin/split.bash
  .github/workflows/05-prepare-release.yml
Labels: backport-6.6.x, needs-triage

#5964 fix: Removed the total count mode when selecting products during orde…
  changelog/_unreleased/2024-12-26-removed-the-total-count-mode-when-selecting-products-during-order-creation-in-the-administration.md
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-product-select/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-product-select/sw-order-product-select.spec.js
Labels: Domain:Checkout

#6742 chore: remove! implementations of EntityExtension::getDefinitionClass
  src/Administration/Notification/Extension/IntegrationExtension.php
  src/Administration/Notification/Extension/UserExtension.php
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/EntityExtension.php
  src/Core/Framework/DataAbstractionLayer/ExtensionRegistry.php
  src/Core/Framework/DataAbstractionLayer/FilteredBulkEntityExtension.php
  src/Core/Framework/Test/DataAbstractionLayer/EntityProtection/_fixtures/PluginProtectionExtension.php
  src/Core/Framework/Test/DataAbstractionLayer/EntityProtection/_fixtures/SystemConfigExtension.php
  src/Core/Framework/Test/DataAbstractionLayer/EntityProtection/_fixtures/UserAccessKeyExtension.php
  src/Core/Framework/Test/DataAbstractionLayer/Field/DataAbstractionLayerFieldTestBehaviour.php
  src/Core/Framework/Test/DataAbstractionLayer/Field/TestDefinition/AssociationExtension.php
  src/Core/Framework/Test/DataAbstractionLayer/Field/TestDefinition/FkFieldExtension.php
  src/Core/Framework/Test/DataAbstractionLayer/Field/TestDefinition/InvalidReferenceExtension.php
  src/Core/Framework/Test/DataAbstractionLayer/Field/TestDefinition/OneToOneInheritedProductExtension.php
  src/Core/Framework/Test/DataAbstractionLayer/Field/TestDefinition/ProductExtension.php
  src/Core/Framework/Test/DataAbstractionLayer/Field/TestDefinition/ProductExtensionSelfReferenced.php
  src/Core/Framework/Test/DataAbstractionLayer/Field/TestDefinition/ProductManufacturerExtension.php
  src/Core/Framework/Test/DataAbstractionLayer/Field/TestDefinition/ReferenceVersionExtension.php
  src/Core/Framework/Test/DataAbstractionLayer/Field/TestDefinition/ScalarExtension.php
  src/Core/Framework/Test/DataAbstractionLayer/Field/TestDefinition/ScalarRuntimeExtension.php
  src/Core/Framework/Test/DataAbstractionLayer/Field/TestDefinition/ToOneProductExtension.php
  src/Storefront/Theme/Extension/LanguageExtension.php
  src/Storefront/Theme/Extension/MediaExtension.php
  src/Storefront/Theme/Extension/SalesChannelExtension.php
  tests/integration/Core/Content/ImportExport/DataAbstractionLayer/Serializer/Entity/EntitySerializerTest.php
  tests/unit/Core/System/DependencyInjection/CompilerPass/SalesChannelEntityCompilerPassTest.php
Labels: skip-danger-phpstan-baseline, Integration:acceptance, Integration:phpunit

#6558 chore: postponed TELEMETRY_METRICS stable version to 6.8
  changelog/_unreleased/2025-02-14-postpone-telemetry_metrics-stable-version-to-6-8.md
  src/Core/Framework/Telemetry/Metrics/Factory/MetricTransportFactoryInterface.php
  src/Core/Framework/Telemetry/Metrics/Meter.php
  src/Core/Framework/Telemetry/Metrics/Metric/ConfiguredMetric.php
  src/Core/Framework/Telemetry/Metrics/Metric/Metric.php
  src/Core/Framework/Telemetry/Metrics/MetricTransportInterface.php
  src/Core/Framework/Telemetry/TelemetryException.php
Labels: Domain:Framework

#6802 refactor: Update AclValidPermissionsHelper behavior
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/AclValidPermissionsHelper.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/AclValidPermissionsInMethodRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/AclValidPermissionsInRouteAttributesRule.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/AclValidPermissionsHelperTest.php
Labels: Domain:Framework, Integration:phpunit

#6708 chore: unskip ProductSearch ats
  tests/acceptance/tests/Search/ProductSearch.spec.ts
Labels: Status:In-Review, Domain:Inventory

#6830 fix: disallow 9.2.0 oauth-server to fix auth
  composer.json
  src/Core/composer.json
Labels: Integration:acceptance, Integration:phpunit, needs-triage

#6806 fix: Remove root navigation category ID from path list
  src/Storefront/Framework/Twig/TemplateDataExtension.php
  tests/unit/Core/Framework/Adapter/Twig/Extension/TemplateDataExtensionTest.php
Labels: component/core, Domain:Framework

#6798 chore: fix devenv process manager deprecation
  devenv.nix
Labels: component/core, Domain:Framework

#6716 feat!: Change default margin of CMS blocks
  changelog/_unreleased/2025-02-10-change-cms-block-default-margin.md
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/commerce/cross-selling/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/commerce/gallery-buybox/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/commerce/product-description-reviews/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/commerce/product-heading/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/commerce/product-listing/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/commerce/product-slider/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/commerce/product-three-column/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/form/form/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/html/html/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/image/image-bubble-row/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/image/image-four-column/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/image/image-gallery/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/image/image-highlight-row/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/image/image-simple-grid/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/image/image-slider/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/image/image-three-column/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/image/image-two-column/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/image/image/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/sidebar/category-navigation/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/sidebar/sidebar-filter/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/text-image/center-text/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/text-image/image-text-bubble/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/text-image/image-text-gallery/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/text-image/image-text-row/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/text-image/image-text/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/text-image/text-on-image/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/text/text-hero/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/text/text-teaser-section/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/text/text-teaser/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/text/text-three-column/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/text/text-two-column/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/text/text/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/video/vimeo-video/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/video/youtube-video/index.ts
  src/Core/Migration/V6_7/Migration1739197440ChangeCmsBlockDefaultMargin.php
  src/Storefront/Resources/app/storefront/src/scss/component/_cms-sections.scss
  src/Storefront/Resources/views/storefront/section/cms-section-sidebar.html.twig
  tests/migration/Core/V6_7/Migration1739197440ChangeCmsBlockDefaultMarginTest.php
Labels: component/storefront, Domain:Framework

#6782 docs: Add deprecation notice for using redis for varnish tagging
  UPGRADE-6.7.md
Labels: component/core, Domain:Framework

#6756 feat: ask for save order before proceeding
  changelog/_unreleased/2025-02-12-ask-for-save-order-before-proceeding.md
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-details-state-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-details-state-card/sw-order-details-state-card.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-general-info/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-save-changes-beforehand-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-save-changes-beforehand-modal/sw-order-save-changes-beforehand-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-save-changes-beforehand-modal/sw-order-save-changes-beforehand-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-card/sw-order-state-history-card.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/sw-order-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/sw-order-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/en-GB.json
Labels: Domain:Checkout, backport-6.6.x

#6810 fix: Fix field visibility and add test (#6780)
  tests/integration/Core/Framework/Adapter/Twig/TwigFieldVisibilityTest.php
  tests/integration/Core/Framework/Adapter/Twig/fixtures/FieldVisibilityCases/repository-access.twig
Labels: component/core, Domain:Framework

#6719 feat: restore customer address from order for context
  changelog/_unreleased/2025-02-11-restore-customer-address-from-order-for-context.md
  src/Core/Checkout/Cart/Order/OrderConverter.php
  src/Core/Checkout/Customer/Aggregate/CustomerAddress/CustomerAddressDefinition.php
  src/Core/Checkout/Customer/Aggregate/CustomerAddress/CustomerAddressEntity.php
  src/Core/Checkout/Customer/CustomerDefinition.php
  src/Core/Checkout/Customer/Subscriber/AddressHashSubscriber.php
  src/Core/Checkout/DependencyInjection/customer.xml
  src/Core/Checkout/Order/Aggregate/OrderAddress/OrderAddressDefinition.php
  src/Core/Checkout/Order/Aggregate/OrderAddress/OrderAddressEntity.php
  tests/integration/Core/Checkout/Customer/SalesChannel/UpsertAddressRouteTest.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
  tests/unit/Core/Checkout/Cart/Order/OrderConverterTest.php
  tests/unit/Core/Checkout/Customer/Subscriber/AddressHashSubscriberTest.php
Labels: Domain:Checkout, backport-6.6.x

#6816 fix: adjust contact form tests regarding 6.6 compat
  tests/acceptance/package-lock.json
  tests/acceptance/tests/Forms/ValidateCaptchaInContactForm.spec.ts
  tests/acceptance/tests/Forms/ValidateContactFormStorefront.spec.ts
Labels: testing/acceptance, backport-6.6.x

#6796 ci: execute all jobs for PR event
  .github/workflows/downstream.yml
  .github/workflows/integration.yml
Labels: Product Ops, backport-6.6.x

#6730 chore: move db session config to MySQLFactory
  UPGRADE-6.7.md
  changelog/_unreleased/2025-02-13-removed-sql_set_default_session_variables-and-enforce-mysql-performance-tweaks.md
  devenv.nix
  src/Core/Framework/Adapter/Database/MySQLFactory.php
  src/Core/Kernel.php
Labels: component/core, Domain:Framework

#6757 fix(accessibility): do not show skip to content when clicking scroll up button
  changelog/_unreleased/2025-02-12-dont-show-skip-to-content-when-clicking-scroll-up-button.md
  src/Storefront/Resources/app/storefront/src/plugin/scroll-up/scroll-up.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/scroll-up/scroll-up.plugin.test.js
  src/Storefront/Resources/views/storefront/component/skip-to-content.html.twig
Labels: component/storefront, area/accessibility, Domain:Framework, backport-6.6.10.0

#6804 chore(bootstrap): update bootstrap to latest version 5.3.3
  changelog/_unreleased/2025-02-14-update-bootstrap-to-5-3-3.md
  src/Storefront/Resources/app/storefront/package-lock.json
  src/Storefront/Resources/app/storefront/package.json
Labels: component/storefront, Domain:Framework

#6828 fix: make product price 6.6.x with and w/o a11y compatible in test
  tests/acceptance/tests/Settings/TaxFreeCartForCurrency.spec.ts
Labels: testing/acceptance, backport-6.6.x, needs-triage

#6703 test: wishlist disabled checks
  tests/acceptance/tests/Settings/Wishlist/WishlistDisabled.spec.ts
Labels: testing/acceptance, backport-6.6.x

#6857 ci: switch back to pull_request event
  .github/workflows/downstream.yml
Labels: Product Ops, backport-6.6.x

#6847 feat: enable ios ar quick look for chrome
  changelog/_unreleased/2025-02-17-ios-quick-look-chrome.md
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/ar/arSupportChecker.ts
  src/Storefront/Resources/app/storefront/test/plugin/spatial/utils/ar/arSupportChecker.test.js
Labels: Status:In-Review

#6835 fix: compatibility with league/oauth2-server 9.2 by setting confident…
  .bc-exclude.php
  changelog/_unreleased/2025-02-17-api-client-confidential-flag.md
  composer.json
  src/Core/Framework/Api/OAuth/Client/ApiClient.php
  src/Core/Framework/Api/OAuth/ClientRepository.php
  src/Core/composer.json
  tests/unit/Core/Framework/Api/OAuth/AccessTokenTest.php
  tests/unit/Core/Framework/Api/OAuth/ClientRepositoryTest.php
Labels: component/core, Domain:Framework, Integration:acceptance, Integration:phpunit

#6686 chore!: NEXT-40590 - Fix discovery deprecations 2 (Media, CMS Storefront, SalesChannel)
  changelog/_unreleased/2025-02-12-deprecated-incorrect-non-nullable-return-types-to-align-with-nullable-properties.md
  phpstan-baseline.neon
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-list/index.js
  src/Core/Content/Media/Aggregate/MediaDefaultFolder/MediaDefaultFolderEntity.php
  src/Core/Content/Media/Aggregate/MediaFolder/MediaFolderEntity.php
  src/Core/Content/Media/Aggregate/MediaFolderConfiguration/MediaFolderConfigurationEntity.php
  src/Core/Content/Media/Aggregate/MediaThumbnail/MediaThumbnailEntity.php
  src/Core/Content/Media/Aggregate/MediaThumbnailSize/MediaThumbnailSizeEntity.php
  src/Core/Content/Media/Aggregate/MediaTranslation/MediaTranslationEntity.php
  src/Core/Content/Media/Cms/Type/ImageSliderTypeDataResolver.php
  src/Core/Content/Media/File/DownloadResponseGenerator.php
  src/Core/Content/Media/MediaEntity.php
  src/Core/Content/Media/MediaType/AudioType.php
  src/Core/Content/Media/MediaType/BinaryType.php
  src/Core/Content/Media/MediaType/DocumentType.php
  src/Core/Content/Media/MediaType/ImageType.php
  src/Core/Content/Media/MediaType/MediaType.php
  src/Core/Content/Media/MediaType/SpatialObjectType.php
  src/Core/Content/Media/MediaType/VideoType.php
  src/Core/Content/Media/Message/UpdateThumbnailsMessage.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelAnalytics/SalesChannelAnalyticsEntity.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelDomain/SalesChannelDomainEntity.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelTranslation/SalesChannelTranslationEntity.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelType/SalesChannelTypeEntity.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelTypeTranslation/SalesChannelTypeTranslationEntity.php
  src/Core/System/SalesChannel/Api/ResponseFields.php
  src/Core/System/SalesChannel/Context/SalesChannelContextServiceParameters.php
  src/Core/System/SalesChannel/Event/SalesChannelContextPermissionsChangedEvent.php
  src/Core/System/SalesChannel/Event/SalesChannelContextTokenChangeEvent.php
  src/Core/System/SalesChannel/SalesChannelEntity.php
  src/Storefront/Framework/Media/Exception/FileTypeNotAllowedException.php
  src/Storefront/Framework/StorefrontFrameworkException.php
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-components/cms-element-form-input.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-components/cms-element-form-privacy.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-components/cms-element-form-select-salutation.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-components/cms-element-form-textarea.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-types/contact-form.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-types/newsletter-form.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-product-slider.html.twig
  tests/integration/Core/Content/Media/DataAbstractionLayer/MediaRepositoryTest.php
  tests/integration/Core/Framework/Api/Serializer/fixtures/TestCollectionWithSelfReference.php
  tests/integration/Core/System/SalesChannel/Context/CartRestorerTest.php
  tests/integration/Core/System/SalesChannel/Context/SalesChannelContextRestorerTest.php
  tests/integration/Core/System/SalesChannel/Context/SalesChannelContextTest.php
  tests/integration/Core/System/SalesChannel/SalesChannel/ContextSwitchRouteTest.php
  tests/integration/Storefront/Framework/Media/StorefrontMediaUploaderTest.php
Labels: Domain:Discovery, skip-danger-phpstan-baseline

#6589 test: GeoBlockingNonShippableCountry.spec.ts
  tests/acceptance/tests/Account/GeoBlockingNonShippableCountry.spec.ts
Labels: testing/acceptance, backport-6.6.x

#6761 test: add guideline to write meaningful test descriptions
  tests/acceptance/README.md
Labels: testing/acceptance

#5813 fix: `flow.state.js` after merge of flow action selection fix
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-sequence-action/sw-flow-sequence-action.spec.js
  src/Administration/Resources/app/administration/src/module/sw-flow/state/flow.state.js
Labels: Domain:CRM & After Sales

#6854 test: adjust contact form tests regarding 6.6 compatibility [6.6.x]
  tests/acceptance/package-lock.json
  tests/acceptance/tests/Forms/ValidateCaptchaInContactForm.spec.ts
  tests/acceptance/tests/Forms/ValidateContactFormStorefront.spec.ts
Labels: testing/acceptance

#6504 test: add and remove products to wishlist
  tests/acceptance/tests/Settings/Wishlist/WishlistRegisteredCustomerFunctionalities.spec.ts
Labels: testing/acceptance, backport-6.6.x

#6856 fix: copy twig variables into each block
  src/Storefront/Resources/views/storefront/component/privacy-notice.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-components/cms-element-form-privacy.html.twig
  src/Storefront/Resources/views/storefront/layout/footer/footer.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/confirm/index.html.twig
Labels: Domain:Discovery, backport-6.6.10.0

#6640 chore(checkout)!: remove address selection rework feature flag
  src/Core/Framework/Resources/config/packages/feature.yaml
  src/Storefront/Controller/AddressController.php
  src/Storefront/Resources/app/storefront/src/scss/page/account/_address.scss
  src/Storefront/Resources/views/storefront/component/account/register.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-form.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-manager-item.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-manager-modal-create-address.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-manager-modal.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/address-item.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/create.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/edit.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/index.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/confirm/confirm-address.html.twig
  tests/integration/Storefront/Controller/AddressControllerTest.php
  tests/unit/Storefront/Controller/AddressControllerTest.php
Labels: Domain:Checkout

#6863 chore: Sorted conditions alphabetically
  changelog/_unreleased/2025-02-18-sorted-conditions-alphabetically.md
  src/Administration/Resources/app/administration/src/module/sw-product-stream/component/sw-product-stream-field-select/index.js
Labels: Status:In-Review, Domain:Inventory, backport-6.6.x

#6622 chore!: remove 6.7.0 for document
  phpstan-v67-baseline.neon
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-document/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-document/snippet/en-GB.json
  src/Core/Checkout/DependencyInjection/document.xml
  src/Core/Checkout/Document/Renderer/AbstractDocumentRenderer.php
  src/Core/Checkout/Document/Renderer/CreditNoteRenderer.php
  src/Core/Checkout/Document/Renderer/DeliveryNoteRenderer.php
  src/Core/Checkout/Document/Renderer/DocumentRendererRegistry.php
  src/Core/Checkout/Document/Renderer/InvoiceRenderer.php
  src/Core/Checkout/Document/Renderer/RenderedDocument.php
  src/Core/Checkout/Document/Renderer/StornoRenderer.php
  src/Core/Checkout/Document/Renderer/ZugferdEmbeddedRenderer.php
  src/Core/Checkout/Document/Renderer/ZugferdRenderer.php
  src/Core/Checkout/Document/Service/DocumentGenerator.php
  src/Core/Checkout/Document/Service/HtmlRenderer.php
  src/Core/Checkout/Document/Service/PdfRenderer.php
  src/Core/Checkout/Document/Service/XmlRenderer.php
  tests/integration/Core/Checkout/Document/Renderer/CreditNoteRendererTest.php
  tests/integration/Core/Checkout/Document/Renderer/DeliveryNoteRendererTest.php
  tests/integration/Core/Checkout/Document/Renderer/InvoiceRendererTest.php
  tests/integration/Core/Checkout/Document/Renderer/StornoRendererTest.php
  tests/integration/Core/Checkout/Document/Service/DocumentGeneratorTest.php
  tests/integration/Core/Checkout/Document/Service/PdfRendererTest.php
  tests/unit/Core/Checkout/Document/Renderer/InvoiceRendererTest.php
  tests/unit/Core/Checkout/Document/Service/DocumentFileRendererRegistryTest.php
  tests/unit/Core/Checkout/Document/Service/DocumentGeneratorTest.php
  tests/unit/Core/Checkout/Document/Service/HtmlRendererTest.php
  tests/unit/Core/Checkout/Document/Service/PdfRendererTest.php
  tests/unit/Core/Checkout/Document/Service/XmlRendererTest.php
Labels: Status:In-Review

#6813 chore!: remove remaining framework/core deprecations
  UPGRADE-6.7.md
  phpstan-baseline.neon
  src/Administration/Framework/Routing/AdministrationRouteScope.php
  src/Core/Checkout/Payment/SalesChannel/PaymentMethodRoute.php
  src/Core/Checkout/Shipping/SalesChannel/ShippingMethodRoute.php
  src/Core/Framework/Adapter/Cache/ReverseProxy/ReverseProxyCompilerPass.php
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/Framework/DependencyInjection/cache.xml
  src/Core/Framework/Event/BeforeSendResponseEvent.php
  src/Core/Framework/Extensions/Extension.php
  src/Core/Framework/Extensions/ExtensionDispatcher.php
  src/Core/Framework/Log/LogEntryEntity.php
  src/Core/Framework/Log/Monolog/DoctrineSQLHandler.php
  src/Core/Framework/MessageQueue/ScheduledTask/SymfonyBridge/ScheduleProvider.php
  src/Core/Framework/Migration/Command/MigrationCommand.php
  src/Core/Framework/Plugin/Aggregate/PluginTranslation/PluginTranslationEntity.php
  src/Core/Framework/Plugin/Exception/DecorationPatternException.php
  src/Core/Framework/Plugin/Exception/KernelPluginLoaderException.php
  src/Core/Framework/Plugin/KernelPluginLoader/KernelPluginLoader.php
  src/Core/Framework/Plugin/PluginEntity.php
  src/Core/Framework/Plugin/PluginException.php
  src/Core/Framework/Plugin/Struct/PluginFromFileSystemStruct.php
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/Framework/Resources/views/documents/includes/letter_header.html.twig
  src/Core/Framework/Routing/AbstractRouteScope.php
  src/Core/Framework/Routing/ApiRouteScope.php
  src/Core/Framework/Routing/RouteScope.php
  src/Core/Framework/Routing/StoreApiRouteScope.php
  src/Core/Framework/ShopwareHttpException.php
  src/Core/Framework/Struct/Collection.php
  src/Core/Framework/Struct/ContextTokenStruct.php
  src/Core/Kernel.php
  src/Core/System/DependencyInjection/CompilerPass/NumberRangeIncrementerCompilerPass.php
  src/Core/System/DependencyInjection/CompilerPass/RedisNumberRangeIncrementerCompilerPass.php
  src/Core/System/System.php
  src/Storefront/Framework/Routing/StorefrontRouteScope.php
  src/Storefront/Theme/ThemeSalesChannelCollection.php
  tests/unit/Core/Framework/Adapter/Cache/ReverseProxy/ReverseProxyCompilerPassTest.php
  tests/unit/Core/System/DependencyInjection/CompilerPass/RedisNumberRangeIncrementerCompilerPassTest.php
Labels: component/core, Domain:Framework, Integration:phpunit

#6681 fix: Improve media queries by adding indices
  changelog/_unreleased/2025-02-07-improve-db-queries-on-media-files.md
  src/Core/Content/Media/File/FileFetcher.php
  src/Core/Content/Media/MediaDefinition.php
  src/Core/Content/Media/MediaEntity.php
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
  src/Core/Framework/DataAbstractionLayer/Field/Field.php
  src/Core/Migration/V6_6/Migration1738661307AddMediaIndices.php
  tests/migration/Core/V6_6/Migration1738661307AddMediaIndicesTest.php
Labels: Domain:Discovery, Integration:phpunit, backport-6.6.x

#6855 chore!: more core deprecations (system config)
  phpstan-baseline.neon
  src/Core/Content/Product/DataAbstractionLayer/CheapestPrice/CheapestPrice.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/DomainExceptionRule.php
  src/Core/Framework/DependencyInjection/services.xml
  src/Core/HttpKernelResult.php
  src/Core/Kernel.php
  src/Core/System/CustomEntity/CustomEntityLifecycleService.php
  src/Core/System/CustomField/CustomFieldService.php
  src/Core/System/NumberRange/NumberRangeDefinition.php
  src/Core/System/SystemConfig/Command/ConfigGet.php
  src/Core/System/SystemConfig/Command/ConfigSet.php
  src/Core/System/SystemConfig/Event/BeforeSystemConfigChangedEvent.php
  src/Core/System/SystemConfig/Event/SystemConfigChangedEvent.php
  src/Core/System/SystemConfig/Event/SystemConfigChangedHook.php
  src/Core/System/SystemConfig/Exception/BundleConfigNotFoundException.php
  src/Core/System/SystemConfig/Exception/ConfigurationNotFoundException.php
  src/Core/System/SystemConfig/Exception/XmlElementNotFoundException.php
  src/Core/System/SystemConfig/Service/ConfigurationService.php
  src/Core/System/SystemConfig/SystemConfigEntity.php
  src/Core/System/SystemConfig/SystemConfigException.php
  src/Core/System/SystemConfig/Util/ConfigReader.php
  src/Storefront/Controller/AuthController.php
  tests/unit/Core/System/CustomEntity/CustomEntityLifecycleServiceTest.php
  tests/unit/Core/System/SystemConfig/Command/ConfigGetCommandTest.php
  tests/unit/Core/System/SystemConfig/Exception/ConfigurationNotFoundExceptionTest.php
  tests/unit/Core/System/SystemConfig/Service/ConfigurationServiceTest.php
Labels: component/core, Domain:Framework

#6858 fix: flow builder crashing when saving an invalid flow (#6844)
  src/Administration/Resources/app/administration/src/module/sw-flow/page/sw-flow-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/page/sw-flow-detail/sw-flow-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-flow/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-flow/snippet/en-GB.json
Labels: Domain:CRM & After Sales, component/flowbuilder

#6849 test: enable skip tests again
  phpstan-v67-baseline.neon
  tests/integration/Core/Checkout/Cart/LineItem/Group/LineItemGroupBuilderTest.php
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/integration/Elasticsearch/Product/ElasticsearchProductTest.php
  tests/integration/Storefront/Controller/CheckoutControllerTest.php
  tests/unit/Elasticsearch/Product/ProductSearchQueryBuilderTest.php
Labels: component/core, Domain:Framework

#6585 chore: remove deprecated extension registry
  composer.json
  src/Core/Framework/DataAbstractionLayer/EntityDefinition.php
  src/Core/Framework/DataAbstractionLayer/ExtensionRegistry.php
  src/Core/Framework/DependencyInjection/data-abstraction-layer.xml
  src/Core/Framework/DependencyInjection/plugin.xml
  src/Core/Framework/Framework.php
  src/Core/Framework/Plugin/PluginLifecycleService.php
  src/Core/Framework/Resources/config/packages/feature.yaml
  src/Core/System/DependencyInjection/CompilerPass/SalesChannelEntityCompilerPass.php
  tests/integration/Core/Framework/Plugin/KernelPluginIntegrationTest.php
  tests/integration/Core/Framework/Plugin/PluginLifecycleServiceMigrationTest.php
  tests/integration/Core/Framework/Plugin/PluginLifecycleServiceTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/ExtensionRegistryTest.php
  tests/unit/Core/Framework/FrameworkTest.php
  tests/unit/Core/Framework/Plugin/PluginLifecycleServiceTest.php
Labels: component/core, Domain:Framework, skip-danger-phpstan-baseline

#6839 chore!: Add native types to class properties in Shopware\Core\System
  phpstan-baseline.neon
  src/Core/Framework/DataAbstractionLayer/Search/Criteria.php
  src/Core/Maintenance/MaintenanceException.php
  src/Core/Maintenance/User/Command/UserListCommand.php
  src/Core/System/Country/Aggregate/CountryTranslation/CountryTranslationEntity.php
  src/Core/System/Currency/Aggregate/CurrencyCountryRounding/CurrencyCountryRoundingEntity.php
  src/Core/System/Currency/Aggregate/CurrencyTranslation/CurrencyTranslationEntity.php
  src/Core/System/Currency/CurrencyEntity.php
  src/Core/System/CustomEntity/CustomEntityEntity.php
  src/Core/System/CustomField/Aggregate/CustomFieldSet/CustomFieldSetEntity.php
  src/Core/System/CustomField/Aggregate/CustomFieldSetRelation/CustomFieldSetRelationEntity.php
  src/Core/System/CustomField/CustomFieldEntity.php
  src/Core/System/Integration/IntegrationEntity.php
  src/Core/System/NumberRange/Aggregate/NumberRangeSalesChannel/NumberRangeSalesChannelEntity.php
  src/Core/System/NumberRange/Aggregate/NumberRangeState/NumberRangeStateEntity.php
  src/Core/System/NumberRange/Aggregate/NumberRangeTranslation/NumberRangeTranslationEntity.php
  src/Core/System/NumberRange/Aggregate/NumberRangeType/NumberRangeTypeEntity.php
  src/Core/System/NumberRange/Aggregate/NumberRangeTypeTranslation/NumberRangeTypeTranslationEntity.php
  src/Core/System/NumberRange/NumberRangeEntity.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelTranslation/SalesChannelTranslationEntity.php
  src/Core/System/SalesChannel/Api/ResponseFields.php
  src/Core/System/SalesChannel/Context/SalesChannelContextServiceParameters.php
  src/Core/System/SalesChannel/Event/SalesChannelContextPermissionsChangedEvent.php
  src/Core/System/SalesChannel/Event/SalesChannelContextTokenChangeEvent.php
  src/Core/System/Snippet/Struct/MissingSnippetStruct.php
  src/Core/System/SystemConfig/Event/SystemConfigChangedEvent.php
  src/Core/System/Tag/TagEntity.php
  src/Core/System/Unit/UnitEntity.php
  src/Core/System/User/Aggregate/UserAccessKey/UserAccessKeyEntity.php
  src/Core/System/User/Aggregate/UserConfig/UserConfigEntity.php
  src/Core/System/User/Aggregate/UserRecovery/UserRecoveryEntity.php
  src/Core/System/User/UserEntity.php
  tests/integration/Core/Framework/Api/Serializer/fixtures/TestBasicWithToManyRelationships.php
  tests/integration/Core/Framework/Api/Serializer/fixtures/TestBasicWithToOneRelationship.php
  tests/integration/Core/Framework/Api/Serializer/fixtures/TestCollectionWithToOneRelationship.php
  tests/integration/Core/Framework/Api/Serializer/fixtures/TestMainResourceShouldNotBeInIncluded.php
  tests/unit/Administration/System/SalesChannel/Subscriber/SalesChannelUserConfigSubscriberTest.php
  tests/unit/Core/Checkout/Cart/Order/OrderConverterTest.php
  tests/unit/Core/Maintenance/User/Command/UserListCommandTest.php
  tests/unit/Core/System/SalesChannel/Api/ResponseFieldsTest.php
Labels: component/core, Domain:Framework

#6815 fix: cannot create categories in admin
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree/index.js
Labels: Domain:Discovery

#6831 chore: Add config parameter authorize_endpoint and token_endpoint
  phpstan.neon.dist
  src/Administration/Login/Config/LoginConfig.php
  src/Administration/Login/Config/LoginConfigService.php
  src/Administration/Login/ShopwareGrantType.php
  src/Administration/Login/TokenService/ExternalTokenService.php
  src/Administration/Login/UserService/ExternalAuthUser.php
  src/Administration/Login/UserService/UserService.php
  src/Core/Framework/Api/EventListener/Authentication/ApiAuthenticationListener.php
  src/Core/Framework/DependencyInjection/Configuration.php
  tests/integration/Administration/Login/ShopwareGrantTypeTest.php
  tests/integration/Administration/Login/UserService/UserServiceTest.php
  tests/unit/Administration/Controller/AdministrationControllerTest.php
  tests/unit/Administration/Login/Config/LoginConfigServiceTest.php
  tests/unit/Administration/Login/TokenService/ExternalTokenServiceTest.php
Labels: Domain:CRM & After Sales

#6633 feat: upgrade storefront dependencies and jest
  .gitignore
  UPGRADE-6.7.md
  changelog/_unreleased/2025-02-06-upgrade-storefront-deps-and-jest.md
  src/Storefront/Resources/app/storefront/jest.config.js
  src/Storefront/Resources/app/storefront/package-lock.json
  src/Storefront/Resources/app/storefront/package.json
  src/Storefront/Resources/app/storefront/test/helper/emitter.helper.test.js
  src/Storefront/Resources/app/storefront/test/helper/storage/cookie-storage.helper.test.js
  src/Storefront/Resources/app/storefront/test/plugin-system/plugin.manager.test.js
  src/Storefront/Resources/app/storefront/test/plugin/add-to-cart/add-to-cart.plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/address-editor/address-editor.plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/forms/form-ajax-submit.plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/forms/form-preserver.plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/header/account-guest-abort-button.plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/offcanvas-filter/offcanvas-filter.plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/spatial/spatial-zoom-gallery-slider-viewer.plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/variant-switch/variant-switch.plugin.test.js
  src/Storefront/Resources/app/storefront/text.loader.js
Labels: component/storefront, Domain:Framework

#6900 fix: copy twig variables into each block
  src/Storefront/Resources/views/storefront/component/privacy-notice.html.twig
  src/Storefront/Resources/views/storefront/layout/footer/footer.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/confirm/index.html.twig
Labels: Domain:Discovery

#6913 fix: Fix MessengerMiddlewareCompilerPass when middlewares are not defined
  changelog/_unreleased/2025-02-19-fix-messenger-middleware-compiler-path.md
  src/Core/Framework/DependencyInjection/CompilerPass/MessengerMiddlewareCompilerPass.php
  tests/unit/Core/Framework/DependencyInjection/CompilerPass/MessengerMiddlewareCompilerPassTest.php
Labels: Domain:Framework, backport-6.6.x, backport-6.6.10.0

#6881 fix: Bulk edit for variants
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/sw-product-variants-overview.spec.js
Labels: Status:In-Review, Domain:Inventory, backport-6.6.x

#6909 test: skip add product from wishlist when accesibility tweaks active
  tests/acceptance/tests/Settings/Wishlist/WishlistRegisteredCustomerFunctionalities.spec.ts
Labels: testing/acceptance

#6527 test: wishlist guest functionalities
  tests/acceptance/tests/Settings/Wishlist/WishlistGuestFunctionalities.spec.ts
Labels: Domain:Discovery, testing/acceptance, backport-6.6.x

#6444 refactor: adjust country snippets for improved clarity
  src/Administration/Resources/app/administration/src/module/sw-settings-country/component/sw-settings-country-general/sw-settings-country-general.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-country/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-country/snippet/en-GB.json
Labels: Domain:Checkout

#6905 fix: varibles missing in 2 twig blocks
  src/Storefront/Resources/views/storefront/component/privacy-notice.html.twig
Labels: Domain:Discovery

#6922 fix: Fix commercial update error
  changelog/_unreleased/2025-02-19-fix-commercial-update.md
  src/Core/Content/DependencyInjection/mail_template.xml
Labels: Domain:Framework, backport-6.6.10.0

#6882 fix(media): issues with media module after removing vue compat
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-entity-mapper/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo-metadata-item/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sw-media-grid/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sw-media-grid/sw-media-grid.html.twig
Labels: component/administration, Domain:Framework

#6935 test: remove redundant country assignment in GeoBlockingNonShippableC…
  tests/acceptance/tests/Account/GeoBlockingNonShippableCountry.spec.ts
Labels: backport-6.6.x, Acceptance test

#6944 test: add waiting for loading customer details
  tests/acceptance/tests/BulkEdit/BulkEditCustomerInformation.spec.ts
Labels: backport-6.6.x, Acceptance test

#6942 fix: SwTwigFunction not found
  src/Core/Framework/Adapter/Twig/Node/MacroOverrideNode.php
  src/Core/Framework/Adapter/Twig/Node/ReturnNode.php
  src/Core/Framework/Adapter/Twig/TwigEnvironment.php
  tests/unit/Core/Framework/Adapter/Twig/TwigEnvironmentTest.php
Labels: component/core, Domain:Framework

#6895 fix: Make migration compatible with MariaDB
  src/Core/Migration/V6_6/Migration1738661307AddMediaIndices.php
Labels: Domain:Discovery

#6946 chore!: remove deprecated disableExtensions context prop
  src/Administration/Controller/AdministrationController.php
  src/Administration/Resources/app/administration/index.html
  src/Administration/Resources/app/administration/index.html.tpl
  src/Administration/Resources/app/administration/src/app/composables/use-context.spec.ts
  src/Administration/Resources/app/administration/src/app/composables/use-context.ts
  src/Administration/Resources/app/administration/src/app/store/context.store.spec.ts
  src/Administration/Resources/views/administration/index.html.twig
  tests/unit/Administration/Controller/AdministrationControllerTest.php
Labels: Domain:Framework

#6943 chore!: Remove remaining adress refactoring deprecations
  src/Storefront/Resources/app/storefront/src/scss/component/_address-editor.scss
  src/Storefront/Resources/app/storefront/src/scss/layout/_header.scss
  src/Storefront/Resources/app/storefront/src/scss/page/account/_address.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/page/account/_address.scss
  src/Storefront/Resources/views/storefront/page/account/addressbook/address-actions.html.twig
Labels: component/storefront, Domain:Framework

#6916 chore: make entity attribute classes final
  UPGRADE-6.7.md
  changelog/_unreleased/2025-02-19-marked-entity-attributes-classes-final.md
  src/Core/Framework/DataAbstractionLayer/Attribute/AllowEmptyString.php
  src/Core/Framework/DataAbstractionLayer/Attribute/AllowHtml.php
  src/Core/Framework/DataAbstractionLayer/Attribute/AutoIncrement.php
  src/Core/Framework/DataAbstractionLayer/Attribute/CustomFields.php
  src/Core/Framework/DataAbstractionLayer/Attribute/ForeignKey.php
  src/Core/Framework/DataAbstractionLayer/Attribute/Inherited.php
  src/Core/Framework/DataAbstractionLayer/Attribute/ManyToMany.php
  src/Core/Framework/DataAbstractionLayer/Attribute/ManyToOne.php
  src/Core/Framework/DataAbstractionLayer/Attribute/OneToMany.php
  src/Core/Framework/DataAbstractionLayer/Attribute/OneToOne.php
  src/Core/Framework/DataAbstractionLayer/Attribute/PrimaryKey.php
  src/Core/Framework/DataAbstractionLayer/Attribute/Protection.php
  src/Core/Framework/DataAbstractionLayer/Attribute/ReferenceVersion.php
  src/Core/Framework/DataAbstractionLayer/Attribute/Required.php
  src/Core/Framework/DataAbstractionLayer/Attribute/Serialized.php
  src/Core/Framework/DataAbstractionLayer/Attribute/State.php
  src/Core/Framework/DataAbstractionLayer/Attribute/Translations.php
  src/Core/Framework/DataAbstractionLayer/Attribute/Version.php
Labels: component/core, Domain:Framework
