Repository shopware/shopware, pull requests merged in 2025-08, with the labels that each got.

#11684 fix: Do not deprecate usage of ProductNotFoundException
  .bc-exclude.php
  phpstan-baseline.neon
  src/Core/Content/Product/Exception/ProductNotFoundException.php
  src/Core/Content/Product/Exception/VariantNotFoundException.php
  src/Core/Content/Product/ProductException.php
  src/Core/Content/Product/SalesChannel/FindVariant/FindProductVariantRoute.php
  src/Core/Content/Product/SalesChannel/Suggest/ResolvedCriteriaProductSuggestRoute.php
  src/Core/Content/Product/SearchKeyword/ProductSearchBuilder.php
  tests/integration/Core/Checkout/Customer/SalesChannel/AddWishlistProductRouteTest.php
  tests/unit/Core/Content/Breadcrumb/BreadcrumbExceptionTest.php
  tests/unit/Core/Content/Product/SalesChannel/Suggest/ProductSuggestRouteTest.php
Labels: component/core, domain/framework

#11633 fix: mediaThumbnailSizeId not null in MediaThumbnailEntity
  .bc-exclude.php
  changelog/_unreleased/2025-07-31-fix-media-thumbnail-size-id-not-null.md
  src/Core/Content/Media/Aggregate/MediaThumbnail/MediaThumbnailDefinition.php
  src/Core/Content/Media/Aggregate/MediaThumbnail/MediaThumbnailEntity.php
  src/Core/Content/Media/Core/Application/RemoteThumbnailLoader.php
  src/Core/Content/Media/Thumbnail/ThumbnailService.php
  src/Core/Migration/V6_7/Migration1753191228AddMediaThumbnailSizeIdToMediaThumbnail.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
  tests/migration/Core/V6_7/Migration1753191228AddMediaThumbnailSizeIdToMediaThumbnailTest.php
  tests/unit/Core/Content/Media/Core/Application/RemoteThumbnailLoaderTest.php
Labels: domain/discovery, external-contribution

#11577 fix(storefront): prevent negative pagination
  src/Core/Content/Product/SalesChannel/Listing/Processor/PagingListingProcessor.php
  src/Storefront/Resources/views/storefront/component/pagination.html.twig
  tests/unit/Core/Content/Product/SalesChannel/Listing/Processor/PagingListingProcessorTest.php
Labels: component/storefront, component/core, domain/framework

#11673 fix: SeoUrl generate database-error when the url changes
  changelog/_unreleased/2025-07-31-fix-seourl-generate-database-error-when-the-url-changes.md
  src/Core/Content/Seo/SeoUrlPersister.php
  tests/integration/Core/Framework/Seo/SeoUrlPersisterTest.php
Labels: backport-6.6.x, component/seo, domain/inventory, backport-6.7.1.0

#10945 chore: Fix PHPStan execution on lowest dependencies
  .github/workflows/php.yml
  composer.json
  src/Core/composer.json
  src/Elasticsearch/composer.json
  src/Storefront/composer.json
Labels: component/core, domain/framework

#11655 fix(snippet-list): Fix issues regarding deletion of snippet in sets
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-list/sw-settings-snippet-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-list/sw-settings-snippet-list.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-list/sw-settings-snippet-list.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/snippet/en-GB.json
Labels: domain/discovery

#11636 fix: Fix service menu wrap
  changelog/_unreleased/2025-07-31-fix-service-menu-wrap.md
  src/Storefront/Resources/views/storefront/layout/footer/footer.html.twig
Labels: component/storefront, domain/framework, external-contribution

#11649 chore: Smaller code improvements
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityWriteGateway.php
  src/Core/Framework/DataAbstractionLayer/Dbal/SchemaBuilder.php
  src/Core/Framework/DataAbstractionLayer/Field/EnumField.php
  tests/unit/Core/Framework/DataAbstractionLayer/Dbal/SchemaBuilderTest.php
Labels: component/core, domain/framework

#11219 feat: circular reference detection esi
  src/Core/Framework/Adapter/AdapterException.php
  src/Core/Framework/Adapter/Kernel/EsiDecoration.php
  tests/unit/Core/Framework/Adapter/Kernel/EsiDecorationTest.php
Labels: component/core, domain/framework

#11560 fix: SystemConfigService::deleteExtensionConfiguration
  changelog/_unreleased/2025-07-28-fix-systemconfigservice-deleteextensionconfiguration-removes-only-global-configuration.md
  src/Core/System/SystemConfig/SystemConfigService.php
  tests/integration/Core/System/SystemConfig/SystemConfigServiceTest.php
Labels: component/core, skip-danger-phpstan-baseline, domain/framework

#10528 refactor: Remove superfluous vat-id template block
  changelog/_unreleased/2025-06-14-remove-superfluous-vat-id-block-from-address-form-html-twig.md
  src/Storefront/Resources/views/storefront/component/address/address-form.html.twig
Labels: component/storefront, domain/framework, external-contribution

#10721 fix: Properly align logout button icon
  changelog/_unreleased/2025-06-19-properly-align-logout-link-with-icon.md
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/page/account/_aside.scss
  src/Storefront/Resources/views/storefront/page/account/sidebar.html.twig
Labels: component/storefront, domain/framework, external-contribution

#11578 fix: add dark mode support to the sidebar
  changelog/_unreleased/2025-07-29-add-dark-mode-support-to-sidebar.md
  src/Administration/Resources/app/administration/jest.config.js
  src/Administration/Resources/app/administration/src/app/component/filter/sw-base-filter/sw-base-filter.scss
  src/Administration/Resources/app/administration/src/app/component/filter/sw-sidebar-filter-panel/sw-sidebar-filter-panel.scss
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar-item/sw-sidebar-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar-item/sw-sidebar-item.scss
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar-navigation-item/sw-sidebar-navigation-item.scss
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar/sw-sidebar.scss
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar/sw-sidebar.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-sidebar/sw-cms-sidebar.scss
Labels: component/administration, domain/framework, component/meteor

#11205 refactor: Deprecate constructor of EntityDefinition
  changelog/_unreleased/2025-07-14-deprecated-entitydefinition-constructor.md
  src/Core/Framework/DataAbstractionLayer/AttributeEntityDefinition.php
  src/Core/Framework/DataAbstractionLayer/AttributeTranslationDefinition.php
  src/Core/Framework/DataAbstractionLayer/EntityDefinition.php
Labels: component/core, skip-danger-phpstan-baseline, domain/framework, external-contribution

#11352 refactor: Various misc PHP code improvements
  .bc-exclude.php
  src/Core/Checkout/Cart/LineItem/Group/LineItemGroup.php
  src/Core/Checkout/Cart/Order/Api/OrderRecalculationController.php
  src/Core/Checkout/Cart/Order/Transformer/LineItemTransformer.php
  src/Core/Checkout/Order/OrderAddressService.php
  src/Core/Content/Media/Infrastructure/Command/UpdatePathCommand.php
  src/Core/Content/Seo/SeoUrlGenerator.php
  src/Core/Framework/Adapter/Twig/Filter/EmailIdnTwigFilter.php
  src/Core/Framework/Adapter/Twig/TokenParser/SwMacroFunctionTokenParser.php
  src/Core/Framework/DataAbstractionLayer/Attribute/AllowEmptyString.php
  src/Core/Framework/DataAbstractionLayer/Attribute/PrimaryKey.php
  src/Core/Framework/DataAbstractionLayer/Attribute/Required.php
  src/Core/Framework/DataAbstractionLayer/FieldType/DateInterval.php
  src/Core/Framework/JWT/Constraints/HasValidRSAJWKSignature.php
  src/Core/Framework/MessageQueue/Stats/StatsService.php
  src/Core/Framework/Rule/ScriptRule.php
  src/Core/System/CustomEntity/Xml/Config/CustomEntityEnrichmentService.php
  src/Core/System/UsageData/EntitySync/DispatchEntityMessageHandler.php
  src/Elasticsearch/Framework/DataAbstractionLayer/CriteriaParser.php
  src/Storefront/Migration/V6_3/Migration1565640170ThemeMigrateMedia.php
  src/Storefront/Theme/Command/ThemeDumpCommand.php
  tests/unit/Core/Checkout/Order/OrderAddressServiceTest.php
  tests/unit/Core/Framework/Adapter/Twig/Filter/EmailIdnTwigFilterTest.php
Labels: component/core, domain/framework, external-contribution

#11509 chore: feature flag backport 6.8 to 6.6x
  src/Core/Framework/Resources/config/packages/feature.yaml
  tests/unit/Core/Checkout/Cart/CartExceptionTest.php
  tests/unit/Core/Checkout/Customer/CustomerExceptionTest.php
  tests/unit/Core/Checkout/Promotion/PromotionExceptionTest.php
  tests/unit/Core/Checkout/Rule/Rule/Context/ShippingCountryRuleTest.php
  tests/unit/Core/Content/Flow/FlowExceptionTest.php
  tests/unit/Core/Framework/Adapter/AdapterExceptionTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/DataAbstractionLayerExceptionTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Search/SearchConfigLoaderTest.php
  tests/unit/Core/Framework/Rule/RuleExceptionTest.php
  tests/unit/Core/Framework/Store/InAppPurchases/Services/KeyFetcherTest.php
  tests/unit/Core/Framework/Util/ArrayComparatorTest.php
  tests/unit/Core/Framework/Util/FloatComparatorTest.php
  tests/unit/Core/Framework/Util/UtilExceptionTest.php
  tests/unit/Elasticsearch/ElasticsearchExceptionTest.php
  tests/unit/Elasticsearch/Framework/AsyncAwsSignerTest.php
Labels: component/core, domain/product-ops, domain/framework

#11590 fix: customer company overwrite on address company change
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-address-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-address-form/sw-customer-address-form.spec.js
Labels: backport-6.6.x, domain/checkout

#11587 fix: promotion discount advanced prices responsitivity
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-discount-component/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-discount-component/sw-promotion-discount-component.spec.js
Labels: domain/checkout

#10866 feat: Add possibility to allow custom route names as Storefront routes
  changelog/_unreleased/2025-08-04-allow-storefront-routes-without-prefix.md
  phpstan.neon.dist
  src/Core/Checkout/Payment/Controller/PaymentController.php
  src/Storefront/DependencyInjection/Configuration.php
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/Framework/Routing/Router.php
  src/Storefront/Resources/config/packages/storefront.yaml
  tests/unit/Storefront/Framework/Routing/RouterTest.php
Labels: component/core, domain/framework

#11341 fix: Correctly delete bearerAuth cookie from base path in administration
  changelog/_unreleased/2025-07-17-correctly-delete-bearer-auth-cookie-from-base-path.md
  src/Administration/Resources/app/administration/src/core/service/login.service.ts
Labels: component/administration, domain/framework, external-contribution

#11616 ci: fix external-contribution label on backports
  .github/workflows/external-contributor-label.yml
Labels: backport-6.6.x, domain/product-ops, backport-6.7.1.0

#11670 feat: Add commands to schedule and deactivate scheduled tasks
  changelog/_unreleased/2025-07-31-add-commands-to-schedule-and-disable-scheduled-tasks.md
  phpstan-baseline.neon
  src/Core/Framework/DependencyInjection/scheduled-task.xml
  src/Core/Framework/MessageQueue/Command/DeactivateScheduledTaskCommand.php
  src/Core/Framework/MessageQueue/Command/ScheduleScheduledTaskCommand.php
  src/Core/Framework/MessageQueue/MessageQueueException.php
  src/Core/Framework/MessageQueue/ScheduledTask/Registry/TaskRegistry.php
  tests/unit/Core/Framework/MessageQueue/Command/DeactivateScheduledTaskCommandTest.php
  tests/unit/Core/Framework/MessageQueue/Command/ScheduleScheduledTaskCommandTest.php
  tests/unit/Core/Framework/MessageQueue/ScheduledTask/Registry/TaskRegistryTest.php
Labels: component/core, domain/framework, external-contribution

#11297 chore: Replace AddCacheTagEvent's with CacheTagCollector addTag
  changelog/_unreleased/2025-07-16-replace-add-cache-tag-event-with-cache-tag-collector-add-tag.md
  src/Core/Checkout/DependencyInjection/payment.xml
  src/Core/Checkout/DependencyInjection/shipping.xml
  src/Core/Checkout/Payment/SalesChannel/PaymentMethodRoute.php
  src/Core/Checkout/Shipping/SalesChannel/ShippingMethodRoute.php
  src/Core/Content/Category/SalesChannel/CategoryRoute.php
  src/Core/Content/Category/SalesChannel/NavigationRoute.php
  src/Core/Content/Cms/SalesChannel/SalesChannelCmsPageLoader.php
  src/Core/Content/DependencyInjection/category.xml
  src/Core/Content/DependencyInjection/cms.xml
  src/Core/Content/DependencyInjection/landing_page.xml
  src/Core/Content/DependencyInjection/product.xml
  src/Core/Content/DependencyInjection/sitemap.xml
  src/Core/Content/LandingPage/SalesChannel/LandingPageRoute.php
  src/Core/Content/Product/SalesChannel/CrossSelling/ProductCrossSellingRoute.php
  src/Core/Content/Product/SalesChannel/Detail/ProductDetailRoute.php
  src/Core/Content/Product/SalesChannel/Listing/ProductListingRoute.php
  src/Core/Content/Product/SalesChannel/Review/ProductReviewRoute.php
  src/Core/Content/Sitemap/SalesChannel/SitemapRoute.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/NoAddCacheTagEventRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/rules.neon
  src/Core/Framework/DependencyInjection/language.xml
  src/Core/System/Country/SalesChannel/CountryRoute.php
  src/Core/System/Country/SalesChannel/CountryStateRoute.php
  src/Core/System/Currency/SalesChannel/CurrencyRoute.php
  src/Core/System/DependencyInjection/country.xml
  src/Core/System/DependencyInjection/currency.xml
  src/Core/System/DependencyInjection/salutation.xml
  src/Core/System/Language/SalesChannel/LanguageRoute.php
  src/Core/System/Salutation/SalesChannel/SalutationRoute.php
  tests/integration/Core/Content/Product/SalesChannel/CrossSelling/CrossSellingRouteTest.php
  tests/unit/Core/Checkout/Shipping/SalesChannel/ShippingMethodRouteTest.php
  tests/unit/Core/Content/Category/SalesChannel/CategoryRouteTest.php
  tests/unit/Core/Content/Cms/SalesChannel/SalesChannelCmsPageLoaderTest.php
  tests/unit/Core/Content/Product/SalesChannel/Detail/ProductDetailRouteTest.php
  tests/unit/Core/Content/Product/SalesChannel/Listing/ProductListingRouteTest.php
  tests/unit/Core/Content/Product/SalesChannel/Review/ProductReviewRouteTest.php
  tests/unit/Core/System/Country/SalesChannel/CountryRouteTest.php
  tests/unit/Core/System/Country/SalesChannel/CountryStateRouteTest.php
Labels: component/core, domain/framework, external-contribution

#11776 fix: Create and/or update switches
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-edit-profile-import-settings/index.js
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-edit-profile-import-settings/sw-import-export-edit-profile-import-settings.spec.js
Labels: domain/crm-after-sales

#11753 chore: Use correct SalesChannelRepository types for phpstan
  phpstan.neon.dist
  src/Core/Content/Category/SalesChannel/CategoryRoute.php
  src/Core/Content/Category/SalesChannel/NavigationRoute.php
  src/Core/Content/Cms/DataResolver/CmsSlotsDataResolver.php
  src/Core/Content/Cms/DataResolver/Element/ElementDataCollection.php
  src/Core/Content/Cms/Extension/CmsSlotsDataEnrichExtension.php
  src/Core/Content/LandingPage/SalesChannel/LandingPageRoute.php
  src/Core/Content/Product/SalesChannel/Detail/ProductDetailRoute.php
  src/Core/Content/ProductExport/Service/ProductExportGenerator.php
  src/Core/Framework/Api/Controller/ApiController.php
  src/Core/Framework/Api/Response/ResponseFactoryInterface.php
  src/Core/Framework/Api/Response/Type/JsonFactoryBase.php
  src/Core/Framework/Api/Serializer/JsonApiEncoder.php
  src/Core/Framework/Api/Serializer/JsonEntityEncoder.php
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityHydrator.php
  src/Core/System/Currency/SalesChannel/CurrencyRoute.php
  src/Core/System/SalesChannel/Entity/DefinitionRegistryChain.php
  src/Core/System/SalesChannel/Entity/SalesChannelDefinitionInstanceRegistry.php
  tests/integration/Core/Framework/Api/ResponseTypeRegistryTest.php
  tests/integration/Core/Framework/Seo/SeoUrl/StorefrontSeoUrlRepositoryTest.php
  tests/integration/Core/System/SalesChannel/Entity/SalesChannelDefinitionTest.php
  tests/unit/Core/Content/Category/Service/CategoryBreadcrumbBuilderTest.php
  tests/unit/Core/Content/Cms/DataResolver/CmsSlotsMultiDataResolverTest.php
  tests/unit/Core/Content/Product/Cms/ProductSlider/ProductStreamProcessorTest.php
  tests/unit/Core/Content/Product/SalesChannel/Detail/ProductDetailRouteTest.php
  tests/unit/Core/Content/Product/SalesChannel/FindVariant/FindProductVariantRouteTest.php
  tests/unit/Core/Content/ProductExport/Service/ProductExportGeneratorTest.php
Labels: component/core, skip-danger-phpstan-baseline, domain/framework, external-contribution

#11792 fix: event interfaces for extension events
  changelog/_unreleased/2025-08-06-event-interfaces-for-extension-events.md
  src/Core/Checkout/Cart/Extension/CheckoutCartRuleLoaderExtension.php
  src/Core/Checkout/Cart/Extension/CheckoutPlaceOrderExtension.php
Labels: domain/checkout

#11797 fix: add commercial root path to install script.
  bin/install-extension-npm
Labels: service/shopping-experience, domain/service-enablement

#11791 refactor: remove sw-entity-many-to-many-select
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/app/component/component.spec.js
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-many-to-many-select/index.js
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-many-to-many-select/sw-entity-many-to-many-select.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-many-to-many-select/sw-many-to-many-select.spec.js
  src/Administration/Resources/app/administration/src/app/component/index.ts
  src/Administration/Resources/app/administration/src/meta/baseline.ts
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/discount/sw-promotion-v2-settings-rule-selection/sw-promotion-v2-settings-rule-selection.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/discount/sw-promotion-v2-settings-trigger/sw-promotion-v2-settings-trigger.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-v2-cart-condition-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-v2-cart-condition-form/sw-promotion-v2-cart-condition-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-v2-cart-condition-form/sw-promotion-v2-cart-condition-form.spec.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-v2-rule-select/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-v2-rule-select/sw-promotion-v2-rule-select.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-v2-rule-select/sw-promotion-v2-rule-select.scss
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-v2-rule-select/sw-promotion-v2-rule-select.spec.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/page/sw-promotion-v2-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/view/sw-promotion-v2-conditions/sw-promotion-v2-conditions.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/view/sw-promotion-v2-conditions/sw-promotion-v2-conditions.spec.js
Labels: domain/checkout

#11783 fix: Adjust MatrixElement extends Struct for StoreApi
  changelog/_unreleased/2025-08-06-adjust-matrix-element-extends-struct-for-store-api.md
  src/Core/Content/Product/SalesChannel/Review/MatrixElement.php
Labels: component/settings-reviews, domain/crm-after-sales, external-contribution

#11726 feat: Add cart data to the symfony profiler
  changelog/_unreleased/2025-08-04-add-cart-data-to-the-symfony-profiler.md
  src/Core/Profiling/DependencyInjection/services_dev.xml
  src/Core/Profiling/Resources/views/Collector/cart.html.twig
  src/Core/Profiling/Resources/views/Collector/cart.svg
  src/Core/Profiling/Subscriber/CartDataCollectorSubscriber.php
  tests/unit/Core/Profiling/Subscriber/CartDataCollectorSubscriberTest.php
Labels: component/core, domain/framework, external-contribution

#11781 feat: Load all category levels of currently active path
  changelog/_unreleased/2025-08-06-load-all-category-levels-for-current-path.md
  src/Core/Content/Category/SalesChannel/NavigationRoute.php
  src/Core/Content/Category/Tree/CategoryTreePathResolver.php
  src/Core/Content/DependencyInjection/category.xml
  src/Storefront/Resources/views/storefront/layout/sidebar/category-navigation.html.twig
  tests/unit/Core/Content/Category/Tree/CategoryTreePathResolverTest.php
Labels: component/core, domain/framework

#11798 fix: file handling and improve deprecations
  .bc-exclude.php
  changelog/_unreleased/2025-08-07-download-translations-to-private-filesystem.md
  src/Administration/Resources/config/services.xml
  src/Administration/Snippet/SnippetFinder.php
  src/Core/Framework/DependencyInjection/services.xml
  src/Core/System/DependencyInjection/snippet.xml
  src/Core/System/Snippet/DataTransfer/Language/Language.php
  src/Core/System/Snippet/DataTransfer/Language/LanguageCollection.php
  src/Core/System/Snippet/DataTransfer/PluginMapping/PluginMapping.php
  src/Core/System/Snippet/DataTransfer/PluginMapping/PluginMappingCollection.php
  src/Core/System/Snippet/DataTransfer/SnippetPath/SnippetPath.php
  src/Core/System/Snippet/DataTransfer/SnippetPath/SnippetPathCollection.php
  src/Core/System/Snippet/Files/SnippetFileLoader.php
  src/Core/System/Snippet/Service/TranslationConfigLoader.php
  src/Core/System/Snippet/Service/TranslationLoader.php
  src/Core/System/Snippet/SnippetException.php
  src/Core/System/Snippet/Struct/SnippetPaths.php
  src/Core/System/Snippet/Struct/TranslationConfig.php
  tests/integration/Administration/Snippet/SnippetFinderTest.php
  tests/integration/Administration/Snippet/fixtures/translationConfig/translation.yaml
  tests/integration/Core/System/Snippet/Files/AppSnippetFileLoaderTest.php
  tests/unit/Administration/Snippet/SnippetFileTrait.php
  tests/unit/Administration/Snippet/SnippetFinderTest.php
  tests/unit/Administration/Snippet/fixtures/existingBundle/Resources/app/meteor-app/jp-JP.json
  tests/unit/Core/System/Snippet/Command/InstallTranslationCommandTest.php
  tests/unit/Core/System/Snippet/DataTransfer/Language/LanguageTest.php
  tests/unit/Core/System/Snippet/DataTransfer/PluginMapping/PluginMappingTest.php
  tests/unit/Core/System/Snippet/DataTransfer/SnippetPath/SnippetPathCollectionTest.php
  tests/unit/Core/System/Snippet/DataTransfer/SnippetPath/SnippetPathTest.php
  tests/unit/Core/System/Snippet/Files/SnippetFileLoaderTest.php
  tests/unit/Core/System/Snippet/Mock/FilePutContentsMock.php
  tests/unit/Core/System/Snippet/Service/TestableTranslationConfigLoader.php
  tests/unit/Core/System/Snippet/Service/TranslationConfigLoaderTest.php
  tests/unit/Core/System/Snippet/Service/TranslationLoaderTest.php
  tests/unit/Core/System/Snippet/Service/fixtures/translation.yaml
  tests/unit/Core/System/Snippet/Service/fixtures/translation_broken_url.yaml
  tests/unit/Core/System/Snippet/Service/fixtures/translation_empty.yaml
  tests/unit/Core/System/Snippet/Service/fixtures/translation_empty_string_url.yaml
  tests/unit/Core/System/Snippet/Service/fixtures/translation_invalid_url.yaml
  tests/unit/Core/System/Snippet/Service/fixtures/translation_non_string_url.yaml
  tests/unit/Core/System/Snippet/SnippetExceptionTest.php
  tests/unit/Core/System/Snippet/Struct/SnippetPathsTest.php
  tests/unit/Core/System/Snippet/Struct/TranslationConfigTest.php
Labels: domain/discovery

#11804 fix: line item tax display with tax providers
  changelog/_unreleased/2025-08-07-fix-display-of-line-item-taxes-with-tax-provider.md
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/index.js
Labels: backport-6.6.x, domain/checkout

#11828 fix: recursive usage of CartLocker
  changelog/_unreleased/2025-08-08-fix-recursive-cart-lock-usage.md
  src/Core/Checkout/Cart/CartLocker.php
  src/Core/Checkout/Cart/SalesChannel/CartDeleteRoute.php
  src/Core/Checkout/Cart/SalesChannel/CartItemAddRoute.php
  src/Core/Checkout/Cart/SalesChannel/CartItemRemoveRoute.php
  src/Core/Checkout/Cart/SalesChannel/CartItemUpdateRoute.php
  src/Core/Checkout/Cart/SalesChannel/CartOrderRoute.php
  src/Core/System/SalesChannel/SalesChannelContext.php
  tests/unit/Core/Checkout/Cart/CartLockerTest.php
  tests/unit/Core/Checkout/Cart/SalesChannel/CartDeleteRouteTest.php
  tests/unit/Core/Checkout/Cart/SalesChannel/CartItemAddRouteTest.php
  tests/unit/Core/Checkout/Cart/SalesChannel/CartItemRemoveRouteTest.php
  tests/unit/Core/Checkout/Cart/SalesChannel/CartItemUpdateRouteTest.php
  tests/unit/Core/Checkout/Cart/SalesChannel/CartOrderRouteTest.php
Labels: backport-6.6.x, domain/checkout, backport-6.7.1.0

#11836 fix: unit test SystemLanguageChangedSubscriberTest triggers PHP deprecation
  tests/unit/Administration/Framework/App/Subscriber/SystemLanguageChangedSubscriberTest.php
Labels: component/appsystem, domain/framework

#11844 fix(tests): proper data provider naming
  tests/integration/Core/System/SalesChannel/Context/SalesChannelContextPersisterTest.php
Labels: domain/framework, backport-6.7.1.0

#11831 feat(profiler): Add cart collector and processor services
  src/Core/Profiling/DependencyInjection/CompilerPass/CartServiceCompilerPass.php
  src/Core/Profiling/Profiling.php
  src/Core/Profiling/Resources/views/Collector/cart.html.twig
  src/Core/Profiling/Subscriber/CartDataCollectorSubscriber.php
Labels: component/core, domain/framework, external-contribution

#11834 feat: Improve property group loading performance
  changelog/_unreleased/2025-08-08-improve-property-group-loading-performance.md
  src/Core/Content/DependencyInjection/product.xml
  src/Core/Content/Product/SalesChannel/Listing/Filter/PropertyListingFilterHandler.php
  src/Core/Content/Property/Aggregate/PropertyGroupOption/PropertyGroupOptionCollection.php
  src/Core/Content/Property/PropertyGroupCollection.php
  tests/unit/Core/Content/Product/SalesChannel/Listing/Filter/PropertyFilterHandlerTest.php
Labels: component/core, domain/framework, domain/inventory

#11784 fix: condition line item custom field form rendering
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-customer-custom-field/index.js
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-customer-custom-field/sw-condition-customer-custom-field.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-customer-custom-field/sw-condition-customer-custom-field.spec.js
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-line-item-custom-field/index.js
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-line-item-custom-field/sw-condition-line-item-custom-field.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-line-item-custom-field/sw-condition-line-item-custom-field.spec.js
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-order-custom-field/index.js
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-order-custom-field/sw-condition-order-custom-field.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-order-custom-field/sw-condition-order-custom-field.spec.js
  src/Administration/Resources/app/administration/src/app/service/rule-condition.service.spec.js
  src/Administration/Resources/app/administration/src/app/service/rule-condition.service.ts
Labels: component/rulebuilder, domain/crm-after-sales

#11741 feat: allow disabling delay cache
  .editorconfig
  config-schema.json
  src/Core/Framework/Adapter/Cache/CacheInvalidator.php
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/Framework/DependencyInjection/cache.xml
  src/Core/Framework/Resources/config/packages/dev/shopware.yaml
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/Framework/Resources/config/packages/test/shopware.yaml
  tests/unit/Core/Framework/Adapter/Cache/CacheInvalidatorTest.php
Labels: component/core, domain/framework

#11409 fix: Add missing timezone options for TimeRangeRule
  changelog/_unreleased/2025-07-22-add-missing-timezone-option-for-time-range-rule.md
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/condition-type.spec.js
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-time-range/index.js
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-time-range/sw-condition-time-range.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-time-range/sw-condition-time-range.scss
  src/Core/Framework/Rule/TimeRangeRule.php
  tests/integration/Core/Framework/Rule/TimeRangeRuleTest.php
  tests/unit/Core/Framework/Rule/TimeRangeRuleTest.php
Labels: domain/crm-after-sales, external-contribution

#11581 fix: dont try to open browser in docker
  src/Administration/Resources/app/administration/vite.config.mts
Labels: component/administration, domain/framework

#11825 test: add snapshot tests for documents
  src/Core/Test/Integration/Traits/SnapshotTesting.php
  tests/integration/Core/Checkout/Document/Renderer/CreditNoteRendererTest.php
  tests/integration/Core/Checkout/Document/Renderer/DeliveryNoteRendererTest.php
  tests/integration/Core/Checkout/Document/Renderer/InvoiceRendererTest.php
  tests/integration/Core/Checkout/Document/Renderer/StornoRendererTest.php
  tests/integration/Core/Checkout/Document/Renderer/_snapshots/credit_note_renderer_default.html
  tests/integration/Core/Checkout/Document/Renderer/_snapshots/delivery_note_renderer_default.html
  tests/integration/Core/Checkout/Document/Renderer/_snapshots/invoice_renderer_default.html
  tests/integration/Core/Checkout/Document/Renderer/_snapshots/storno_renderer_default.html
  tests/integration/Core/Framework/ApiRoutesHaveASchemaTest.php
Labels: component/documents, domain/crm-after-sales

#11769 fix: Input quantity for extended prices incorrect
  changelog/_unreleased/2025-08-06-input-quantity-for-extended-prices-incorrect.md
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-context-prices/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-context-prices/sw-product-detail-context-prices.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-context-prices/sw-product-detail-context-prices.spec.js
Labels: domain/inventory

#11775 fix: default measurement setting in sales channels will be overwritten, when changing values for domain
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/sw-sales-channel-detail-domains.spec.js
Labels: domain/inventory

#11867 fix: RetryWebhookHandler correctly set error count
  changelog/_unreleased/2025-08-12-fix-webhook-deactivation-on-failure.md
  src/Core/Framework/Webhook/Subscriber/RetryWebhookMessageFailedSubscriber.php
  tests/integration/Core/Framework/Webhook/Subscriber/RetryWebhookMessageFailedSubscriberTest.php
Labels: component/core, domain/framework

#11832 fix: add Design Tokens to the dashboard
  changelog/_unreleased/2025-08-11-added-design-tokens-to-the-dashboard.md
  src/Administration/Resources/app/administration/src/app/assets/scss/global.scss
  src/Administration/Resources/app/administration/src/app/component/base/sw-card-deprecated/sw-card-deprecated.scss
  src/Administration/Resources/app/administration/src/app/component/base/sw-chart/index.js
  src/Administration/Resources/app/administration/src/app/component/base/sw-chart/sw-chart.scss
  src/Administration/Resources/app/administration/src/app/component/structure/sw-desktop/sw-desktop.scss
  src/Administration/Resources/app/administration/src/app/component/structure/sw-page/sw-page.scss
  src/Administration/Resources/app/administration/src/app/component/utils/sw-external-link/sw-external-link.scss
  src/Administration/Resources/app/administration/src/module/sw-dashboard/component/sw-dashboard-statistics/sw-dashboard-statistics.scss
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/sw-dashboard-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/sw-dashboard-index.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-dashboard-banner/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-dashboard-banner/sw-settings-services-dashboard-banner.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-dashboard-banner/sw-settings-services-dashboard-banner.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-usage-data/component/sw-usage-data-consent-banner/sw-usage-data-consent-banner.scss
  src/Administration/Resources/app/administration/static/img/services/services-graphic-dark.svg
  src/Administration/Resources/app/administration/static/img/services/services-graphic-light.svg
Labels: component/administration, domain/framework, component/meteor

#11877 fix: RedisInvalidatorStorageTest integration test failing pipeline
  tests/integration/Core/Framework/Adapter/Cache/InvalidatorStorage/RedisInvalidatorStorageTest.php
Labels: component/core, backport-6.6.x, domain/framework, backport-6.7.1.0

#11868 fix: text-editor color and link selection
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/sw-text-editor-link-menu/index.ts
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/sw-text-editor-toolbar-button/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/sw-text-editor-toolbar-button/sw-text-editor-toolbar-button.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/sw-text-editor-toolbar/index.js
Labels: component/administration, domain/framework

#11795 fix: display return address
  changelog/_unreleased/2025-08-12-added-return-address-display-option.md
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-document/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-document/snippet/en-GB.json
  src/Core/Framework/Resources/views/documents/delivery_note.html.twig
  src/Core/Framework/Resources/views/documents/includes/letter_header.html.twig
  src/Core/Migration/V6_7/Migration1754295570DocumentActivateReturnAddress.php
  tests/integration/Core/Checkout/Document/Renderer/CreditNoteRendererTest.php
  tests/integration/Core/Checkout/Document/Renderer/DeliveryNoteRendererTest.php
  tests/integration/Core/Checkout/Document/Renderer/InvoiceRendererTest.php
  tests/integration/Core/Checkout/Document/Renderer/StornoRendererTest.php
  tests/integration/Core/Checkout/Document/Renderer/_snapshots/credit_note_renderer_default.html
  tests/integration/Core/Checkout/Document/Renderer/_snapshots/invoice_renderer_default.html
  tests/integration/Core/Checkout/Document/Renderer/_snapshots/storno_renderer_default.html
  tests/migration/Core/V6_7/Migration1754295570DocumentActivateReturnAddressTest.php
Labels: component/documents, domain/crm-after-sales

#11879 fix: bulk edit product active is set to null instead of false
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/index.js
Labels: domain/inventory

#11902 fix: checkVariantListingConfig, displayParent is not always a boolean
  src/Core/Content/Product/SalesChannel/Detail/ProductDetailRoute.php
  tests/unit/Core/Content/Product/SalesChannel/Detail/ProductDetailRouteTest.php
Labels: component/core, backport-6.6.x, domain/b2b, backport-6.7.1.0

#11925 fix: Cleanup invalid paths from symfony translator config
  src/Core/Framework/Resources/config/packages/translation.yaml
  src/Core/System/Resources/translation/.gitkeep
Labels: domain/discovery

#11859 feat: optimize fetching product properties
  changelog/_unreleased/2025-08-12-optimize-fetching-product-properties.md
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-properties/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-properties/sw-product-properties.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
Labels: backport-6.6.x, domain/inventory

#11635 feat: config endpoints cached indefinitely
  changelog/_unreleased/2025-07-31-config-endpoints-cached-indefinitely.md
  src/Administration/Controller/UserConfigController.php
  src/Administration/Resources/app/administration/src/core/factory/cache-adapter.factory.js
  src/Administration/Resources/app/administration/src/core/factory/cache-adapter.factory.spec.js
  src/Administration/Resources/app/administration/src/core/service/api/user-config.api.service.spec.js
  src/Administration/Resources/app/administration/src/core/service/api/user-config.api.service.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-dashboard-banner/sw-settings-services-dashboard-banner.spec.js
Labels: domain/inventory

#10530 fix: Be able to load meteor apps from Shopware bundles
  changelog/_unreleased/2025-06-13-allow-admin-scripts-provided-by-bundles.md
  src/Core/Framework/Api/Controller/InfoController.php
  src/Core/Framework/Bundle.php
  src/Core/Framework/Plugin.php
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
Labels: component/administration, component/core, domain/framework, external-contribution

#11907 fix: add rule area ids to SalesChannelContext in sub requests
  src/Core/System/SalesChannel/Context/SalesChannelContextService.php
  tests/unit/Core/System/SalesChannel/Context/SalesChannelContextServiceTest.php
Labels: component/core, domain/framework

#11342 feat: enhance opensearch performance on searching and sorting
  .bc-exclude.php
  changelog/_unreleased/2025-08-12-optimize-storefront-elasticsearch.md
  phpstan-baseline.neon
  src/Core/Content/Product/ProductDefinition.php
  src/Core/Content/Product/SalesChannel/ProductAvailableFilter.php
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityDefinitionQueryHelper.php
  src/Core/Framework/DataAbstractionLayer/Field/TranslatedField.php
  src/Core/Framework/DataAbstractionLayer/Search/Filter/NotEqualsFilter.php
  src/Core/Migration/V6_8/Migration1743256470RemoveElasticsearchAppConfigFlag.php
  src/Elasticsearch/Framework/Command/ElasticsearchIndexingCommand.php
  src/Elasticsearch/Framework/DataAbstractionLayer/CriteriaParser.php
  src/Elasticsearch/Framework/Indexing/ElasticsearchIndexer.php
  src/Elasticsearch/Framework/Indexing/ElasticsearchIndexingMessage.php
  src/Elasticsearch/Framework/Indexing/Event/ElasticsearchIndexingFinishedEvent.php
  src/Elasticsearch/Framework/SystemUpdateListener.php
  src/Elasticsearch/Product/ElasticsearchOptimizeSwitch.php
  src/Elasticsearch/Product/ElasticsearchProductDefinition.php
  src/Elasticsearch/Product/ProductCriteriaParser.php
  src/Elasticsearch/Resources/config/packages/elasticsearch.yaml
  src/Elasticsearch/Resources/config/services.xml
  src/Elasticsearch/TokenQueryBuilder.php
  tests/integration/Elasticsearch/Product/ElasticsearchProductTest.php
  tests/integration/Elasticsearch/Product/Fixture/ProductsFixture.php
  tests/integration/Elasticsearch/Product/ProductSearchQueryBuilderTest.php
  tests/migration/Core/V6_8/Migration1743256470RemoveElasticsearchAppConfigFlagTest.php
  tests/unit/Core/Content/Product/SalesChannel/ProductAvailableFilterTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Dbal/EntityDefinitionQueryHelperTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Field/TranslatedFieldTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Search/Filter/NotEqualsFilterTest.php
  tests/unit/Elasticsearch/Framework/Command/ElasticsearchIndexingCommandTest.php
  tests/unit/Elasticsearch/Framework/DataAbstractionLayer/CriteriaParserTest.php
  tests/unit/Elasticsearch/Framework/DataAbstractionLayer/ElasticsearchEntitySearcherTest.php
  tests/unit/Elasticsearch/Framework/Indexing/ElasticsearchIndexerTest.php
  tests/unit/Elasticsearch/Product/ElasticsearchOptimizeSwitchTest.php
  tests/unit/Elasticsearch/Product/ElasticsearchProductDefinitionTest.php
  tests/unit/Elasticsearch/Product/ProductCriteriaParserTest.php
  tests/unit/Elasticsearch/Product/ProductSearchQueryBuilderTest.php
  tests/unit/Elasticsearch/TokenQueryBuilderTest.php
Labels: component/search, domain/inventory

#11930 feat: reduce admin es indexing when unnecessary
  .bc-exclude.php
  changelog/_unreleased/2025-08-15-reduce-admin-es-indexing-and-iterator-versioning.md
  src/Core/Checkout/Document/DocumentDefinition.php
  src/Core/Framework/DataAbstractionLayer/Dbal/Common/IteratorFactory.php
  src/Elasticsearch/Admin/AdminSearchIndexingMessage.php
  src/Elasticsearch/Admin/AdminSearchRegistry.php
  src/Elasticsearch/Admin/Indexer/AbstractAdminIndexer.php
  src/Elasticsearch/Admin/Indexer/CategoryAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/CmsPageAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/CustomerAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/CustomerGroupAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/LandingPageAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/ManufacturerAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/MediaAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/NewsletterRecipientAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/OrderAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/PaymentMethodAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/ProductAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/ProductStreamAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/PromotionAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/PropertyGroupAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/SalesChannelAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/ShippingMethodAdminSearchIndexer.php
  tests/unit/Core/Framework/DataAbstractionLayer/Dbal/Common/IteratorFactoryTest.php
  tests/unit/Elasticsearch/Admin/AdminSearchIndexingMessageTest.php
  tests/unit/Elasticsearch/Admin/AdminSearchRegistryTest.php
  tests/unit/Elasticsearch/Admin/Indexer/CategoryAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/CmsPageAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/CustomerAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/CustomerGroupAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/LandingPageAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/ManufacturerAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/MediaAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/NewsletterRecipientAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/OrderAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/PaymentMethodAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/ProductAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/ProductStreamAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/PromotionAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/PropertyGroupAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/SalesChannelAdminSearchIndexerTest.php
  tests/unit/Elasticsearch/Admin/Indexer/ShippingMethodAdminSearchIndexerTest.php
Labels: component/search, domain/framework, domain/inventory

#11671 test: add Rule Builder test
  tests/acceptance/tests/Visual/Administration/RuleBuilderDetail.spec.ts
  tests/acceptance/tests/Visual/Administration/RuleBuilderDetail.spec.ts-snapshots/Rule-Builder-Detail-Assignments-Modal-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/RuleBuilderDetail.spec.ts-snapshots/Rule-Builder-Detail-Assignments-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/RuleBuilderDetail.spec.ts-snapshots/Rule-Builder-General-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Settings.spec.ts
Labels: testing/acceptance, priority/high, domain/quality-ops

#11777 feat: Implement app user change
  changelog/_unreleased/2025-08-06-add-app-user-id-header.md
  phpstan-baseline.neon
  src/Core/Framework/Routing/ApiRequestContextResolver.php
  src/Core/Framework/Routing/RoutingException.php
  src/Core/PlatformRequest.php
  tests/integration/Core/Framework/Routing/ApiRequestContextResolverTest.php
  tests/unit/Core/Framework/Routing/RoutingExceptionTest.php
Labels: service/shopping-experience

#11983 fix: remove unneeded shortcut from favicon
  src/Storefront/Resources/views/storefront/layout/meta.html.twig
Labels: component/storefront, backport-6.6.x, domain/framework

#11914 feat(services): Show service permissions in Admin
  src/Administration/Resources/app/administration/src/module/sw-extension/service/extension-store-action.service.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-service-card/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-service-card/sw-settings-services-service-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-service-card/sw-settings-services-service-card.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-services/service/shopware-services.service.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-services/service/shopware-services.service.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-services/snippet/en-GB.json
  src/Core/Framework/Store/Services/ExtensionLoader.php
  src/Core/Service/Api/ServiceController.php
  tests/integration/Core/Framework/_snapshots/routes_without_schema.json
  tests/unit/Core/Service/Api/ServiceControllerTest.php
Labels: component/appsystem, service/data-intelligence, domain/service-enablement

#11947 fix: Handle backslashes in plugin create command namespace argument
  src/Core/Framework/Plugin/Command/Scaffolding/Generator/ComposerGenerator.php
  src/Core/Framework/Plugin/Command/Scaffolding/Generator/TestsGenerator.php
  tests/unit/Core/Framework/Plugin/Command/Scaffolding/Generator/ComposerGeneratorTest.php
Labels: component/core, domain/framework, external-contribution

#12022 fix: ProductDetail visual test
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts
Labels: needs-triage

#11866 fix: loading hookable entities dynamically
  changelog/_unreleased/2025-08-15-load-all-hookable-entities-by-checking-shopware-entity-hookable-tag.md
  phpstan-baseline.neon
  src/Core/Checkout/DependencyInjection/customer.xml
  src/Core/Checkout/DependencyInjection/document.xml
  src/Core/Checkout/DependencyInjection/order.xml
  src/Core/Content/DependencyInjection/category.xml
  src/Core/Content/DependencyInjection/media.xml
  src/Core/Content/DependencyInjection/product.xml
  src/Core/DevOps/Resources/generated/webhook-events-reference.md
  src/Core/Framework/DependencyInjection/CompilerPass/AutoconfigureCompilerPass.php
  src/Core/Framework/DependencyInjection/webhook.xml
  src/Core/Framework/Webhook/Hookable/HookableEntityInterface.php
  src/Core/Framework/Webhook/Hookable/HookableEventCollector.php
  src/Core/Framework/Webhook/Hookable/HookableEventFactory.php
  src/Core/System/DependencyInjection/sales_channel.xml
  tests/integration/Core/Framework/DependencyInjection/CompilerPass/AutoconfigureCompilerPassTest.php
  tests/integration/Core/Framework/Webhook/Hookable/HookableEventCollectorTest.php
  tests/unit/Core/Framework/Webhook/Hookable/HookableEventCollectorTest.php
  tests/unit/Core/Framework/Webhook/Hookable/HookableEventFactoryTest.php
Labels: component/core, domain/framework

#12007 fix: Revert "fix: Validate administration snippets of Plugin (#9394)" to fix snippet loading time
  src/Core/System/Snippet/Files/SnippetFileLoader.php
  tests/unit/Core/System/Snippet/Files/SnippetFileLoaderTest.php
  tests/unit/Core/System/Snippet/Files/_fixtures/BaseSnippetSet/Resources/app/administration/src/module/sw-module/snippet/de-DE.json
  tests/unit/Core/System/Snippet/Files/_fixtures/BaseSnippetSet/Resources/app/administration/src/module/sw-module/snippet/en-GB.json
Labels: domain/discovery

#12012 chore: Use correct EntityRepository types for phpstan in unit core tests
  phpstan.neon.dist
  tests/unit/Core/Checkout/Cart/Address/AddressValidator2Test.php
  tests/unit/Core/Checkout/Cart/Address/AddressValidatorTest.php
  tests/unit/Core/Checkout/Cart/Order/LineItemDownloadLoaderTest.php
  tests/unit/Core/Checkout/Cart/SalesChannel/CartOrderRouteTest.php
  tests/unit/Core/Checkout/Customer/Api/CustomerGroupRegistrationActionControllerTest.php
  tests/unit/Core/Checkout/Customer/SalesChannel/DownloadRouteTest.php
  tests/unit/Core/Checkout/Customer/SalesChannel/RegisterConfirmRouteTest.php
  tests/unit/Core/Checkout/Customer/SalesChannel/SendPasswordRecoveryMailRouteTest.php
  tests/unit/Core/Checkout/Customer/Validation/CustomerZipcodeValidatorTest.php
  tests/unit/Core/Checkout/Order/SalesChannel/OrderServiceTest.php
  tests/unit/Core/Checkout/Payment/Cart/PaymentRecurringProcessorTest.php
  tests/unit/Core/Content/Category/Service/CategoryBreadcrumbBuilderTest.php
  tests/unit/Core/Content/Flow/Dispatching/Action/AddCustomerAffiliateAndCampaignCodeActionTest.php
  tests/unit/Core/Content/Flow/Dispatching/Action/AddCustomerTagActionTest.php
  tests/unit/Core/Content/Flow/Dispatching/Action/AddOrderAffiliateAndCampaignCodeActionTest.php
  tests/unit/Core/Content/Flow/Dispatching/Action/AddOrderTagActionTest.php
  tests/unit/Core/Content/Flow/Dispatching/Action/ChangeCustomerGroupActionTest.php
  tests/unit/Core/Content/Flow/Dispatching/Action/ChangeCustomerStatusActionTest.php
  tests/unit/Core/Content/Flow/Dispatching/Action/RemoveCustomerTagActionTest.php
  tests/unit/Core/Content/Flow/Dispatching/Action/RemoveOrderTagActionTest.php
  tests/unit/Core/Content/Flow/Dispatching/Action/SendMailActionTest.php
  tests/unit/Core/Content/Flow/Dispatching/Action/SetCustomerCustomFieldActionTest.php
  tests/unit/Core/Content/Flow/Dispatching/Action/SetCustomerGroupCustomFieldActionTest.php
  tests/unit/Core/Content/Flow/Dispatching/Action/SetOrderCustomFieldActionTest.php
  tests/unit/Core/Content/Flow/Dispatching/Storer/CustomerGroupStorerTest.php
  tests/unit/Core/Content/Flow/Dispatching/Storer/CustomerRecoveryStorerTest.php
  tests/unit/Core/Content/Flow/Dispatching/Storer/CustomerStorerTest.php
  tests/unit/Core/Content/Flow/Dispatching/Storer/NewsletterRecipientStorerTest.php
  tests/unit/Core/Content/Flow/Dispatching/Storer/OrderStorerTest.php
  tests/unit/Core/Content/Flow/Dispatching/Storer/OrderTransactionStorerTest.php
  tests/unit/Core/Content/Flow/Dispatching/Storer/ProductStorerTest.php
  tests/unit/Core/Content/Flow/Dispatching/Storer/UserStorerTest.php
  tests/unit/Core/Content/ImportExport/DataAbstractionLayer/Serializer/Field/PriceSerializerTest.php
  tests/unit/Core/Content/ImportExport/Strategy/Import/ImportStrategyTestCase.php
  tests/unit/Core/Content/Mail/Service/MailAttachmentsBuilderTest.php
  tests/unit/Core/Content/Mail/Service/MailServiceTest.php
  tests/unit/Core/Content/Mail/Transport/MailerTransportDecoratorTest.php
  tests/unit/Core/Content/MeasurementSystem/Unit/MeasurementUnitProviderTest.php
  tests/unit/Core/Content/Media/SalesChannel/MediaRouteTest.php
  tests/unit/Core/Content/Product/Cart/ProductFeatureBuilderTest.php
  tests/unit/Core/Content/Product/SalesChannel/Review/ProductReviewRouteTest.php
  tests/unit/Core/Content/Product/SalesChannel/Review/ProductReviewSaveRouteTest.php
  tests/unit/Core/Content/ProductExport/ScheduledTask/ProductExportGenerateTaskHandlerTest.php
  tests/unit/Core/Framework/App/Command/AppListCommandTest.php
  tests/unit/Core/Framework/App/Lifecycle/AppLifecycleTest.php
  tests/unit/Core/Framework/App/Lifecycle/Persister/FlowEventPersisterTest.php
  tests/unit/Core/Framework/App/Lifecycle/Persister/ShippingMethodPersisterTest.php
  tests/unit/Core/Framework/MessageQueue/ScheduledTask/Registry/TaskRegistryTest.php
  tests/unit/Core/Framework/Plugin/Command/PluginListCommandTest.php
  tests/unit/Core/Framework/Plugin/PluginLifecycleServiceTest.php
  tests/unit/Core/Framework/Store/Authentication/StoreRequestOptionsProviderTest.php
  tests/unit/Core/Framework/Store/Services/FirstRunWizardServiceTest.php
Labels: component/core, domain/framework, external-contribution

#12037 feat: make AsyncAws batch size configurable
  changelog/_unreleased/2025-08-21-make-asyncawss3writebatchadapter-batch-size-configurable.md
  config-schema.json
  src/Core/Framework/Adapter/Filesystem/Adapter/AsyncAwsS3WriteBatchAdapter.php
  src/Core/Framework/Adapter/Filesystem/Adapter/AwsS3v3Factory.php
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/Framework/DependencyInjection/filesystem.xml
  src/Core/Framework/Resources/config/packages/shopware.yaml
  tests/unit/Core/Framework/Adapter/Filesystem/Adapter/AsyncAwsS3WriteBatchAdapterTest.php
  tests/unit/Core/Framework/Adapter/Filesystem/Adapter/AwsS3v3FactoryTest.php
Labels: component/core, domain/framework

#12046 feat: remove usage of imagedestroy
  changelog/_unreleased/2025-08-22-remove-usage-of-imagedestroy.md
  src/Core/Content/Media/Thumbnail/ThumbnailService.php
  src/Storefront/Framework/Captcha/BasicCaptcha/BasicCaptchaGenerator.php
Labels: component/storefront, component/core, domain/framework, external-contribution

#12049 fix: Error when creating user in admin
  changelog/_unreleased/2025-08-22-fix-confusing-error-on-user-create.md
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-user-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-user-detail/sw-users-permissions-user-detail.spec.js
Labels: component/administration, domain/framework

#12043 fix: Theme config update with removed fields
  changelog/_unreleased/2025-08-22-fix-theme-config-issue-with-removed-fields.md
  src/Storefront/Theme/ThemeService.php
  tests/integration/Storefront/Theme/ThemeTest.php
  tests/unit/Storefront/Theme/ThemeServiceTest.php
Labels: component/storefront, domain/framework

#12003 fix: Admin es search for "document number" doesn't return any results
  changelog/_unreleased/2025-08-20-fix-admin-es-search-for-document-number-does-not-return-any-result.md
  src/Elasticsearch/Admin/Indexer/OrderAdminSearchIndexer.php
  tests/unit/Elasticsearch/Admin/Indexer/OrderAdminSearchIndexerTest.php
Labels: component/search, domain/inventory

#11999 feat: changed OpenSearch in tests to version 2
  .github/workflows/integration.yml
  .github/workflows/php.yml
  changelog/_unreleased/2025-08-20-update-opensearch-in-tests.md
  src/Elasticsearch/Test/AdminElasticsearchTestBehaviour.php
  src/Elasticsearch/Test/ElasticsearchTestTestBehaviour.php
Labels: domain/product-ops, domain/framework, external-contribution

#12056 feat: add SensitiveParam attribute where it makes sense
  src/Core/Checkout/Customer/CustomerEntity.php
  src/Core/Checkout/Customer/Password/LegacyEncoder/LegacyEncoderInterface.php
  src/Core/Checkout/Customer/Password/LegacyEncoder/Md5.php
  src/Core/Checkout/Customer/Password/LegacyEncoder/Sha256.php
  src/Core/Checkout/Customer/Password/LegacyPasswordVerifier.php
  src/Core/Checkout/Customer/SalesChannel/AccountService.php
  src/Core/Checkout/Customer/SalesChannel/LoginRoute.php
  src/Core/Framework/Api/OAuth/UserRepository.php
  src/Core/Framework/App/ActionButton/Executor.php
  src/Core/Framework/App/AppEntity.php
  src/Core/Framework/App/Lifecycle/Registration/AppRegistrationService.php
  src/Core/Framework/App/Lifecycle/Registration/PrivateHandshake.php
  src/Core/Maintenance/System/Struct/DatabaseConnectionInformation.php
  src/Core/System/User/Api/UserRecoveryController.php
  src/Core/System/User/Recovery/UserRecoveryService.php
  src/Core/System/User/UserEntity.php
Labels: component/core, domain/framework

#12075 fix: Admin es search for "document number" doesn't return any results…
  changelog/_unreleased/2025-08-20-fix-admin-es-search-for-document-number-does-not-return-any-result.md
  src/Elasticsearch/Admin/Indexer/OrderAdminSearchIndexer.php
  tests/unit/Elasticsearch/Admin/Indexer/OrderAdminSearchIndexerTest.php
Labels: component/search, domain/inventory

#12087 fix(app-system): exclude AppException from BC check
  .bc-exclude.php
Labels: backport-6.6.x, component/appsystem, domain/service-enablement

#11886 chore: phpunit tests cleanup
  .github/workflows/php.yml
  tests/migration/phpunit.xml
  tests/unit/Core/Checkout/Cart/Error/ErrorTest.php
  tests/unit/Core/Checkout/Document/Service/DocumentMergerTest.php
  tests/unit/Core/Content/Media/Upload/MediaUploadServiceTest.php
Labels: component/core, domain/framework

#12083 feat: Add feature toggle for oder.transactions property in documents
  src/Core/Framework/Resources/views/documents/includes/payment_shipping.html.twig
  tests/integration/Core/Checkout/Document/Renderer/_snapshots/credit_note_renderer_default.html
  tests/integration/Core/Checkout/Document/Renderer/_snapshots/delivery_note_renderer_default.html
  tests/integration/Core/Checkout/Document/Renderer/_snapshots/invoice_renderer_default.html
  tests/integration/Core/Checkout/Document/Renderer/_snapshots/storno_renderer_default.html
Labels: component/documents, domain/crm-after-sales

#12104 ci: optimize npm caching
  .github/actions/ats/action.yaml
  .github/workflows/integration.yml
  .github/workflows/php.yml
  .github/workflows/storefront.yml
  composer.json
Labels: domain/product-ops

#12034 feat: Make product association on OrderLineItem api aware
  changelog/_unreleased/2025-08-21-make-product-of-orderlineitem-api-aware.md
  src/Core/Checkout/Order/Aggregate/OrderLineItem/OrderLineItemDefinition.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Labels: domain/checkout, external-contribution

#11807 feat: Cache NavigationLoader
  adr/2025-08-19-cache-layer-for-navigation-loader.md
  changelog/_unreleased/2025-08-07-cache-default-category-levels.md
  src/Core/Content/Category/Event/CategoryLevelLoaderCacheKeyEvent.php
  src/Core/Content/Category/SalesChannel/NavigationRoute.php
  src/Core/Content/Category/Service/CachedDefaultCategoryLevelLoader.php
  src/Core/Content/Category/Service/DefaultCategoryLevelLoader.php
  src/Core/Content/Category/Service/DefaultCategoryLevelLoaderInterface.php
  src/Core/Content/Category/Tree/CategoryTreePathResolver.php
  src/Core/Content/DependencyInjection/category.xml
  tests/unit/Core/Content/Category/Event/CategoryLevelLoaderCacheKeyEventTest.php
  tests/unit/Core/Content/Category/SalesChannel/NavigationRouteTest.php
  tests/unit/Core/Content/Category/Service/CachedDefaultCategoryLevelLoaderTest.php
  tests/unit/Core/Content/Category/Service/DefaultCategoryLevelLoaderTest.php
Labels: component/core, domain/framework

#12089 fix(phpstan): deprecation for interface removal should not throw
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Deprecation/DeprecatedMethodsThrowDeprecationRule.php
Labels: domain/checkout

#11459 feat: Add constants to global Shopware object
  changelog/_unreleased/2025-07-23-add-constants-to-global-shopware-object.md
  src/Administration/Resources/app/administration/src/core/shopware.ts
  src/Administration/Resources/app/administration/src/global.types.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/image/image-bubble-row/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/image/image-cover/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/image/image-four-column/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/image/image-gallery/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/image/image-highlight-row/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/image/image-simple-grid/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/image/image-slider/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/image/image-three-column/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/image/image-three-cover/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/image/image-two-column/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/image/image/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/sidebar/sidebar-filter/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/text-image/center-text/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/text-image/image-text-bubble/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/text-image/image-text-cover/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/text-image/image-text-gallery/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/text-image/image-text-row/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/text-image/image-text/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/blocks/text-image/text-on-image/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-page-form/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-sidebar/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-gallery/component/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image/component/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/sidebar-filter/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-detail/sw-cms-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/service/cms.service.spec.js
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-address-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-address-form/sw-customer-address-form.spec.js
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-base-info/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-create/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-sequence-action/sw-flow-sequence-action.spec.js
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-trigger/sw-flow-trigger.spec.js
  src/Administration/Resources/app/administration/src/module/sw-flow/constant/flow.constant.js
  src/Administration/Resources/app/administration/src/module/sw-flow/service/flow-builder.service.spec.js
  src/Administration/Resources/app/administration/src/module/sw-flow/service/flow-builder.service.ts
  src/Administration/Resources/app/administration/src/module/sw-flow/store/flow.store.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-new-customer-modal/index.js
Labels: component/administration, domain/framework, external-contribution

#11865 refactor: serialization cart size check
  changelog/_unreleased/2025-08-12-serialization-cart-size-check.md
  config-schema.json
  src/Core/Checkout/Cart/CartCompressor.php
  src/Core/Checkout/Cart/CartException.php
  src/Core/Checkout/DependencyInjection/cart.xml
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/Framework/Resources/config/packages/shopware.yaml
  tests/unit/Core/Checkout/Cart/CartCompressorTest.php
Labels: domain/checkout

#12135 ci: sync minor release branches
  .github/workflows/sync.yml
Labels: domain/product-ops

#12108 fix: deny bulk delete of promotions if orderCount
  src/Administration/Resources/app/administration/src/app/component/data-grid/sw-data-grid/sw-data-grid.scss
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/page/sw-promotion-v2-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/page/sw-promotion-v2-list/sw-promotion-v2-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/page/sw-promotion-v2-list/sw-promotion-v2-list.spec.js
  src/Core/Checkout/DependencyInjection/promotion.xml
  src/Core/Checkout/Promotion/DataAbstractionLayer/PromotionValidator.php
  src/Core/Checkout/Promotion/PromotionException.php
  tests/unit/Core/Checkout/Promotion/DataAbstractionLayer/PromotionValidatorTest.php
Labels: backport-6.6.x, domain/checkout

#12120 fix: replace Admin Menu avatar in screenshot
  tests/acceptance/package-lock.json
  tests/acceptance/tests/Visual/Administration/RuleBuilderDetail.spec.ts
Labels: priority/high, domain/quality-ops

#12133 fix: update sales channel context after switching
  changelog/_unreleased/2025-08-27-update-sales-channel-context-after-switching.md
  src/Storefront/Checkout/Cart/SalesChannel/StorefrontCartFacade.php
  tests/unit/Storefront/Checkout/Cart/SalesChannel/StorefrontCartFacadeTest.php
Labels: domain/checkout

#12142 fix: Consider landing page assignments in CMS page list
  changelog/_unreleased/2025-08-27-consider-landing-page-assignments-in-cms-page-list.md
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-list/sw-cms-list.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/en-GB.json
Labels: domain/discovery, external-contribution

#12084 chore: Add no-activate param to install command
  src/Core/System/Snippet/Command/InstallTranslationCommand.php
  src/Core/System/Snippet/Service/TranslationLoader.php
  tests/unit/Core/System/Snippet/Command/InstallTranslationCommandTest.php
  tests/unit/Core/System/Snippet/Service/TranslationLoaderTest.php
Labels: domain/discovery

#12115 fix: customer active check
  src/Core/System/SalesChannel/Context/SalesChannelContextFactory.php
  tests/unit/Core/System/SalesChannel/Context/SalesChannelContextFactoryTest.php
Labels: backport-6.6.x, domain/checkout

#11543 fix: cart error message translation in store api
  changelog/_unreleased/2025-07-28-fix-cart-error-message-translation-in-store-api.md
  src/Core/Checkout/Cart/CartRuleLoader.php
  src/Core/Checkout/Cart/Error/Error.php
  src/Core/Checkout/DependencyInjection/cart.xml
  src/Core/Framework/Resources/snippet/de_DE/messages.de-DE.base.json
  src/Core/Framework/Resources/snippet/en_GB/messages.en-GB.base.json
  src/Storefront/Controller/StorefrontController.php
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  tests/integration/Core/Checkout/Cart/Order/RecalculationServiceTest.php
  tests/unit/Core/Checkout/Cart/CartRuleLoaderTest.php
Labels: domain/checkout, external-contribution

#12129 fix: 403 issue when admin makes the call
  changelog/_unreleased/2025-08-27-fix-app-user-id-admin-privileges.md
  src/Core/Framework/Routing/ApiRequestContextResolver.php
  tests/integration/Core/Framework/Routing/ApiRequestContextResolverTest.php
Labels: service/shopping-experience

#11975 feat: allow extra fields to validation factory
  src/Core/Framework/Store/InAppPurchase/Services/DecodedPurchasesCollectionStruct.php
  src/Core/Framework/Validation/ValidatorFactory.php
  tests/unit/Core/Framework/Store/InAppPurchases/Services/DecodedPurchaseStructTest.php
Labels: backport-6.6.x, domain/checkout, backport-6.7.2.x

#12187 fix: Remove load expensive administration order sorting
  changelog/_unreleased/2025-08-29-remove-load-expensive-administration-order-sorting.md
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/index.js
Labels: domain/checkout, external-contribution, milestone/6.7.3.0

#12202 ci: use pull_request_target in milestone automation
  .github/workflows/milestone.yml
Labels: domain/product-ops, milestone/6.7.2.0
