Repository shopware/shopware, pull requests merged in 2025-07, with the labels that each got.

#10884 fix: bulk edit variant properties cannot be changed
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-properties/sw-product-properties.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-properties/sw-product-properties.scss
Labels: domain/inventory

#10902 docs: improve OpenAPI schema for POST /store-api/order
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/order.json
Labels: domain/checkout

#10298 feat: Products with variants should return the variant that match the search term in the product detail page
  changelog/_unreleased/2025-06-05-products-with-variants-should-return-the-variant-that-match-the-search-term-in-the-product-detail-page.md
  phpstan-baseline.neon
  src/Core/Content/Product/ProductException.php
  src/Core/Content/Product/SalesChannel/Detail/ProductDetailRoute.php
  src/Core/Migration/V6_7/Migration1749644517AddListingVariantNameSystemConfigOption.php
  src/Core/System/Resources/config/listing.xml
  src/Storefront/Resources/app/storefront/src/scss/layout/_search-suggest.scss
  src/Storefront/Resources/views/storefront/component/product/card/box-standard.html.twig
  src/Storefront/Resources/views/storefront/layout/header/search-suggest.html.twig
  tests/integration/Storefront/Controller/ProductControllerTest.php
  tests/integration/Storefront/Integration/ProductVisibilityTest.php
  tests/integration/Storefront/Page/Product/QuickView/MinimalQuickViewPageTest.php
  tests/integration/Storefront/Page/ProductPageTest.php
  tests/migration/Core/V6_7/Migration1749644517AddListingVariantNameSystemConfigOptionTest.php
  tests/unit/Core/Content/Product/ProductExceptionTest.php
  tests/unit/Core/Content/Product/SalesChannel/Detail/ProductDetailRouteTest.php
Labels: component/advanced-search, component/search, domain/inventory

#10907 fix: reduce too many cache cleaning operations
  changelog/_unreleased/2025-07-01-add-lock-for-cache-clearer.md
  src/Core/Framework/Adapter/Cache/CacheClearer.php
  src/Core/Framework/DependencyInjection/cache.xml
  tests/integration/Core/Framework/Plugin/PluginManagementServiceTest.php
  tests/unit/Core/Framework/Adapter/Cache/CacheClearerTest.php
Labels: component/core, backport-6.6.x, backport-6.7.0.0, domain/framework

#10855 fix: duplicate checkout gateway filter
  changelog/_unreleased/2025-06-27-fix-duplicate-checkout-gateway-filter.md
  src/Core/Checkout/DependencyInjection/cart.xml
  src/Core/Checkout/Gateway/SalesChannel/CheckoutGatewayRoute.php
  tests/unit/Core/Checkout/Gateway/SalesChannel/CheckoutGatewayRouteTest.php
Labels: domain/checkout, external-contribution

#10729 feat: acceptance test for product review
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-ajax-submit.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/forms/form-ajax-submit.plugin.test.js
  tests/acceptance/package-lock.json
  tests/acceptance/tests/Product/ProductReview.spec.ts
Labels: component/inventory-reviews, priority/high, domain/quality-ops

#10920 chore: merge back 6.7.0.1
  CHANGELOG.md
  UPGRADE-6.7.md
  UPGRADE-6.8.md
  changelog/release-6-7-0-1/2025-06-11-manufacturer-replace-media-sidebar-to-media-modal.md
  changelog/release-6-7-0-1/2025-06-17-press-esc-key-in-the-modal-will-go-back-listing-page.md
  changelog/release-6-7-0-1/2025-06-18-live-search-page-broken-if-the-data-is-empty.md
  changelog/release-6-7-0-1/2025-06-26-fix-stacking-line-items-does-not-recalculate-advanced-prices.md
  changelog/release-6-7-0-1/2025-06-27-dont-ignore-esi-render-errors.md
Labels: domain/product-ops

#10923 fix: run directly on symfony messenger without scheduled task
  src/Core/Service/AllServiceInstaller.php
  src/Core/Service/DependencyInjection/services.xml
  src/Core/Service/Message/InstallServicesMessage.php
  src/Core/Service/MessageHandler/InstallServicesHandler.php
  tests/unit/Core/Service/AllServiceInstallerTest.php
  tests/unit/Core/Service/MessageHandler/InstallServicesHandlerTest.php
Labels: needs-triage

#10885 fix: Only allow to edit price of line item if price definition is set
  changelog/_unreleased/2025-06-30-prevent-line-item-price-editing-in-admin-if-price-definition-is-missing.md
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/sw-order-line-items-grid.html.twig
Labels: domain/checkout, external-contribution

#9131 fix: deprecations for twig 3.21
  composer.json
  src/Core/Content/Seo/SeoUrlGenerator.php
  src/Core/Framework/Adapter/Twig/Extension/PhpSyntaxExtension.php
  src/Core/Framework/Adapter/Twig/Node/SwBlockReferenceExpression.php
  src/Core/Framework/Adapter/Twig/Node/SwInclude.php
  src/Core/Framework/Adapter/Twig/TokenParser/EmbedTokenParser.php
  src/Core/Framework/Adapter/Twig/TokenParser/ExtendsTokenParser.php
  src/Core/Framework/Adapter/Twig/TokenParser/FromTokenParser.php
  src/Core/Framework/Adapter/Twig/TokenParser/ImportTokenParser.php
  src/Core/Framework/Adapter/Twig/TokenParser/IncludeTokenParser.php
  src/Core/Framework/Adapter/Twig/TokenParser/ReturnNodeTokenParser.php
  src/Core/Framework/Adapter/Twig/TokenParser/SwMacroFunctionTokenParser.php
  src/Core/Framework/Adapter/Twig/TokenParser/UseTokenParser.php
  src/Storefront/Framework/Twig/TokenParser/IconTokenParser.php
  src/Storefront/Framework/Twig/TokenParser/ThumbnailTokenParser.php
  tests/unit/Core/Framework/Adapter/Twig/Extension/PhpSyntaxExtensionTest.php
  tests/unit/Core/Framework/Adapter/Twig/Extension/fixture/php-syntax-extension.html.twig
  tests/unit/Storefront/Controller/Exception/StorefrontExceptionTest.php
Labels: component/storefront, component/core, domain/framework

#10672 feat: save services consent on registry server
  src/Core/Service/AllServiceInstaller.php
  src/Core/Service/Api/PermissionController.php
  src/Core/Service/AuthenticatedServiceClient.php
  src/Core/Service/DependencyInjection/services.xml
  src/Core/Service/Event/PermissionsGrantedEvent.php
  src/Core/Service/Event/PermissionsRevokedEvent.php
  src/Core/Service/LifecycleManager.php
  src/Core/Service/Message/LogPermissionToRegistryMessage.php
  src/Core/Service/MessageHandler/LogConsentToRegistryHandler.php
  src/Core/Service/Permission/ConsentState.php
  src/Core/Service/Permission/PermissionsConsent.php
  src/Core/Service/Permission/PermissionsService.php
  src/Core/Service/Permission/RemoteLogger.php
  src/Core/Service/PermissionsService.php
  src/Core/Service/ServiceClient.php
  src/Core/Service/ServiceClientFactory.php
  src/Core/Service/ServiceException.php
  src/Core/Service/ServiceLifecycle.php
  src/Core/Service/ServiceRegistry/Client.php
  src/Core/Service/ServiceRegistry/PermissionLogger.php
  src/Core/Service/ServiceRegistry/SaveConsentRequest.php
  src/Core/Service/ServiceRegistry/ServiceEntry.php
  src/Core/Service/Subscriber/ExtensionCompatibilitiesResolvedSubscriber.php
  src/Core/Service/Subscriber/LicenseSyncSubscriber.php
  tests/integration/Core/Service/Api/PermissionControllerTest.php
  tests/integration/Core/Service/PermissionsServiceTest.php
  tests/unit/Core/Service/AllServiceInstallerTest.php
  tests/unit/Core/Service/Api/PermissionControllerTest.php
  tests/unit/Core/Service/AuthenticatedServiceClientTest.php
  tests/unit/Core/Service/LifecycleManagerTest.php
  tests/unit/Core/Service/MessageHandler/LogConsentToRegistryHandlerTest.php
  tests/unit/Core/Service/Permission/PermissionsConsentTest.php
  tests/unit/Core/Service/Permission/PermissionsServiceTest.php
  tests/unit/Core/Service/PermissionsServiceTest.php
  tests/unit/Core/Service/ServiceClientFactoryTest.php
  tests/unit/Core/Service/ServiceClientTest.php
  tests/unit/Core/Service/ServiceExceptionTest.php
  tests/unit/Core/Service/ServiceLifecycleTest.php
  tests/unit/Core/Service/ServiceRegistry/ClientTest.php
  tests/unit/Core/Service/ServiceRegistry/PermissionLoggerTest.php
  tests/unit/Core/Service/ServiceRegistry/ServiceEntryTest.php
  tests/unit/Core/Service/Subscriber/ExtensionCompatibilitiesResolvedSubscriberTest.php
  tests/unit/Core/Service/Subscriber/LicenseSyncSubscriberTest.php
  tests/unit/Core/Service/Subscriber/PermissionsSubscriberTest.php
Labels: component/core, domain/service-enablement

#10664 feat: ES should work correctly with ScoreQuery
  changelog/_unreleased/2025-06-17-es-should-work-correctly-with-scorequery.md
  src/Elasticsearch/Framework/ElasticsearchHelper.php
  tests/unit/Elasticsearch/Framework/ElasticsearchHelperTest.php
Labels: backport-6.6.x, component/search, backport-6.7.0.0, domain/inventory

#10956 feat: improved 3D camera to focus model better.
  changelog/_unreleased/2025-07-03-improved-initial-camera-position-of-3d-viewer.md
  src/Storefront/Resources/app/storefront/package-lock.json
  src/Storefront/Resources/app/storefront/package.json
Labels: service/shopping-experience

#10918 fix: keep promotion codes after login
  src/Core/Checkout/DependencyInjection/promotion.xml
  src/Core/Checkout/Promotion/Cart/CartPromotionsSubscriber.php
  src/Core/Checkout/Promotion/Cart/Extension/CartExtension.php
  tests/unit/Core/Checkout/Cart/Promotion/Cart/Extension/CartExtensionTest.php
  tests/unit/Core/Checkout/Promotion/Cart/CartPromotionsSubscriberTest.php
Labels: backport-6.6.x, domain/checkout

#10951 fix: first page snippet in pagination
  src/Storefront/Resources/views/storefront/component/pagination.html.twig
Labels: component/storefront, backport-6.6.x, backport-6.7.0.0, domain/framework, external-contribution

#7716 chore: Improve fetching of language information for SalesChannelContext
  UPGRADE-6.8.md
  changelog/_unreleased/2025-06-11-improve-fetching-of-language-information-for-saleschannelcontext.md
  src/Core/System/DependencyInjection/sales_channel.xml
  src/Core/System/SalesChannel/Context/BaseSalesChannelContextFactory.php
  src/Core/Test/Generator.php
  tests/unit/Core/Content/Product/Cms/ProductSliderCmsElementResolverTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Cache/EntityCacheKeyGeneratorTest.php
  tests/unit/Core/System/SalesChannel/Context/BaseSalesChannelContextFactoryTest.php
  tests/unit/Core/System/SalesChannel/Context/SalesChannelContextFactoryTest.php
Labels: component/core, domain/framework

#10955 fix: Add missing dateTimeFormat property for sw-time-ago
  changelog/_unreleased/2025-07-03-add-missing-date-time-format-prop-for-sw-time-ago.md
  src/Administration/Resources/app/administration/src/app/component/utils/sw-time-ago/index.ts
Labels: domain/checkout, external-contribution

#10968 fix: skip cart recalculation on esi sub-requests
  changelog/_unreleased/2025-07-03-skip-cart-recalculation-on-esi-sub-requests.md
  src/Core/Checkout/Cart/SalesChannel/CartService.php
  src/Core/System/DependencyInjection/sales_channel.xml
  src/Core/System/SalesChannel/Context/SalesChannelContextService.php
  tests/unit/Core/System/SalesChannel/Context/SalesChannelContextServiceTest.php
Labels: component/core, domain/checkout

#10942 chore: Remove unused `tecnickcom/tcpdf` dependency
  composer.json
  src/Core/composer.json
Labels: component/core, domain/framework

#10969 feat: Add CanonicalRedirectExtension to CanonicalRedirectService
  changelog/_unreleased/2025-07-03-add-canonical-redirect-extension.md
  src/Core/Framework/DependencyInjection/services.xml
  src/Core/Framework/Routing/CanonicalRedirectService.php
  src/Core/Framework/Routing/Extension/CanonicalRedirectExtension.php
  tests/unit/Core/Framework/Routing/CanonicalRedirectServiceTest.php
Labels: component/core, domain/framework, external-contribution

#10941 fix: missing card in create order modal
  src/Administration/Resources/app/administration/src/meta/position-identifiers.json
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-address-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-details-body/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-details-footer/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-details-header/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-initial-modal/sw-order-create-initial-modal.scss
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-customer-grid/sw-order-customer-grid.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-customer-grid/sw-order-customer-grid.scss
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-customer-grid/sw-order-customer-grid.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid-sales-channel/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid-sales-channel/sw-order-line-items-grid-sales-channel.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid-sales-channel/sw-order-line-items-grid-sales-channel.scss
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid-sales-channel/sw-order-line-items-grid-sales-channel.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-general/sw-order-create-general.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-general/sw-order-create-general.spec.js
Labels: domain/checkout

#10973 feat: add de-de translations for services
  src/Administration/Resources/app/administration/src/module/sw-settings-services/snippet/de-DE.json
Labels: component/core, domain/service-enablement

#10981 feat: Improved XmlHttpRequest denied exception information
  .bc-exclude.php
  changelog/_unreleased/2025-07-03-improved-xml-http-request-denied-exception-info.md
  src/Core/Framework/Routing/RoutingException.php
  src/Storefront/Framework/Routing/StorefrontSubscriber.php
  tests/unit/Storefront/Framework/Routing/StorefrontSubscriberTest.php
Labels: component/storefront, component/core, domain/framework, external-contribution

#10964 fix(a11y): missing cookie off-canvas label
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/layout/cookie/cookie-configuration.html.twig
Labels: component/storefront, area/accessibility, backport-6.6.x, domain/framework

#11010 fix: Change deprecated `&&` in sql accessor builder
  changelog/_unreleased/2025-07-04-change-deprecated-and-in-sql-accessor-builder.md
  src/Core/Framework/DataAbstractionLayer/Dbal/FieldAccessorBuilder/JsonFieldAccessorBuilder.php
Labels: component/core, domain/framework, external-contribution

#10988 fix: use `path()` instead of `url()` for ESI includes
  changelog/_unreleased/2025-07-03-esi-url-instead-of-path.md
  src/Storefront/Resources/views/storefront/base.html.twig
Labels: component/core, backport-6.6.x, backport-6.7.0.0, domain/framework, external-contribution

#10961 fix: wrong internal tagging
  src/Core/Framework/DataAbstractionLayer/Dbal/QueryBuilder.php
Labels: component/core, domain/framework

#10992 fix: delete correct expired store session
  changelog/_unreleased/2025-07-04-delete-correct-expired-store-session.md
  src/Core/Framework/DependencyInjection/store.xml
  src/Core/Framework/Store/Authentication/StoreRequestOptionsProvider.php
  src/Core/Framework/Store/InAppPurchase/Subscriber/InAppPurchaseConfigSubscriber.php
  src/Core/Framework/Store/Services/MiddlewareInterface.php
  src/Core/Framework/Store/Services/ShopSecretInvalidMiddleware.php
  src/Core/Framework/Store/Services/StoreClientFactory.php
  src/Core/Framework/Store/Services/StoreSessionExpiredMiddleware.php
  src/Core/Framework/Store/Subscriber/LicenseHostChangedSubscriber.php
  tests/integration/Core/Framework/Store/Services/ShopSecretInvalidMiddlewareTest.php
  tests/integration/Core/Framework/Store/Services/StoreSessionExpiredMiddlewareTest.php
  tests/unit/Core/Framework/Store/InAppPurchases/Subscriber/InAppPurchaseConfigSubscriberTest.php
  tests/unit/Core/Framework/Store/Services/ShopSecretInvalidMiddlewareTest.php
  tests/unit/Core/Framework/Store/Services/StoreSessionExpiredMiddlewareTest.php
  tests/unit/Core/Framework/Store/Subscriber/LicenseHostChangedSubscriberTest.php
Labels: component/core, skip-danger-phpstan-baseline, backport-6.6.x, backport-6.7.0.0, domain/checkout

#11022 fix: Flaky test suites integration RateLimiterTest ControllerRateLimiter FeatureTest
  tests/integration/Core/Framework/FeatureFlag/FeatureTest.php
  tests/integration/Core/Framework/RateLimiter/RateLimiterTest.php
  tests/integration/Storefront/Controller/ControllerRateLimiterTest.php
Labels: component/core, domain/framework

#11008 feat: Add product creation date sorting criteria option
  changelog/_unreleased/2025-07-04-add-product-creation-date-sorting-criteria-option.md
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/component/sw-settings-listing-option-criteria-grid/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/page/sw-settings-listing/sw-settings-listing.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/snippet/en-GB.json
Labels: domain/inventory, external-contribution

#10894 fix: address modal button not visible (#10869)
  src/Storefront/Resources/app/storefront/src/scss/component/_address-manager.scss
Labels: backport-6.7.0.0, domain/checkout

#11026 docs: fix non existing class in domain-exceptions ADR
  adr/2022-02-24-domain-exceptions.md
Labels: component/core, domain/framework, external-contribution

#10965 feat: include config in setupStagingEvent
  changelog/_unreleased/2025-07-03-add-staging-config-to-event.md
  src/Core/Maintenance/DependencyInjection/services.xml
  src/Core/Maintenance/Staging/Command/SystemSetupStagingCommand.php
  src/Core/Maintenance/Staging/Event/SetupStagingEvent.php
  src/Core/Maintenance/Staging/Handler/StagingMailHandler.php
  src/Core/Maintenance/Staging/Handler/StagingSalesChannelHandler.php
  tests/unit/Core/Maintenance/Staging/Command/SystemSetupStagingCommandTest.php
  tests/unit/Core/Maintenance/Staging/Handler/StagingAppHandlerTest.php
  tests/unit/Core/Maintenance/Staging/Handler/StagingMailHandlerTest.php
  tests/unit/Core/Maintenance/Staging/Handler/StagingSalesChannelHandlerTest.php
  tests/unit/Elasticsearch/Framework/ElasticsearchStagingHandlerTest.php
Labels: component/core, domain/framework

#10947 feat: Add createdAt column to customer list in administration
  changelog/_unreleased/2025-07-02-add-customer-list-created-at-column.md
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-list/sw-customer-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/page/sw-customer-list/sw-customer-list.spec.js
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/en-GB.json
Labels: domain/checkout, external-contribution

#11014 fix: reading of the cart widget by screen readers
  changelog/_unreleased/2025-07-04-fix-the-reading-of-the-cart-widget-by-screen-readers.md
  src/Storefront/Resources/views/storefront/layout/header/actions/cart-widget.html.twig
  src/Storefront/Resources/views/storefront/layout/header/header.html.twig
Labels: component/storefront, backport-6.6.x, domain/checkout

#10880 fix: base slider active index
  changelog/_unreleased/2025-06-28-use-display-index-to-get-active-slide-element.md
  src/Storefront/Resources/app/storefront/src/plugin/slider/base-slider.plugin.js
Labels: component/storefront, domain/framework, external-contribution

#11029 fix: cms image gallery position value
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-gallery/config/index.js
Labels: domain/discovery, external-contribution

#11050 feat(a11y): Allow `strong` and `em` for html sanitizers
  src/Administration/Resources/app/administration/src/app/component/structure/sw-modals-renderer/index.ts
  src/Administration/Resources/app/administration/src/app/component/utils/sw-notification-center-item/sw-notification-center-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/utils/sw-notifications/sw-notifications.html.twig
Labels: area/accessibility, domain/discovery

#11061 fix(services): add missing jest tests
  src/Administration/Resources/app/administration/src/module/sw-settings-services/composables/extract-error.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/service/service-registry-client.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/store/shopware-services.store.spec.ts
Labels: component/core, domain/framework

#11033 fix: Change ApiAware visibility for externalUser field in ProductReview
  changelog/_unreleased/2025-07-07-change-api-aware-visibility-external-user-product-review.md
  src/Core/Content/Product/Aggregate/ProductReview/ProductReviewDefinition.php
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/ProductReview.json
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Labels: domain/crm-after-sales, external-contribution

#10845 fix: unable to fall back to parent language on product entity
  changelog/_unreleased/2025-06-27-fix-unable-to-fall-back-to-parent-language-on-product-entity.md
  src/Administration/Resources/app/administration/src/app/service/entity-validation.service.spec.js
  src/Administration/Resources/app/administration/src/app/service/entity-validation.service.ts
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/sw-product-detail.spec.js
Labels: backport-6.7.0.0, domain/inventory

#10958 feat: Use single shared interval for sw-time-ago component
  changelog/_unreleased/2025-07-03-use-single-shared-interval-for-sw-time-ago.md
  src/Administration/Resources/app/administration/src/app/component/utils/sw-time-ago/index.ts
  src/Administration/Resources/app/administration/src/app/component/utils/sw-time-ago/sw-time-ago.spec.js
  src/Administration/Resources/app/administration/src/app/component/utils/sw-time-ago/updateClock.ts
Labels: domain/checkout, external-contribution

#11048 docs: add handling dynamic elements to readme
  tests/acceptance/README.md
Labels: domain/quality-ops

#11064 feat: publish permissions updated as webhook
  src/Core/DevOps/Resources/generated/webhook-events-reference.md
  src/Core/Framework/Webhook/Hookable.php
  src/Core/Framework/Webhook/Service/WebhookManager.php
Labels: domain/service-enablement

#11080 fix(services): add tests for service UI components
  src/Administration/Resources/app/administration/src/app/component/structure/sw-desktop/sw-desktop.spec.js
  src/Administration/Resources/app/administration/src/meta/baseline.ts
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/sw-dashboard-index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-dashboard-banner/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-dashboard-banner/sw-settings-services-dashboard-banner.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-deactivate-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-deactivate-modal/sw-settings-services-deactivate-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-framed-icon/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-framed-icon/sw-settings-services-framed-icon.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-grant-permissions-card/sw-settings-services-grant-permissions-card.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-grant-permissions-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-grant-permissions-modal/sw-settings-services-grant-permissions-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-grant-permissions-modal/sw-settings-services-grant-permissions-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-hero/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-hero/sw-settings-services-hero.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-hero/sw-settings-services-hero.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-revoke-permissions-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-revoke-permissions-modal/sw-settings-services-revoke-permissions-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-service-card/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/page/sw-settings-services-index/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-services/page/sw-settings-services-index/sw-settings-services-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-services/page/sw-settings-services-index/sw-settings-services-index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-services/store/shopware-services.store.ts
  src/Administration/Resources/app/administration/static/img/services/services-graphic.png
  src/Administration/Resources/app/administration/static/img/services/services-graphic.svg
Labels: component/administration, domain/framework

#10999 fix: product cloning variant listing config is delete on original product
  changelog/_unreleased/2024-07-26-fix-variant-listing-config-when-cloning-products-or-deleting-variants.md
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-clone-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-clone-modal/sw-product-clone-modal.spec.js
Labels: backport-6.6.x, backport-6.7.0.0, domain/inventory

#10564 fix: 8073/refactor rufus sbp communication
  src/Administration/Controller/AdminAuthController.php
  src/Administration/Login/Exception/LoginException.php
  src/Administration/Login/ShopwareGrantType.php
  src/Administration/Login/UserService/ExternalAuthUser.php
  src/Administration/Login/UserService/Token.php
  src/Administration/Login/UserService/UserService.php
  src/Administration/Migration/V6_7/Migration1737472122TokenUser.php
  src/Core/Framework/Test/TestCaseBase/AdminApiTestBehaviour.php
  src/Core/Framework/Test/TestCaseHelper/TestBrowser.php
  tests/integration/Administration/Controller/AdminProductStreamControllerTest.php
  tests/integration/Administration/Controller/UserConfigControllerTest.php
  tests/integration/Administration/Login/Helper/FakeUserInstaller.php
  tests/integration/Administration/Login/UserService/ExternalAuthUserTest.php
  tests/integration/Administration/Login/UserService/UserServiceTest.php
  tests/integration/Administration/RateLimiter/RateLimiterTest.php
  tests/integration/Core/Checkout/Cart/Order/RecalculationServiceTest.php
  tests/integration/Core/Checkout/Customer/Subscriber/CustomerChangePasswordSubscriberTest.php
  tests/integration/Core/Checkout/Document/DocumentControllerTest.php
  tests/integration/Core/Checkout/Document/DocumentGeneratorControllerTest.php
  tests/integration/Core/Content/Category/Service/CategoryBreadcrumbBuilderTest.php
  tests/integration/Core/Content/ImportExport/Api/ImportExportFileApiTest.php
  tests/integration/Core/Content/ImportExport/Api/ImportExportLogApiTest.php
  tests/integration/Core/Content/ImportExport/Api/ImportExportProfileApiTest.php
  tests/integration/Core/Content/MailTemplate/Api/MailHeaderFooterApiTest.php
  tests/integration/Core/Content/Media/Api/MediaUploadControllerTest.php
  tests/integration/Core/Content/Product/Api/ProductApiTest.php
  tests/integration/Core/Framework/Api/Controller/ApiControllerTest.php
  tests/integration/Core/Framework/Api/Controller/CacheControllerTest.php
  tests/integration/Core/Framework/Api/Controller/CustomSnippetFormatControllerTest.php
  tests/integration/Core/Framework/Api/Controller/IntegrationControllerTest.php
  tests/integration/Core/Framework/Api/Controller/PromotionControllerTest.php
  tests/integration/Core/Framework/Api/Controller/SalesChannelProxyControllerTest.php
  tests/integration/Core/Framework/Api/Controller/SyncControllerTest.php
  tests/integration/Core/Framework/Api/TranslationTest.php
  tests/integration/Core/Framework/App/Api/AppActionControllerTest.php
  tests/integration/Core/Framework/App/Api/AppUrlChangeControllerTest.php
  tests/integration/Core/Framework/App/Subscriber/CustomFieldProtectionSubscriberTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/EntityProtection/EntityProtectionValidatorTest.php
  tests/integration/Core/Framework/Routing/ApiRequestContextResolverAppTest.php
  tests/integration/Core/Framework/Script/Api/ScriptApiRouteTest.php
  tests/integration/Core/Framework/Webhook/WebhookApiTest.php
  tests/integration/Core/System/CustomEntity/CustomEntityTest.php
  tests/integration/Storefront/Framework/Seo/Api/SeoActionControllerTest.php
  tests/unit/Administration/Login/UserService/TokenTest.php
Labels: domain/crm-after-sales

#11086 feat: Added ar placement property to spatial media item.
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.spec.js
  src/Administration/Resources/app/administration/src/module/sw-media/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-media/snippet/en-GB.json
  src/Core/Content/Media/MediaEntity.php
Labels: service/shopping-experience

#11078 fix: theme config inheritance for database child themes (6.6.x)
  changelog/_unreleased/2025-07-08-fix-theme-config-inheritance.md
  src/Storefront/Theme/ConfigLoader/DatabaseConfigLoader.php
  src/Storefront/Theme/ThemeService.php
  tests/integration/Storefront/Theme/ConfigLoader/DatabaseConfigLoaderTest.php
  tests/unit/Storefront/Theme/ThemeServiceTest.php
  tests/unit/Storefront/Theme/fixtures/ThemeFixtures.php
Labels: component/storefront, domain/framework

#11065 feat: run visual tests only with single worker
  .github/workflows/visual-tests.yml
Labels: domain/product-ops

#11068 feat(theme-manager): Implement snippet fallback for parent themes
  UPGRADE-6.8.md
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/index.js
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/sw-theme-manager-detail.html.twig
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/sw-theme-manager-detail.scss
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-list/sw-theme-manager-list.html.twig
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/snippet/de-DE.json
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/snippet/en-GB.json
  src/Storefront/Theme/ThemeMergedConfigBuilder.php
  tests/integration/Storefront/Theme/ThemeTest.php
  tests/integration/Storefront/Theme/fixtures/ThemeFixtures.php
  tests/unit/Storefront/Theme/fixtures/ThemeFixtures.php
  tests/unit/Storefront/Theme/fixtures/ThemeFixtures_6_7.php
Labels: domain/discovery, component/theme-management

#10712 fix: Session usage and session start behaviour
  changelog/_unreleased/2025-06-19-fix-session-usage-and-session-start-behaviour.md
  phpstan-baseline.neon
  src/Core/Framework/Adapter/Cache/Http/CacheStore.php
  src/Core/Framework/Test/TestSessionStorage.php
  src/Core/PlatformRequest.php
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/Framework/Cookie/CookieProvider.php
  src/Storefront/Framework/Routing/NotFound/NotFoundSubscriber.php
  src/Storefront/Framework/Routing/StorefrontSubscriber.php
  tests/integration/Storefront/Controller/AuthControllerTest.php
  tests/unit/Storefront/Controller/CookieControllerTest.php
  tests/unit/Storefront/Framework/Routing/NotFound/NotFoundSubscriberTest.php
Labels: component/storefront, component/core, domain/framework, external-contribution

#8546 test: add Product filter and property test
  tests/acceptance/tests/Product/ProductFilter.spec.ts
  tests/acceptance/tests/Product/VariantGeneration.spec.ts
Labels: testing/acceptance, domain/quality-ops

#11125 chore(snippets): Tiny snippet correction
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
Labels: component/snippets, domain/discovery

#11117 fix: click-areas-for-cms-slot-selection
  changelog/_unreleased/2025-07-09-improve-cms-slot-selection.md
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-slot/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-slot/sw-cms-slot.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-slot/sw-cms-slot.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/html/preview/sw-cms-el-preview-html.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/service/cms.service.ts
Labels: domain/discovery, external-contribution

#11133 fix: unknown flow action
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-sequence-action/index.js
Labels: component/flowbuilder, domain/crm-after-sales

#11079 refactor(product-slider): optimize product slider CMS element
  changelog/_unreleased/2025-07-08-optimize-product-slider-cms-element.md
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/component/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/component/sw-cms-el-product-slider.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/component/sw-cms-el-product-slider.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/config/config.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/config/index.js
  src/Storefront/Resources/app/storefront/src/scss/component/_product-slider.scss
  src/Storefront/Resources/views/storefront/element/cms-element-product-slider.html.twig
Labels: domain/discovery, external-contribution

#11168 feat: Force delete Admin snippet cache after app install
  changelog/_unreleased/2025-07-11-delete-admin-snippet-cache-after-app-install.md
  src/Administration/Snippet/AppAdministrationSnippetPersister.php
Labels: component/core, component/appsystem, domain/framework

#11134 feat: add env variables for Opensearch min_ngram and max_ngram
  changelog/_unreleased/2025-07-10-add-env-variables-for-opensearch-min_ngram-and-max_ngram.md
  src/Elasticsearch/Resources/config/packages/elasticsearch.yaml
Labels: component/search, domain/inventory

#11178 refactor: Remove superfluous private method arguments
  src/Administration/Snippet/SnippetFinder.php
  src/Core/Checkout/Document/Service/DocumentGenerator.php
  src/Core/Content/Product/Cart/ProductCartProcessor.php
  src/Core/DevOps/Docs/Script/ServiceReferenceGenerator.php
  src/Core/Framework/App/Lifecycle/Persister/WebhookPersister.php
Labels: component/core, skip-danger-phpstan-baseline, domain/framework, external-contribution, lifecycle/Incomplete

#11182 refactor: Make final classes readonly instead of properties
  src/Core/Checkout/Document/Service/ReferenceInvoiceLoader.php
  src/Core/Checkout/Gateway/Command/Executor/CheckoutGatewayCommandExecutor.php
  src/Core/Checkout/Payment/DataAbstractionLayer/PaymentMethodValidator.php
  src/Core/Content/ImportExport/Message/DeleteFileHandler.php
  src/Core/Content/ImportExport/Message/ImportExportHandler.php
  src/Core/Content/Mail/Message/SendMailHandler.php
  src/Core/Content/Media/Message/DeleteFileHandler.php
  src/Core/Content/Media/Message/GenerateThumbnailsHandler.php
  src/Core/Content/Product/DataAbstractionLayer/StockUpdate/StockUpdateFilterProvider.php
  src/Core/Content/Product/SalesChannel/Listing/Processor/CompositeListingProcessor.php
  src/Core/Content/Product/Stock/OrderStockSubscriber.php
  src/Core/Content/Product/Stock/StockAlteration.php
  src/Core/Content/ProductExport/ScheduledTask/ProductExportPartialGenerationHandler.php
  src/Core/Content/Sitemap/ScheduledTask/SitemapMessageHandler.php
  src/Core/Framework/Adapter/Cache/Message/CleanupOldCacheFoldersHandler.php
  src/Core/Framework/App/Lifecycle/Parameters/AppInstallParameters.php
  src/Core/Framework/App/Lifecycle/Parameters/AppUpdateParameters.php
  src/Core/Framework/Extensions/ExtensionDispatcher.php
  src/Core/Framework/MessageQueue/Subscriber/PluginLifecycleSubscriber.php
  src/Core/Framework/MessageQueue/Subscriber/UpdatePostFinishSubscriber.php
  src/Core/Framework/Routing/Facade/RequestFacade.php
  src/Core/Framework/Store/InAppPurchase/Services/DecodedPurchaseStruct.php
  src/Core/Framework/Store/InAppPurchase/Services/InAppPurchaseProvider.php
  src/Core/Framework/Store/InAppPurchase/Services/KeyFetcher.php
  src/Core/Framework/Store/Struct/FrwState.php
  src/Core/Framework/Webhook/Handler/WebhookEventMessageHandler.php
  src/Core/System/CustomEntity/Xml/Config/AdminUi/AdminUiXmlSchema.php
  src/Core/System/UsageData/EntitySync/CollectEntityDataMessageHandler.php
  src/Core/System/UsageData/EntitySync/DispatchEntityMessageHandler.php
  src/Core/System/UsageData/EntitySync/IterateEntityMessageHandler.php
  src/Elasticsearch/Admin/AdminSearchController.php
  src/Elasticsearch/Admin/AdminSearchIndexingMessage.php
  src/Elasticsearch/Admin/Subscriber/RefreshIndexSubscriber.php
  src/Storefront/Controller/AppController.php
  src/Storefront/Theme/Message/CompileThemeHandler.php
  src/Storefront/Theme/Message/DeleteThemeFilesHandler.php
Labels: component/core, skip-danger-phpstan-baseline, domain/framework, external-contribution

#11196 feat: add env variables for Opensearch min_ngram and max_ngram
  changelog/_unreleased/2025-07-10-add-env-variables-for-opensearch-min_ngram-and-max_ngram.md
  src/Core/Migration/V6_7/Migration1742199550MeasurementDisplayUnitTable.php
  src/Core/Migration/V6_7/Migration1752229050ChangeDESnippetOfMeterUnit.php
  src/Elasticsearch/Resources/config/packages/elasticsearch.yaml
  tests/migration/Core/V6_7/Migration1752229050ChangeDESnippetOfMeterUnitTest.php
Labels: domain/inventory

#11220 fix: Sync composer dependencies
  .github/workflows/php.yml
  src/Core/DevOps/DependencyInjection/services.xml
  src/Core/DevOps/System/Command/SyncComposerVersionCommand.php
  src/Core/composer.json
  src/Storefront/composer.json
  tests/unit/Core/DevOps/System/Command/SyncComposerVersionCommandTest.php
Labels: component/core, backport-6.6.x, domain/framework, backport-6.7.1.0

#11202 chore: change class constants to self classes
  changelog/_unreleased/2025-07-14-change-class-constants-to-self-classes.md
  rector.php
  src/Administration/Snippet/SnippetException.php
  src/Core/Checkout/Cart/Order/RecalculationService.php
  src/Core/Checkout/Customer/Validation/Constraint/CustomerEmailUnique.php
  src/Core/Checkout/Customer/Validation/Constraint/CustomerPasswordMatches.php
  src/Core/Checkout/Order/Aggregate/OrderTransaction/OrderTransactionStateHandler.php
  src/Core/Checkout/Payment/PaymentMethodCollection.php
  src/Core/Checkout/Shipping/ShippingMethodCollection.php
  src/Core/Content/MailTemplate/Exception/SalesChannelNotFoundException.php
  src/Core/Framework/App/AppException.php
  src/Core/Framework/MessageQueue/SendEmailMessageJsonSerializer.php
  src/Core/Framework/Plugin/PluginException.php
  src/Storefront/Controller/Exception/StorefrontException.php
  src/Storefront/Page/Account/Order/AccountOrderDetailPage.php
  src/Storefront/Page/Account/Order/AccountOrderDetailPageLoadedEvent.php
  src/Storefront/Page/Account/Order/AccountOrderDetailPageLoadedHook.php
  src/Storefront/Page/Account/Order/AccountOrderDetailPageLoader.php
  src/Storefront/Pagelet/Header/HeaderPagelet.php
  src/Storefront/Theme/Aggregate/ThemeTranslationEntity.php
  src/Storefront/Theme/Message/DeleteThemeFilesHandler.php
  src/Storefront/Theme/Message/DeleteThemeFilesMessage.php
  src/Storefront/Theme/ThemeConfigField.php
  src/Storefront/Theme/ThemeEntity.php
  src/Storefront/Theme/ThemeService.php
  tests/unit/Core/Framework/FeatureTest.php
  tests/unit/Core/Framework/MessageQueue/Stats/StatsServiceTest.php
Labels: component/core, domain/framework, external-contribution

#11107 feat: changed ProductListingLoader to show found product variant instead of the preview variant
  changelog/_unreleased/2025-07-09-show-relevant-variant-without-previews-when-searching.md
  src/Core/Content/Product/SalesChannel/Listing/ProductListingLoader.php
  tests/integration/Core/Content/Product/SalesChannel/Listing/ProductListingLoaderTest.php
Labels: domain/inventory, external-contribution

#11191 feat: http cache stale cache
  changelog/_unreleased/2025-07-12-implement-soft-purge-http-cache.md
  composer.json
  config-schema.json
  src/Core/Framework/Adapter/Cache/CacheInvalidator.php
  src/Core/Framework/Adapter/Cache/Http/CacheStore.php
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/Framework/DependencyInjection/cache.xml
  src/Core/Framework/DependencyInjection/services.xml
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/composer.json
  tests/unit/Core/Framework/Adapter/Cache/CacheInvalidatorTest.php
  tests/unit/Core/Framework/Adapter/Cache/Http/CacheStoreTest.php
Labels: component/core, domain/framework

#11236 fix(services): use date filter to localize last update date
  src/Administration/Resources/app/administration/src/module/sw-settings-services/component/sw-settings-services-service-card/index.ts
Labels: component/administration, domain/service-enablement

#11158 feat: add context cache headers
  changelog/_unreleased/2025-07-14-add-headers-to-vary-storefront-api-caches-based-on-context-vars.md
  src/Core/Framework/DependencyInjection/services.xml
  src/Core/Framework/Routing/ContextAwareCacheHeadersService.php
  src/Core/Framework/Routing/ContextAwareCacheHeadersSubscriber.php
  src/Core/Framework/Routing/RouteEventSubscriber.php
  src/Core/Framework/Routing/SalesChannelRequestContextResolver.php
  src/Core/PlatformRequest.php
  tests/integration/Core/Framework/Routing/ContextAwareCachingTest.php
  tests/unit/Core/Framework/Routing/ContextAwareCacheHeadersServiceTest.php
  tests/unit/Core/Framework/Routing/ContextAwareCacheHeadersSubscriberTest.php
  tests/unit/Core/Framework/Routing/RouteEventSubscriberTest.php
Labels: component/core, domain/framework

#11257 fix: clear object cache before shopware installation
  src/Core/Framework/Adapter/Cache/CacheClearer.php
  src/Core/Maintenance/DependencyInjection/services.xml
  src/Core/Maintenance/System/Command/SystemInstallCommand.php
  tests/unit/Core/Maintenance/System/Command/SystemInstallCommandTest.php
Labels: component/core, domain/framework

#10881 feat: added new rule to disallow usage of file_exists
  changelog/_unreleased/2025-06-29-disallow-usage-of-file_exists.md
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/NoFileExistsRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/rules.neon
  src/Storefront/Theme/StorefrontPluginConfiguration/StorefrontPluginConfigurationFactory.php
Labels: component/core, skip-danger-phpstan-baseline, domain/framework, external-contribution

#11264 fix: use correct field name on hidden accountType fields
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
Labels: component/customer-groups, domain/discovery

#11289 fix: inline notifications in modals
  src/Administration/Resources/app/administration/src/module/sw-flow/view/listing/sw-flow-list/sw-flow-list.html.twig
Labels: component/flowbuilder, domain/crm-after-sales

#11229 fix: added locking to cart mutating routes to avoid race conditions
  changelog/_unreleased/2025-07-15-added-locking-to-cart-mutating-routes.md
  src/Core/Checkout/Cart/CartException.php
  src/Core/Checkout/Cart/CartLocker.php
  src/Core/Checkout/Cart/SalesChannel/CartDeleteRoute.php
  src/Core/Checkout/Cart/SalesChannel/CartItemAddRoute.php
  src/Core/Checkout/Cart/SalesChannel/CartItemRemoveRoute.php
  src/Core/Checkout/Cart/SalesChannel/CartItemUpdateRoute.php
  src/Core/Checkout/Cart/SalesChannel/CartOrderRoute.php
  src/Core/Checkout/DependencyInjection/cart.xml
  tests/integration/Core/Checkout/Cart/SalesChannel/CartOrderRouteTest.php
  tests/unit/Core/Checkout/Cart/CartLockerTest.php
  tests/unit/Core/Checkout/Cart/SalesChannel/CartDeleteRouteTest.php
  tests/unit/Core/Checkout/Cart/SalesChannel/CartItemAddRouteTest.php
  tests/unit/Core/Checkout/Cart/SalesChannel/CartItemRemoveRouteTest.php
  tests/unit/Core/Checkout/Cart/SalesChannel/CartItemUpdateRouteTest.php
  tests/unit/Core/Checkout/Cart/SalesChannel/CartOrderRouteTest.php
Labels: component/core, domain/checkout, domain/framework

#11276 fix: flaky SearchKeywordUpdaterTest::testItUpdatesKeywordsForAvailableLanguagesOnly
  tests/integration/Core/Content/Product/DataAbstractionLayer/SearchKeywordUpdaterTest.php
Labels: component/core, backport-6.6.x, backport-6.7.0.0, domain/framework

#11308 feat(services): Hide grant permissions card if no services are installed
  src/Administration/Resources/app/administration/src/module/sw-settings-services/page/sw-settings-services-index/sw-settings-services-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-services/page/sw-settings-services-index/sw-settings-services-index.spec.js
Labels: component/core, domain/service-enablement, backport-6.7.1.0

#11287 fix: remove padding in mt-card
  src/Administration/Resources/app/administration/src/app/component/rule/sw-condition-tree/sw-condition-tree.scss
  src/Administration/Resources/app/administration/src/module/sw-flow/view/listing/sw-flow-list-flow-templates/sw-flow-list-flow-templates.scss
  src/Administration/Resources/app/administration/src/module/sw-flow/view/listing/sw-flow-list/sw-flow-list.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/page/sw-settings-rule-detail/sw-settings-rule-detail.scss
Labels: component/flowbuilder, component/rulebuilder, domain/crm-after-sales

#11309 refactor: Replace fixed status code values by constants
  src/Core/Content/Media/File/DownloadResponseGenerator.php
  src/Core/Content/ProductExport/SalesChannel/ExportController.php
  src/Core/Content/Seo/Api/SeoActionController.php
  src/Core/Framework/Adapter/Cache/Http/CacheResponseSubscriber.php
  src/Core/Framework/App/Hmac/RequestSigner.php
  src/Core/Framework/DataAbstractionLayer/Search/RequestCriteriaBuilder.php
  src/Core/Installer/Controller/LicenseController.php
  src/Core/Installer/Controller/RequirementsController.php
  src/Core/System/SystemConfig/Api/SystemConfigController.php
Labels: component/core, skip-danger-phpstan-baseline, domain/framework, external-contribution

#11207 refactor: Remove superfluous castings
  src/Core/Checkout/Customer/SalesChannel/ChangeEmailRoute.php
  src/Core/Checkout/Customer/SalesChannel/ChangePasswordRoute.php
  src/Core/Checkout/Customer/SalesChannel/ResetPasswordRoute.php
  src/Core/Checkout/Customer/SalesChannel/SendPasswordRecoveryMailRoute.php
  src/Core/Framework/Adapter/Command/S3FilesystemVisibilityCommand.php
  src/Core/Framework/Adapter/Doctrine/Patch/AbstractAsset.php
  src/Core/Framework/App/Lifecycle/Persister/WebhookPersister.php
  src/Core/Framework/App/Lifecycle/Registration/AppRegistrationService.php
  src/Core/Framework/DataAbstractionLayer/Command/CreateHydratorCommand.php
  src/Core/Framework/DataAbstractionLayer/Command/DataAbstractionLayerValidateCommand.php
  src/Core/Framework/DataAbstractionLayer/Command/RefreshIndexCommand.php
  src/Core/Framework/DataAbstractionLayer/Dbal/CriteriaQueryBuilder.php
  src/Core/Framework/DataAbstractionLayer/Dbal/FieldAccessorBuilder/JsonFieldAccessorBuilder.php
  src/Core/Framework/DataAbstractionLayer/Dbal/FieldAccessorBuilder/PriceFieldAccessorBuilder.php
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
  src/Core/Framework/DataAbstractionLayer/Search/Parser/SqlQueryParser.php
  src/Core/Framework/Demodata/Generator/FlowGenerator.php
  src/Core/Framework/Increment/IncrementerGatewayCompilerPass.php
  src/Core/Framework/Log/Monolog/AnnotatePackageProcessor.php
  src/Core/Framework/Script/Debugging/ScriptTraces.php
  src/Core/Framework/Store/Command/StoreLoginCommand.php
  src/Core/Migration/V6_4/Migration1625583619MoveDataFromEventActionToFlow.php
  src/Core/System/Currency/CurrencyValidator.php
  src/Core/System/Snippet/SnippetService.php
  src/Core/Test/FixtureLoader.php
  src/Core/Test/Integration/App/TestAppServer.php
  src/Storefront/Theme/ConfigLoader/DatabaseConfigLoader.php
  src/Storefront/Theme/ConfigLoader/StaticFileAvailableThemeProvider.php
Labels: component/core, skip-danger-phpstan-baseline, domain/framework, external-contribution

#11332 fix: use elasticsearch in product stream preview
  src/Administration/Controller/AdminProductStreamController.php
  tests/unit/Administration/Controller/AdminProductStreamControllerTest.php
Labels: component/inventory-dynamic-products, component/search, domain/inventory

#10878 fix: order version during credit note creation
  changelog/_unreleased/2025-06-28-fix-credit-note-order-version.md
  src/Core/Checkout/Document/Renderer/CreditNoteRenderer.php
  tests/integration/Core/Checkout/Document/Renderer/CreditNoteRendererTest.php
Labels: domain/crm-after-sales, external-contribution

#5957 fix: product media import with whitespace in url
  UPGRADE-6.8.md
  changelog/_unreleased/2025-04-04-fix-product-media-import-with-whitespace-in-url.md
  phpstan-baseline.neon
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-preview-v2/index.js
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-preview-v2/sw-media-preview-v2.spec.js
  src/Core/Content/DependencyInjection/import_export.xml
  src/Core/Content/ImportExport/DataAbstractionLayer/Serializer/Entity/MediaSerializer.php
  src/Core/Content/ImportExport/ImportExportException.php
  src/Core/Content/Media/Infrastructure/Path/MediaUrlGenerator.php
  src/Storefront/Framework/Twig/Extension/UrlEncodingTwigFilter.php
  src/Storefront/Resources/views/storefront/utilities/thumbnail.html.twig
  tests/integration/Core/Content/ImportExport/DataAbstractionLayer/Serializer/Entity/MediaSerializerTest.php
  tests/integration/Core/Content/ImportExport/DataAbstractionLayer/Serializer/Entity/ProductSerializerTest.php
  tests/integration/Storefront/Framework/Twig/ThumbnailExtensionTest.php
  tests/unit/Core/Content/Media/Infrastructure/Path/MediaUrlGeneratorTest.php
Labels: domain/crm-after-sales

#11012 ci: add saas preview environments
  .github/workflows/saas-preview-environment.yaml
Labels: backport-6.6.x, domain/product-ops, backport-6.7.0.0, preview-environment

#9614 refactor: Replace breadcrumb separator by CSS only solution
  changelog/_unreleased/2025-05-20-replace-breadcrumb-separator-by-the-bootstrap-default-solution.md
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/component/_breadcrumb.scss
  src/Storefront/Resources/views/storefront/layout/breadcrumb.html.twig
Labels: component/storefront, domain/framework, external-contribution

#10524 feat: Implement install translations command
  adr/2025-06-03-integrating-the-language-pack-into-platform.md
  changelog/_unreleased/2025-07-18-implemented-a-command-to-download-and-install-translation.md
  phpunit.xml.dist
  src/Administration/Snippet/SnippetFinder.php
  src/Core/Framework/Adapter/Translation/Translator.php
  src/Core/Framework/DependencyInjection/services.xml
  src/Core/Framework/Resources/config/packages/translation.yaml
  src/Core/System/DependencyInjection/snippet.xml
  src/Core/System/Resources/translation.yaml
  src/Core/System/Resources/translation/.gitkeep
  src/Core/System/Snippet/Command/InstallTranslationCommand.php
  src/Core/System/Snippet/Files/SnippetFileLoader.php
  src/Core/System/Snippet/Service/TranslationConfigLoader.php
  src/Core/System/Snippet/Service/TranslationLoader.php
  src/Core/System/Snippet/SnippetException.php
  src/Core/System/Snippet/Struct/Language.php
  src/Core/System/Snippet/Struct/LanguageCollection.php
  src/Core/System/Snippet/Struct/SnippetPaths.php
  src/Core/System/Snippet/Struct/TranslationConfig.php
  tests/integration/Core/System/Snippet/Files/AppSnippetFileLoaderTest.php
  tests/unit/Administration/Snippet/SnippetFileTrait.php
  tests/unit/Administration/Snippet/SnippetFinderTest.php
  tests/unit/Core/System/Snippet/Command/InstallTranslationCommandTest.php
  tests/unit/Core/System/Snippet/Files/MockedKernel.php
  tests/unit/Core/System/Snippet/Files/SnippetFileLoaderTest.php
  tests/unit/Core/System/Snippet/Files/_fixtures/activePlugin/Resources/app/administration/src/jp-JP.json
  tests/unit/Core/System/Snippet/Files/_fixtures/activePlugin/Resources/app/meteor-app/jp-JP.json
  tests/unit/Core/System/Snippet/Mock/FilePutContentsMock.php
  tests/unit/Core/System/Snippet/Mock/TestPlugin.php
  tests/unit/Core/System/Snippet/Service/TranslationConfigLoaderTest.php
  tests/unit/Core/System/Snippet/Service/TranslationLoaderTest.php
  tests/unit/Core/System/Snippet/SnippetExceptionTest.php
  tests/unit/Core/System/Snippet/Struct/LanguageTest.php
  tests/unit/Core/System/Snippet/Struct/SnippetPathsTest.php
  tests/unit/Core/System/Snippet/Struct/TranslationConfigTest.php
Labels: domain/discovery

#11360 chore: Update PHPStan and its plugins
  composer.json
  phpstan-baseline.neon
  src/Core/Framework/App/ActionButton/AppAction.php
  src/Core/Framework/App/Exception/InvalidArgumentException.php
  src/Core/Framework/App/Manifest/Xml/Administration/Admin.php
  src/Core/Framework/App/Manifest/Xml/XmlElement.php
  src/Core/Framework/App/Payment/Response/AbstractResponse.php
  src/Core/Framework/Changelog/Processor/ChangelogProcessor.php
  src/Core/Framework/Gateway/Context/Command/AbstractContextGatewayCommand.php
  tests/unit/Core/Framework/App/ActionButton/AppActionTest.php
  tests/unit/Core/Framework/App/Manifest/Xml/ShippingMethod/ShippingMethodTest.php
  tests/unit/Storefront/Theme/Subscriber/ThemeCompilerEnrichScssVarSubscriberTest.php
  tests/unit/Storefront/Theme/ThemeCompilerTest.php
Labels: component/core, domain/framework

#10751 feat: add search sorting for live search
  changelog/_unreleased/2025-06-23-add-search-sorting-for-live-search.md
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-live-search/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-live-search/sw-settings-search-live-search.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-live-search/sw-settings-search-live-search.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-live-search/sw-settings-search-live-search.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/service/livesearch.api.service.js
  src/Administration/Resources/app/administration/src/module/sw-settings-search/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-search/snippet/en-GB.json
  src/Core/Framework/Api/Controller/SalesChannelProxyController.php
  src/Core/System/SalesChannel/Context/SalesChannelContextService.php
  tests/unit/Core/System/SalesChannel/Context/SalesChannelContextServiceTest.php
Labels: component/search, domain/inventory

#11369 fix: Adjust path of favicon-32x32.png asset
  src/Administration/Resources/views/administration/layout/base.html.twig
Labels: component/administration, domain/framework, external-contribution

#11362 fix: styling for Currency dependent pricing header
  src/Administration/Resources/app/administration/src/app/component/form/sw-maintain-currencies-modal/sw-maintain-currencies-modal.scss
Labels: domain/inventory

#11384 fix: infinity loop in migration when order without delivery or transa…
  src/Core/Migration/V6_7/Migration1728040169AddPrimaryOrderDelivery.php
  src/Core/Migration/V6_7/Migration1728040170AddPrimaryOrderTransaction.php
  tests/migration/Core/V6_7/Migration1728040169AddPrimaryOrderDeliveryTest.php
  tests/migration/Core/V6_7/Migration1728040170AddPrimaryOrderTransactionTest.php
Labels: priority/critical, domain/checkout, backport-6.7.1.0

#11382 test: refactor test to work better on saas
  tests/acceptance/tests/Product/ProductFilter.spec.ts
Labels: testing/acceptance, domain/quality-ops

#11373 fix: sidebar sdk handlers sw meteor page
  changelog/_unreleased/2025-07-21-fix-sidebar-sdk-handlers-sw-meteor-page.md
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-topbar-sidebar/index.ts
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-topbar-sidebar/sw-app-topbar-sidebar.html.twig
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-topbar-sidebar/sw-app-topbar-sidebar.scss
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-topbar-sidebar/sw-app-topbar-sidebar.spec.js
  src/Administration/Resources/app/administration/src/app/component/index.ts
  src/Administration/Resources/app/administration/src/app/component/meteor/sw-meteor-page/sw-meteor-page.html.twig
  src/Administration/Resources/app/administration/src/app/component/meteor/sw-meteor-page/sw-meteor-page.spec.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-page/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-page/sw-page.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-page/sw-page.scss
  src/Administration/Resources/app/administration/src/app/component/structure/sw-page/sw-page.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-customer/sw-bulk-edit-customer.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.spec.js
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/sw-dashboard-index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension-sdk/page/sw-extension-sdk-module/sw-extension-sdk-module.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-app-module-page/sw-extension-app-module-page.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-config/sw-extension-config.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-index/sw-extension-my-extensions-index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-create/sw-order-create.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-create/sw-settings-customer-group-create.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-media/page/sw-settings-media/sw-settings-media.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-product-feature-sets/page/sw-settings-product-feature-sets-list/sw-settings-product-feature-sets-list.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-seo/page/sw-settings-seo/sw-settings-seo.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-shopware-updates/page/sw-settings-shopware-updates-wizard/sw-settings-shopware-updates-wizard.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-detail/sw-settings-snippet-detail.spec.js
Labels: component/administration, domain/framework

#11408 test: clear cache so ProductReview.spec.ts work better on SaaS
  tests/acceptance/tests/Product/ProductReview.spec.ts
Labels: testing/acceptance

#11413 ci: order labeling jobs to prevent race conditions
  .github/workflows/01-pr-issue-labeler.yml
Labels: domain/product-ops

#11286 fix: Change main category seo url of a variant leads to an empty for its parent
  changelog/_unreleased/2025-07-14-change-main-category-seo-url-of-a-variant-leads-to-an-empty-for-its-parent.md
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-seo/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-seo/sw-product-detail-seo.spec.js
Labels: domain/inventory

#11423 docs: use nightly for build status badge
  README.md
Labels: domain/product-ops

#11428 ci: Only trigger nighlty for trunk and 6.6.x
  .github/workflows/nightly.yml
Labels: domain/product-ops

#11024 feat: Update Symfony components to version 7.3
  .bc-exclude.php
  composer.json
  src/Administration/composer.json
  src/Core/Framework/DependencyInjection/cache.xml
  src/Core/Framework/Resources/config/packages/framework.yaml
  src/Core/Framework/Resources/config/routes_dev.xml
  src/Core/Framework/Test/TestCaseBase/AdminApiTestBehaviour.php
  src/Core/Installer/Controller/DatabaseConfigurationController.php
  src/Core/Installer/Requirements/FilesystemRequirementsValidator.php
  src/Core/Installer/Resources/translations/translations/messages.cs.yaml
  src/Core/Installer/Resources/translations/translations/messages.da-DK.yaml
  src/Core/Installer/Resources/translations/translations/messages.de.yaml
  src/Core/Installer/Resources/translations/translations/messages.en-US.yaml
  src/Core/Installer/Resources/translations/translations/messages.en.yaml
  src/Core/Installer/Resources/translations/translations/messages.es-ES.yaml
  src/Core/Installer/Resources/translations/translations/messages.fr.yaml
  src/Core/Installer/Resources/translations/translations/messages.it.yaml
  src/Core/Installer/Resources/translations/translations/messages.nl.yaml
  src/Core/Installer/Resources/translations/translations/messages.no.yaml
  src/Core/Installer/Resources/translations/translations/messages.pl.yaml
  src/Core/Installer/Resources/translations/translations/messages.pt-PT.yaml
  src/Core/Installer/Resources/translations/translations/messages.sv-SE.yaml
  src/Core/Maintenance/System/Service/DatabaseConnectionFactory.php
  src/Core/Profiling/Resources/config/routes_dev.xml
  src/Core/composer.json
  src/Elasticsearch/composer.json
  src/Storefront/composer.json
  tests/integration/Core/Content/ImportExport/AbstractImportExportTestCase.php
  tests/integration/Core/Content/ImportExport/Api/ImportExportActionControllerTest.php
  tests/integration/Core/Content/ImportExport/Api/ImportExportFileApiTest.php
  tests/integration/Core/Content/ImportExport/Api/ImportExportLogApiTest.php
  tests/integration/Core/Content/ImportExport/Api/ImportExportProfileApiTest.php
  tests/integration/Core/Content/ImportExport/ImportExportTest.php
  tests/integration/Core/Content/ImportExport/Message/ImportExportHandlerTest.php
  tests/integration/Core/Content/Media/Message/UpdateThumbnailsMessageTest.php
  tests/integration/Core/Service/PermissionsServiceTest.php
  tests/unit/Core/Installer/Requirements/FilesystemRequirementsValidatorTest.php
Labels: component/core, backport-6.6.x, domain/framework

#11457 fix: remove command shortcut key for macos
  src/Administration/Resources/app/administration/src/app/plugin/shortcut.plugin.js
Labels: component/administration, domain/framework, backport-6.7.1.0

#11461 fix: 10788-11318 admin shortcut and command key (backport 6.7.1.0)
  src/Administration/Resources/app/administration/src/app/plugin/shortcut.plugin.js
  src/Administration/Resources/app/administration/src/app/plugin/shortcut.plugin.spec.js
Labels: component/administration, domain/framework

#11446 fix: deprecations for twig 3.21
  composer.json
  phpstan-baseline.neon
  src/Core/Content/Seo/SeoUrlGenerator.php
  src/Core/Framework/Adapter/Twig/Extension/PhpSyntaxExtension.php
  src/Core/Framework/Adapter/Twig/Node/SwInclude.php
  src/Core/Framework/Adapter/Twig/TokenParser/ExtendsTokenParser.php
  src/Core/Framework/Adapter/Twig/TokenParser/IncludeTokenParser.php
  src/Core/Framework/Adapter/Twig/TokenParser/ReturnNodeTokenParser.php
  src/Core/Framework/Adapter/Twig/TokenParser/SwMacroFunctionTokenParser.php
  src/Core/composer.json
  src/Storefront/Framework/Twig/TokenParser/IconTokenParser.php
  src/Storefront/Framework/Twig/TokenParser/ThumbnailTokenParser.php
  src/Storefront/composer.json
  tests/unit/Core/Framework/Adapter/Twig/Extension/PhpSyntaxExtensionTest.php
  tests/unit/Core/Framework/Adapter/Twig/Extension/fixture/php-syntax-extension.html.twig
  tests/unit/Storefront/Controller/Exception/StorefrontExceptionTest.php
Labels: component/storefront, component/core, domain/framework

#11478 fix: Do not write composer.json of bundle, if there is no change
  src/Core/DevOps/System/Command/SyncComposerVersionCommand.php
  tests/unit/Core/DevOps/System/Command/SyncComposerVersionCommandTest.php
Labels: component/core, backport-6.6.x, domain/framework

#11391 fix: Add missing ApiAware flag to CmsBlock & CmsSection ids
  changelog/_unreleased/2025-07-22-add-missing-cms-block-and-section-id-api-aware.md
  src/Core/Content/Cms/Aggregate/CmsBlock/CmsBlockDefinition.php
  src/Core/Content/Cms/Aggregate/CmsSection/CmsSectionDefinition.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Labels: domain/discovery, external-contribution

#11398 fix: add deliveryTime to product elasticsearch mapping
  src/Elasticsearch/Product/ElasticsearchProductDefinition.php
  tests/unit/Elasticsearch/Product/ElasticsearchProductDefinitionTest.php
Labels: component/core, backport-6.6.x, domain/framework, external-contribution, backport-6.7.1.0

#11443 fix: don't check for canonical seo urls when no path info given during seo url creation
  changelog/_unreleased/2025-07-23-don-t-check-for-canonical-seo-urls-when-no-path-info-given.md
  src/Core/Content/Seo/SeoUrlPersister.php
Labels: backport-6.6.x, domain/inventory, external-contribution, backport-6.7.1.0

#11496 fix: creating product with duplicate product number leads to endless loading
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/sw-product-detail.spec.js
Labels: domain/inventory, backport-6.7.1.0

#11333 test: add dynamic viewport function to existing tests
  tests/acceptance/package-lock.json
  tests/acceptance/tests/Visual/Administration/AdminMenu.spec.ts
  tests/acceptance/tests/Visual/Administration/Dashboard.spec.ts
  tests/acceptance/tests/Visual/Administration/Dashboard.spec.ts-snapshots/Dashboard-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Menu.spec.ts
  tests/acceptance/tests/Visual/Administration/Menu.spec.ts-snapshots/Menu-Expanded-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts-snapshots/Product-Detail-Advanced-Pricing-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts-snapshots/Product-Detail-Cross-Selling-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts-snapshots/Product-Detail-General-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts-snapshots/Product-Detail-Layout-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts-snapshots/Product-Detail-Reviews-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts-snapshots/Product-Detail-SEO-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts-snapshots/Product-Detail-Specifications-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts-snapshots/Product-Detail-Variants-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Storefront/Homepage.spec.ts
Labels: domain/quality-ops

#11506 fix: wait for template field and skeleton loader to improve flakyness
  tests/acceptance/tests/Settings/Documents.spec.ts
Labels: priority/high, domain/quality-ops

#11505 fix: theme runtime config corrupted after theme compile
  changelog/_unreleased/2025-07-25-fix-corruption-of-themeruntimeconfig-by-theme-compile.md
  src/Storefront/Theme/ThemeCompiler.php
Labels: component/storefront, component/core, domain/framework, backport-6.7.1.0

#10939 test: add visual test for order detail page
  tests/acceptance/tests/Visual/Administration/OrderDetail.spec.ts
  tests/acceptance/tests/Visual/Administration/OrderDetail.spec.ts-snapshots/Order-Detail-Details-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/OrderDetail.spec.ts-snapshots/Order-Detail-Documents-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/OrderDetail.spec.ts-snapshots/Order-Detail-General-Tab-Visual-linux.png
Labels: domain/quality-ops

#11469 fix: sorting order when search property values
  changelog/_unreleased/2025-07-24-fix-sorting-order-when-search-property-values.md
  src/Administration/Resources/app/administration/src/app/component/base/sw-property-search/index.js
Labels: domain/inventory

#11482 feat: Update PHP parser library
  composer.json
  phpstan-baseline.neon
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/DecorationPatternRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Migration/NoDropStatementInUpdateRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/PropertyNativeTypeRule.php
  src/Core/Framework/Api/ApiException.php
  src/Core/Framework/Api/Command/DumpClassSchemaCommand.php
  src/Core/composer.json
Labels: component/core, skip-danger-phpstan-baseline, domain/framework

#6351 test: snapshot final order page storefront
  tests/acceptance/tests/Visual/Storefront/CheckoutPages.spec.ts
  tests/acceptance/tests/Visual/Storefront/CheckoutPages.spec.ts-snapshots/Checkout-Confirm-Visual-linux.png
  tests/acceptance/tests/Visual/Storefront/CheckoutPages.spec.ts-snapshots/Checkout-Finish-Visual-linux.png
  tests/acceptance/tests/Visual/Storefront/CheckoutPages.spec.ts-snapshots/Checkout-Register-Visual-linux.png
Labels: testing/acceptance, domain/quality-ops

#9764 test: visual settings overview
  tests/acceptance/tests/Visual/Administration/Settings.spec.ts
  tests/acceptance/tests/Visual/Administration/Settings.spec.ts-snapshots/Settings-Overview-Visual-linux.png
Labels: domain/quality-ops

#11325 fix: SyncPaymentProcessException in 6.6.x not exists
  adr/2021-10-01-payment-flow.md
Labels: domain/checkout, external-contribution

#11565 fix: improve check for visibility parameter check, fixes #11521
  src/Core/Framework/DependencyInjection/CompilerPass/FilesystemConfigMigrationCompilerPass.php
  tests/unit/Core/Framework/DependencyInjection/CompilerPass/FilesystemConfigMigrationCompilerPassTest.php
Labels: component/core, domain/framework

#11551 feat: Add missing changelogs for Symfony update and MySQL min version increase
  changelog/_unreleased/2025-07-28-increased-minimum-required-version-of-mysql-database.md
  changelog/_unreleased/2025-07-28-symfony-components-updated.md
Labels: component/core, backport-6.6.x, domain/framework

#11574 fix: Reset active app loader after service update during service update
  changelog/_unreleased/2025-07-29-reset-active-apps-after-service-update.md
  src/Core/Framework/App/AppStateService.php
Labels: component/core, domain/framework, backport-6.7.1.0

#11288 fix(app-system): update snippets with proper locales on system language change
  changelog/_unreleased/2025-07-16-copy-app-snippets-after-system-language-change.md
  src/Administration/Framework/App/Subscriber/SystemLanguageChangedSubscriber.php
  src/Administration/Resources/config/services.xml
  src/Core/Framework/DependencyInjection/app.xml
  src/Core/Maintenance/System/Service/ShopConfigurator.php
  src/Core/Maintenance/System/Service/SystemLanguageChangeEvent.php
  tests/integration/Administration/Framework/App/Subscriber/SystemLanguageChangedSubscriberTest.php
  tests/unit/Administration/Framework/App/Subscriber/SystemLanguageChangedSubscriberTest.php
Labels: component/appsystem, domain/framework

#11556 fix: error handling on cart deserialization
  src/Core/Checkout/Cart/CartPersister.php
  src/Core/Checkout/Cart/RedisCartPersister.php
  tests/unit/Core/Checkout/Cart/Order/CartPersisterTest.php
  tests/unit/Core/Checkout/Cart/Order/RedisCartPersisterTest.php
Labels: domain/checkout, backport-6.7.1.0

#11579 fix: backwards compatibility to Shopware 6.6 class
  .bc-exclude.php
  changelog/_unreleased/2025-07-29-fix-backward-compatibility-of-mediathumbnailentity.md
  src/Core/Content/Media/Aggregate/MediaThumbnail/MediaThumbnailEntity.php
  src/Core/Content/Media/Core/Application/RemoteThumbnailLoader.php
  tests/integration/Core/Framework/DataAbstractionLayer/Reader/EntityReaderTest.php
  tests/unit/Core/Content/Media/Core/Application/RemoteThumbnailLoaderTest.php
Labels: component/media, domain/discovery, backport-6.7.1.0

#11334 fix: render documents with uppercase file extension (backport 6.6.x)
  src/Core/Checkout/Document/Service/DocumentGenerator.php
  tests/integration/Core/Checkout/Document/Service/DocumentGeneratorTest.php
Labels: component/documents, domain/crm-after-sales

#11550 fix: inconsistent seoUrls for cross-selling products
  changelog/_unreleased/2025-07-29-fix-inconsistent-seourls-for-cross-selling-products.md
  src/Core/Content/Seo/SalesChannel/SeoResolverData.php
  src/Core/Content/Seo/SalesChannel/StoreApiSeoResolver.php
  tests/unit/Core/Content/Seo/SalesChannel/SeoResolverDataTest.php
  tests/unit/Core/Content/Seo/SalesChannel/StoreApiSeoResolverTest.php
Labels: backport-6.6.x, component/seo, domain/inventory, backport-6.7.1.0

#11377 fix: use sw-text-editor instead of mt-text-editor
  changelog/_unreleased/2025-07-25-use-sw-text-editor-instead-of-mt-text-editor.md
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-detail-menu/sw-category-detail-menu.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-detail-menu/sw-category-detail-menu.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-name/component/component.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-name/config/config.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/text/component/component.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/text/component/sw-cms-el-text.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/text/config/config.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/text/config/sw-cms-el-config-text.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/mixin/sw-cms-element.mixin.spec.js
  src/Administration/Resources/app/administration/src/module/sw-manufacturer/page/sw-manufacturer-detail/sw-manufacturer-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-manufacturer/page/sw-manufacturer-detail/sw-manufacturer-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-basic-form/sw-product-basic-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-create/sw-settings-customer-group-create.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-detail/sw-settings-customer-group-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-detail/sw-settings-customer-group-detail.spec.js
  tests/acceptance/package-lock.json
Labels: component/administration, domain/framework, backport-6.7.1.0

#11626 fix: add waitForResponse
  tests/acceptance/tests/Settings/Documents.spec.ts
Labels: needs-triage

#11629 test: skip ProductFilter.spec.ts for SaaS
  tests/acceptance/tests/Product/ProductFilter.spec.ts
Labels: testing/acceptance, domain/quality-ops

#11624 fix: remove copy button for mail template collection variables
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-detail/sw-mail-template-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-detail/sw-mail-template-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-detail/sw-mail-template-detail.spec.js
Labels: component/email-templates, domain/crm-after-sales

#11593 feat: added deleteParameter method to SwitchContextEvent
  src/Core/System/SalesChannel/Event/SwitchContextEvent.php
Labels: component/core, domain/framework, external-contribution

#11642 test: Add retry mechanism to fix flakyness
  tests/acceptance/tests/Product/ProductWithAdvancedPricingPerQuantity.spec.ts
Labels: testing/acceptance, domain/quality-ops, Platform(Default)
