Repository shopware/shopware, pull requests merged in 2025-06, with the labels that each got.

#9906 fix: Elasticsearch custom fields dynamic product groups not working
  changelog/_unreleased/2025-05-27-elasticsearch-custom-fields-dynamic-product-groups-not-working.md
  src/Elasticsearch/Framework/DataAbstractionLayer/CriteriaParser.php
  tests/integration/Elasticsearch/Product/ElasticsearchProductTest.php
  tests/unit/Elasticsearch/Framework/DataAbstractionLayer/CriteriaParserTest.php
Labels: backport-6.6.x, component/customfields, component/search, backport-6.7.0.0, domain/inventory

#9930 fix: layout rulebuilder assignments
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/view/sw-settings-rule-detail-assignments/sw-settings-rule-detail-assignments.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/view/sw-settings-rule-detail-assignments/sw-settings-rule-detail-assignments.scss
Labels: 6.7-RC-Issues, backport-6.7.0.0, domain/crm-after-sales, domain/fundamentals

#10075 chore(ci): update backport prefix format
  .github/workflows/backport.yml
Labels: domain/product-ops

#9956 chore: update meteor to 4.12.1
  changelog/_unreleased/2025-05-28-update-meteor-to-4-12-1.md
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
Labels: component/administration, domain/framework

#10144 fix: deserialization of MediaThumbnailEntity
  src/Core/Content/Media/Aggregate/MediaThumbnail/MediaThumbnailEntity.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Deprecation/DeprecatedMethodsThrowDeprecationRule.php
Labels: backport-6.7.0.0, domain/checkout

#10194 chore: add needs-triage workflow [6.6.x]
  .github/workflows/01-needs-triage-labeler.yml
Labels: domain/product-ops

#10184 chore(snippet): Fix error message
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/en-GB.json
Labels: backport-6.7.0.0, domain/discovery

#10209 ci: fix nightly
  .github/workflows/nightly.yml
Labels: domain/product-ops

#10202 fix: exception in ThemeService caused by missing field type
  src/Storefront/Theme/ThemeService.php
Labels: 6.7-RC-Issues

#10206 test: improve ats stability on saas
  tests/acceptance/tests/Account/ChangeOrderPaymentMethod.spec.ts
  tests/acceptance/tests/SalesChannels/StorefrontLanguages.spec.ts
  tests/acceptance/tests/Settings/Wishlist/WishlistGuestFunctionalities.spec.ts
Labels: domain/product-ops, backport-6.7.0.0

#10187 fix: worker-init.ts notifications
  src/Administration/Resources/app/administration/src/app/init-post/worker.init.ts
  src/Administration/Resources/app/administration/src/core/factory/worker-notification.factory.ts
Labels: component/administration, backport-6.7.0.0, domain/framework

#10242 fix: measurement units for sales channel
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/sw-sales-channel-detail-domains.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-measurement/sw-sales-channel-measurement.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-create/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-create/sw-sales-channel-create.spec.js
Labels: domain/inventory

#10054 feat: Add new method to get translated custom field values
  changelog/_unreleased/2025-06-02-translated-custom-field-value-accessor.md
  src/Core/Framework/DataAbstractionLayer/EntityCustomFieldsTrait.php
  tests/unit/Core/Framework/DataAbstractionLayer/EntityCustomFieldsTraitTest.php
Labels: component/core, backport-6.6.x, domain/framework, external-contribution

#10234 refactor: Remove Vue2 `this.$root.$emit(...)` events from the `sw-order-detail` component
  changelog/_unreleased/2025-06-03-removed-global-vue2-event-emitter-from-the-sw-order-detail-component.md
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/index.js
Labels: component/administration, domain/checkout, external-contribution

#10239 refactor: Cleanup cross-selling administration
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-cross-selling-assignment/sw-product-cross-selling-assignment.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-cross-selling-assignment/sw-product-cross-selling-assignment.scss
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-cross-selling-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-cross-selling-form/sw-product-cross-selling-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-cross-selling-form/sw-product-cross-selling-form.scss
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-cross-selling/sw-product-detail-cross-selling.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-cross-selling/sw-product-detail-cross-selling.scss
Labels: 6.7-RC-Issues, backport-6.7.0.0, domain/inventory

#10246 fix: add mt-link to vue adapter
  src/Administration/Resources/app/administration/src/app/adapter/view/vue.adapter.ts
Labels: component/administration, 6.7-RC-Issues, domain/checkout

#10128 fix: Fix health checks in combination with saas
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/Framework/SystemCheck/ProductDetailReadinessCheck.php
  src/Storefront/Framework/SystemCheck/ProductListingReadinessCheck.php
  src/Storefront/Framework/SystemCheck/SalesChannelsReadinessCheck.php
  src/Storefront/Framework/SystemCheck/Util/AbstractSalesChannelDomainProvider.php
  src/Storefront/Framework/SystemCheck/Util/SalesChannelDomain.php
  src/Storefront/Framework/SystemCheck/Util/SalesChannelDomainCollection.php
  src/Storefront/Framework/SystemCheck/Util/SalesChannelDomainProvider.php
  tests/integration/Storefront/Framework/HealthCheck/SalesChannelsReadinessCheckTest.php
  tests/unit/Storefront/Framework/Health/ProductDetailReadinessCheckTest.php
  tests/unit/Storefront/Framework/Health/ProductListingReadinessCheckTest.php
  tests/unit/Storefront/Framework/Health/SalesChannelsReadinessCheckTest.php
  tests/unit/Storefront/Framework/Health/Util/SalesChannelDomainCollectionTest.php
  tests/unit/Storefront/Framework/Health/Util/SalesChannelDomainProviderTest.php
  tests/unit/Storefront/Framework/Health/Util/SalesChannelDomainTest.php
Labels: domain/discovery

#10281 style(media-modal): Fix problems with overlapping elements [6.7.0.0]
  src/Administration/Resources/app/administration/src/module/sw-media/component/sw-media-library/sw-media-library.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/component/sw-media-library/sw-media-library.scss
  src/Administration/Resources/app/administration/src/module/sw-media/component/sw-media-modal-v2/sw-media-modal-v2.scss
Labels: domain/discovery

#9962 feat: context gateway js client
  src/Storefront/Resources/app/storefront/src/service/context-gateway-client.service.ts
  src/Storefront/Resources/app/storefront/test/service/context-gateway-client.service.test.js
Labels: domain/checkout

#10215 docs: Added move language pack into platform ADR
  adr/2025-06-03-integrating-the-language-pack-into-platform.md
Labels: domain/discovery

#10287 style(media-modal): Fix duplication prompt z-index
  src/Administration/Resources/app/administration/src/app/component/utils/sw-duplicated-media-v2/sw-duplicated-media-v2.scss
Labels: backport-6.7.0.0, domain/discovery

#8794 chore: enforce check over new core framework integration tests
  .danger.php
Labels: component/core, domain/framework

#10240 fix: inconsistency between login & register page for guest customers
  changelog/_unreleased/2025-06-03-fix-inconsistency-between-login-and-register.md
  src/Storefront/Controller/AuthController.php
  tests/unit/Storefront/Controller/AuthControllerTest.php
Labels: backport-6.7.0.0, domain/checkout

#10243 fix: Password field autocomplete with the `new-password` type
  changelog/_unreleased/2025-06-04-fix-password-field-autocomplete-new-password.md
  src/Administration/Resources/app/administration/src/module/sw-profile/view/sw-profile-index-general/sw-profile-index-general.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-user-create/sw-users-permissions-user-create.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-user-detail/sw-users-permissions-user-detail.html.twig
Labels: component/administration, domain/framework

#9759 fix: StoreAPI criteria endpoints schema
  changelog/_unreleased/2025-05-22-fix-store-api-criteria-endpoints-schema.md
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/Criteria.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/account.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/currency.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/navigation.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/order.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/product.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/search-suggest.json
  tests/integration/Core/Framework/ApiRoutesHaveASchemaTest.php
Labels: backport-6.6.x, backport-6.7.0.0, domain/framework, external-contribution

#10252 fix: login missing translation on error
  src/Administration/Resources/app/administration/src/module/sw-login/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-login/snippet/en-GB.json
Labels: component/administration, backport-6.7.0.0, domain/framework

#10288 fix: extension detail styling
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-ratings/sw-extension-ratings-summary/sw-extension-ratings-summary.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-ratings/sw-extension-review-creation/sw-extension-review-creation.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-account/index.ts
Labels: component/administration, 6.7-RC-Issues, backport-6.7.0.0, domain/checkout

#10261 chore(ci): fix priority sync
  .github/bin/js/package-lock.json
Labels: domain/product-ops

#10308 fix: Upper case uuids admin url
  src/Administration/Resources/app/administration/scripts/generate-block-list/index.ts
  src/Administration/Resources/app/administration/src/app/component/base/sw-label/sw-label.html.twig
  src/Administration/Resources/app/administration/src/app/component/entity/sw-category-tree-field/sw-category-tree-field.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-custom-entity/page/sw-generic-custom-entity-detail/index.ts
  src/Administration/Resources/app/administration/src/module/sw-customer/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/index.js
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-header-footer-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-manufacturer/index.js
  src/Administration/Resources/app/administration/src/module/sw-newsletter-recipient/page/sw-newsletter-recipient-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/index.js
  src/Administration/Resources/app/administration/src/module/sw-product-stream/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/index.js
  src/Administration/Resources/app/administration/src/module/sw-property/index.js
  src/Administration/Resources/app/administration/src/module/sw-review/page/sw-review-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-country/component/sw-settings-country-general/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-country/page/sw-settings-country-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-currency/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/page/sw-settings-custom-field-set-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-delivery-times/page/sw-settings-delivery-time-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-document/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-language/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/page/sw-settings-listing-option-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-number-range/page/sw-settings-number-range-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/page/sw-settings-payment-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-product-feature-sets/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-salutation/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-state-machine/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-units/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-role-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-user-detail/index.js
Labels: component/administration, domain/framework

#10303 fix: generate variants shows NaN%
  changelog/_unreleased/2025-06-05-fix-generating-variants-shows-nan.md
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-modal-variant-generation/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-modal-variant-generation/sw-product-modal-variant-generation.html.twig
Labels: backport-6.7.0.0, domain/inventory

#10269 fix: ui issues for product module
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-price-form/sw-product-price-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-properties/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-properties/sw-product-properties.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-properties/sw-product-properties.scss
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-properties/sw-product-properties.spec.js
Labels: 6.7-RC-Issues, backport-6.7.0.0, domain/inventory

#10051 feat: Add namespaces option to `dal:validate` command
  changelog/_unreleased/2025-06-02-added-namespaces-parameter-for-dal-validate.md
  src/Core/Framework/DataAbstractionLayer/Command/DataAbstractionLayerValidateCommand.php
  tests/unit/Core/Framework/DataAbstractionLayer/Command/DataAbstractionLayerValidateCommandTest.php
Labels: component/core, domain/framework, external-contribution

#10320 fix: offcanvas breaking lines
  src/Storefront/Resources/app/storefront/src/scss/layout/_offcanvas-cart.scss
  src/Storefront/Resources/views/storefront/component/checkout/offcanvas-cart-summary.html.twig
Labels: backport-6.7.0.0, domain/checkout

#10329 fix(customerGroup): listing of seo urls mapped to a customer group form
  changelog/_unreleased/2025-06-06-improve-listing-of-customergroup-registration-form-seo-urls.md
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/page/sw-settings-customer-group-detail/sw-settings-customer-group-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-customer-group/snippet/en-GB.json
Labels: component/customer-groups, backport-6.7.0.0, domain/discovery

#10338 fix: Revert and fix some asset loading
  src/Administration/Resources/views/administration/index.html.twig
  src/Core/Installer/Resources/views/installer/base.html.twig
  src/Core/Installer/Resources/views/installer/language-selection.html.twig
Labels: component/administration, component/core, 6.7-RC-Issues, domain/framework

#10313 fix: Product variants empty state list position doesnt correct
  changelog/_unreleased/2025-06-05-product-variants-empty-state-list-position-doesn-t-correct.md
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-variants/sw-product-detail-variants.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-variants/sw-product-detail-variants.spec.js
Labels: 6.7-RC-Issues, backport-6.7.0.0, domain/inventory

#10336 fix: Disable change field when inherited enable
  src/Administration/Resources/app/administration/src/app/component/entity/sw-category-tree-field/sw-category-tree-field.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-category-form/sw-product-category-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-modal-variant-generation/sw-product-modal-variant-generation.html.twig
Labels: backport-6.6.x, component/inventory-products, 6.7-RC-Issues, backport-6.7.0.0, domain/inventory

#10350 fix: Essential characteristics - create template with more than 2 val…
  changelog/_unreleased/2025-06-09-fix-essential-characteristics-create-template-with-more-than-2-values-does-not-work.md
  src/Administration/Resources/app/administration/src/module/sw-settings-product-feature-sets/component/sw-settings-product-feature-sets-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-product-feature-sets/component/sw-settings-product-feature-sets-modal/sw-settings-product-feature-sets-modal.spec.js
Labels: backport-6.6.x, 6.7-RC-Issues, backport-6.7.0.0, domain/inventory

#10388 chore: prepare 6.6.10.5 release
  CHANGELOG.md
  UPGRADE-6.6.md
  changelog/release-6-6-10-5/2025-01-02-add-allow-html-entity-attribute.md
  changelog/release-6-6-10-5/2025-03-12-variant-indicator-missing-in-product-listing.md
  changelog/release-6-6-10-5/2025-04-07-fix-nested-line-items.md
  changelog/release-6-6-10-5/2025-04-08-fix-struct-encoder-custom-field-visibility.md
  changelog/release-6-6-10-5/2025-04-22-fix-imitate-customer-active-sales-channel-check.md
  changelog/release-6-6-10-5/2025-04-28-inclue-seourls-for-suggestsearch-and-search-entities.md
  changelog/release-6-6-10-5/2025-04-30-allowfullscreen-video-element.md
  changelog/release-6-6-10-5/2025-05-05-fix-category-search-results-not-scrollable.md
  changelog/release-6-6-10-5/2025-05-05-fixed-promotion-deletion-cart-error.md
  changelog/release-6-6-10-5/2025-05-07-added-cart-order-lock.md
  changelog/release-6-6-10-5/2025-05-08-elasticsearch-index-s-mapping-should-be-updated-post-update.md
  changelog/release-6-6-10-5/2025-05-12-fixed-accessibility-issue-of-collapse-button-of-orders.md
  changelog/release-6-6-10-5/2025-05-13-fix-search-result-order.md
  changelog/release-6-6-10-5/2025-05-15-fix-search-result-order-in-preview-search-in-mysql.md
  changelog/release-6-6-10-5/2025-05-15-provide-context-token-to-current-request.md
  changelog/release-6-6-10-5/2025-05-15-transmit-correct-shipping-costs-to-google-analytics.md
  changelog/release-6-6-10-5/2025-05-19-reduce-downtime-while-theme-change.md
  changelog/release-6-6-10-5/2025-05-20-added-reset-parameter-to-update-theme.md
  changelog/release-6-6-10-5/2025-05-20-display-promotion-rule-as-line-item-rule.md
  changelog/release-6-6-10-5/2025-05-20-fix-deeplinkcode-overwrite.md
  changelog/release-6-6-10-5/2025-05-20-refactored-snippet-set-list.md
  changelog/release-6-6-10-5/2025-05-21-elasticsearch-list-price-percentage-ratio-dynamic-product-groups-not-working.md
  changelog/release-6-6-10-5/2025-05-21-refactor-manufacturer-wrapper-on-product-detail-page.md
  changelog/release-6-6-10-5/2025-05-21-remove-write-of-createdbyfield-for-nonlive-versions.md
  changelog/release-6-6-10-5/2025-05-22-fix-search-term-custom-find-weird-icons.md
  changelog/release-6-6-10-5/2025-05-22-fix-store-api-criteria-endpoints-schema.md
  changelog/release-6-6-10-5/2025-05-22-set-limit-when-loading-options-in-property-group-detail-page.md
  changelog/release-6-6-10-5/2025-05-23-fix-inline-media-upload-preview-image-option-is-broken.md
  changelog/release-6-6-10-5/2025-05-24-add-event-to-modify-saleschannelcontext.md
  changelog/release-6-6-10-5/2025-05-27-elasticsearch-custom-fields-dynamic-product-groups-not-working.md
  changelog/release-6-6-10-5/2025-05-27-fix-sorting-of-countries.md
  changelog/release-6-6-10-5/2025-05-28-add-recalculated-custom-line-items-to-delivery.md
  changelog/release-6-6-10-5/2025-05-29-unwrap-messages-when-routing.md
  changelog/release-6-6-10-5/2025-05-30-silence-and-log-exceptions-of-in-app-purchases.md
  changelog/release-6-6-10-5/2025-06-02-bypass-extensions-from-id-result-to-search-result.md
  changelog/release-6-6-10-5/2025-06-02-translated-custom-field-value-accessor.md
  changelog/release-6-6-10-5/2025-06-09-fix-essential-characteristics-create-template-with-more-than-2-values-does-not-work.md
Labels: domain/product-ops

#9629 fix: non latin characters are not correctly displayed
  src/Core/Framework/Resources/views/documents/style_base_landscape.css.twig
  src/Core/Framework/Resources/views/documents/style_base_portrait.css.twig
Labels: domain/crm-after-sales

#10356 fix: Extension icon style in settings
  src/Administration/Resources/app/administration/src/module/sw-settings/component/sw-settings-item/sw-settings-item.scss
Labels: backport-6.7.0.0, domain/crm-after-sales

#10311 fix: typo
  adr/2022-04-06-add-default-cms-layouts-to-products-and-categories.md
Labels: area/documentation, domain/product-ops

#10385 feat: allow custom access keys in CreateIntegrationCommand
  src/Core/Framework/Api/Command/CreateIntegrationCommand.php
  tests/unit/Core/Framework/Api/Command/CreateIntegrationCommandTest.php
Labels: component/core, domain/framework

#9734 fix: e-invoice vertical tax calculation
  changelog/_unreleased/2025-05-22-e-invoice-vertical-tax-calculation.md
  src/Core/Checkout/Cart/Order/OrderConverter.php
  src/Core/Checkout/Cart/Price/AmountCalculator.php
  src/Core/Checkout/Cart/Tax/PercentageTaxRuleBuilder.php
  src/Core/Checkout/DependencyInjection/document.xml
  src/Core/Checkout/Document/Renderer/OrderDocumentCriteriaFactory.php
  src/Core/Checkout/Document/Zugferd/ZugferdBuilder.php
  src/Core/Checkout/Document/Zugferd/ZugferdDocument.php
  src/Core/Checkout/Order/OrderDefinition.php
  src/Core/Checkout/Order/OrderEntity.php
  src/Core/Migration/V6_6/Migration1747746986OrderTaxCalculationType.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
  tests/migration/Core/V6_6/Migration1747746986OrderTaxCalculationTypeTest.php
  tests/unit/Core/Checkout/Cart/Order/OrderConverterTest.php
  tests/unit/Core/Checkout/Document/Zugferd/ZugferdBuilderTest.php
  tests/unit/Core/Checkout/Document/Zugferd/ZugferdDocumentMock.php
  tests/unit/Core/Checkout/Document/Zugferd/ZugferdDocumentTest.php
  tests/unit/Core/Content/ImportExport/DataAbstractionLayer/Serializer/Entity/OrderSerializerTest.php
Labels: backport-6.6.x, backport-6.7.0.0, domain/checkout

#10384 fix: sw-media-upload-v2 styles
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-upload-v2/sw-media-upload-v2.scss
Labels: component/administration, backport-6.7.0.0, domain/framework

#10397 fix: visible dragging element in product media form
  src/Administration/Resources/app/administration/src/app/component/base/sw-product-image/sw-product-image.scss
Labels: component/inventory-products, 6.7-RC-Issues, backport-6.7.0.0, domain/inventory

#10368 fix: spelling and typos in core namespace
  changelog/_unreleased/2025-06-07-spelling-fixes-in-core-package.md
  changelog/release-6-7-0-0/2025-03-11-add-missing-dependency-field-of-url-runtime-field-to-media-definition.md
  src/Core/Checkout/Payment/Cart/Recurring/RecurringDataStruct.php
  src/Core/Checkout/Promotion/Cart/Discount/ScopePackager/SetScopeDiscountPackager.php
  src/Core/Checkout/Promotion/Cart/PromotionDeliveryCalculator.php
  src/Core/Content/Product/Cart/ProductFeatureBuilder.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/NoUnconfiguredMetricAllowed.php
  src/Core/DevOps/StaticAnalyze/PHPStan/rules.neon
  src/Core/Framework/Changelog/ChangelogDefinition.php
  src/Core/Framework/Changelog/Processor/ChangelogProcessor.php
  src/Core/Framework/Changelog/Processor/ChangelogReleaseCreator.php
  src/Core/Migration/V6_5/Migration1672934282ReviewFormSendFlow.php
  src/Core/System/SalesChannel/Entity/SalesChannelDefinitionInstanceRegistry.php
Labels: component/core, skip-danger-phpstan-baseline, domain/framework

#10349 feat: add static-plugins
  composer.json
  custom/static-plugins/.gitkeep
Labels: component/core, backport-6.6.x, domain/framework

#10432 fix: shipping method active field margin
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/page/sw-settings-shipping-detail/sw-settings-shipping-detail.html.twig
Labels: backport-6.7.0.0, domain/checkout

#9254 fix: Load `SalesChannelCategoryEntity` when loading the breadcrumb to properly access the seo links
  .bc-exclude.php
  UPGRADE-6.8.md
  changelog/_unreleased/2025-05-10-load-saleschannelcategoryentity-when-loading-the-breadcrumb.md
  phpstan.neon.dist
  src/Core/Framework/Adapter/Twig/Extension/BuildBreadcrumbExtension.php
  src/Core/Framework/DependencyInjection/seo.xml
  src/Core/Test/Stub/DataAbstractionLayer/StaticSalesChannelRepository.php
  src/Storefront/Resources/views/storefront/layout/breadcrumb.html.twig
  tests/integration/Core/Content/Category/Subscriber/CategorySubscriberTest.php
  tests/unit/Core/Framework/Adapter/Twig/Extension/BuildBreadcrumbExtensionTest.php
Labels: component/storefront, component/core, domain/framework, external-contribution

#10369 fix: update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: domain/product-ops, external-contribution

#9935 feat: Use typescript for user-config-service
  src/Administration/Resources/app/administration/src/core/service/api/user-config.api.service.spec.js
  src/Administration/Resources/app/administration/src/core/service/api/user-config.api.service.ts
  src/Administration/Resources/app/administration/src/global.types.ts
  src/Administration/Resources/app/administration/src/meta/baseline.ts
Labels: component/administration, domain/framework

#10447 fix: update to the latest meteor-component-library
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
Labels: component/administration, backport-6.7.0.0, domain/framework

#10438 feat: improve elasticssearch scoring for numeric tokens
  changelog/_unreleased/2025-06-11-improve-es-search-scoring-for-numeric-tokens.md
  src/Elasticsearch/Product/SearchFieldConfig.php
  src/Elasticsearch/TokenQueryBuilder.php
  tests/unit/Elasticsearch/Product/ProductSearchQueryBuilderTest.php
  tests/unit/Elasticsearch/Product/SearchFieldConfigTest.php
  tests/unit/Elasticsearch/TokenQueryBuilderTest.php
Labels: backport-6.6.x, component/search, domain/customer-support, domain/inventory

#10459 test: improve stability of ats tests on saas
  tests/acceptance/tests/Product/ProductVisibility.spec.ts
  tests/acceptance/tests/SalesChannels/StorefrontCurrencies.spec.ts
  tests/acceptance/tests/SalesChannels/StorefrontLanguages.spec.ts
  tests/acceptance/tests/Search/ProductSearch.spec.ts
  tests/acceptance/tests/Settings/Wishlist/WishlistGuestFunctionalities.spec.ts
  tests/acceptance/tests/Settings/Wishlist/WishlistRegisteredCustomerFunctionalities.spec.ts
Labels: domain/product-ops, backport-6.7.0.0

#10433 fix: manufacturer replace media sidebar to media modal
  changelog/_unreleased/2025-06-11-manufacturer-replace-media-sidebar-to-media-modal.md
  src/Administration/Resources/app/administration/src/module/sw-manufacturer/page/sw-manufacturer-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-manufacturer/page/sw-manufacturer-detail/sw-manufacturer-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-manufacturer/page/sw-manufacturer-detail/sw-manufacturer-detail.spec.js
Labels: component/inventory-manufacturers, 6.7-RC-Issues, backport-6.7.0.0, domain/inventory

#10485 fix: show property empty state in product detail variants
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-variants/sw-product-detail-variants.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-variants/sw-product-detail-variants.spec.js
Labels: 6.7-RC-Issues, backport-6.7.0.0, domain/inventory

#10480 fix: flaky infoControllerTest in integration
  src/Core/Framework/Api/Controller/InfoController.php
  tests/unit/Core/Framework/Api/Controller/InfoControllerTest.php
Labels: component/core, domain/framework

#10489 fix: flaky DocumentMergerTest in integration
  tests/integration/Core/Checkout/Document/Service/DocumentMergerTest.php
Labels: component/core, domain/crm-after-sales, domain/framework

#10477 fix: Add default entity to property collection in sales channel detail
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-defaults-select/index.js
Labels: domain/discovery

#10403 feat: add configuration to disable scheduled sitemap generation
  config-schema.json
  src/Core/Content/Sitemap/ScheduledTask/SitemapGenerateTask.php
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/Framework/Resources/config/packages/shopware.yaml
Labels: domain/discovery

#10508 fix: link to the English version of the Shopware store
  README.md
Labels: domain/product-ops

#10506 feat: Adjust measurement system snippet
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-extension/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-measurement-form/sw-product-measurement-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-measurement-form/sw-product-measurement-form.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-specifications/sw-product-detail-specifications.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-settings-units/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings/snippet/de-DE.json
Labels: domain/inventory

#10318 fix: minimize calls for license sync handling
  src/Core/Service/Subscriber/LicenseSyncSubscriber.php
  tests/unit/Core/Service/Subscriber/LicenseSyncSubscriberTest.php
Labels: component/core, domain/framework

#10449 chore(ci): adjust labeler job for external contributors, in order not to rely on an octo-sts token
  .github/workflows/01-pr-issue-labeler.yml
  .github/workflows/external-contributor-label.yml
Labels: domain/product-ops

#9990 chore(ci): add repeated execution for changed acceptance tests to better weed out flaky/instable tests
  .github/workflows/integration.yml
Labels: domain/product-ops

#10501 fix: typo in ProductLineItemInconsistentException
  src/Core/Content/Product/Exception/ProductLineItemInconsistentException.php
  tests/integration/Core/Content/Product/Cart/ProductLineItemCommandValidatorTest.php
Labels: domain/inventory

#10538 fix: when username is not set, fall back to email
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/sw-order-state-history-modal.spec.js
Labels: domain/checkout

#10652 chore: update description line-height
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-measurement-form/sw-product-measurement-form.scss
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-packaging-form/sw-product-packaging-form.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/component/sw-settings-measurement-default-units/sw-settings-measurement-default-units.scss
Labels: domain/inventory

#10651 chore: format snippet to use 2 spaces
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-measurement/snippet/en-GB.json
Labels: domain/inventory

#10663 fix: revert storefront router change
  changelog/_unreleased/2025-06-12-allow-storefront-routes-to-have-different-prefixes.md
  src/Storefront/Framework/Routing/Router.php
  tests/unit/Storefront/Framework/Routing/RouterTest.php
Labels: needs-triage

#10665 fix(product-slider): Use navigationArrows instead of navigation
  src/Storefront/Resources/views/storefront/element/cms-element-product-slider.html.twig
Labels: component/shopping-experiences, domain/discovery

#9894 feat: services permissions management
  src/Core/Framework/App/Privileges/Privileges.php
  src/Core/Service/Api/PermissionController.php
  src/Core/Service/Api/ServiceController.php
  src/Core/Service/DependencyInjection/services.xml
  src/Core/Service/Event/PermissionsGrantedEvent.php
  src/Core/Service/Event/PermissionsRevokedEvent.php
  src/Core/Service/Manager.php
  src/Core/Service/PermissionsService.php
  src/Core/Service/ServiceException.php
  src/Core/Service/ServiceRegistryClient.php
  src/Core/Service/State.php
  src/Core/Service/Subscriber/PermissionsSubscriber.php
  src/Core/Service/permissions.json
  tests/integration/Core/Framework/App/Privileges/PrivilegesTest.php
  tests/integration/Core/Framework/_snapshots/routes_without_schema.json
  tests/integration/Core/Service/Api/PermissionControllerTest.php
  tests/integration/Core/Service/PermissionsServiceTest.php
  tests/unit/Core/Service/Api/PermissionControllerTest.php
  tests/unit/Core/Service/Api/ServiceControllerTest.php
  tests/unit/Core/Service/ManagerTest.php
  tests/unit/Core/Service/PermissionsServiceTest.php
  tests/unit/Core/Service/ServiceExceptionTest.php
  tests/unit/Core/Service/Subscriber/PermissionsSubscriberTest.php
Labels: component/core, domain/service-enablement

#10694 ci: fix update ats
  .github/workflows/integration.yml
Labels: domain/product-ops, backport-6.7.0.0

#10714 fix: update product and property option names to use translated values
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/index.js
  src/Administration/Resources/app/administration/src/module/sw-property/component/sw-property-option-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-property/component/sw-property-option-detail/sw-property-option-detail.html.twig
Labels: backport-6.6.x, component/inventory-products, component/inventory-properties, backport-6.7.0.0, domain/inventory

#10502 test: refactor visibility checks
  tests/acceptance/fixtures/AcceptanceTest.ts
  tests/acceptance/fixtures/HomeProducts.ts
  tests/acceptance/tasks/ShopCustomer/Listing/CheckVisibilityInHome.ts
  tests/acceptance/tasks/ShopCustomerTasks.ts
  tests/acceptance/tests/Product/ProductImagesInTheStorefront.spec.ts
  tests/acceptance/tests/Product/ProductVisibility.spec.ts
  tests/acceptance/tests/Settings/CurrencyRoundingByCountry.spec.ts
  tests/acceptance/tests/Settings/Wishlist/WishlistGuestFunctionalities.spec.ts
  tests/acceptance/tests/Settings/Wishlist/WishlistRegisteredCustomerFunctionalities.spec.ts
Labels: domain/product-ops

#10666 fix: promotion list alignment
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/page/sw-promotion-v2-list/index.js
Labels: domain/checkout

#10520 refactor: Remove url from app metadata
  changelog/_unreleased/2025-06-13-remove-unused-url-specification-from-app-metadata.md
  src/Core/Framework/App/Manifest/Xml/Meta/Metadata.php
  tests/unit/Core/Framework/App/Lifecycle/Persister/TaxProviderPersisterTest.php
Labels: component/core, domain/framework, external-contribution

#10741 feat: use primaryOrderTransaction for documents
  src/Core/Checkout/Document/Renderer/AbstractDocumentRenderer.php
  src/Core/Checkout/Document/Renderer/OrderDocumentCriteriaFactory.php
  src/Core/Checkout/Document/Zugferd/ZugferdBuilder.php
  tests/unit/Core/Checkout/Document/Renderer/OrderDocumentCriteriaFactoryTest.php
Labels: domain/checkout

#7913 perf: optimizing theme config loading
  UPGRADE-6.8.md
  changelog/_unreleased/2025-04-09-optimizing-theme-config-loading.md
  phpstan-baseline.neon
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
  src/Core/Framework/DependencyInjection/services.xml
  src/Core/Migration/V6_7/Migration1742568836CreateThemeRuntimeConfigTable.php
  src/Core/System/Snippet/Event/SnippetsThemeResolveEvent.php
  src/Core/System/Snippet/SnippetService.php
  src/Core/Test/Stub/Storefront/ThemeRuntimeConfigTestService.php
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/DependencyInjection/theme.xml
  src/Storefront/Framework/Routing/TemplateDataSubscriber.php
  src/Storefront/Theme/AbstractResolvedConfigLoader.php
  src/Storefront/Theme/CachedResolvedConfigLoader.php
  src/Storefront/Theme/DatabaseSalesChannelThemeLoader.php
  src/Storefront/Theme/Exception/ThemeAssignmentException.php
  src/Storefront/Theme/Exception/ThemeException.php
  src/Storefront/Theme/Message/CompileThemeHandler.php
  src/Storefront/Theme/Message/DeleteThemeFilesHandler.php
  src/Storefront/Theme/ResolvedConfigLoader.php
  src/Storefront/Theme/ScheduledTask/DeleteThemeFilesTaskHandler.php
  src/Storefront/Theme/Subscriber/ThemeSnippetsSubscriber.php
  src/Storefront/Theme/ThemeCompiler.php
  src/Storefront/Theme/ThemeConfigCacheInvalidator.php
  src/Storefront/Theme/ThemeConfigValueAccessor.php
  src/Storefront/Theme/ThemeLifecycleHandler.php
  src/Storefront/Theme/ThemeLifecycleService.php
  src/Storefront/Theme/ThemeMergedConfigBuilder.php
  src/Storefront/Theme/ThemeRuntimeConfig.php
  src/Storefront/Theme/ThemeRuntimeConfigService.php
  src/Storefront/Theme/ThemeRuntimeConfigStorage.php
  src/Storefront/Theme/ThemeScripts.php
  src/Storefront/Theme/ThemeService.php
  src/Storefront/Theme/Twig/ThemeInheritanceBuilder.php
  tests/integration/Core/System/Snippet/SnippetServiceTest.php
  tests/integration/Storefront/Framework/App/AppStateServiceThemeTest.php
  tests/integration/Storefront/Theme/ThemeInheritanceBuilderTest.php
  tests/integration/Storefront/Theme/ThemeLifecycleHandlerTest.php
  tests/integration/Storefront/Theme/ThemeLifecycleServiceTest.php
  tests/integration/Storefront/Theme/ThemeRuntimeConfigStorageTest.php
  tests/integration/Storefront/Theme/ThemeTest.php
  tests/migration/Core/V6_7/Migration1742568836CreateThemeRuntimeConfigTableTest.php
  tests/unit/Core/System/Snippet/SnippetServiceTest.php
  tests/unit/Storefront/Framework/Routing/TemplateDataSubscriberTest.php
  tests/unit/Storefront/Theme/Exception/ThemeExceptionTest.php
  tests/unit/Storefront/Theme/Message/CompileThemeHandlerTest.php
  tests/unit/Storefront/Theme/Message/DeleteThemeFilesHandlerTest.php
  tests/unit/Storefront/Theme/ScheduledTask/DeleteThemeFilesTaskHandlerTest.php
  tests/unit/Storefront/Theme/Subscriber/ThemeSnippetsSubscriberTest.php
  tests/unit/Storefront/Theme/ThemeConfigCacheInvalidatorTest.php
  tests/unit/Storefront/Theme/ThemeLifecycleHandlerTest.php
  tests/unit/Storefront/Theme/ThemeMergedConfigBuilderTest.php
  tests/unit/Storefront/Theme/ThemeRuntimeConfigServiceTest.php
  tests/unit/Storefront/Theme/ThemeRuntimeConfigTest.php
  tests/unit/Storefront/Theme/ThemeScriptsTest.php
  tests/unit/Storefront/Theme/ThemeServiceTest.php
  tests/unit/Storefront/Theme/Twig/ThemeInheritanceBuilderTest.php
Labels: component/storefront, component/core, domain/framework

#10557 fix(a11y): allow empty alt attributes with sw_thumbnail
  changelog/_unreleased/2025-06-16-allow-empty-alt-with-sw_thumbnails.md
  src/Storefront/Resources/views/storefront/element/cms-element-image-gallery.html.twig
  src/Storefront/Resources/views/storefront/utilities/thumbnail.html.twig
  tests/integration/Storefront/Framework/Twig/ThumbnailExtensionTest.php
  tests/integration/Storefront/Framework/Twig/fixtures/Storefront/Resources/views/storefront/thumbnail-alt-false.html.twig
  tests/integration/Storefront/Framework/Twig/fixtures/Storefront/Resources/views/storefront/thumbnail-decorative.html.twig
  tests/integration/Storefront/Framework/Twig/fixtures/Storefront/Resources/views/storefront/thumbnail-default.html.twig
Labels: component/storefront, area/accessibility, domain/framework

#10545 fix: skip schema update on app delete when app does not have custom entities
  changelog/_unreleased/2025-06-18-improve-app-uninstalls-with-custom-entities.md
  phpstan-baseline.neon
  src/Core/Framework/App/AppException.php
  src/Core/Framework/App/AppStateService.php
  src/Core/Framework/App/Lifecycle/AppLifecycle.php
  src/Core/Framework/DependencyInjection/app.xml
  tests/integration/Core/System/CustomEntity/CustomEntityTest.php
Labels: component/core, domain/framework

#6352 test: visual test for sforefront homepage
  tests/acceptance/tests/Visual/VisualStorefrontHomepage.spec.ts
  tests/acceptance/tests/Visual/VisualStorefrontHomepage.spec.ts-snapshots/Visual-Homepage-in-the-Storefront-1-Platform-linux.png
Labels: testing/acceptance, domain/quality-ops

#10771 chore(snippet-sets): Add missing placeholder translation
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/snippet/en-GB.json
Labels: domain/discovery

#10775 fix: Handle duplicate custom field set names
  changelog/_unreleased/2025-06-24-fix-apps-with-duplicated-custom-field-sets.md
  src/Core/Framework/App/Lifecycle/Persister/CustomFieldPersister.php
  tests/integration/Core/Framework/App/Lifecycle/AppLifecycleTest.php
Labels: component/core, backport-6.6.x, domain/framework

#10744 fix: duplicate grid settings space
  changelog/_unreleased/2025-06-23-fix-duplicate-grid-settings-space.md
  src/Administration/Resources/app/administration/src/app/component/data-grid/sw-data-grid-settings/sw-data-grid-settings.scss
Labels: component/administration, domain/framework, external-contribution

#10763 fix: remove 6.8.0.0 feature flag [6.6.x]
  src/Core/Checkout/Document/Zugferd/ZugferdDocument.php
  src/Core/Framework/Plugin/PluginException.php
  src/Core/System/Country/Aggregate/CountryState/CountryStateCollection.php
  src/Core/System/Country/CountryCollection.php
  src/Storefront/Theme/Message/DeleteThemeFilesHandler.php
  src/Storefront/Theme/Message/DeleteThemeFilesMessage.php
Labels: domain/framework

#10719 feat: Changed Admin-SDK handler contextAppInformation to return permissions
  changelog/_unreleased/2025-06-19-changed-admin-sdk-handler-for-context-can.md
  src/Administration/Resources/app/administration/src/app/init/context.init.spec.js
  src/Administration/Resources/app/administration/src/app/init/context.init.ts
  src/Administration/Resources/app/administration/src/app/store/extensions.store.ts
Labels: component/administration, domain/framework

#10358 feat: added extension for product price calculator
  changelog/_unreleased/2025-06-06-added-price-calculation-extension.md
  src/Core/Content/DependencyInjection/product.xml
  src/Core/Content/Product/Extension/ProductPriceCalculationExtension.php
  src/Core/Content/Product/ProductException.php
  src/Core/Content/Product/SalesChannel/Price/ProductPriceCalculator.php
  tests/unit/Core/Content/Product/SalesChannel/Price/ProductPriceCalculatorTest.php
Labels: domain/inventory, external-contribution

#10790 fix: tax rule type needs to be nullable
  phpstan-baseline.neon
  src/Core/System/Tax/Aggregate/TaxRule/TaxRuleEntity.php
Labels: component/core, domain/checkout, domain/framework

#10531 feat: Add modifyFields method to EntityExtension
  changelog/_unreleased/2025-06-02-add-modify-fields-method-to-entity-extension.md
  src/Core/Framework/DataAbstractionLayer/EntityDefinition.php
  src/Core/Framework/DataAbstractionLayer/EntityExtension.php
  src/Core/Framework/Test/DataAbstractionLayer/Field/TestDefinition/ExtendableDefinition.php
  src/Core/Framework/Test/DataAbstractionLayer/Field/TestDefinition/ModifyFieldsExtension.php
  tests/integration/Core/Framework/DataAbstractionLayer/EntityExtensionTest.php
Labels: component/core, skip-danger-phpstan-baseline, domain/framework, external-contribution

#10807 fix: Assets with bundle suffix
  src/Administration/Resources/app/administration/webpack.config.js
Labels: component/administration, domain/framework

#10718 fix: Properly display product slider element with border
  changelog/_unreleased/2025-06-19-properly-display-product-slider-element-with-border-in-the-administration.md
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/component/sw-cms-el-product-slider.scss
Labels: domain/discovery, external-contribution

#10346 fix: don't load system settings on each component
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-compact-upload-v2/sw-media-compact-upload-v2.spec.js
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-upload-v2/index.js
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-upload-v2/sw-media-upload-v2.spec.js
Labels: component/administration, domain/framework

#10821 fix: stacking line items marks modified
  changelog/_unreleased/2025-06-26-fix-stacking-line-items-does-not-recalculate-advanced-prices.md
  src/Core/Checkout/Cart/LineItem/LineItemCollection.php
  tests/integration/Core/Checkout/Cart/SalesChannel/CartItemAddRouteTest.php
  tests/unit/Core/Checkout/Cart/LineItem/LineItemCollectionTest.php
Labels: domain/checkout

#10831 fix: partial loading in order route via PHP
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/order.json
  tests/integration/Core/Checkout/Order/SalesChannel/OrderRouteTest.php
Labels: domain/checkout

#10844 fix: stacking line items marks [6.7.0.0]
  changelog/_unreleased/2025-06-26-fix-stacking-line-items-does-not-recalculate-advanced-prices.md
  src/Core/Checkout/Cart/LineItem/LineItemCollection.php
  tests/integration/Core/Checkout/Cart/SalesChannel/CartItemAddRouteTest.php
  tests/unit/Core/Checkout/Cart/LineItem/LineItemCollectionTest.php
Labels: domain/checkout

#10832 feat: changed file_exists to suitable is_dir/is_file in core namespace core
  changelog/_unreleased/2025-06-26-changed-file_exists-to-suitable-is_dir-is_file.md
  public/index.php
  src/Core/DevOps/Docs/ArrayWriter.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/AclValidPermissionsHelper.php
  src/Core/DevOps/StaticAnalyze/phpstan-bootstrap.php
  src/Core/Framework/Adapter/Asset/AssetInstallCommand.php
  src/Core/Framework/Adapter/Kernel/KernelFactory.php
  src/Core/Framework/Adapter/Twig/NamespaceHierarchy/BundleHierarchyBuilder.php
  src/Core/Framework/Api/Command/DumpClassSchemaCommand.php
  src/Core/Framework/App/Command/CreateAppCommand.php
  src/Core/Framework/App/Command/ValidateAppCommand.php
  src/Core/Framework/App/Lifecycle/AppLoader.php
  src/Core/Framework/App/Validation/ConfigValidator.php
  src/Core/Framework/Bundle.php
  src/Core/Framework/Changelog/Command/ChangelogCheckCommand.php
  src/Core/Framework/DataAbstractionLayer/Command/CreateEntitiesCommand.php
  src/Core/Framework/DataAbstractionLayer/Command/CreateHydratorCommand.php
  src/Core/Framework/Migration/Command/RefreshMigrationCommand.php
  src/Core/Framework/Plugin/BundleConfigGenerator.php
  src/Core/Framework/Plugin/Util/ZipUtils.php
  src/Core/Framework/Test/Plugin/_fixture/plugins/SwagTestShipsVendorDirectory/vendor/composer/ClassLoader.php
  src/Core/Framework/Update/Services/UpdateHtaccess.php
  src/Core/Installer/Configuration/EnvConfigWriter.php
  src/Core/Installer/Database/MigrationCollectionFactory.php
  src/Core/Installer/Finish/UniqueIdGenerator.php
  src/Core/Installer/InstallerKernel.php
  src/Core/Installer/Requirements/FilesystemRequirementsValidator.php
  src/Core/Maintenance/System/Command/SystemInstallCommand.php
  src/Core/Maintenance/System/Command/SystemSetupCommand.php
  src/Core/Service/ServiceSourceResolver.php
  src/Core/System/CustomEntity/CustomEntityLifecycleService.php
Labels: component/core, skip-danger-phpstan-baseline, domain/framework, external-contribution

#10772 fix: Make custom field set name unique in app manifest XSD file
  changelog/_unreleased/2025-06-24-custom-field-set-name-is-now-unique-for-apps.md
  src/Core/Framework/App/Manifest/Schema/manifest-3.0.xsd
  tests/unit/Core/Framework/App/Manifest/ManifestTest.php
  tests/unit/Core/Framework/App/Manifest/_fixtures/duplicate-custom-field-set-name.xml
Labels: component/core, component/customfields, domain/framework

#10777 fix: ensure import export profile technical names are generated
  src/Core/Migration/V6_7/Migration1717573310ImportExportTechnicalNameRequired.php
  tests/migration/Core/V6_7/Migration1717573310ImportExportTechnicalNameRequiredTest.php
  tests/migration/Core/V6_7/fixtures/import_export_default_profiles.sql
Labels: 6.7-RC-Issues, backport-6.7.0.0, domain/crm-after-sales

#10842 fix: media item changes cant be reverted until reload
  changelog/_unreleased/2025-06-26-fix-media-item-quickinfo-update-after-save.md
  src/Administration/Resources/app/administration/src/core/service/utils/eventBus.utils.ts
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.spec.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sw-media-library/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sw-media-library/sw-media-library.spec.js
Labels: domain/discovery

#10854 ci: fix environment namings
  .github/workflows/05-prepare-release.yml
Labels: backport-6.6.x, domain/product-ops, backport-6.7.0.0

#10768 feat: change SSO login behaviour
  src/Administration/Resources/app/administration/src/core/factory/router.factory.js
  src/Administration/Resources/app/administration/src/core/service/api/saas-invitation.service.js
  src/Administration/Resources/app/administration/src/core/service/api/saas-invitation.service.spec.js
  src/Administration/Resources/app/administration/src/core/service/api/saas-settings.service.js
  src/Administration/Resources/app/administration/src/core/service/api/saas-settings.service.spec.js
  src/Administration/Resources/app/administration/src/core/shopware.ts
  src/Administration/Resources/app/administration/src/global.types.ts
  src/Administration/Resources/app/administration/src/module/index.js
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/index.ts
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/sw-login-login.html.twig
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/sw-login-login.spec.js
  src/Administration/Resources/app/administration/src/module/sw-profile/page/sw-profile-index/sw-profile-index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sso-error/index.js
  src/Administration/Resources/app/administration/src/module/sw-sso-error/page/index/index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-user-saas-access-key-create-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-user-saas-access-key-create-modal/sw-user-saas-access-key-create-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-user-saas-invitation-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-user-saas-invitation-modal/sw-user-saas-invitation-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-user-saas-status-label/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-user-saas-status-label/sw-user-saas-status-label.spec.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-role-listing/sw-users-permissions-role-listing.spec.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-user-listing/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-user-listing/sw-users-permissions-user-listing.spec.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-saas-users-permission-user-detail/index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-role-detail/sw-users-permissions-role-detail.spec.js
Labels: domain/crm-after-sales

#6418 Fix: fixed negative zero
  changelog/_unreleased/2025-01-24-fix-negative-zero-when-calculating-price.md
  src/Core/Checkout/Cart/Price/CashRounding.php
  tests/unit/Core/Checkout/Cart/Price/CashRoundingTest.php
Labels: domain/checkout

#10837 feat: changed file_exists to suitable is_dir/is_file in administration namespace admin
  changelog/_unreleased/2025-06-26-remove-usage-of-file_exists-in-admin.md
  src/Administration/Command/DeleteExtensionLocalPublicFilesCommand.php
  src/Administration/Snippet/SnippetFinder.php
Labels: component/administration, domain/framework, external-contribution

#10841 feat: changed file_exists to suitable is_dir/is_file in tests
  changelog/_unreleased/2025-06-26-remove-usage-of-file_exists-in-tests.md
  tests/integration/Core/Content/ImportExport/AbstractImportExportTestCase.php
  tests/integration/Core/Content/ImportExport/Service/MappingServiceTest.php
  tests/integration/Core/Content/Media/File/FileSaverTest.php
  tests/integration/Storefront/Theme/ThemeCompilerTest.php
  tests/unit/Core/Content/Media/File/FileFetcherTest.php
  tests/unit/Core/Framework/App/Flow/Action/AppFlowActionLoadedSubscriberTest.php
  tests/unit/Core/Framework/Plugin/PluginTest.php
  tests/unit/Storefront/Framework/Twig/Extension/IconCacheTwigFilterTest.php
Labels: component/core, domain/framework, external-contribution

#10812 feat: separate measurement_system migrations files
  src/Core/Migration/V6_7/Migration1742199549MeasurementSystemTable.php
  src/Core/Migration/V6_7/Migration1742199550MeasurementDisplayUnitTable.php
  src/Core/Migration/V6_7/Migration1742199551SalesChannelDomainMeasurementUnits.php
  src/Core/Migration/V6_7/Migration1742199552SalesChannelMeasurementUnits.php
  tests/migration/Core/V6_7/Migration1742199548MeasurementSystemTest.php
  tests/migration/Core/V6_7/Migration1742199549MeasurementSystemTableTest.php
  tests/migration/Core/V6_7/Migration1742199550MeasurementDisplayUnitTableTest.php
  tests/migration/Core/V6_7/Migration1742199551SalesChannelDomainMeasurementUnitsTest.php
  tests/migration/Core/V6_7/Migration1742199552SalesChannelMeasurementUnitsTest.php
  tests/migration/Core/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystemTest.php
Labels: domain/inventory

#10365 feat: added extension for order placed event
  src/Core/Checkout/Cart/Extension/CheckoutPlaceOrderExtension.php
  src/Core/Checkout/Cart/Order/OrderPlaceResult.php
  src/Core/Checkout/Cart/SalesChannel/CartOrderRoute.php
  src/Core/Checkout/DependencyInjection/cart.xml
  tests/unit/Core/Checkout/Cart/SalesChannel/CartOrderRouteTest.php
Labels: domain/checkout, external-contribution

#10883 chore: Add 6.7.0.1 changelog
  CHANGELOG.md
  UPGRADE-6.7.md
  changelog/release-6-7-0-1/2025-06-11-manufacturer-replace-media-sidebar-to-media-modal.md
  changelog/release-6-7-0-1/2025-06-17-press-esc-key-in-the-modal-will-go-back-listing-page.md
  changelog/release-6-7-0-1/2025-06-18-live-search-page-broken-if-the-data-is-empty.md
  changelog/release-6-7-0-1/2025-06-26-fix-stacking-line-items-does-not-recalculate-advanced-prices.md
  changelog/release-6-7-0-1/2025-06-27-dont-ignore-esi-render-errors.md
Labels: domain/product-ops

#10856 feat: Theme config validation
  changelog/_unreleased/2025-06-27-add-theme-config-validation.md
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Storefront/DependencyInjection/theme.xml
  src/Storefront/Resources/Schema/AdminApi/theme.json
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/index.js
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/sw-theme-manager-detail.html.twig
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/snippet/de-DE.json
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/snippet/en-GB.json
  src/Storefront/Theme/Controller/ThemeController.php
  src/Storefront/Theme/Exception/ThemeConfigException.php
  src/Storefront/Theme/Exception/ThemeException.php
  src/Storefront/Theme/ThemeCompiler.php
  src/Storefront/Theme/ThemeService.php
  src/Storefront/Theme/Validator/SCSSValidator.php
  tests/integration/Storefront/Theme/ThemeCompilerTest.php
  tests/integration/Storefront/Theme/ThemeTest.php
  tests/unit/Storefront/Theme/Exception/ThemeConfigExceptionTest.php
  tests/unit/Storefront/Theme/Exception/ThemeExceptionTest.php
  tests/unit/Storefront/Theme/ThemeCompilerTest.php
  tests/unit/Storefront/Theme/ThemeServiceTest.php
  tests/unit/Storefront/Theme/Validator/SCSSValidatorTest.php
Labels: component/storefront, domain/framework

#10728 feat: allow disabling and enabling services
  src/Core/Framework/App/AppException.php
  src/Core/Service/AllServiceInstaller.php
  src/Core/Service/Api/ServiceController.php
  src/Core/Service/Command/Install.php
  src/Core/Service/DependencyInjection/services.xml
  src/Core/Service/LifecycleManager.php
  src/Core/Service/Manager.php
  src/Core/Service/ScheduledTask/InstallServicesTaskHandler.php
  src/Core/Service/ServiceException.php
  src/Core/Service/Subscriber/PermissionsSubscriber.php
  src/Core/Service/permissions.json
  tests/integration/Core/Framework/_snapshots/routes_without_schema.json
  tests/unit/Core/Service/AllServiceInstallerTest.php
  tests/unit/Core/Service/Api/ServiceControllerTest.php
  tests/unit/Core/Service/Command/InstallTest.php
  tests/unit/Core/Service/LifecycleManagerTest.php
  tests/unit/Core/Service/ManagerTest.php
  tests/unit/Core/Service/ScheduledTask/InstallServicesTaskHandlerTest.php
  tests/unit/Core/Service/Subscriber/PermissionsSubscriberTest.php
Labels: component/core, domain/service-enablement
