Repository shopware/shopware, pull requests merged in 2025-04, with the labels that each got.

#6566 fix: cms can not be duplicated
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-block/sw-cms-block-config/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-block/sw-cms-block-config/sw-cms-block-config.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-block/sw-cms-block-config/sw-cms-block-config.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-block/sw-cms-block-config/sw-cms-block-config.spec.js
Labels: Domain:Discovery

#8040 chore: remove setTwig
  adr/2021-08-10-storefront-coding-standards.md
  src/Storefront/Controller/Exception/StorefrontException.php
  tests/unit/Storefront/Controller/Exception/StorefrontExceptionTest.php
Labels: component/storefront, component/core, Domain:Framework

#8041 feat: save file hash if it is available
  changelog/_unreleased/2025-03-28-save-file-hash-if-it-is-available.md
  phpstan-baseline.neon
  src/Core/Content/Media/Metadata/MetadataLoader.php
  tests/integration/Core/Content/Media/Metadata/MetadataLoaderTest.php
  tests/unit/Core/Content/Media/Metadata/MetadataLoaderTest.php
Labels: Incomplete, Domain:Discovery, External Contribution

#8147 chore(snippets): Correct legal snippet + fix styling
  devenv.lock
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/config.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/sw-cms-el-config-image-slider.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/sw-cms-el-config-image-slider.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/en-GB.json
Labels: backport-6.7.0.0

#8181 docs: Add upgrade guide for JWT secret removal
  UPGRADE-6.7.md
Labels: component/core, Domain:Framework, backport-6.7.0.0

#8187 chore(snippets): Minor snippet fix
  devenv.lock
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/en-GB.json
Labels: Domain:Discovery

#8067 fix: sw-number-field-deprecated showing NaN when allowEmpty is true and the input is cleared
  src/Administration/Resources/app/administration/src/app/component/form/sw-number-field-deprecated/index.js
Labels: component/administration, Domain:Framework, backport-6.6.x, backport-6.7.0.0

#8135 fix: sw-colorpicker is not updating value
  src/Administration/Resources/app/administration/src/app/component/form/sw-colorpicker/sw-colorpicker.html.twig
Labels: component/administration, Domain:Framework

#8149 fix: company address appearing twice
  src/Core/Framework/Resources/views/documents/includes/letter_header.html.twig
Labels: Domain:CRM & After Sales

#8215 fix: price custom fields init empty validation
  src/Administration/Resources/app/administration/src/app/component/form/sw-form-field-renderer/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-form-field-renderer/sw-form-field-renderer.spec.js
Labels: component/administration, Domain:Framework, needs-triage

#8174 fix: redis services configuration
  .github/workflows/integration.yml
  src/Core/Framework/Adapter/AdapterException.php
  src/Core/Framework/Adapter/Cache/CacheCompilerPass.php
  src/Core/Framework/Adapter/Command/CacheWatchDelayedCommand.php
  src/Core/Framework/DependencyInjection/cache.xml
  src/Core/Framework/Framework.php
  src/Core/System/DependencyInjection/number_range.xml
  tests/integration/Core/Framework/_snapshots/redis_test.yaml
  tests/unit/Core/Framework/Adapter/AdapterExceptionTest.php
  tests/unit/Core/Framework/Adapter/Cache/CacheCompilerPassTest.php
Labels: component/core, Domain:Framework, backport-6.7.0.0

#8150 fix: fix datepicker local and formatting issues
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/app/adapter/view/vue.adapter.spec.js
  src/Administration/Resources/app/administration/src/app/adapter/view/vue.adapter.ts
  src/Administration/Resources/app/administration/src/app/component/form/sw-colorpicker/sw-colorpicker.html.twig
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-datepicker/index.ts
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-datepicker/mt-datepicker.html.twig
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-datepicker/mt-datepicker.spec.js
  tests/acceptance/tests/Product/ProductBulkEdit.spec.ts
Labels: component/administration, Domain:Framework

#8170 fix: settings mailer synchronous mail dispach not saved
  src/Administration/Resources/app/administration/src/module/sw-settings-mailer/page/sw-settings-mailer/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-mailer/page/sw-settings-mailer/sw-settings-mailer.spec.js
Labels: component/administration, Domain:Framework

#8180 fix: fix the wrong usages of mt-switch
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-modal-folder-settings/sw-media-modal-folder-settings.html.twig
  src/Administration/Resources/app/administration/src/app/component/data-grid/sw-data-grid-settings/sw-data-grid-settings.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/sw-switch-field/sw-switch-field.html.twig
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-text-editor/sw-text-editor-toolbar-button-link/sw-text-editor-toolbar-button-link.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/sw-cms-el-config-image-slider.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image/config/sw-cms-el-config-image.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-listing/config/sw-cms-el-config-product-listing.html.twig
  src/Administration/Resources/app/administration/src/module/sw-custom-entity/component/sw-custom-entity-input-field/sw-custom-entity-input-field.html.twig
  src/Administration/Resources/app/administration/src/module/sw-custom-entity/component/sw-custom-entity-input-field/sw-custom-entity-input-field.spec.js
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-edit-profile-import-settings/sw-import-export-edit-profile-import-settings.html.twig
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-edit-profile-modal-mapping/sw-import-export-edit-profile-modal-mapping.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-options/sw-order-create-options.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-details/sw-order-create-details.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-basic-form/sw-product-basic-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-category-form/sw-product-category-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-deliverability-downloadable-form/sw-product-deliverability-downloadable-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-deliverability-form/sw-product-deliverability-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-modal-variant-generation/sw-product-modal-variant-generation.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-context-prices/sw-product-detail-context-prices.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-list/sw-sales-channel-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/sw-sales-channel-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-country/component/sw-settings-country-address-handling/sw-settings-country-address-handling.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/component/sw-payment-card/sw-payment-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/component/sw-payment-card/sw-payment-card.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/component/sidebar/sw-settings-snippet-filter-switch/sw-settings-snippet-filter-switch.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/page/sw-settings-tax-detail/sw-settings-tax-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/page/sw-settings-tax-list/sw-settings-tax-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-additional-permissions/sw-users-permissions-additional-permissions.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-additional-permissions/sw-users-permissions-additional-permissions.spec.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-detailed-additional-permissions/sw-users-permissions-detailed-additional-permissions.html.twig
Labels: component/administration, Domain:Framework

#8183 fix: fix them config text fields in theme
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/index.js
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/sw-theme-manager-detail.html.twig
Labels: component/administration, Domain:Framework

#8030 fix: Action buttons
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-actions/index.js
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-actions/sw-app-actions.spec.js
  src/Administration/Resources/app/administration/src/app/init-pre/store.init.ts
  src/Administration/Resources/app/administration/src/app/mixin/listing.mixin.ts
  src/Administration/Resources/app/administration/src/app/store/sw-bulk-edit.store.spec.js
  src/Administration/Resources/app/administration/src/app/store/sw-bulk-edit.store.ts
  src/Administration/Resources/app/administration/src/core/service/api/order.api.service.js
  src/Administration/Resources/app/administration/src/global.types.ts
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal-process/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal-process/sw-bulk-edit-save-modal-process.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal-success/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-save-modal-success/sw-bulk-edit-save-modal-success.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-customer/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-customer/sw-bulk-edit-customer.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/index.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.spec.js
  src/Administration/Resources/app/administration/src/module/sw-category/page/sw-category-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-sidebar/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/view/sw-customer-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/page/sw-flow-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/page/sw-flow-detail/sw-flow-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-initial-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-promotion-field/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-promotion-field/sw-order-promotion-field.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/sw-order-state-history-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/store/order.store.ts
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-details/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-general/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/page/sw-promotion-v2-detail/index.js
  src/Administration/Resources/app/administration/test/_setup/prepare_environment.js
Labels: component/administration, Domain:Framework, backport-6.6.x, backport-6.7.0.0

#8209 fix: Spatial ar viewer initialization.
  changelog/_unreleased/2025-04-01-ar-viewer-bug.md
  src/Storefront/Resources/app/storefront/src/plugin/spatial/spatial-ar-viewer-plugin.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/ar/arSupportChecker.ts
  src/Storefront/Resources/app/storefront/test/plugin/spatial/utils/ar/arSupportChecker.test.js
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/element/cms-element-image-gallery.html.twig
Labels: backport-6.6.x, backport-6.6.10.0

#8179 fix: fix email agent selection
  src/Administration/Resources/app/administration/src/module/sw-settings-mailer/page/sw-settings-mailer/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-mailer/page/sw-settings-mailer/sw-settings-mailer.spec.js
Labels: component/administration, Domain:Framework

#7711 fix: to one associations not loading with partial data loading
  changelog/_unreleased/2025-04-03-fix-loading-of-to-one-associations-with-partial-data-loading.md
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityReader.php
  src/Core/Test/Integration/Builder/Order/OrderBuilder.php
  tests/integration/Core/Framework/DataAbstractionLayer/Reader/EntityReaderTest.php
Labels: component/core, Domain:Framework, backport-6.6.x, backport-6.7.0.0

#8051 fix: typo in upgrade 6.7 guide
  UPGRADE-6.7.md
Labels: component/core, Domain:Framework

#8237 fix: Backport some PRs
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/app/adapter/view/vue.adapter.spec.js
  src/Administration/Resources/app/administration/src/app/adapter/view/vue.adapter.ts
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-modal-folder-settings/sw-media-modal-folder-settings.html.twig
  src/Administration/Resources/app/administration/src/app/component/data-grid/sw-data-grid-settings/sw-data-grid-settings.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/sw-colorpicker/sw-colorpicker.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/sw-switch-field/sw-switch-field.html.twig
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-datepicker/index.ts
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-datepicker/mt-datepicker.html.twig
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-datepicker/mt-datepicker.spec.js
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-text-editor/sw-text-editor-toolbar-button-link/sw-text-editor-toolbar-button-link.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/sw-cms-el-config-image-slider.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image/config/sw-cms-el-config-image.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-listing/config/sw-cms-el-config-product-listing.html.twig
  src/Administration/Resources/app/administration/src/module/sw-custom-entity/component/sw-custom-entity-input-field/sw-custom-entity-input-field.html.twig
  src/Administration/Resources/app/administration/src/module/sw-custom-entity/component/sw-custom-entity-input-field/sw-custom-entity-input-field.spec.js
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-edit-profile-import-settings/sw-import-export-edit-profile-import-settings.html.twig
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-edit-profile-modal-mapping/sw-import-export-edit-profile-modal-mapping.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-options/sw-order-create-options.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-details/sw-order-create-details.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-basic-form/sw-product-basic-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-category-form/sw-product-category-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-deliverability-downloadable-form/sw-product-deliverability-downloadable-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-deliverability-form/sw-product-deliverability-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-modal-variant-generation/sw-product-modal-variant-generation.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-context-prices/sw-product-detail-context-prices.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-list/sw-sales-channel-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/sw-sales-channel-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-country/component/sw-settings-country-address-handling/sw-settings-country-address-handling.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-mailer/page/sw-settings-mailer/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-mailer/page/sw-settings-mailer/sw-settings-mailer.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/component/sw-payment-card/sw-payment-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/component/sw-payment-card/sw-payment-card.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/component/sidebar/sw-settings-snippet-filter-switch/sw-settings-snippet-filter-switch.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/page/sw-settings-tax-detail/sw-settings-tax-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/page/sw-settings-tax-list/sw-settings-tax-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-additional-permissions/sw-users-permissions-additional-permissions.html.twig
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-additional-permissions/sw-users-permissions-additional-permissions.spec.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/components/sw-users-permissions-detailed-additional-permissions/sw-users-permissions-detailed-additional-permissions.html.twig
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/index.js
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/sw-theme-manager-detail.html.twig
  tests/acceptance/tests/Product/ProductBulkEdit.spec.ts
Labels: needs-triage

#7652 fix: NEXT-40000 - add order transaction transition action pay
  changelog/_unreleased/2024-12-19-rename-transaction-transition-action-pay-and-pay-partially.md
  src/Core/Checkout/Order/Aggregate/OrderTransaction/OrderTransactionStateHandler.php
  src/Core/Migration/V6_7/Migration1742302302RenamePaidTransitionActions.php
  src/Core/System/StateMachine/Aggregation/StateMachineTransition/StateMachineTransitionActions.php
  tests/integration/Core/Checkout/Order/Aggregate/OrderTransaction/OrderTransactionStateHandlerTest.php
  tests/integration/Core/Checkout/Order/Listener/OrderStateChangeEventListenerTest.php
  tests/integration/Core/Checkout/Order/SalesChannel/OrderServiceTest.php
  tests/migration/Core/V6_7/Migration1742302302RenamePaidTransitionActionsTest.php
  tests/unit/Core/Checkout/Order/Aggregate/OrderTransaction/OrderTransactionStateHandlerTest.php
Labels: Domain:Checkout

#8244 fix: non-root domain urls for address manager
  src/Storefront/Resources/views/storefront/page/checkout/confirm/confirm-address.html.twig
Labels: Domain:Checkout, backport-6.6.x, backport-6.7.0.0

#8056 fix: Changed `sw-checkbox-field` to `mt-checkbox` in the theme assignment modal
  changelog/_unreleased/2025-03-28-replaced-sw-checkbox-field-component-by-mt-checkbox-in-theme-assignment.md
  src/Storefront/Resources/app/administration/src/extension/sw-sales-channel/view/sw-sales-channel-detail-theme/index.js
  src/Storefront/Resources/app/administration/src/extension/sw-sales-channel/view/sw-sales-channel-detail-theme/sw-sales-channel-detail-theme.html.twig
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/component/sw-theme-modal/index.js
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/component/sw-theme-modal/sw-theme-modal.html.twig
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/component/sw-theme-modal/sw-theme-modal.scss
Labels: component/administration, Domain:Framework

#8203 fix: Improve search widget accessibility
  changelog/_unreleased/2025-03-27-a11y-insufficient-accessibility-of-the-search-form-field-for-screen-readers.md
  changelog/_unreleased/2025-04-02-search-widget-accessibility.md
  src/Storefront/Resources/app/storefront/src/helper/arrow-navigation.helper.js
  src/Storefront/Resources/app/storefront/src/plugin/header/search-widget.plugin.js
  src/Storefront/Resources/app/storefront/src/scss/layout/_search-suggest.scss
  src/Storefront/Resources/app/storefront/test/helper/arrow-navigation.helper.test.js
  src/Storefront/Resources/app/storefront/test/plugin/header/search-widget.plugin.test.js
  src/Storefront/Resources/views/storefront/layout/header/search-suggest.html.twig
  src/Storefront/Resources/views/storefront/layout/header/search.html.twig
Labels: component/storefront, area/accessibility, Domain:Framework, backport-6.6.x, backport-6.7.0.0

#8039 chore: Add missing `mt-switch` upgrade notes regarding `v-model:value`
  UPGRADE-6.7.md
Labels: component/administration, Domain:Framework

#8172 chore: adjust labels for Discovery Domain
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/labeler.yml
Labels: domain/quality-ops

#8241 fix: small-buttons-icon-alignment
  src/Administration/Resources/app/administration/src/app/assets/scss/global.scss
Labels: component/administration, Domain:Framework

#8065 fix: missing action buttons for extension warnings
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-permissions-modal/sw-extension-permissions-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.scss
Labels: component/administration, Domain:Checkout

#8254 fix: temporary technical name migration
  UPGRADE-6.7.md
  src/Core/Migration/V6_7/Migration1697112043TemporaryPaymentAndShippingTechnicalNames.php
  tests/migration/Core/V6_7/Migration1697112043TemporaryPaymentAndShippingTechnicalNamesTest.php
Labels: Domain:Checkout, backport-6.7.0.0

#8005 feat: Config to toggle cart subtotal and show tax instead of unit price
  changelog/_unreleased/2025-03-27-added-new-configs-for-changing-cart-columns.md
  src/Core/Framework/Migration/Command/CreateMigrationCommand.php
  src/Core/Migration/V6_7/Migration1743064966CartConfigSubtotalTaxColumn.php
  src/Core/System/Resources/config/cart.xml
  src/Storefront/Resources/app/storefront/src/scss/component/_line-item.scss
  src/Storefront/Resources/app/storefront/src/scss/page/account/_order-detail.scss
  src/Storefront/Resources/views/storefront/component/checkout/cart-header.html.twig
  src/Storefront/Resources/views/storefront/component/line-item/type/container.html.twig
  src/Storefront/Resources/views/storefront/component/line-item/type/discount.html.twig
  src/Storefront/Resources/views/storefront/component/line-item/type/generic.html.twig
  src/Storefront/Resources/views/storefront/component/line-item/type/product.html.twig
  src/Storefront/Resources/views/storefront/page/account/order-history/order-detail-list.html.twig
  src/Storefront/Resources/views/storefront/page/account/order-history/order-detail.html.twig
  src/Storefront/Resources/views/storefront/page/account/order/index.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/cart/index.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/confirm/index.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/finish/index.html.twig
  tests/migration/Core/V6_7/Migration1743064966CartConfigSubtotalTaxColumnTest.php
Labels: Domain:Checkout

#8262 fix: sw-date-filter select timeframe placeholder translation
  src/Administration/Resources/app/administration/src/app/component/filter/sw-date-filter/sw-date-filter.html.twig
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
Labels: component/administration, Domain:Framework

#8258 fix: plugin options for plugins registered on document
  src/Storefront/Resources/app/storefront/src/plugin-system/plugin.class.js
  src/Storefront/Resources/app/storefront/test/plugin-system/plugin.class.test.js
Labels: component/storefront, Domain:Framework, backport-6.7.0.0

#8058 fix: increase criteria limit for property groups
  changelog/_unreleased/2025-03-31-fix-issue-where-criteria-limit-of-500-prevents-loading-admin-modules.md
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-variants/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-variants/sw-product-detail-variants.spec.js
Labels: Status:In-Review, Domain:Inventory, backport-6.6.x, backport-6.6.10.0, component/inventory-products, backport-6.7.0.0

#8275 fix: CMS data sets
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-upload-v2/sw-media-upload-v2.spec.js
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-datepicker/index.ts
  src/Administration/Resources/app/administration/src/app/component/meteor-wrapper/mt-datepicker/mt-datepicker.spec.js
  src/Administration/Resources/app/administration/src/core/service/extension-api-data.service.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/location-renderer/component/component.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/location-renderer/component/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/location-renderer/config/index.ts
Labels: component/administration, Domain:Framework, needs-triage, backport-6.7.0.0

#6904 feat: sso error page
  composer.json
  phpstan.neon.dist
  src/Administration/Controller/AdminAuthController.php
  src/Administration/Login/Config/LoginConfig.php
  src/Administration/Login/Config/LoginConfigService.php
  src/Administration/Login/Exception/LoginException.php
  src/Administration/Login/LoginResponseService.php
  src/Administration/Login/ShopwareGrantType.php
  src/Administration/Login/TokenService/ExternalTokenService.php
  src/Administration/Login/TokenService/IdTokenParser.php
  src/Administration/Login/TokenService/ParsedIdToken.php
  src/Administration/Login/TokenService/PublicKeyLoader.php
  src/Administration/Login/TokenService/TokenResult.php
  src/Administration/Login/UserService/UserService.php
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/core/factory/router.factory.js
  src/Administration/Resources/app/administration/src/core/service/login.service.ts
  src/Administration/Resources/app/administration/src/core/shopware.ts
  src/Administration/Resources/app/administration/src/module/index.js
  src/Administration/Resources/app/administration/src/module/sw-login/view/sw-login-login/sw-login-login.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sso-error/index.js
  src/Administration/Resources/app/administration/src/module/sw-sso-error/page/index/index.js
  src/Administration/Resources/app/administration/src/module/sw-sso-error/page/index/index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sso-error/page/index/sw-sso-error-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-sso-error/page/index/sw-sso-error-index.scss
  src/Administration/Resources/app/administration/src/module/sw-sso-error/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-sso-error/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-sso-error/sw-sso-error.spec.js
  src/Administration/Resources/app/administration/static/img/shopware_logo_blue.svg
  src/Administration/Resources/config/services.xml
  src/Core/Framework/Api/EventListener/Authentication/ApiAuthenticationListener.php
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
  src/Core/Framework/DependencyInjection/Configuration.php
  tests/integration/Administration/Login/Helper/FakeTokenGenerator.php
  tests/integration/Administration/Login/Helper/ValidUserServiceCreator.php
  tests/integration/Administration/Login/ShopwareGrantTypeTest.php
  tests/integration/Administration/Login/UserService/UserServiceTest.php
  tests/integration/Core/Framework/ApiRoutesHaveASchemaTest.php
  tests/unit/Administration/Controller/AdministrationControllerTest.php
  tests/unit/Administration/DependencyInjection/AdminMigrationCompilerPassTest.php
  tests/unit/Administration/Login/Config/LoginConfigServiceTest.php
  tests/unit/Administration/Login/LoginResponseServiceTest.php
  tests/unit/Administration/Login/TokenService/ExternalTokenServiceTest.php
  tests/unit/Administration/Login/TokenService/IdTokenParserTest.php
  tests/unit/Administration/Login/TokenService/ParsedIdTokenTest.php
  tests/unit/Administration/Login/TokenService/PublicKeyLoaderTest.php
  tests/unit/Administration/Login/TokenService/_fixtures/JwksIds.php
  tests/unit/Administration/Login/TokenService/_fixtures/jwks.json
Labels: Status:In-Review, Domain:CRM & After Sales

#7609 docs: Documenting the new Changelog & Release Info Process
  delivery-process/documenting-a-release.md
Labels: area/documentation

#8288 fix(offcanvas): OffCanvasSingleton does not remove hard-coded offcanvas from DOM
  changelog/_unreleased/2025-04-04-offcanvassingleton-does-not-remove-hard-coded-offcanvas-from-dom.md
  src/Storefront/Resources/app/storefront/src/plugin/offcanvas/offcanvas.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/offcanvas/offcanvas.plugin.test.js
Labels: component/storefront, Domain:Framework, backport-6.6.x, needs-triage, backport-6.7.0.0

#7956 chore: remove group not deterministic from tests
  .github/workflows/integration.yml
  src/Core/Checkout/Cart/Order/Transformer/LineItemTransformer.php
  src/Core/Checkout/Promotion/Cart/PromotionDeliveryCalculator.php
  src/Core/Content/Product/DataAbstractionLayer/CheapestPrice/CheapestPriceContainer.php
  src/Core/Content/Sitemap/Service/SitemapExporter.php
  src/Core/Framework/Api/EventListener/ErrorResponseFactory.php
  src/Core/Framework/DataAbstractionLayer/Util/AfterSort.php
  src/Core/System/SalesChannel/SalesChannelContext.php
  src/Elasticsearch/Framework/Indexing/IndexCreator.php
  src/Storefront/Theme/Subscriber/UpdateSubscriber.php
  tests/integration/Core/Checkout/Cart/Promotion/Integration/DeliveryPromotionCalculationTest.php
  tests/integration/Core/Content/Sitemap/Service/SitemapExporterTest.php
  tests/unit/Core/Checkout/Payment/Cart/Token/JWTFactoryV2Test.php
Labels: component/core, Domain:Framework

#8054 chore: Adjust script generation to match docs
  src/Core/Checkout/Cart/Facade/CartFacade.php
  src/Core/Checkout/Cart/Facade/PriceFacade.php
  src/Core/DevOps/Docs/Script/HooksReferenceGenerator.php
  src/Core/DevOps/Docs/Script/ServiceReferenceGenerator.php
  src/Core/DevOps/Resources/generated/cart-manipulation-script-services-reference.md
  src/Core/DevOps/Resources/generated/custom-endpoint-script-services-reference.md
  src/Core/DevOps/Resources/generated/data-loading-script-services-reference.md
  src/Core/DevOps/Resources/generated/miscellaneous-script-services-reference.md
  src/Core/DevOps/Resources/generated/product-script-services-reference.md
  src/Core/DevOps/Resources/generated/script-hooks-reference.md
  src/Core/DevOps/Resources/templates/hook-reference.md.twig
  src/Core/DevOps/Resources/templates/service-reference.md.twig
  src/Core/Framework/Routing/Facade/RequestFacade.php
  src/Core/Framework/Script/Facade/ArrayFacade.php
  tests/integration/Core/Checkout/Cart/Facade/CartFacadeTest.php
  tests/integration/Core/Checkout/Cart/Facade/_fixtures/cart-facade-tests/Resources/scripts/add-absolute-discount/add-absolute-discount.twig
  tests/integration/Core/Checkout/Cart/Facade/_fixtures/cart-facade-tests/Resources/scripts/add-absolute-surcharge/add-absolute-surcharge.twig
  tests/integration/Core/Checkout/Cart/Facade/_fixtures/cart-facade-tests/Resources/scripts/add-container/add-container.twig
  tests/integration/Core/Checkout/Cart/Facade/_fixtures/cart-facade-tests/Resources/scripts/add-discount-for-multiple-items/add-discount-for-multiple-items.twig
  tests/integration/Core/Checkout/Cart/Facade/_fixtures/cart-facade-tests/Resources/scripts/add-discount-for-stacked-items/add-discount-for-stacked-items.twig
  tests/integration/Core/Checkout/Cart/Facade/_fixtures/cart-facade-tests/Resources/scripts/add-nested-container/add-nested-container.twig
  tests/integration/Core/Checkout/Cart/Facade/_fixtures/cart-facade-tests/Resources/scripts/add-simple-discount/add-simple-discount.twig
  tests/integration/Core/Checkout/Cart/Facade/_fixtures/cart-facade-tests/Resources/scripts/add-simple-surcharge/add-simple-surcharge.twig
  tests/integration/Core/Checkout/Cart/Facade/_fixtures/cart-facade-tests/Resources/scripts/add-surcharge-for-multiple-items/add-surcharge-for-multiple-items.twig
  tests/integration/Core/Checkout/Cart/Facade/_fixtures/cart-facade-tests/Resources/scripts/add-surcharge-for-stacked-items/add-surcharge-for-stacked-items.twig
Labels: Domain:Checkout, skip-danger-phpstan-baseline, backport-6.6.x, backport-6.7.0.0

#8303 fix(compose): update web service configuration and change adminer image
  compose.yaml
Labels: needs-triage

#8211 fix: order shipping cost input fix
  changelog/_unreleased/2025-04-02-fix-admin-order-shipping-cost-input-behaviour.md
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-options/sw-order-create-options.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/sw-order-line-items-grid.scss
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-saveable-field/sw-order-saveable-field.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-saveable-field/sw-order-saveable-field.scss
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/sw-order-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-details/sw-order-create-details.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-details/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-details/sw-order-detail-details.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-details/sw-order-detail-details.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-detail-general/sw-order-detail-general.html.twig
Labels: Domain:Checkout, backport-6.7.0.0

#8277 fix: prevent customer imitation if not possible
  changelog/_unreleased/2025-02-15-prevent-imitating-when-not-possible.md
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-customer/component/sw-customer-card/sw-customer-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/en-GB.json
Labels: Domain:Checkout, backport-6.6.x, backport-6.7.0.0

#8310 fix: set cms_section_version_id
  src/Core/Migration/V6_7/Migration1733136208AddH1ToCmsCategoryListing.php
  tests/migration/Core/V6_7/Migration1733136208AddH1ToCmsCategoryListingTest.php
Labels: 6.7-RC-Issues, backport-6.7.0.0

#8314 fix: Admin assets symfony bundles
  src/Administration/Framework/Twig/ViteFileAccessorDecorator.php
  tests/integration/Core/Framework/Api/Controller/Fixtures/InfoController/Resources/public/administration/.vite/entrypoints.json
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/unit/Administration/Framework/Twig/Fixtures/Administration/Resources/public/administration/.vite/entrypoints.json
  tests/unit/Administration/Framework/Twig/Fixtures/TestBundle/Resources/public/administration/.vite/entrypoints.json
  tests/unit/Administration/Framework/Twig/ViteFileAccessorDecoratorTest.php
Labels: component/administration, Domain:Framework, needs-triage, backport-6.7.0.0

#8336 fix(compose): remove unused ports from Docker configuration
  CONTRIBUTING.md
  compose.yaml
Labels: needs-triage

#7829 feat: address field arrangement configuration
  src/Core/Migration/V6_7/Migration1742484083TransitionToAddressInputFieldArrangement.php
  src/Core/System/Resources/config/loginRegistration.xml
  src/Storefront/Resources/views/storefront/component/address/address-form.html.twig
  src/Storefront/Resources/views/storefront/component/address/field/address-additional-line-field.html.twig
  src/Storefront/Resources/views/storefront/component/address/field/address-city-field.html.twig
  src/Storefront/Resources/views/storefront/component/address/field/address-company-department-field.html.twig
  src/Storefront/Resources/views/storefront/component/address/field/address-company-name-field.html.twig
  src/Storefront/Resources/views/storefront/component/address/field/address-country-field.html.twig
  src/Storefront/Resources/views/storefront/component/address/field/address-country-state-field.html.twig
  src/Storefront/Resources/views/storefront/component/address/field/address-phone-number-field.html.twig
  src/Storefront/Resources/views/storefront/component/address/field/address-street-field.html.twig
  src/Storefront/Resources/views/storefront/component/address/field/address-zipcode-field.html.twig
  tests/migration/Core/V6_6/Migration1730911642MoveNamespaceOfShowZipcodeInFrontOfCityConfigurationTest.php
  tests/migration/Core/V6_7/Migration1742484083TransitionToAddressInputFieldArrangementTest.php
Labels: component/storefront, Domain:Checkout

#6032 refactor: Unify constraint option structure and checks
  changelog/_unreleased/2025-01-07-unify-constraint-option-structure-and-checks.md
  phpstan-baseline.neon
  src/Core/Checkout/Customer/CustomerException.php
  src/Core/Checkout/Customer/SalesChannel/ChangeEmailRoute.php
  src/Core/Checkout/Customer/SalesChannel/ChangePasswordRoute.php
  src/Core/Checkout/Customer/SalesChannel/RegisterRoute.php
  src/Core/Checkout/Customer/Validation/Constraint/CustomerEmailUnique.php
  src/Core/Checkout/Customer/Validation/Constraint/CustomerPasswordMatches.php
  src/Core/Checkout/Customer/Validation/Constraint/CustomerVatIdentification.php
  src/Core/Checkout/Customer/Validation/Constraint/CustomerZipCode.php
  src/Core/Framework/DataAbstractionLayer/Validation/EntityExists.php
  tests/integration/Core/Checkout/Validation/CustomerEmailUniqueValidatorTest.php
Labels: Incomplete, Domain:Checkout, skip-danger-phpstan-baseline

#8341 fix: sw-field heights
  composer.json
  src/Administration/Resources/app/administration/src/app/component/form/field-base/sw-block-field/sw-block-field.scss
Labels: component/administration, Domain:Framework, skip-danger-phpstan-baseline, backport-6.7.0.0

#8323 fix: nested line items not nested
  changelog/_unreleased/2025-04-07-fix-nested-line-items.md
  src/Storefront/Resources/views/storefront/component/line-item/element/children-wrapper.html.twig
Labels: component/storefront, area/accessibility, Domain:Framework, 6.7-RC-Issues, backport-6.7.0.0

#8377 chore: merge back 6.5.8.17
  CHANGELOG.md
  changelog/release-6-5-8-17/2025-02-24-allowed-nulls-in-systemconfigvalidator-for-required-values-in-child-configs.md
  src/Core/Checkout/Customer/SalesChannel/AccountService.php
  src/Core/Checkout/Customer/SalesChannel/RegisterRoute.php
  src/Core/Checkout/DependencyInjection/document.xml
  src/Core/Checkout/Document/SalesChannel/DocumentRoute.php
  src/Core/composer.json
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Test/Theme/Command/ThemeCreateCommandTest.php
  src/Storefront/Theme/Command/ThemeCreateCommand.php
  tests/integration/Core/Checkout/Customer/SalesChannel/RegisterRouteTest.php
  tests/integration/Core/Checkout/Document/SalesChannel/DocumentRouteTest.php
  tests/unit/Core/Checkout/Customer/SalesChannel/AccountServiceTest.php
Labels: domain/product-ops

#8378 chore: merge back 6.7.0.0-rc2
  .bc-exclude.php
  .github/workflows/nightly.yml
  CHANGELOG.md
  UPGRADE-6.7.md
  changelog/release-6-7-0-0/2024-11-23-cleanup-storefront-stylelint-integration.md
  changelog/release-6-7-0-0/2024-11-29-update-storefront-inter-font-and-remove-non-variable-fonts.md
  changelog/release-6-7-0-0/2024-12-18-only-add-gtag-consent-mode-if-google-analytics-is-enabled.md
  changelog/release-6-7-0-0/2025-03-25-Fix-html-quirks-mode.md
  changelog/release-6-7-0-0/2025-03-25-add-login-scripts-to-window.md
  changelog/release-6-7-0-0/2025-03-25-pin-promotions-for-admin-orders.md
  changelog/release-6-7-0-0/2025-03-26-cookie-constent-keyboard-nav.md
  changelog/release-6-7-0-0/2025-03-26-fix-correctly-reset-promotion-duplication-fields.md
  changelog/release-6-7-0-0/2025-03-26-raise-version-in-composer-stub.md
  changelog/release-6-7-0-0/2025-03-27-a11y-insufficient-accessibility-of-the-search-form-field-for-screen-readers.md
  changelog/release-6-7-0-0/2025-03-27-add-title-to-filter-remove-button.md
  changelog/release-6-7-0-0/2025-03-31-fix-issue-where-criteria-limit-of-500-prevents-loading-admin-modules.md
  changelog/release-6-7-0-0/2025-04-02-search-widget-accessibility.md
  changelog/release-6-7-0-0/2025-04-03-fix-loading-of-to-one-associations-with-partial-data-loading.md
  src/Core/Checkout/Customer/SalesChannel/AccountService.php
  src/Core/Checkout/Customer/SalesChannel/RegisterRoute.php
  src/Core/Checkout/Customer/SalesChannel/SendPasswordRecoveryMailRoute.php
  src/Core/Checkout/Document/DocumentException.php
  src/Core/Checkout/Document/SalesChannel/DocumentRoute.php
  src/Core/Content/DependencyInjection/newsletter_recipient.xml
  src/Core/Content/Newsletter/SalesChannel/NewsletterSubscribeRoute.php
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityAggregator.php
  src/Storefront/Controller/DocumentController.php
  src/Storefront/DependencyInjection/controller.xml
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  tests/integration/Core/Checkout/Customer/SalesChannel/RegisterRouteTest.php
  tests/integration/Core/Checkout/Customer/SalesChannel/SendPasswordRecoveryMailRouteTest.php
  tests/integration/Core/Checkout/Document/SalesChannel/DocumentRouteTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Search/EntityAggregatorTest.php
  tests/unit/Core/Checkout/Customer/SalesChannel/AccountServiceTest.php
  tests/unit/Core/Checkout/Customer/SalesChannel/SendPasswordRecoveryMailRouteTest.php
  tests/unit/Core/Checkout/Document/SalesChannel/DocumentRouteTest.php
  tests/unit/Core/Content/Newsletter/SalesChannel/NewsletterSubscribeRouteTest.php
  tests/unit/Storefront/Theme/Command/ThemeCreateCommandTest.php
Labels: domain/product-ops

#8373 fix: updated devenv lock with new structure
  devenv.lock
Labels: Domain:Framework

#8306 docs: add breaking change of `mt-tooltip` not supporting components in content to 6.7 UPGRADE
  UPGRADE-6.7.md
Labels: component/administration, Domain:Framework

#8313 fix: align help text style with meteor components
  src/Administration/Resources/app/administration/src/app/assets/scss/directives/tooltip.scss
  src/Administration/Resources/app/administration/src/app/component/base/sw-help-text/sw-help-text.html.twig
  src/Administration/Resources/app/administration/src/app/component/base/sw-help-text/sw-help-text.scss
Labels: component/administration, Domain:Framework

#8291 fix: navigating back from listing pages issues
  src/Administration/Resources/app/administration/src/app/mixin/listing.mixin.ts
  src/Administration/Resources/app/administration/src/app/service/filter.service.js
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/page/sw-settings-rule-list/sw-settings-rule-list.spec.js
Labels: component/administration, Domain:Framework, 6.7-RC-Issues

#5880 test: flow builder - as an admin I want to create new flows from templates
  tests/acceptance/package-lock.json
  tests/acceptance/tests/Settings/FlowBuilderTemplates.spec.ts
Labels: testing/acceptance, domain/quality-ops

#8311 fix: add property_group_option element to manifest schema
  src/Core/Framework/App/Manifest/Schema/manifest-2.0.xsd
  src/Core/Framework/App/Manifest/Schema/manifest-3.0.xsd
Labels: backport-6.6.x, backport-6.7.0.0

#8405 fix: vite shared cache folder issues
  src/Administration/Resources/.gitignore
  src/Administration/Resources/app/administration/build/plugins.vite.ts
  src/Storefront/.gitignore
Labels: component/administration, Domain:Framework, needs-triage, backport-6.7.0.0

#8334 fix: override paging listing page parameter
  changelog/_unreleased/2025-04-07-fix-override-paging-listing-page-parameter.md
  src/Core/Content/Product/SalesChannel/Listing/Processor/PagingListingProcessor.php
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/product-listing.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/search.json
  tests/integration/Core/Framework/ApiRoutesHaveASchemaTest.php
  tests/unit/Core/Content/Product/SalesChannel/Listing/Processor/PagingListingProcessorTest.php
Labels: Status:In-Review, Domain:Inventory, backport-6.6.x, component/inventory-products, backport-6.7.0.0

#8407 fix: changelog processor
  src/Core/Framework/Changelog/Processor/ChangelogProcessor.php
Labels: backport-6.6.x

#8309 fix: Resolve conflict for roave/security-advisories
  composer.json
  src/Core/composer.json
Labels: backport-6.6.x, needs-triage, backport-6.7.0.0

#8410 fix: return encoded iaps
  src/Core/Framework/Store/InAppPurchase/Api/InAppPurchasesController.php
  tests/unit/Core/Framework/Store/InAppPurchases/Api/InAppPurchasesControllerTest.php
Labels: Domain:Checkout, backport-6.6.x, backport-6.7.0.0

#8339 fix: display manual order badge
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/sw-order-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/sw-order-detail.spec.js
Labels: Domain:Checkout, backport-6.6.x, backport-6.7.0.0

#8421 fix: adjust ProductSearch acceptance tests
  tests/acceptance/tests/Search/ProductSearch.spec.ts
Labels: backport-6.6.x, backport-6.7.0.0

#8401 fix: Show cross selling slider arrows [6.6.x]
  changelog/_unreleased/2025-04-04-show-navigation-arrows-of-product-cross-selling-sliders-again.md
  src/Storefront/Resources/views/storefront/element/cms-element-cross-selling.html.twig
Labels: Domain:Discovery

#8458 fix: WishlistGuestFunctionalities and ProductSearch tests
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
  tests/acceptance/tests/Search/ProductSearch.spec.ts
  tests/acceptance/tests/Settings/Wishlist/WishlistGuestFunctionalities.spec.ts
Labels: testing/acceptance, backport-6.6.x, backport-6.7.0.0

#8348 fix: category tree hides supported children of unsupported parent nodes
  src/Administration/Resources/app/administration/src/app/component/entity/sw-category-tree-field/index.js
  src/Administration/Resources/app/administration/src/app/component/entity/sw-category-tree-field/sw-category-tree-field.spec.js
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree-item/sw-tree-item.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-link-settings/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-link-settings/sw-category-link-settings.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-link-settings/sw-category-link-settings.spec.js
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/en-GB.json
Labels: Domain:Discovery, 6.7-RC-Issues

#8473 fix: update Docker commands in CONTRIBUTING.md and adjust volume conf…
  CONTRIBUTING.md
  compose.yaml
Labels: needs-triage

#8326 fix: shorten additional address line placeholder (#7475)
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-customer/snippet/en-GB.json
Labels: Domain:Checkout

#8055 chore: remove debit payment
  changelog/_unreleased/2025-03-29-remove-debit-payment-method.md
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/component/sw-settings-payment-sorting-modal/index.js
  src/Core/Checkout/Payment/Cart/PaymentHandler/DebitPayment.php
  src/Core/Migration/V6_5/Migration1697112043AddPaymentAndShippingTechnicalName.php
  src/Core/Migration/V6_8/Migration1743256470RemoveDebitPayment.php
  tests/migration/Core/V6_8/Migration1743256470RemoveDebitPaymentTest.php
  tests/unit/Core/Checkout/Payment/Cart/PaymentHandler/DebitPaymentTest.php
Labels: Domain:Checkout

#8474 fix: add option to skip first run wizard during system installation
  src/Core/Maintenance/System/Command/SystemInstallCommand.php
  tests/unit/Core/Maintenance/System/Command/SystemInstallCommandTest.php
Labels: backport-6.6.x, backport-6.7.0.0

#8292 fix: Remove double triggering of change for deprecated sw-switch comp…
  changelog/_unreleased/2025-04-10-fix-double-triggering-of-switch-field-change.md
  src/Administration/Resources/app/administration/src/app/component/form/sw-switch-field/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-switch-field/sw-switch-field.spec.js
Labels: component/administration, Domain:Framework

#8502 fix: add wait for mariadb container for docker
  compose.yaml
Labels: needs-triage

#8345 fix: no icons for media preview uploads
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-preview-v2/index.js
Labels: Domain:CRM & After Sales, backport-6.7.0.0

#8500 test: use branch-alias for branch filter in bc check
  .danger.php
  .github/workflows/php.yml
  composer.json
Labels: backport-6.6.x, domain/product-ops

#8236 feat: Add guideline for handling external contributions
  delivery-process/external-contributions.md
Labels: component/core, Domain:Framework, area/documentation

#8519 test: fix test in mariadb
  .github/bin/generate-phpunit-matrix.php
  tests/migration/Core/V6_7/Migration1742484083TransitionToAddressInputFieldArrangementTest.php
Labels: domain/product-ops, backport-6.7.0.0

#8487 fix: add caching to lower amount of calls to update extensions
  changelog/_unreleased/2025-04-11-fix-calls-to-update-store.md
  phpstan-baseline.neon
  src/Core/Framework/DependencyInjection/store.xml
  src/Core/Framework/Plugin/Exception/PluginNotAZipFileException.php
  src/Core/Framework/Store/Api/ExtensionStoreActionsController.php
  src/Core/Framework/Store/Services/StoreClient.php
  src/Core/Framework/Store/StoreException.php
  tests/integration/Core/Framework/Store/Services/StoreClientTest.php
  tests/unit/Core/Framework/Store/Api/ExtensionStoreActionsControllerTest.php
  tests/unit/Core/Framework/Store/StoreExceptionTest.php
Labels: Domain:Checkout, backport-6.6.x, backport-6.5.x, backport-6.7.0.0

#8470 Optimizing theme config loading - refactoring
  src/Core/Migration/V6_7/Migration1742568836CreateThemeRuntimeConfigTable.php
  src/Storefront/DependencyInjection/theme.xml
  src/Storefront/Theme/Message/CompileThemeHandler.php
  src/Storefront/Theme/ThemeLifecycleService.php
  src/Storefront/Theme/ThemeMergedConfigBuilder.php
  src/Storefront/Theme/ThemeRuntimeConfig.php
  src/Storefront/Theme/ThemeRuntimeConfigService.php
  src/Storefront/Theme/ThemeRuntimeConfigStorage.php
  src/Storefront/Theme/ThemeService.php
  tests/integration/Storefront/Theme/ThemeTest.php
  tests/unit/Storefront/Theme/Message/CompileThemeHandlerTest.php
  tests/unit/Storefront/Theme/ThemeMergedConfigBuilderTest.php
  tests/unit/Storefront/Theme/ThemeRuntimeConfigServiceTest.php
  tests/unit/Storefront/Theme/ThemeRuntimeConfigStorageTest.php
  tests/unit/Storefront/Theme/ThemeRuntimeConfigTest.php
  tests/unit/Storefront/Theme/ThemeServiceTest.php
Labels: component/storefront, component/core, Domain:Framework

#8478 feat: Add extension to enable overwriting of the thumbnail url
  changelog/_unreleased/2025-04-10-add-remote-thumbnail-url-extension.md
  src/Core/Content/DependencyInjection/media_path.xml
  src/Core/Content/Media/Core/Application/RemoteThumbnailLoader.php
  src/Core/Content/Media/Extension/ResolveRemoteThumbnailUrlExtension.php
  tests/unit/Core/Content/Media/Core/Application/RemoteThumbnailLoaderTest.php
Labels: Domain:Discovery, component/media

#8495 test: add ProductVisibility.spec.ts
  tests/acceptance/tests/Product/ProductVisibility.spec.ts
Labels: testing/acceptance, backport-6.6.x, backport-6.7.0.0

#8547 fix: Admin login ui
  src/Administration/Resources/app/administration/src/module/sw-login/page/index/sw-login.scss
Labels: component/administration, Domain:Framework, backport-6.7.0.0

#8342 fix: Remove sorting if it is random in administration
  src/Administration/Resources/app/administration/src/module/sw-product-stream/component/sw-product-stream-modal-preview/index.js
  src/Administration/Resources/app/administration/src/module/sw-product-stream/component/sw-product-stream-modal-preview/sw-product-stream-modal-preview.spec.js
Labels: domain/discovery

#8521 fix: pin user for dev container
  .devcontainer/devcontainer.json
  CONTRIBUTING.md
  compose.yaml
Labels: component/core

#8557 ci: Change Labeler to new naming structure
  .github/labeler.yml
Labels: needs-triage

#6889 fix: do not show intra community note if VAT is invalid
  src/Core/Checkout/DependencyInjection/document.xml
  src/Core/Checkout/Document/Renderer/AbstractDocumentRenderer.php
  src/Core/Checkout/Document/Renderer/CreditNoteRenderer.php
  src/Core/Checkout/Document/Renderer/InvoiceRenderer.php
  src/Core/Checkout/Document/Renderer/StornoRenderer.php
  tests/integration/Core/Checkout/Document/Renderer/InvoiceRendererTest.php
  tests/unit/Core/Checkout/Document/Renderer/InvoiceRendererTest.php
Labels: domain/crm-after-sales

#8550 fix: Selection of document types
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.spec.js
Labels: backport-6.7.0.0

#8553 fix: account order pagination (#8508)
  src/Storefront/Controller/NavigationController.php
Labels: backport-6.7.0.0, domain/checkout

#8335 fix: create new order versions for delivery and zugpferd documents
  src/Core/Checkout/Document/Renderer/DeliveryNoteRenderer.php
  src/Core/Checkout/Document/Renderer/ZugferdRenderer.php
  tests/integration/Core/Checkout/Document/Renderer/DeliveryNoteRendererTest.php
  tests/integration/Core/Checkout/Document/Service/DocumentGeneratorTest.php
  tests/unit/Core/Checkout/Document/Renderer/DeliveryNoteRendererTest.php
  tests/unit/Core/Checkout/Document/Renderer/ZugferdRendererTest.php
Labels: backport-6.6.x, backport-6.7.0.0

#8588 fix: blue green deployment for direct debit removal
  tests/integration/Storefront/Controller/CheckoutControllerTest.php
Labels: domain/checkout

#8578 fix: cant add sale channel in sale channel list page
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-list/index.js
Labels: Status:In-Review, component/sales-channels, backport-6.7.0.0, domain/discovery

#8274 feat: Variants can be assigned to a category
  changelog/_unreleased/2025-04-04-improve-variants-can-t-be-assigned-to-a-category.md
  src/Administration/Resources/app/administration/src/app/component/entity/sw-many-to-many-assignment-card/index.js
  src/Administration/Resources/app/administration/src/app/component/entity/sw-many-to-many-assignment-card/sw-many-to-many-assignment-card.html.twig
  src/Administration/Resources/app/administration/src/app/component/entity/sw-many-to-many-assignment-card/sw-many-to-many-assignment-card.spec.js
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-category-detail-products/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-category-detail-products/sw-category-detail-products.html.twig
Labels: component/categories, backport-6.7.0.0, domain/inventory

#8599 fix: sales-channel-list add channel button event and favorite switch styles
  src/Administration/Resources/app/administration/src/core/service/utils/eventBus.utils.ts
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/structure/sw-sales-channel-menu/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/structure/sw-sales-channel-menu/sw-sales-channel-menu.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-list/sw-sales-channel-list.scss
Labels: domain/discovery

#8607 chore: Add missing deprecation notices about page objects in templates
  UPGRADE-6.6.md
  UPGRADE-6.7.md
Labels: component/core, backport-6.6.x, backport-6.7.0.0, domain/framework

#8510 fix: Increase z-index to modal preview
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/config/sw-cms-el-config-product-slider.scss
Labels: domain/discovery

#8528 fix: Screenreader ignores "-" sign with negative prices
  src/Core/Framework/Resources/views/documents/includes/position.html.twig
Labels: backport-6.6.x, backport-6.7.0.0, domain/crm-after-sales

#8465 feat: Make search term in search route optional for search store-API
  changelog/_unreleased/2025-04-15-make-search-parameter-optional-in-search-api.md
  phpstan-baseline.neon
  src/Core/Content/Product/SalesChannel/Search/ProductSearchRoute.php
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/search.json
  src/Storefront/Page/Search/SearchPageLoader.php
  src/Storefront/Resources/views/storefront/page/search/index.html.twig
  tests/integration/Core/Content/Product/SalesChannel/ProductSearchRouteTest.php
  tests/integration/Storefront/Page/SearchPageTest.php
  tests/unit/Core/Content/Product/SalesChannel/Search/ProductSearchRouteTest.php
  tests/unit/Storefront/Page/Search/SearchPageLoaderTest.php
Labels: Status:In-Review, backport-6.6.x, component/search, backport-6.7.0.0, domain/inventory

#8627 ci: improve needs-triage label automation
  .github/labeler-needs-triage.yml
  .github/workflows/01-needs-triage-labeler.yml
  .github/workflows/storefront.yml
Labels: domain/product-ops

#8620 fix: Fix styling of sw-app-app-url-changed-modal; Update app url change description
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-app-url-changed-modal/index.js
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-app-url-changed-modal/sw-app-app-url-changed-modal.html.twig
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-app-url-changed-modal/sw-app-app-url-changed-modal.scss
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-app-url-changed-modal/sw-app-app-url-changed-modal.spec.js
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
Labels: component/administration

#8133 fix: exclude categories deactivated by events
  changelog/_unreleased/2025-04-11-new-event-for-fetched-category-ids.md
  src/Core/Content/Category/CategoryException.php
  src/Core/Content/Category/Event/SalesChannelCategoryIdsFetchedEvent.php
  src/Core/Content/DependencyInjection/sitemap.xml
  src/Core/Content/Sitemap/Provider/CategoryUrlProvider.php
  tests/unit/Core/Content/Category/CategoryExceptionTest.php
  tests/unit/Core/Content/Sitemap/Provider/CategoryUrlProviderTest.php
Labels: backport-6.6.x, domain/customer-support, backport-6.7.0.0

#8385 fix: Add support for extended definition of attribute entity
  changelog/_unreleased/2025-04-10-add-support-for-extended-definition-of-attribute-entity.md
  src/Core/Framework/DependencyInjection/CompilerPass/AttributeEntityCompilerPass.php
  src/Core/Framework/DependencyInjection/CompilerPass/EntityCompilerPass.php
  src/Core/Framework/Framework.php
  src/Core/System/DependencyInjection/CompilerPass/SalesChannelEntityCompilerPass.php
  tests/unit/Core/Framework/DependencyInjection/CompilerPass/AttributeEntityCompilerPassTest.php
  tests/unit/Core/Framework/DependencyInjection/CompilerPass/EntityCompilerPassTest.php
  tests/unit/Core/System/DependencyInjection/CompilerPass/SalesChannelEntityCompilerPassTest.php
Labels: component/core, Status:In-Review

#8682 ci: fix cond in needs-triage job
  .github/workflows/01-needs-triage-labeler.yml
Labels: domain/product-ops

#8692 chore: deprecate unused admin component
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-card-entry/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-card/index.js
Labels: domain/checkout

#8706 fix: docker mailer
  compose.yaml
Labels: needs-triage

#8220 fix: wrong parameter in setContent function in Offcanvas plugin
  src/Storefront/Resources/app/storefront/src/plugin/offcanvas/offcanvas.plugin.js
Labels: component/storefront, backport-6.6.x, backport-6.7.0.0, domain/framework

#8652 fix: Remove DelayStamp from ThemeCompiler
  UPGRADE-6.8.md
  changelog/_unreleased/2025-04-16-remove-deletethemefilesmessage.md
  config-schema.json
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/NoDelayStampRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/rules.neon
  src/Storefront/DependencyInjection/Configuration.php
  src/Storefront/DependencyInjection/theme.xml
  src/Storefront/Resources/config/packages/e2e/storefront.yaml
  src/Storefront/Resources/config/packages/storefront.yaml
  src/Storefront/Theme/Message/DeleteThemeFilesHandler.php
  src/Storefront/Theme/Message/DeleteThemeFilesMessage.php
  src/Storefront/Theme/ScheduledTask/DeleteThemeFilesTask.php
  src/Storefront/Theme/ScheduledTask/DeleteThemeFilesTaskHandler.php
  src/Storefront/Theme/ThemeCompiler.php
  src/Storefront/composer.json
  tests/integration/Storefront/Theme/ThemeCompilerTest.php
  tests/unit/Core/Framework/MessageQueue/Middleware/RoutingOverwriteMiddlewareTest.php
  tests/unit/Core/System/DependencyInjection/CompilerPass/SalesChannelEntityCompilerPassTest.php
  tests/unit/Storefront/Theme/Message/DeleteThemeFilesHandlerTest.php
  tests/unit/Storefront/Theme/Message/DeleteThemeFilesMessageTest.php
  tests/unit/Storefront/Theme/ScheduledTask/DeleteThemeFilesTaskHandlerTest.php
  tests/unit/Storefront/Theme/ThemeCompilerTest.php
Labels: component/storefront, component/core, domain/framework

#8476 fix: Category type folder displays wrong subcategory
  src/Storefront/Resources/views/storefront/layout/navbar/navbar.html.twig
Labels: backport-6.7.0.0, domain/discovery

#8721 fix: category tree hides supported children of unsupported parent nodes
  src/Administration/Resources/app/administration/src/app/component/entity/sw-category-tree-field/index.js
  src/Administration/Resources/app/administration/src/app/component/entity/sw-category-tree-field/sw-category-tree-field.spec.js
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree-item/sw-tree-item.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-link-settings/index.js
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-link-settings/sw-category-link-settings.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-link-settings/sw-category-link-settings.spec.js
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/en-GB.json
Labels: 6.7-RC-Issues, domain/discovery

#8722 fix: sales-channel-list add channel button event and favorite switch styles
  src/Administration/Resources/app/administration/src/core/service/utils/eventBus.utils.ts
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/structure/sw-sales-channel-menu/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/structure/sw-sales-channel-menu/sw-sales-channel-menu.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-list/sw-sales-channel-list.scss
Labels: 6.7-RC-Issues, domain/discovery

#8725 docs: add info about version for bug report
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: domain/product-ops

#6038 fix: NEXT-40205 Gallery thumbnail slider
  changelog/_unreleased/2025-01-07-fix-gallery-thumbnail-slider.md
  src/Storefront/Resources/app/storefront/src/plugin/slider/gallery-slider.plugin.js
Labels: needs-triage, component/shopping-experiences, External Contribution

#8694 fix: Fix loading of inherited ManyToMany associations when filtered
  changelog/_unreleased/2025-04-17-fix-dal-inherited-to-many.md
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityReader.php
  tests/integration/Core/Content/Product/Repository/ProductRepositoryTest.php
Labels: component/core, backport-6.6.x, backport-6.7.0.0, domain/framework

#8671 feat: add selling packaging card
  changelog/_unreleased/2025-04-22-add-selling-packaging-card.md
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-packaging-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-packaging-form/sw-product-packaging-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-packaging-form/sw-product-packaging-form.scss
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/store.ts
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-product/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-specifications/sw-product-detail-specifications.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-specifications/sw-product-detail-specifications.spec.js
Labels: domain/inventory

#8286 fix: several issues with meteor-admin-sdk
  .gitignore
  src/Administration/Resources/app/administration/src/app/component/base/sw-tabs-deprecated/index.js
  src/Administration/Resources/app/administration/src/meta/data-sets.json
  src/Administration/Resources/app/administration/src/module/sw-settings-search/page/sw-settings-search/index.js
  src/Administration/Resources/app/administration/vite.config.mts
  src/Administration/Snippet/SnippetFinder.php
  tests/unit/Administration/Snippet/SnippetFinderTest.php
  tests/unit/Administration/Snippet/fixtures/activePlugin/Resources/app/meteor-app/jp-JP.json
Labels: component/administration, backport-6.7.0.0

#8687 chore: removes abusive createPartialMock in AccountOrderControllerTest
  tests/unit/Storefront/Controller/AccountOrderControllerTest.php
Labels: component/core, domain/framework

#8634 fix: bump version of php-svg to benefit from deprecations handling
  composer.json
Labels: component/core, priority/low, domain/framework

#8749 chore: Ignore cs-fixer commit on git blame
  .git-blame-ignore-revs
Labels: component/core, domain/framework

#8177 feat: Add sidebar sdk handlers
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/app/asyncComponent/sidebar/sw-help-sidebar/sw-help-sidebar.scss
  src/Administration/Resources/app/administration/src/app/asyncComponent/utils/sw-help-center/sw-help-center.html.twig
  src/Administration/Resources/app/administration/src/app/asyncComponent/utils/sw-help-center/sw-help-center.scss
  src/Administration/Resources/app/administration/src/app/component/entity/sw-many-to-many-assignment-card/sw-many-to-many-assignment-card.spec.js
  src/Administration/Resources/app/administration/src/app/component/extension-api/sw-extension-component-section/index.ts
  src/Administration/Resources/app/administration/src/app/component/extension-api/sw-extension-component-section/sw-extension-component-section.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-desktop/sw-desktop.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-desktop/sw-desktop.scss
  src/Administration/Resources/app/administration/src/app/component/structure/sw-desktop/sw-desktop.spec.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-language-switch/sw-language-switch.scss
  src/Administration/Resources/app/administration/src/app/component/structure/sw-page/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-page/sw-page.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-page/sw-page.scss
  src/Administration/Resources/app/administration/src/app/component/structure/sw-page/sw-page.spec.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-sidebar-renderer/index.spec.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-sidebar-renderer/index.ts
  src/Administration/Resources/app/administration/src/app/component/structure/sw-sidebar-renderer/sw-sidebar-renderer.html.twig
  src/Administration/Resources/app/administration/src/app/component/structure/sw-sidebar-renderer/sw-sidebar-renderer.scss
  src/Administration/Resources/app/administration/src/app/component/utils/sw-notification-center/sw-notification-center.scss
  src/Administration/Resources/app/administration/src/app/init-pre/store.init.ts
  src/Administration/Resources/app/administration/src/app/init/index.ts
  src/Administration/Resources/app/administration/src/app/init/sidebar.init.spec.js
  src/Administration/Resources/app/administration/src/app/init/sidebar.init.ts
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/app/store/sidebar.store.ts
  src/Administration/Resources/app/administration/src/global.types.ts
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-customer/sw-bulk-edit-customer.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-order/sw-bulk-edit-order.spec.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/page/sw-bulk-edit-product/sw-bulk-edit-product.spec.js
  src/Administration/Resources/app/administration/src/module/sw-category/component/sw-category-link-settings/index.js
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/sw-dashboard-index.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension-sdk/page/sw-extension-sdk-module/sw-extension-sdk-module.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-app-module-page/sw-extension-app-module-page.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-create/sw-order-create.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/sw-order-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product-stream/component/sw-product-stream-modal-preview/index.js
  src/Administration/Resources/app/administration/src/module/sw-product-stream/component/sw-product-stream-modal-preview/sw-product-stream-modal-preview.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-variants/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-variants/sw-product-detail-variants.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-media/page/sw-settings-media/sw-settings-media.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-seo/page/sw-settings-seo/sw-settings-seo.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-detail/sw-settings-snippet-detail.spec.js
  src/Administration/Resources/app/administration/test/_setup/prepare_environment.js
Labels: component/administration

#8751 ci: handle `service/` labels the same as `domain/` labels
  .github/workflows/01-needs-triage-labeler.yml
Labels: domain/product-ops

#7834 fix: remove unnecessary serial mode run of test
  tests/acceptance/tests/Account/CancelOrder.spec.ts
Labels: testing/acceptance, priority/low, domain/quality-ops

#8727 chore(ci): exclude .git/config from context artifact
  .github/workflows/05-prepare-release.yml
Labels: backport-6.6.x, domain/product-ops, backport-6.7.0.0

#8732 feat: Add default config for measurement system
  changelog/_unreleased/2025-04-02-create-migration-and-dal-for-scale-unit.md
  src/Core/Content/MeasurementSystem/Entity/MeasurementDisplayUnitEntity.php
  src/Core/Migration/V6_7/Migration1742199548MeasurementSystem.php
  src/Core/Migration/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystem.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelDomain/SalesChannelDomainDefinition.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelDomain/SalesChannelDomainEntity.php
  src/Core/System/SalesChannel/SalesChannelDefinition.php
  src/Core/System/SalesChannel/SalesChannelEntity.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
  tests/migration/Core/V6_7/Migration1742199548MeasurementSystemTest.php
  tests/migration/Core/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystemTest.php
Labels: domain/inventory

#8773 feat: Add default config for measurement system
  src/Core/Migration/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystem.php
  tests/migration/Core/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystemTest.php
Labels: Status:In-Review, needs-triage

#8755 fix: fix "cannot read properties of undefined" error when token refre…
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-wrong-app-url-modal/index.js
Labels: component/administration, domain/framework

#8753 fix: inheritance switch with meteor components
  src/Administration/Resources/app/administration/src/app/assets/scss/global.scss
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-basic-form/sw-product-basic-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-category-form/sw-product-category-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-deliverability-downloadable-form/sw-product-deliverability-downloadable-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-deliverability-form/sw-product-deliverability-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-packaging-form/sw-product-packaging-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-settings-form/sw-product-settings-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-seo/component/sw-seo-url-template-card/sw-seo-url-template-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-seo/component/sw-seo-url/sw-seo-url.html.twig
Labels: component/administration, domain/framework

#7619 fix: Add twig block around filter columns
  changelog/_unreleased/2025-03-17-add-twig-block-around-filter-columns.md
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-listing/config/sw-cms-el-config-product-listing.html.twig
Labels: Incomplete, component/shopping-experiences, External Contribution

#8779 feat: Add association for measurementSytemEntity
  src/Core/Content/MeasurementSystem/Entity/MeasurementSystemEntity.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
Labels: Status:In-Review, domain/inventory

#8782 fix: top applying prefix for synonyms 6.7.0.0
  .bc-exclude.php
  changelog/_unreleased/2025-03-13-disable-prefix-search-for-synonyms-to-prevent-irrelevant-results.md
  src/Elasticsearch/Product/SearchFieldConfig.php
  src/Elasticsearch/TokenQueryBuilder.php
  tests/unit/Elasticsearch/Product/SearchFieldConfigTest.php
  tests/unit/Elasticsearch/TokenQueryBuilderTest.php
Labels: Status:In-Review, domain/inventory

#8822 fix: sw-category-tree-field to avoid errors on delete search
  src/Administration/Resources/app/administration/src/app/component/entity/sw-category-tree-field/index.js
Labels: component/administration, domain/framework

#8833 feat: add renaming scales unit banner in settings overview
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.html.twig
Labels: domain/inventory

#8795 fix: error on user password change
  src/Administration/Resources/app/administration/src/app/component/utils/sw-verify-user-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-user-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-user-detail/sw-users-permissions-user-detail.spec.js
Labels: component/administration, domain/framework

#8835 fix: migration system config
  src/Core/Migration/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystem.php
  tests/migration/Core/V6_7/Migration1745319883AddDefaultConfigForMeasurementSystemTest.php
Labels: domain/inventory

#8826 fix: clear http cache in cache clearer also in cluster mode
  src/Core/Framework/Adapter/Cache/CacheClearer.php
  tests/integration/Core/Framework/Cache/CacheClearerTest.php
Labels: component/core, domain/framework

#8606 feat: Implement get shop
  src/Administration/Resources/app/administration/src/app/composables/use-context.spec.ts
  src/Administration/Resources/app/administration/src/app/composables/use-context.ts
  src/Administration/Resources/app/administration/src/app/init/context.init.spec.js
  src/Administration/Resources/app/administration/src/app/init/context.init.ts
  src/Administration/Resources/app/administration/src/app/store/context.store.spec.ts
  src/Administration/Resources/app/administration/vite.config.mts
  src/Core/Framework/Api/Controller/InfoController.php
  src/Core/Framework/DependencyInjection/api.xml
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/unit/Core/Framework/Api/Controller/InfoControllerTest.php
Labels: component/administration, domain/framework

#8857 feat: remove hosting provider support hint
  .github/actions/ats/action.yaml
  .github/workflows/integration.yml
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-wrong-app-url-modal/index.js
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-wrong-app-url-modal/sw-app-wrong-app-url-modal.html.twig
  src/Administration/Resources/app/administration/src/app/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/app/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.html.twig
  tests/acceptance/tests/Forms/GoogleReCaptchaV3.spec.ts
Labels: component/administration, backport-6.6.x, backport-6.7.0.0, domain/framework

#8847 fix: main_category's category should be nullable
  src/Core/Content/Seo/MainCategory/MainCategoryEntity.php
Labels: component/seo, priority/high, backport-6.7.0.0, domain/inventory

#8866 ci: fix ats job
  .github/workflows/integration.yml
  tests/acceptance/tests/Forms/GoogleReCaptchaV3.spec.ts
Labels: domain/product-ops

#8871 fix: double click event emitted by sw-button
  src/Administration/Resources/app/administration/src/app/component/base/sw-button/index.js
Labels: component/administration, backport-6.7.0.0, domain/framework

#8872 fix: Info controller does not hard depend on admin bundle
  src/Core/Framework/Api/Controller/InfoController.php
  src/Core/Framework/DependencyInjection/api.xml
Labels: component/core, domain/framework

#8870 chore: prepare 6.6.10.4
  CHANGELOG.md
  UPGRADE-6.6.md
  changelog/release-6-6-10-4/2024-12-26-removed-the-total-count-mode-when-selecting-products-during-order-creation-in-the-administration.md
  changelog/release-6-6-10-4/2025-01-22-make-product-variation-accessible-in-seo-url-templates.md
  changelog/release-6-6-10-4/2025-01-30-fix-order-elasticsearch-indexing-performance-for-administration.md
  changelog/release-6-6-10-4/2025-02-07-improve-db-queries-on-media-files.md
  changelog/release-6-6-10-4/2025-02-10-fix-order-delivery-state-machine-name.md
  changelog/release-6-6-10-4/2025-02-11-restore-customer-address-from-order-for-context.md
  changelog/release-6-6-10-4/2025-02-12-ask-for-save-order-before-proceeding.md
  changelog/release-6-6-10-4/2025-02-15-prevent-imitating-when-not-possible.md
  changelog/release-6-6-10-4/2025-02-18-sorted-conditions-alphabetically.md
  changelog/release-6-6-10-4/2025-02-20-fix-cms-block-bg-color-condition.md
  changelog/release-6-6-10-4/2025-02-23-fix-missing-cms-product-slider-animation-and-re-enable-cms-sliders-speed-configuration.md
  changelog/release-6-6-10-4/2025-02-24-allowed-nulls-in-systemconfigvalidator-for-required-values-in-child-configs.md
  changelog/release-6-6-10-4/2025-02-24-fix-add-file-type-to-download-open-e-invoice.md
  changelog/release-6-6-10-4/2025-02-25-eliminate-errors-when-clicking-product-rating.md
  changelog/release-6-6-10-4/2025-02-26-use-current-order-data-in-mail-preview.md
  changelog/release-6-6-10-4/2025-02-27-adjust-card-component-position-name-in-order-detail.md
  changelog/release-6-6-10-4/2025-02-27-exclude-app-namespaces-if-disable_extensions_set.md
  changelog/release-6-6-10-4/2025-02-28-add-aria-labels-to-product-slider-controls.md
  changelog/release-6-6-10-4/2025-02-28-add-shopware-usage-data-collection-enabled-config-to-improve-usage-of-shopware-usage-data-gateway-dispatch-enabled.md
  changelog/release-6-6-10-4/2025-03-03-Accessibility-of-footer-collapse.md
  changelog/release-6-6-10-4/2025-03-03-fix-bulk-edit-custom-fields.md
  changelog/release-6-6-10-4/2025-03-04-accessibility-via-mobile-keyboard-navigation.md
  changelog/release-6-6-10-4/2025-03-05-increase-contrast-for-slider-ui.md
  changelog/release-6-6-10-4/2025-03-07-make-offcanvas-navigation-accessible.md
  changelog/release-6-6-10-4/2025-03-11-add-missing-dependency-field-of-url-runtime-field-to-media-defintion.md
  changelog/release-6-6-10-4/2025-03-11-added-missing-rule-filter-for-shipping-price-matrix.md
  changelog/release-6-6-10-4/2025-03-13-disable-prefix-search-for-synonyms-to-prevent-irrelevant-results.md
  changelog/release-6-6-10-4/2025-03-14-fix-show-new-customer-address-after-saving-modal.md
  changelog/release-6-6-10-4/2025-03-17-close-search-suggests-when-focus-of-input-is-lost.md
  changelog/release-6-6-10-4/2025-03-20-fix-cms-block-removable-check.md
  changelog/release-6-6-10-4/2025-03-24-fix-cmsdataresolver-same-criteria-different-entities.md
  changelog/release-6-6-10-4/2025-03-25-Fix-html-quirks-mode.md
  changelog/release-6-6-10-4/2025-03-25-pin-promotions-for-admin-orders.md
  changelog/release-6-6-10-4/2025-03-26-cookie-constent-keyboard-nav.md
  changelog/release-6-6-10-4/2025-03-26-fix-correctly-reset-promotion-duplication-fields.md
  changelog/release-6-6-10-4/2025-03-27-a11y-insufficient-accessibility-of-the-search-form-field-for-screen-readers.md
  changelog/release-6-6-10-4/2025-03-27-add-title-to-filter-remove-button.md
  changelog/release-6-6-10-4/2025-03-31-fix-issue-where-criteria-limit-of-500-prevents-loading-admin-modules.md
  changelog/release-6-6-10-4/2025-04-01-ar-viewer-bug.md
  changelog/release-6-6-10-4/2025-04-02-search-widget-accessibility.md
  changelog/release-6-6-10-4/2025-04-03-fix-loading-of-to-one-associations-with-partial-data-loading.md
  changelog/release-6-6-10-4/2025-04-04-offcanvassingleton-does-not-remove-hard-coded-offcanvas-from-dom.md
  changelog/release-6-6-10-4/2025-04-04-show-navigation-arrows-of-product-cross-selling-sliders-again.md
  changelog/release-6-6-10-4/2025-04-07-fix-override-paging-listing-page-parameter.md
  changelog/release-6-6-10-4/2025-04-10-fix-double-triggering-of-switch-field-change.md
  changelog/release-6-6-10-4/2025-04-11-fix-calls-to-update-store.md
  changelog/release-6-6-10-4/2025-04-11-new-event-for-fetched-category-ids.md
  changelog/release-6-6-10-4/2025-04-15-make-search-parameter-optional-in-search-api.md
  changelog/release-6-6-10-4/2025-04-16-remove-deletethemefilesmessage.md
  changelog/release-6-6-10-4/2025-04-17-fix-dal-inherited-to-many.md
  changelog/release-6-6-10-4/2025-04-17-fix-webhook-dispatching-for-not-versioned-events.md
Labels: domain/product-ops

#8863 fix: Warning while flow result to an error
  phpstan-baseline.neon
  src/Core/Framework/Webhook/BusinessEventEncoder.php
  src/Core/Framework/Webhook/WebhookException.php
  tests/integration/Core/Framework/Webhook/BusinessEventEncoderTest.php
  tests/unit/Core/Framework/Webhook/BusinessEventEncoderTest.php
  tests/unit/Core/Framework/Webhook/WebhookExceptionTest.php
Labels: backport-6.6.x, backport-6.7.0.0, domain/crm-after-sales

#8850 test: added test for reduced header and footer during checkout
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
  tests/acceptance/tests/Checkout/ReducedHeaderAndFooterDuringCheckout.spec.ts
Labels: testing/acceptance, backport-6.6.x, domain/quality-ops, backport-6.7.0.0, domain/checkout

#8873 fix: convert query to UTF-8 before escaping
  changelog/_unreleased/2025-04-28-fix-unprepared-statements-breaking-profiler.md
  src/Core/Profiling/Resources/views/Collector/db.html.twig
Labels: component/core, domain/framework

#8881 chore: prepare 6.7.0.0 rc3
  CHANGELOG.md
  UPGRADE-6.7.md
  changelog/release-6-7-0-0/2025-02-15-prevent-imitating-when-not-possible.md
  changelog/release-6-7-0-0/2025-03-13-disable-prefix-search-for-synonyms-to-prevent-irrelevant-results.md
  changelog/release-6-7-0-0/2025-04-02-fix-admin-order-shipping-cost-input-behaviour.md
  changelog/release-6-7-0-0/2025-04-03-add-missing-js-class-to-header-search.md
  changelog/release-6-7-0-0/2025-04-04-improve-variants-can-t-be-assigned-to-a-category.md
  changelog/release-6-7-0-0/2025-04-04-offcanvassingleton-does-not-remove-hard-coded-offcanvas-from-dom.md
  changelog/release-6-7-0-0/2025-04-04-show-navigation-arrows-of-product-cross-selling-sliders-again.md
  changelog/release-6-7-0-0/2025-04-07-fix-currency-sleection-in-offcanvas.md
  changelog/release-6-7-0-0/2025-04-07-fix-nested-line-items.md
  changelog/release-6-7-0-0/2025-04-07-fix-override-paging-listing-page-parameter.md
  changelog/release-6-7-0-0/2025-04-08-fix-mobile-form-field-layouts.md
  changelog/release-6-7-0-0/2025-04-08-sw-icon-variable-icon-name.md
  changelog/release-6-7-0-0/2025-04-11-fix-calls-to-update-store.md
  changelog/release-6-7-0-0/2025-04-11-new-event-for-fetched-category-ids.md
  changelog/release-6-7-0-0/2025-04-15-make-search-parameter-optional-in-search-api.md
  changelog/release-6-7-0-0/2025-04-16-remove-deletethemefilesmessage.md
  changelog/release-6-7-0-0/2025-04-17-fix-dal-inherited-to-many.md
  changelog/release-6-7-0-0/2025-04-17-fix-webhook-dispatching-for-not-versioned-events.md
  changelog/release-6-7-0-0/2025-04-25-changed-themeconfigfield-type-property-type.md
Labels: domain/product-ops

#7517 chore: Export the structure of b2b component tables
  src/Core/System/UsageData/usage-data-allow-list.json
Labels: backport-6.6.x, service/data-intelligence, backport-6.7.0.0

#8796 fix: Local mode of the `sw-one-to-many-grid`
  changelog/_unreleased/2025-04-24-fix-local-mode-of-sw-one-to-many-grid.md
  src/Administration/Resources/app/administration/src/app/component/entity/sw-one-to-many-grid/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-discount-component/sw-promotion-discount-component.html.twig
Labels: component/administration, backport-6.6.x, backport-6.7.0.0, domain/framework

#8876 fix: Add missing properties to SalesChannelContext schema
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/SalesChannelContext.json
Labels: component/core, domain/framework

#6982 fix: Multi select filter for translated entities
  changelog/_unreleased/2025-02-21-fix-multi-select-filter-for-translated-entities.md
  src/Administration/Resources/app/administration/src/app/component/filter/sw-multi-select-filter/index.js
  src/Administration/Resources/app/administration/src/app/component/filter/sw-multi-select-filter/sw-multi-select-filter.spec.js
Labels: component/administration, backport-6.7.0.0, domain/framework

#8933 fix: fix language switch height
  src/Administration/Resources/app/administration/src/app/component/structure/sw-language-switch/sw-language-switch.scss
Labels: component/administration, domain/framework
