Repository shopware/shopware, pull requests merged in 2025-01, with the labels that each got.

#5912 feat(pinia migration): migrate paymentOverviewCard store to pinia
  changelog/_unreleased/2024-12-19-migrate-paymentoverviewcard-store-to-pinia.md
  src/Administration/Resources/app/administration/src/global.types.ts
  src/Administration/Resources/app/administration/src/meta/baseline.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/init/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/page/sw-settings-payment-overview/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/page/sw-settings-payment-overview/sw-settings-payment-overview.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/state/overview-cards.store.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/store/overview-cards.store.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/store/overview-cards.store.ts
  src/Administration/Resources/app/administration/test/_setup/prepare_environment.js
Labels: Administration, Domain:Framework

#5918 fix: truncate long custom field descriptions in rulebuilder
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-line-item-custom-field/index.js
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-line-item-custom-field/sw-condition-line-item-custom-field.html.twig
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-line-item-custom-field/sw-condition-line-item-custom-field.spec.js
Labels: Administration, Domain:Framework

#5919 fix: make cache hash deterministic
  src/Core/Kernel.php
Labels: Domain:Framework

#5780 fix: move mail variable update to system scope
  changelog/_unreleased/2024-12-06-move-mail-variable-update-to-system-scope.md
  src/Core/Content/Flow/Dispatching/Action/SendMailAction.php
Labels: Domain:CRM & After Sales

#5859 test(ats): as a customer, I would like to see products with different languages and currencies
  tests/acceptance/tests/SalesChannels/StorefrontCurrencies.spec.ts
  tests/acceptance/tests/SalesChannels/StorefrontLanguages.spec.ts
Labels: Domain:Framework, Acceptance test

#5973 fix: release date compatibility for product
  tests/acceptance/tests/Product/ProductBulkEdit.spec.ts
Labels: Acceptance test

#6010 fix: Cyprus vatId pattern
  changelog/_unreleased/2025-01-06-fix-cyprus-vatid-pattern.md
  src/Core/Migration/V6_6/Migration1736154963FixCyprusVatIdPattern.php
  tests/integration/Core/Checkout/Customer/Validation/Constraint/CustomerVatIdentificationValidatorTest.php
  tests/migration/Core/V6_6/Migration1736154963FixCyprusVatIdPatternTest.php
Labels: Domain:Checkout

#5820 feat: Implement new encode event for store api responses
  changelog/_unreleased/2024-12-13-added-new-encode-event-for-store-api-routes.md
  src/Core/System/DependencyInjection/sales_channel.xml
  src/Core/System/SalesChannel/Api/StoreApiResponseListener.php
  tests/unit/Core/System/SalesChannel/Api/StoreApiResponseListenerTest.php
Labels: Core, Domain:Framework

#5894 fix(admin): cannot expand flowbuilder items after scrolling down
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree-item/sw-tree-item.scss
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-trigger/index.js
Labels: Domain:CRM & After Sales

#5892 fix: remove required marker from Sales Channel field on document detail page
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.html.twig
Labels: Domain:CRM & After Sales

#5983 fix: Price field overrides
  src/Administration/Resources/app/administration/src/app/component/form/sw-price-field/index.js
Labels: Administration, Domain:Framework

#5929 feat: Admin vite plugins
  src/Administration/Resources/app/administration/build/plugins.vite.ts
  src/Administration/Resources/app/administration/build/vite-plugins/asset-path-plugin/index.spec.js
  src/Administration/Resources/app/administration/build/vite-plugins/asset-path-plugin/index.ts
  src/Administration/Resources/app/administration/build/vite-plugins/asset-plugin/index.spec.js
  src/Administration/Resources/app/administration/build/vite-plugins/asset-plugin/index.ts
  src/Administration/Resources/app/administration/build/vite-plugins/externals-plugin/index.spec.js
  src/Administration/Resources/app/administration/build/vite-plugins/externals-plugin/index.ts
  src/Administration/Resources/app/administration/build/vite-plugins/override-component-register/_fixtures/spec.override.vue
  src/Administration/Resources/app/administration/build/vite-plugins/override-component-register/index.spec.js
  src/Administration/Resources/app/administration/build/vite-plugins/override-component-register/index.ts
  src/Administration/Resources/app/administration/build/vite-plugins/twigjs-plugin/index.spec.js
  src/Administration/Resources/app/administration/build/vite-plugins/twigjs-plugin/index.ts
  src/Administration/Resources/app/administration/build/vite-plugins/utils/index.ts
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/core/application.ts
  src/Administration/Resources/app/administration/src/core/factory/async-component.factory.ts
  src/Administration/Resources/app/administration/tsconfig.json
  src/Administration/Resources/app/administration/vite.config.mts
  src/Administration/Resources/config/packages/pentatrion_vite.yaml
  src/Core/Framework/Api/Controller/InfoController.php
  src/Core/Framework/DependencyInjection/api.xml
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/unit/Core/Framework/Api/Controller/InfoControllerTest.php
Labels: Administration, Domain:Framework

#6022 fix: Typo in HTTP client config for PHPStorm
  http-client.env.json
Labels: Domain:Framework

#5863 feat: mysql cache tag invalidator storage
  UPGRADE-6.5.md
  UPGRADE-6.6.md
  changelog/_unreleased/2024-12-09-add-mysql-cache-invalidator-storage.md
  changelog/release-6-5-6-0/2023-09-14-collect-cache-invalidations-in-redis.md
  config-schema.json
  phpstan-baseline.neon
  src/Core/Framework/Adapter/Cache/InvalidatorStorage/MySQLInvalidatorStorage.php
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
  src/Core/Framework/DataAbstractionLayer/Doctrine/MultiInsertQueryQueue.php
  src/Core/Framework/DataAbstractionLayer/Doctrine/RetryableQuery.php
  src/Core/Framework/DependencyInjection/cache.xml
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/Migration/V6_6/Migration1733745893createTagStorageTable.php
  tests/integration/Core/Framework/Adapter/Cache/InvalidatorStorage/MySQLInvalidatorStorageTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Doctrine/Doctrine/MultiInsertQueryQueueTest.php
  tests/migration/Core/V6_6/Migration1733745893createTagStorageTableTest.php
Labels: Core, Domain:Framework

#6023 refactor: Get current currency from context in template files
  changelog/_unreleased/2025-01-07-introduce-global-template-data-for-language-and-navigation.md
  src/Storefront/Resources/views/storefront/component/buy-widget/buy-widget-price.html.twig
  src/Storefront/Resources/views/storefront/component/listing/filter/filter-range.html.twig
  src/Storefront/Resources/views/storefront/layout/header/actions/currency-widget.html.twig
  src/Storefront/Resources/views/storefront/page/product-detail/buy-widget-price.html.twig
Labels: Domain:Framework

#5939 feat: improve plugin migration reliability
  changelog/_unreleased/2024-12-20-validate-migration-timestamps.md
  src/Core/Framework/Migration/MigrationCollection.php
  src/Core/Framework/Migration/MigrationException.php
  src/Core/Framework/Migration/MigrationStep.php
  src/Core/Framework/Plugin/PluginLifecycleService.php
  tests/unit/Core/Framework/Migration/MigrationStepTest.php
Labels: Core, Domain:Framework

#6025 refactor: Use the collection instead of array during creation of breadcrumbs for the experimental store API
  src/Core/Content/Breadcrumb/SalesChannel/BreadcrumbRoute.php
  src/Core/Content/Breadcrumb/Struct/Breadcrumb.php
  src/Core/Content/Breadcrumb/Struct/BreadcrumbCollection.php
  src/Core/Content/Category/Service/CategoryBreadcrumbBuilder.php
  tests/unit/Core/Content/Breadcrumb/SalesChannel/BreadcrumbRouteTest.php
  tests/unit/Core/Content/Breadcrumb/Struct/BreadcrumbCollectionTest.php
  tests/unit/Core/Content/Category/Service/CategoryBreadcrumbBuilderTest.php
Labels: Domain:Framework

#6027 fix: simplexml_load_string falsy check in XmlValidator
  src/Core/Content/ProductExport/Validator/XmlValidator.php
Labels: Domain:Inventory

#5979 fix: merchant set data sharing consent test
  tests/acceptance/tests/Settings/MerchantSetDataSharingConsent.spec.ts
Labels: Status:In-Review

#6008 fix: Unskip RuleAssignment.spec.ts
  tests/acceptance/package-lock.json
  tests/acceptance/tests/Settings/RuleAssignments.spec.ts
Labels: Acceptance test

#6034 fix: use cache dir from parameter
  src/Core/Kernel.php
Labels: Domain:Framework

#6002 fix: Select initial hreflang localisation when creating a new sales channel domain
  changelog/_unreleased/2025-01-05-select-initial-hreflang-localisation-when-creating-a-new-sales-channel-domain.md
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/sw-sales-channel-detail-domains/index.js
Labels: Domain:Discovery

#6052 chore: Update releases.json
  releases.json
Labels: Domain:Fundamentals

#5914 fix: dont emit deprecations for production environments, fixes #5668
  src/Core/Framework/Feature.php
  src/Core/Framework/Framework.php
  tests/unit/Core/Framework/FrameworkTest.php
Labels: Domain:Framework

#5940 fix(apps): http cache is not cleared when templates are updated
  src/Core/Framework/Adapter/Twig/EntityTemplateLoader.php
  src/Core/Framework/App/Lifecycle/AppLifecycle.php
  src/Core/Framework/App/Lifecycle/Persister/TemplatePersister.php
  src/Core/Framework/App/Template/TemplateDefinition.php
  src/Core/Framework/App/Template/TemplateEntity.php
  src/Core/Framework/App/Template/TemplateStateService.php
  src/Core/Framework/DependencyInjection/app.xml
  src/Core/Migration/V6_6/Migration1733323215AddHashToAppTemplate.php
  tests/integration/Core/Framework/Adapter/Twig/EntityTemplateLoaderTest.php
  tests/migration/Core/V6_6/Migration1733323215AddHashToAppTemplateTest.php
  tests/unit/Core/Framework/Adapter/EntityTemplateLoaderTest.php
  tests/unit/Core/Framework/App/Lifecycle/Persister/TemplatePersisterTest.php
Labels: Domain:Framework

#6030 refactor: Introduce new global Twig template data to replace usage of common header and footer objects
  .bc-exclude.php
  changelog/_unreleased/2025-01-07-introduce-global-template-data-for-language-and-navigation.md
  phpstan-baseline.neon
  src/Core/Framework/Adapter/Twig/Extension/BuildBreadcrumbExtension.php
  src/Core/Framework/Context.php
  src/Core/Framework/DataAbstractionLayer/Search/Term/Filter/AbstractTokenFilter.php
  src/Core/Framework/DataAbstractionLayer/Search/Term/Filter/TokenFilter.php
  src/Core/Framework/FrameworkException.php
  src/Core/System/SalesChannel/BaseContext.php
  src/Core/System/SalesChannel/Context/BaseContextFactory.php
  src/Core/System/SalesChannel/Context/LanguageInfo.php
  src/Core/System/SalesChannel/Context/SalesChannelContextFactory.php
  src/Core/System/SalesChannel/Exception/ContextPermissionsLockedException.php
  src/Core/System/SalesChannel/Exception/ContextRulesLockedException.php
  src/Core/System/SalesChannel/SalesChannelContext.php
  src/Core/System/SalesChannel/SalesChannelException.php
  src/Core/System/Tax/Exception/TaxNotFoundException.php
  src/Core/Test/Generator.php
  src/Elasticsearch/Product/StopwordTokenFilter.php
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/Framework/Twig/NavigationInfo.php
  src/Storefront/Framework/Twig/TemplateDataExtension.php
  src/Storefront/Pagelet/Footer/FooterPagelet.php
  src/Storefront/Pagelet/Footer/FooterPageletLoader.php
  src/Storefront/Resources/views/storefront/base.html.twig
  src/Storefront/Resources/views/storefront/component/review/review-login.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-types/contact-form.html.twig
  src/Storefront/Resources/views/storefront/layout/breadcrumb.html.twig
  src/Storefront/Resources/views/storefront/layout/footer/footer.html.twig
  src/Storefront/Resources/views/storefront/layout/header/actions/currency-widget.html.twig
  src/Storefront/Resources/views/storefront/layout/header/actions/language-widget.html.twig
  src/Storefront/Resources/views/storefront/layout/header/search.html.twig
  src/Storefront/Resources/views/storefront/layout/meta.html.twig
  src/Storefront/Resources/views/storefront/layout/navbar/categories.html.twig
  src/Storefront/Resources/views/storefront/layout/navbar/navbar.html.twig
  src/Storefront/Resources/views/storefront/layout/navigation/categories.html.twig
  src/Storefront/Resources/views/storefront/layout/navigation/navigation.html.twig
  src/Storefront/Resources/views/storefront/layout/navigation/offcanvas/categories.html.twig
  src/Storefront/Resources/views/storefront/page/content/index.html.twig
  src/Storefront/Resources/views/storefront/utilities/staging-info.html.twig
  tests/unit/Core/Framework/Adapter/Twig/Extension/BuildBreadcrumbExtensionTest.php
  tests/unit/Core/Framework/Adapter/Twig/Extension/TemplateDataExtensionTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Cache/EntityCacheKeyGeneratorTest.php
  tests/unit/Core/System/SalesChannel/Context/BaseContextFactoryTest.php
  tests/unit/Core/System/SalesChannel/Context/SalesChannelContextFactoryTest.php
  tests/unit/Core/System/SalesChannel/SalesChannelExceptionTest.php
Labels: Domain:Framework

#5988 feat: Add product slider release date sorting
  changelog/_unreleased/2025-01-02-add-product-slider-release-date-sorting.md
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-slider/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/en-GB.json
Labels: Domain:Discovery

#6020 feat: lazy create custom entity repositories to improve application s…
  src/Core/Framework/DataAbstractionLayer/EntityRepository.php
  src/Core/System/CustomEntity/CustomEntityRegistrar.php
  src/Core/System/CustomEntity/Schema/DynamicFieldFactory.php
Labels: Domain:Framework

#5997 fix: `dal:migration:create` command doesn't create foreign keys
  src/Core/Framework/DataAbstractionLayer/MigrationQueryGenerator.php
  tests/unit/Core/Framework/DataAbstractionLayer/MigrationQueryGeneratorTest.php
Labels: Core, Domain:Framework

#6045 chore: allow changelog files without issue, use mr number in that case
  src/Core/Framework/Changelog/ChangelogDefinition.php
  src/Core/Framework/Changelog/ChangelogParser.php
  tests/integration/Core/Framework/Changelog/ChangelogCommandTest.php
  tests/integration/Core/Framework/Changelog/ChangelogParserTest.php
Labels: Domain:Fundamentals

#5991 chore: B2B domain package
  src/Core/Framework/Log/Package.php
Labels: Domain:Framework

#5966 fix: Allow to set default search result sorting
  changelog/_unreleased/2024-12-27-set-default-search-result-sorting.md
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/page/sw-settings-listing/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/page/sw-settings-listing/sw-settings-listing.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-listing/snippet/en-GB.json
  src/Core/Content/Product/SalesChannel/Listing/Processor/SortingListingProcessor.php
  src/Core/Content/Product/SalesChannel/Search/ResolvedCriteriaProductSearchRoute.php
  src/Core/Content/Product/SalesChannel/Suggest/ResolvedCriteriaProductSuggestRoute.php
  src/Core/Migration/V6_6/Migration1735112885AddDefaultSearchResultSorting.php
  tests/migration/Core/V6_6/Migration1735112885AddDefaultSearchResultSortingTest.php
  tests/unit/Core/Content/Product/SalesChannel/Listing/Processor/SortingListingProcessorTest.php
Labels: Status:In-Review

#6014 fix: skip ProductImagesInTheStorefront.spec.ts with a new bug
  tests/acceptance/tests/Product/ProductImagesInTheStorefront.spec.ts
Labels: Acceptance test

#6013 fix: listen to the correct error after cancellation
  changelog/_unreleased/2025-01-06-fix-removal-of-cancelled-extensions.md
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-bought/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-bought/sw-extension-card-bought.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-removal-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-removal-modal/sw-extension-removal-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-removal-modal/sw-extension-removal-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-self-maintained-extension-card/index.js
  src/Administration/Resources/app/administration/src/module/sw-extension/service/extension-store-action.service.ts
  src/Administration/Resources/app/administration/src/module/sw-extension/service/shopware-extension.service.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/service/shopware-extension.service.ts
  src/Core/Framework/Store/Api/ExtensionStoreActionsController.php
  src/Core/Framework/Store/Services/AbstractExtensionLifecycle.php
  src/Core/Framework/Store/Services/AbstractStoreAppLifecycleService.php
  src/Core/Framework/Store/Services/ExtensionLifecycleService.php
  src/Core/Framework/Store/Services/StoreAppLifecycleService.php
  src/Core/Framework/Store/Services/StoreClient.php
  tests/integration/Core/Framework/Store/Services/ExtensionLifecycleServiceTest.php
  tests/integration/Core/Framework/Store/Services/StoreClientTest.php
  tests/unit/Core/Framework/Store/Api/ExtensionStoreActionsControllerTest.php
Labels: Domain:Checkout

#6177 chore(ci): Also execute PHP jobs, if config files have changed
  .github/workflows/php.yml
Labels: Product Ops, Domain:Framework

#6066 feat: Add entity visibility checks to dal:validate command
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
Labels: Domain:Framework

#6048 feat: Add custom pagination parameter
  changelog/_unreleased/2025-01-07-allow-custom-pagination-parameters.md
  src/Storefront/Resources/views/storefront/component/pagination.html.twig
Labels: Storefront, Domain:Framework

#6006 chore(ci): fix codecov reports
  .github/codecov.yml
  .github/workflows/admin.yml
  .github/workflows/php.yml
  .github/workflows/storefront.yml
  phpunit.xml.dist
Labels: Product Ops

#6053 feat: introduce env variable to skip cache invalidation on asset:install
  src/Core/Framework/Plugin/Util/AssetService.php
  tests/unit/Core/Framework/Plugin/Util/AssetServiceTest.php
Labels: Domain:Fundamentals

#6172 chore: Adjust danger.php to work with GitHub
  .danger.php
  .gitignore
Labels: Product Ops, Domain:Framework

#6061 feat: Add force cache invalidate header
  changelog/_unreleased/2025-01-08-add-force-cache-invalidate-header.md
  src/Core/Framework/Adapter/Cache/CacheInvalidator.php
  src/Core/Framework/DependencyInjection/cache.xml
  src/Core/PlatformRequest.php
  tests/unit/Core/Framework/Adapter/Cache/CacheInvalidatorTest.php
Labels: Domain:Framework

#6009 fix: set correctly collate and charset for generated migrations
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/Dbal/SchemaBuilder.php
  tests/unit/Core/Framework/DataAbstractionLayer/Dbal/SchemaBuilderTest.php
Labels: Domain:Framework

#6003 fix: ignored context change in ProductCartProcessor
  src/Core/Checkout/Cart/CartValueResolver.php
  src/Core/Content/Product/Cart/ProductCartProcessor.php
  tests/integration/Core/Content/Product/Cart/ProductCartProcessorTest.php
Labels: Domain:Checkout

#6197 fix: foreign key of the 1:1 and n:1 association is now using the defi…
  changelog/_unreleased/2025-01-12-fix-foreign-key-definition.md
  src/Core/Framework/DataAbstractionLayer/AttributeEntityCompiler.php
  tests/integration/Core/Framework/DataAbstractionLayer/AttributeEntityIntegrationTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/AttributeEntityAgg.php
Labels: Domain:Framework

#6060 fix: Select fields lazy loading
  src/Administration/Resources/app/administration/src/app/component/entity/sw-category-tree-field/sw-category-tree-field.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-select-result-list/sw-select-result-list.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/sw-text-editor-toolbar/index.js
  src/Administration/Resources/app/administration/src/app/directive/popover.directive.ts
Labels: Administration, Domain:Framework

#6214 fix: force cache invaldiation during test
  src/Core/Framework/Adapter/Cache/CacheInvalidator.php
  src/Core/Framework/DependencyInjection/cache.xml
  tests/unit/Core/Framework/Adapter/Cache/CacheInvalidatorTest.php
Labels: Domain:Framework

#6204 chore: PHPStan baseline cleanup
  phpstan-baseline.neon
  src/Administration/Controller/NotificationController.php
  src/Administration/Notification/Exception/NotificationThrottledException.php
  src/Administration/Notification/NotificationService.php
  src/Administration/Service/AdminSearcher.php
  src/Core/Checkout/Cart/CartException.php
  src/Core/Checkout/Cart/Facade/CartFacadeHookFactory.php
  src/Core/Checkout/Cart/LineItem/Group/Exception/LineItemGroupPackagerNotFoundException.php
  src/Core/Checkout/Cart/LineItem/Group/Exception/LineItemGroupSorterNotFoundException.php
  src/Core/Checkout/Cart/LineItem/Group/LineItemGroupServiceRegistry.php
  src/Core/Checkout/Cart/LineItem/QuantityInformation.php
  src/Core/Checkout/Cart/LineItemFactoryHandler/CreditLineItemFactory.php
  src/Core/Checkout/Cart/LineItemFactoryHandler/CustomLineItemFactory.php
  src/Core/Checkout/Cart/LineItemFactoryHandler/LineItemFactoryInterface.php
  src/Core/Framework/Api/ApiException.php
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/Facade/SalesChannelRepositoryFacadeHookFactory.php
  src/Core/Framework/Script/Exception/HookInjectionException.php
  tests/integration/Core/Checkout/Cart/Facade/CartFacadeTest.php
  tests/unit/Administration/Controller/NotificationControllerTest.php
  tests/unit/Administration/Notification/Exception/NotificationThrottledExceptionTest.php
  tests/unit/Core/Checkout/Cart/LineItem/Group/Exception/LineItemGroupPackagerNotFoundExceptionTest.php
  tests/unit/Core/Checkout/Cart/LineItem/Group/Exception/LineItemGroupSorterNotFoundExceptionTest.php
Labels: Platform(Default), Domain:Checkout

#6218 fix: Updated child order line item quantity on parent quantity change
  changelog/_unreleased/2025-01-13-updated-child-order-line-item-quantity-on-parent-quantity-change.md
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/sw-order-line-items-grid.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/sw-order-line-items-grid.spec.js
Labels: Domain:Checkout

#6171 fix: styling issues for categories page
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar-collapse/sw-sidebar-collapse.html.twig
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar-collapse/sw-sidebar-collapse.scss
  src/Administration/Resources/app/administration/src/app/component/sidebar/sw-sidebar-collapse/sw-sidebar-collapse.spec.js
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree-item/sw-tree-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree-item/sw-tree-item.scss
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-landing-page-detail-base/sw-landing-page-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-landing-page-detail-base/sw-landing-page-detail-base.spec.js
Labels: Status:In-Review

#6046 refactor: Update context languageIdChain types
  changelog/_unreleased/2025-01-07-update-context-language-id-chain-types.md
  src/Core/Content/Category/DataAbstractionLayer/CategoryBreadcrumbUpdater.php
  src/Core/Content/Product/DataAbstractionLayer/SearchKeywordUpdater.php
  src/Core/Content/Seo/SeoUrlUpdater.php
  src/Core/Framework/Context.php
  src/Core/Framework/Routing/ApiRequestContextResolver.php
  src/Core/Framework/Uuid/Uuid.php
  src/Core/System/SalesChannel/Context/BaseContextFactory.php
  src/Core/System/SalesChannel/SalesChannelContext.php
  tests/integration/Core/Content/Product/Repository/ProductRepositoryTest.php
  tests/integration/Core/Content/Product/Subscriber/ProductLoadedSubscriberTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Dbal/EntityReaderTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Dbal/EntitySearcherTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Dbal/EntityHydratorTest.php
  tests/unit/Elasticsearch/Product/SearchConfigLoaderTest.php
Labels: Domain:Framework

#6040 fix: remove message queue error notifications in admin
  changelog/_unreleased/2025-01-07-remove-message-queue-error-notification-in-admin.md
  src/Administration/Resources/app/administration/src/core/worker/admin-notification-worker.js
  src/Administration/Resources/app/administration/src/core/worker/admin-notification-worker.spec.js
  src/Administration/Resources/app/administration/src/meta/baseline.ts
Labels: Domain:Framework

#6047 fix: fixed sw switch field checked value
  src/Administration/Resources/app/administration/src/app/component/form/sw-switch-field/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-switch-field/sw-switch-field.spec.js
  tests/acceptance/tests/Settings/CustomerGroupRegistration.spec.ts
Labels: Domain:Discovery

#5898 test: As a shop customer, I want to get my access back when I forgot my password - email check
  .github/workflows/integration.yml
  tests/acceptance/tests/Account/ForgotPassword.spec.ts
Labels: Acceptance test

#5661 chore: Remove unused administration lighthouse scripts
  src/Administration/Resources/app/administration/createlighthouserc.js
  src/Administration/Resources/app/administration/lighthouse-puppeteer.js
  src/Administration/Resources/app/administration/lighthouse-tests.js
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
Labels: Administration, Domain:Framework

#6058 fix: fix memory leak in tooltip directive
  changelog/_unreleased/2025-01-08-fix-memory-leak-in-tooltip-directive.md
  src/Administration/Resources/app/administration/src/app/directive/tooltip.directive.spec.js
  src/Administration/Resources/app/administration/src/app/directive/tooltip.directive.ts
  src/Administration/Resources/app/administration/src/meta/baseline.ts
Labels: Domain:Framework

#5996 fix: enable first run wizard acceptance test for 6.7
  tests/acceptance/package.json
  tests/acceptance/tests/Settings/RunFirstRunWizard.spec.ts
Labels: Acceptance test

#6026 fix: reset the selectedIds for the app actions buttons correctly on c…
  changelog/_unreleased/2025-01-07-fix-app-action-visibility-behavior.md
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-actions/index.js
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-actions/sw-app-actions.spec.js
Labels: Domain:Framework

#6007 fix: `sw-promotion` module position
  changelog/_unreleased/2025-01-06-fix-sw-promotion-module-position.md
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/index.js
Labels: Domain:Checkout

#6234 feat: added support for string in iap request method
  src/Administration/Resources/app/administration/src/app/store/in-app-purchase-checkout.store.spec.js
  src/Administration/Resources/app/administration/src/app/store/in-app-purchase-checkout.store.ts
Labels: Domain:Checkout

#6063 docs: add adr for composition api conversion codemod
  adr/2024-10-02-vue-2-options-api-to-vue-3-composition-api-conversion-codemod.md
Labels: Domain:Framework

#6054 fix: remove puid collection from usage data entity sync
  src/Core/System/UsageData/EntitySync/DispatchEntitiesQueryBuilder.php
  src/Core/System/UsageData/EntitySync/DispatchEntityMessageHandler.php
  src/Core/System/UsageData/Services/EntityDefinitionService.php
  tests/integration/Core/System/UsageData/EntitySync/DispatchEntityMessageHandlerTest.php
  tests/unit/Core/System/UsageData/EntitySync/DispatchEntitiesQueryBuilderTest.php
  tests/unit/Core/System/UsageData/EntitySync/DispatchEntityMessageHandlerTest.php
  tests/unit/Core/System/UsageData/Services/EntityDefinitionServiceTest.php
Labels: Status:In-Review

#6246 feat: add VAT Reg No required test
  tests/acceptance/tests/Account/CommercialCustomerRegistration.spec.ts
Labels: Acceptance test

#6254 fix: missing custom field on struct element when select category type
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-category-detail-base/sw-category-detail-base.html.twig
Labels: Status:In-Review, Domain:Inventory

#5843 fix: foreign Key Constraint Violation on Save & Publish
  src/Core/Content/Cms/Subscriber/CmsVersionMergeSubscriber.php
  src/Core/Content/DependencyInjection/cms.xml
  src/Core/Framework/DataAbstractionLayer/Event/BeforeVersionMergeEvent.php
  src/Core/Framework/DataAbstractionLayer/VersionManager.php
  tests/integration/Core/Framework/DataAbstractionLayer/VersionManagerTest.php
  tests/unit/Core/Content/Cms/Subscriber/CmsVersionMergeSubscriberTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/VersionManagerTest.php
Labels: Status:In-Review, Domain:Discovery

#5994 feat: lazily load dal entity extensions
  src/Administration/Notification/Extension/IntegrationExtension.php
  src/Administration/Notification/Extension/UserExtension.php
  src/Administration/Notification/NotificationBulkEntityExtension.php
  src/Administration/Resources/config/services.xml
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/ExtensionRegistry.php
  src/Core/Framework/DataAbstractionLayer/FilteredBulkEntityExtension.php
  src/Core/Framework/Framework.php
  src/Core/System/DependencyInjection/CompilerPass/SalesChannelEntityCompilerPass.php
  src/Core/System/DependencyInjection/DependencyInjectionException.php
  tests/integration/Core/Framework/DataAbstractionLayer/EntityExtensionRegisteredTest.php
  tests/integration/Core/System/SalesChannel/Context/CartRestorerTest.php
  tests/unit/Administration/Notification/IntegrationExtensionTest.php
  tests/unit/Administration/Notification/UserExtensionTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/FilteredBulkEntityExtensionTest.php
  tests/unit/Core/System/DependencyInjection/CompilerPass/SalesChannelEntityCompilerPassTest.php
Labels: Domain:Framework

#6236 refactor: increase stable version of spatial features
  changelog/_unreleased/2025-01-14-increase-stable-version-spatial-features.md
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-base-item/index.js
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-base-item/sw-media-base-item.html.twig
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-base-item/sw-media-base-item.scss
  src/Administration/Resources/app/administration/src/app/component/base/sw-product-image/index.js
  src/Administration/Resources/app/administration/src/app/component/base/sw-product-image/sw-product-image.html.twig
  src/Administration/Resources/app/administration/src/app/component/base/sw-product-image/sw-product-image.scss
  src/Administration/Resources/app/administration/src/app/component/form/sw-switch-field-deprecated/sw-switch-field-deprecated.scss
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-sidebar/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-media-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-base/index.js
  src/Core/Content/Cms/Aggregate/CmsBlock/CmsBlockCollection.php
  src/Core/Content/Cms/Aggregate/CmsSection/CmsSectionCollection.php
  src/Core/Content/Media/MediaEntity.php
  src/Core/Content/Media/MediaType/SpatialObjectType.php
  src/Core/Content/Media/TypeDetector/SpatialObjectTypeDetector.php
  src/Storefront/Resources/app/storefront/src/main.js
  src/Storefront/Resources/app/storefront/src/plugin/qrcode/page-qrcode-generator.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/spatial-ar-viewer-plugin.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/spatial-base-viewer.plugin.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/spatial-gallery-slider-viewer.plugin.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/spatial-zoom-gallery-slider-viewer.plugin.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/ar/Overlay.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/ar/WebXrView.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/ar/arSupportChecker.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/ar/iosQuickLook.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/ar/webXr/HitTest.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/ar/webXr/ObjectPlacement.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/ar/webXr/XrLighting.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/composition/spatial-light-composition-util.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/spatial-canvas-size-update-util.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/spatial-movement-note-util.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/spatial-object-loader-util.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/spatial-orbit-controls-util.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/spatial-product-slider-render-util.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/spatial-threejs-load-util.ts
  src/Storefront/Resources/app/storefront/src/plugin/spatial/utils/spatial-zoom-gallery-slider-render-util.ts
  src/Storefront/Resources/app/storefront/src/scss/component/_ar-overlay.scss
  src/Storefront/Resources/app/storefront/src/scss/component/_ar-splash-screen.scss
  src/Storefront/Resources/app/storefront/src/scss/component/_gallery-slider.scss
  src/Storefront/Resources/views/storefront/element/cms-element-image-gallery.html.twig
  src/Storefront/Resources/views/storefront/utilities/ar-overlay.html.twig
  src/Storefront/Resources/views/storefront/utilities/qr-code-modal.html.twig
Labels: Status:In-Review

#6255 feat: add VAT Reg No format test
  tests/acceptance/tests/Account/CommercialCustomerRegistration.spec.ts
Labels: Acceptance test

#6259 fix: Product image is not displayed on product detail page in 6.7
  src/Storefront/Page/Product/ProductPageLoader.php
  tests/unit/Storefront/Page/Product/ProductPageLoaderTest.php
Labels: Status:In-Review

#6239 chore: Stop putting ES scripts which are unused
  src/Elasticsearch/Framework/DataAbstractionLayer/CriteriaParser.php
  src/Elasticsearch/Framework/Indexing/ElasticsearchIndexer.php
  tests/unit/Elasticsearch/Framework/DataAbstractionLayer/CriteriaParserTest.php
Labels: Status:In-Review, Domain:Inventory

#6271 fix: admin missing blocks
  src/Administration/Resources/app/administration/blocks-list.json
Labels: Administration, Domain:Framework

#6253 fix: Don't generate new ID for non PK id fields
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/IdFieldSerializer.php
  src/Core/Framework/Test/DataAbstractionLayer/Field/TestDefinition/NonIdFieldNamePrimaryKeyTestDefinition.php
  tests/integration/Core/Framework/DataAbstractionLayer/Reader/EntityReaderTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/FieldSerializer/IdFieldSerializerTest.php
Labels: Core, Domain:Framework

#6062 fix: deprecate cache id loading for next major
  changelog/_unreleased/2025-01-10-deprecate-cache-id-loading.md
  src/Core/Framework/Adapter/Cache/CacheIdLoader.php
  src/Core/Framework/Adapter/Kernel/KernelFactory.php
  tests/integration/Core/Framework/Cache/CacheIdLoaderTest.php
  tests/unit/Core/Framework/Cache/CacheIdLoaderTest.php
Labels: Domain:Framework

#6279 ci: add phpstan result cache
  .github/workflows/php.yml
Labels: Product Ops, Domain:Framework

#5319 feat: changed autocomplete attribute of honeypot field to new-password to prevent autofill in Firefox
  changelog/_unreleased/2024-10-28-change-autocomplete-to-new-password-in-honeypot.md
  src/Storefront/Resources/views/storefront/component/captcha/honeypot.html.twig
Labels: Storefront, Domain:Framework

#6068 feat: Introduce HydratorClass on AttributeEntity
  .bc-exclude.php
  changelog/_unreleased/2025-01-08-introduce-hydrator-class-attribute-entity.md
  config/services_test.xml
  phpstan.neon.dist
  src/Core/Framework/DataAbstractionLayer/Attribute/Entity.php
  src/Core/Framework/DataAbstractionLayer/AttributeEntityCompiler.php
  src/Core/Framework/DataAbstractionLayer/AttributeEntityDefinition.php
  tests/integration/Core/Framework/Api/fixtures/api-aware-fields.json
  tests/integration/Core/Framework/DataAbstractionLayer/AttributeEntityIntegrationTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/AttributeEntityWithHydrator.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/DummyHydrator.php
  tests/integration/Core/Framework/DataAbstractionLayer/fixture/schema.sql
Labels: Core, Domain:Framework

#5453 feat: use global entity & entity collection types
  changelog/_unreleased/2024-11-12-use-global-entity-and-entity-collection-types.md
  src/Administration/Resources/app/administration/src/app/component/form/sw-dynamic-url-field/index.ts
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/sw-text-editor-link-menu/index.ts
  src/Administration/Resources/app/administration/src/app/component/list/sw-sortable-list/index.ts
  src/Administration/Resources/app/administration/src/app/filter/thumbnail-size.filter.ts
  src/Administration/Resources/app/administration/src/app/init/extension-data-handling.init.ts
  src/Administration/Resources/app/administration/src/app/mixin/discard-detail-page-changes.mixin.ts
  src/Administration/Resources/app/administration/src/app/mixin/placeholder.mixin.ts
  src/Administration/Resources/app/administration/src/app/mixin/position.mixin.ts
  src/Administration/Resources/app/administration/src/app/service/entity-validation.service.ts
  src/Administration/Resources/app/administration/src/app/service/rule-condition.service.ts
  src/Administration/Resources/app/administration/src/core/data/entity-definition.data.ts
  src/Administration/Resources/app/administration/src/core/data/entity-hydrator.data.ts
  src/Administration/Resources/app/administration/src/core/data/entity.data.ts
  src/Administration/Resources/app/administration/src/core/data/repository.data.ts
  src/Administration/Resources/app/administration/src/core/service/support/user-config.class.ts
  src/Administration/Resources/app/administration/src/global.types.ts
  src/Administration/Resources/app/administration/src/module/sw-category/view/sw-category-detail-custom-entity/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-block/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-block/sw-cms-block-config/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-block/sw-cms-block-layout-config/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-create-wizard/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-layout-assignment-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-list-item/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-page-form/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-section/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-section/sw-cms-section-actions/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-section/sw-cms-section-config/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-sidebar/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-sidebar/sw-cms-sidebar-nav-element/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-slot/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-gallery/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/mixin/sw-cms-state.mixin.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/service/cms.service.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/store/cms-page.store.ts
  src/Administration/Resources/app/administration/src/module/sw-custom-entity/component/sw-generic-cms-page-assignment/index.ts
  src/Administration/Resources/app/administration/src/module/sw-custom-entity/component/sw-generic-social-media-card/index.ts
  src/Administration/Resources/app/administration/src/module/sw-custom-entity/page/sw-generic-custom-entity-detail/index.ts
  src/Administration/Resources/app/administration/src/module/sw-custom-entity/page/sw-generic-custom-entity-list/index.ts
  src/Administration/Resources/app/administration/src/module/sw-dashboard/component/sw-dashboard-statistics/index.ts
  src/Administration/Resources/app/administration/src/module/sw-flow/service/flow-builder.service.ts
  src/Administration/Resources/app/administration/src/module/sw-flow/view/listing/sw-flow-list-flow-templates/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-initial-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-options/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-customer-address-select/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-customer-grid/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/order.types.ts
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-create/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/state/order.store.ts
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-details/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/view/sw-order-create-general/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-country/component/sw-settings-country-address-handling/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/page/sw-settings-payment-overview/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/component/sw-settings-tax-provider-sorting-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/page/sw-settings-tax-provider-detail/index.ts
  src/Administration/Resources/app/administration/src/module/sw-settings-units/page/sw-settings-units-detail/index.ts
Labels: Scheduled, Administration, Domain:Framework

#5953 test: prepare upgrade for PHP Unit 11 / PHPStan 2
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/ExtensionRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Migration/NoDropStatementInUpdateRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/ShopwareNamespaceStyleRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/UseCLIContextRule.php
  src/Core/Test/Stub/EventDispatcher/AssertingEventDispatcher.php
  tests/integration/Administration/Controller/AdminProductStreamControllerTest.php
  tests/integration/Administration/Controller/AdminSearchControllerTest.php
  tests/integration/Administration/Controller/AdministrationControllerTest.php
  tests/integration/Administration/Controller/UserConfigControllerTest.php
  tests/integration/Core/System/Tag/Service/FilterTagIdsServiceTest.php
  tests/integration/Storefront/Framework/Cache/HttpCacheIntegrationTest.php
  tests/performance/bench/AbstractBenchCase.php
  tests/performance/bench/Cases/CategoryBench.php
  tests/performance/bench/Cases/ProductBench.php
  tests/performance/bench/Cases/RuleAreaUpdaterBench.php
  tests/performance/bench/Storefront/ProductDetailRouteBench.php
  tests/performance/bench/Storefront/StorefrontSearchBench.php
  tests/unit/Administration/Controller/UserConfigControllerTest.php
  tests/unit/Core/Checkout/Document/Service/ReferenceInvoiceLoaderTest.php
  tests/unit/Core/Checkout/Payment/DataAbstractionLayer/PaymentHandlerIdentifierSubscriberTest.php
  tests/unit/Core/Content/Cms/DataResolver/Element/ElementDataCollectionTest.php
  tests/unit/Core/Content/Newsletter/DataAbstractionLayer/Indexing/CustomerNewsletterSalesChannelsUpdaterTest.php
  tests/unit/Core/Framework/App/Cms/Xml/BlockTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Write/Validation/PostWriteValidationEventTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Write/Validation/PreWriteValidationEventTest.php
Labels: Core, Domain:Framework

#6262 fix: UpdateThumbnailsMessage deserialization
  changelog/_unreleased/2025-01-15-fix-message-deserialization.md
  src/Core/Content/Media/Commands/GenerateThumbnailsCommand.php
  src/Core/Content/Media/Message/UpdateThumbnailsMessage.php
  tests/integration/Core/Content/Media/Command/GenerateThumbnailsCommandTest.php
  tests/integration/Core/Content/Media/Message/GenerateThumbnailsHandlerTest.php
  tests/integration/Core/Content/Media/Message/UpdateThumbnailsMessageTest.php
Labels: Domain:Discovery

#6289 fix: `totalReviewCount` with matrix total
  changelog/_unreleased/2025-01-17-fix-product-review-total.md
  src/Core/Content/Product/SalesChannel/Review/ProductReviewLoader.php
  src/Core/Content/Product/SalesChannel/Review/ProductReviewResult.php
  src/Storefront/Resources/views/storefront/component/review/review-widget.html.twig
  src/Storefront/Resources/views/storefront/component/review/review.html.twig
Labels: Domain:Inventory

#6059 feat: mysql cache tag invalidator storage
  UPGRADE-6.5.md
  UPGRADE-6.6.md
  changelog/_unreleased/2024-12-09-add-mysql-cache-invalidator-storage.md
  changelog/release-6-5-6-0/2023-09-14-collect-cache-invalidations-in-redis.md
  config-schema.json
  phpstan-baseline.neon
  src/Core/Framework/Adapter/Cache/InvalidatorStorage/MySQLInvalidatorStorage.php
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
  src/Core/Framework/DataAbstractionLayer/Doctrine/MultiInsertQueryQueue.php
  src/Core/Framework/DataAbstractionLayer/Doctrine/RetryableQuery.php
  src/Core/Framework/DependencyInjection/cache.xml
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/Migration/V6_6/Migration1733745893createTagStorageTable.php
  tests/integration/Core/Framework/Adapter/Cache/InvalidatorStorage/MySQLInvalidatorStorageTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Doctrine/Doctrine/MultiInsertQueryQueueTest.php
  tests/migration/Core/V6_6/Migration1733745893createTagStorageTableTest.php
Labels: Domain:Framework

#6302 test: Update acceptance-test-suite version
  tests/acceptance/package-lock.json
Labels: Acceptance test

#6301 fix: support image gallery navigation 'none' configurations
  changelog/_unreleased/2025-01-19-fix-image-gallery-navigation-none-configurations.md
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-gallery/component/component.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-gallery/config/config.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-gallery/config/sw-cms-el-config-image-gallery.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-gallery/index.ts
  src/Storefront/Resources/views/storefront/element/cms-element-image-gallery.html.twig
Labels: Domain:Discovery

#6298 feat(storefront): Remove redundant asterisk next to every price
  adr/2025-01-01-remove-asterisk-next-to-every-price.md
  changelog/_unreleased/2025-01-16-remove-the-asterisk-next-to-every-price.md
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/component/buy-widget/buy-widget-price.html.twig
  src/Storefront/Resources/views/storefront/component/checkout/offcanvas-cart-summary.html.twig
  src/Storefront/Resources/views/storefront/component/line-item/element/total-price.html.twig
  src/Storefront/Resources/views/storefront/component/line-item/element/unit-price.html.twig
  src/Storefront/Resources/views/storefront/component/product/block-price.html.twig
  src/Storefront/Resources/views/storefront/component/product/card/price-unit.html.twig
  src/Storefront/Resources/views/storefront/component/product/feature/types/feature-reference-price.html.twig
  src/Storefront/Resources/views/storefront/layout/footer/footer.html.twig
  src/Storefront/Resources/views/storefront/layout/header/actions/cart-widget.html.twig
  src/Storefront/Resources/views/storefront/layout/header/search-suggest.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/summary/summary-position.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/summary/summary-shipping.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/summary/summary-total-rounded.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/summary/summary-total.html.twig
  tests/acceptance/tests/Checkout/CheckoutWithPromotionCode.spec.ts
  tests/acceptance/tests/Checkout/RegisteredUserBuysProduct.spec.ts
  tests/acceptance/tests/Product/ProductAvailabilityWithClearanceSale.spec.ts
  tests/acceptance/tests/Product/ProductWithAdvancedPricingPerQuantity.spec.ts
  tests/acceptance/tests/Product/ProductWithRuleSpecificPrice.spec.ts
  tests/acceptance/tests/Settings/CurrencyRoundingByCountry.spec.ts
Labels: Storefront, accessibility, Domain:Framework

#6324 chore: github format feature is limited to 10 warnings, we need more
  .github/workflows/php.yml
Labels: Domain:Framework

#6323 chore: remove old area mapping from PackageAnnotationRule
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/PackageAnnotationRule.php
  src/Core/Framework/Test/TestCaseBase/DatabaseTransactionBehaviour.php
  tests/integration/Core/Framework/DataAbstractionLayer/VersionManagerTest.php
Labels: Domain:Framework

#6336 fix: breadcrumb API response does not return an object, but an array instead
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/breadcrumb.json
Labels: Core, Domain:Framework

#5901 feat: Make forms accessible - Fixes #5259
  changelog/_unreleased/2024-12-17-refactor-form-handling.md
  src/Storefront/Controller/CaptchaController.php
  src/Storefront/Controller/ErrorController.php
  src/Storefront/Resources/app/storefront/src/helper/form-validation.helper.js
  src/Storefront/Resources/app/storefront/src/main.js
  src/Storefront/Resources/app/storefront/src/plugin/captcha/basic-captcha.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-country-state-select.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-handler.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-scroll-to-invalid-field.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-submit-loader.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/forms/form-validation.plugin.js
  src/Storefront/Resources/app/storefront/src/scss/abstract/variables/_bootstrap.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/component/_form.scss
  src/Storefront/Resources/app/storefront/test/helper/form-validation.helper.test.js
  src/Storefront/Resources/app/storefront/test/main.test.js
  src/Storefront/Resources/app/storefront/test/plugin/captcha/basic-captcha.plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/forms/form-country-state-select.plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/forms/form-handler.plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/forms/form-submit-loader.plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/forms/form-validation.plugin.test.js
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/component/account/login.html.twig
  src/Storefront/Resources/views/storefront/component/account/register.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-editor-modal-create-address.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-form.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-personal-company.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-personal-vat-id.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
  src/Storefront/Resources/views/storefront/component/captcha/basicCaptcha.html.twig
  src/Storefront/Resources/views/storefront/component/captcha/basicCaptchaFields.html.twig
  src/Storefront/Resources/views/storefront/component/captcha/googleReCaptchaV2.html.twig
  src/Storefront/Resources/views/storefront/component/captcha/googleReCaptchaV3.html.twig
  src/Storefront/Resources/views/storefront/component/form/form-checkbox.html.twig
  src/Storefront/Resources/views/storefront/component/form/form-input.html.twig
  src/Storefront/Resources/views/storefront/component/form/form-select-birthday.html.twig
  src/Storefront/Resources/views/storefront/component/form/form-select.html.twig
  src/Storefront/Resources/views/storefront/component/form/form-textarea.html.twig
  src/Storefront/Resources/views/storefront/component/privacy-notice.html.twig
  src/Storefront/Resources/views/storefront/component/review/review-form.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-components/cms-element-form-input.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-components/cms-element-form-privacy.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-components/cms-element-form-select-salutation.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-components/cms-element-form-textarea.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-types/contact-form.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-types/newsletter-form.html.twig
  src/Storefront/Resources/views/storefront/layout/meta.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/create.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/edit.html.twig
  src/Storefront/Resources/views/storefront/page/account/guest-auth.html.twig
  src/Storefront/Resources/views/storefront/page/account/profile/index.html.twig
  src/Storefront/Resources/views/storefront/page/account/profile/personal.html.twig
  src/Storefront/Resources/views/storefront/page/account/profile/recover-password.html.twig
  src/Storefront/Resources/views/storefront/page/account/profile/reset-password.html.twig
  src/Storefront/Resources/views/storefront/utilities/form-validation-config.html.twig
  tests/acceptance/README.md
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
  tests/acceptance/tests/Account/ChangeCustomerCredentials.spec.ts
  tests/acceptance/tests/Account/CommercialCustomerRegistration.spec.ts
Labels: Storefront, accessibility, Domain:Framework

#6069 feat: [A11y-HTML] Mark image as decorative
  changelog/_unreleased/2025-01-08-a11y-html-mark-image-as-decorative.md
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/config.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/sw-cms-el-config-image-slider.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image/config/config.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image/config/sw-cms-el-config-image.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/manufacturer-logo/config/config.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/en-GB.json
  src/Storefront/Resources/views/storefront/element/cms-element-image-slider.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-image.html.twig
Labels: Status:In-Review, Domain:Inventory

#6344 chore: fix wrong feature tag check
  src/Core/Framework/Adapter/AdapterException.php
  tests/unit/Core/Framework/Adapter/AdapterExceptionTest.php
  tests/unit/Core/Framework/Adapter/Filesystem/Plugin/CopyBatchTest.php
Labels: Domain:Framework

#6035 refactor: Improve PaymentMethodIndexer context state usage
  changelog/_unreleased/2025-01-07-improve-payment-method-indexer-context-state-usage.md
  src/Core/Checkout/Payment/DataAbstractionLayer/PaymentMethodIndexer.php
  tests/integration/Core/Checkout/Payment/DataAbstractionLayer/PaymentMethodIndexerTest.php
Labels: Domain:Checkout

#6039 feat: Add rule assignment entities test
  tests/acceptance/tests/Settings/RuleAssignmentsEntities.spec.ts
Labels: Acceptance test

#6327 fix: Use plugin upgrade version, if available, when checking requirements
  changelog/_unreleased/2025-01-20-use-plugin-upgrade-version-to-check-conflicts.md
  src/Core/Framework/Plugin/Requirement/RequirementsValidator.php
  src/Core/Framework/Test/Plugin/Requirement/_fixture/SwagTestValidateConflictsValidOtherPluginDuringUpdateA/composer.json
  src/Core/Framework/Test/Plugin/Requirement/_fixture/SwagTestValidateConflictsValidOtherPluginDuringUpdateB/composer.json
  tests/unit/Core/Framework/Plugin/Requirement/RequirementsValidatorTest.php
Labels: Domain:Framework

#6342 chore: extract domain exception for MigrationCommand
  phpstan-baseline.neon
  src/Core/Framework/Migration/Command/CreateMigrationCommand.php
  src/Core/Framework/Migration/MigrationException.php
  tests/unit/Core/Framework/Migration/Command/CreateMigrationCommandTest.php
  tests/unit/Core/Framework/Migration/MigrationExceptionTest.php
Labels: Domain:Framework

#6284 feat: add guest user register test
  tests/acceptance/tests/Account/CommercialCustomerRegistration.spec.ts
  tests/acceptance/tests/Account/GuestCustomerRegistration.spec.ts
  tests/acceptance/tests/Settings/CustomerGroupRegistration.spec.ts
Labels: Acceptance test

#5950 fix: Consistent JavaScript filename in Storefront
  changelog/_unreleased/2024-12-23-consistent-javascript-filename-in-storefront.md
  src/Storefront/Resources/app/storefront/build/webpack/FilenameToChunkNamePlugin.js
  src/Storefront/Resources/app/storefront/webpack.config.js
  src/Storefront/Resources/views/storefront/layout/meta.html.twig
Labels: Storefront, Domain:Framework

#5930 fix(accessibility): improve accessibility of the product variant switch
  changelog/_unreleased/2024-12-27-improve-accessibility-of-product-variant-switch.md
  src/Storefront/Resources/app/storefront/src/plugin/variant-switch/variant-switch.plugin.js
  src/Storefront/Resources/app/storefront/src/scss/page/product-detail/_configurator.scss
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/component/buy-widget/configurator.html.twig
  src/Storefront/Resources/views/storefront/component/buy-widget/configurator/select.html.twig
  src/Storefront/Resources/views/storefront/page/product-detail/configurator/select.html.twig
  tests/integration/Storefront/Controller/ProductControllerTest.php
Labels: Storefront, accessibility, Domain:Framework

#6361 fix: set the trusted hosts back correctly
  src/Storefront/Framework/SystemCheck/SaleChannelsReadinessCheck.php
  tests/integration/Storefront/Framework/HealthCheck/SaleChannelsReadinessCheckTest.php
Labels: Domain:Framework

#6404 fix(css): remove underlined text from category navigation
  src/Storefront/Resources/app/storefront/src/scss/component/_category-navigation.scss
Labels: Storefront, Domain:Framework

#6328 feat: Added --theme-name option to theme:dump command
  changelog/_unreleased/2025-01-21-added-theme-name-option.md
  src/Storefront/Theme/Command/ThemeDumpCommand.php
  tests/unit/Storefront/Theme/Command/ThemeDumpCommandTest.php
Labels: Domain:Framework

#6368 fix: `EntitySearchResult` entity types
  changelog/_unreleased/2025-01-23-fix-entity-search-result-entity-types.md
  phpstan-baseline.neon
  src/Core/Content/Category/SalesChannel/CategoryRoute.php
  src/Core/Content/Cms/SalesChannel/CmsRoute.php
  src/Core/Content/LandingPage/SalesChannel/LandingPageRoute.php
  src/Core/Content/Product/SalesChannel/Detail/ProductDetailRoute.php
  src/Core/Content/Product/SalesChannel/Listing/ProductListingLoader.php
  src/Core/Content/Seo/SeoUrlGenerator.php
  src/Core/Framework/Api/Serializer/JsonApiEncoder.php
  src/Core/Framework/DataAbstractionLayer/Search/EntitySearchResult.php
  src/Storefront/Page/Maintenance/MaintenancePageLoader.php
  src/Storefront/Page/Navigation/Error/ErrorPageLoader.php
  src/Storefront/Resources/views/storefront/component/product/listing.html.twig
  tests/integration/Core/Content/Product/Api/ProductApiTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Dbal/FieldResolver/ManyToOneAssociationFieldResolverTest.php
  tests/unit/Core/Content/Cms/SalesChannel/CmsRouteTest.php
Labels: Domain:Framework, skip-danger-phpstan-baseline

#6422 test: unskip ProductWithAdvancedPricingPerQuantity.spec.ts
  tests/acceptance/package-lock.json
  tests/acceptance/tests/Product/ProductWithAdvancedPricingPerQuantity.spec.ts
Labels: Acceptance test

#6348 feat: allow node 23
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/meta/meta.spec.js
  src/Administration/Resources/app/administration/webpack.config.js
Labels: Administration, Domain:Framework

#6290 test: unskip ProductImagesInTheStorefront.spec.ts because bug fixed
  tests/acceptance/tests/Product/ProductImagesInTheStorefront.spec.ts
Labels: Acceptance test

#6402 feat: Assertive cart updates for screen reader users
  changelog/_unreleased/2025-01-23-assertive-cart-live-updates.md
  src/Storefront/Resources/app/storefront/src/plugin/offcanvas-cart/offcanvas-cart.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/quantity-selector/quantity-selector.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/quantity-selector/quantity-selector.plugin.test.js
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/component/checkout/offcanvas-cart-summary.html.twig
  src/Storefront/Resources/views/storefront/component/line-item/element/quantity.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/summary.html.twig
Labels: Storefront, accessibility, Domain:Framework

#6292 feat: Introduce ESI for header and footer parts of the page
  .bc-exclude.php
  UPGRADE-6.7.md
  changelog/_unreleased/2025-01-07-introduce-global-template-data-for-language-and-navigation.md
  changelog/_unreleased/2025-01-22-introduce-esi-for-header-and-footer.md
  phpstan-baseline.neon
  src/Core/Content/Category/Cms/CategoryNavigationCmsElementResolver.php
  src/Core/Content/DependencyInjection/category.xml
  src/Core/Test/Generator.php
  src/Storefront/Controller/ErrorController.php
  src/Storefront/Controller/NavigationController.php
  src/Storefront/DependencyInjection/controller.xml
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/Framework/Twig/ErrorTemplateStruct.php
  src/Storefront/Framework/Twig/NavigationInfo.php
  src/Storefront/Framework/Twig/TemplateDataExtension.php
  src/Storefront/Page/GenericPageLoader.php
  src/Storefront/Page/Page.php
  src/Storefront/Pagelet/Footer/FooterPagelet.php
  src/Storefront/Pagelet/Footer/FooterPageletLoader.php
  src/Storefront/Pagelet/Header/HeaderPagelet.php
  src/Storefront/Pagelet/Header/HeaderPageletLoader.php
  src/Storefront/Pagelet/Menu/Offcanvas/MenuOffcanvasPagelet.php
  src/Storefront/Pagelet/Menu/Offcanvas/MenuOffcanvasPageletLoader.php
  src/Storefront/Resources/app/storefront/src/plugin/main-menu/offcanvas-menu.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/main-menu/offcanvas-menu.plugin.test.js
  src/Storefront/Resources/views/storefront/base.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-category-navigation.html.twig
  src/Storefront/Resources/views/storefront/layout/breadcrumb.html.twig
  src/Storefront/Resources/views/storefront/layout/footer.html.twig
  src/Storefront/Resources/views/storefront/layout/footer/footer.html.twig
  src/Storefront/Resources/views/storefront/layout/header.html.twig
  src/Storefront/Resources/views/storefront/layout/header/actions/currency-widget.html.twig
  src/Storefront/Resources/views/storefront/layout/header/actions/language-widget.html.twig
  src/Storefront/Resources/views/storefront/layout/header/top-bar.html.twig
  src/Storefront/Resources/views/storefront/layout/navbar/categories.html.twig
  src/Storefront/Resources/views/storefront/layout/navbar/navbar.html.twig
  src/Storefront/Resources/views/storefront/layout/navigation/active-styling.html.twig
  src/Storefront/Resources/views/storefront/layout/navigation/categories.html.twig
  src/Storefront/Resources/views/storefront/layout/navigation/navigation.html.twig
  src/Storefront/Resources/views/storefront/layout/navigation/offcanvas/categories.html.twig
  src/Storefront/Resources/views/storefront/layout/sidebar/category-navigation.html.twig
  tests/integration/Storefront/Page/ProductPageTest.php
  tests/unit/Core/Content/Category/Cms/CategoryNavigationCmsElementResolverTest.php
  tests/unit/Storefront/Controller/NavigationControllerTest.php
  tests/unit/Storefront/Page/GenericPageLoaderTest.php
  tests/unit/Storefront/Pagelet/Footer/FooterPageletLoaderTest.php
  tests/unit/Storefront/Pagelet/Header/HeaderPageletLoaderTest.php
  tests/unit/Storefront/Pagelet/Menu/Offcanvas/MenuOffcanvasPageletLoaderTest.php
Labels: Storefront, Core, Domain:Framework

#6406 feat: update to doctrine/dbal 4.0 - MultiInsertQueryQueue rework
  src/Core/Framework/DataAbstractionLayer/Doctrine/MultiInsertQueryQueue.php
  tests/unit/Core/Framework/DataAbstractionLayer/Doctrine/MultiInsertQueryQueueTest.php
Labels: Domain:Framework

#6447 fix: use language translation ISO code app system default locale
  src/Core/Framework/App/Lifecycle/AppLifecycle.php
  tests/unit/Core/Framework/App/Lifecycle/AppLifecycleTest.php
Labels: Domain:Framework

#6426 fix: App url change strategies do not consider services
  src/Core/Framework/App/AppUrlChangeResolver/AbstractAppUrlChangeStrategy.php
  src/Core/Framework/App/AppUrlChangeResolver/MoveShopPermanentlyStrategy.php
  src/Core/Framework/App/AppUrlChangeResolver/ReinstallAppsStrategy.php
  src/Core/Framework/DependencyInjection/app.xml
  tests/integration/Core/Framework/App/AppUrlChangeResolver/MoveShopPermanentlyStrategyTest.php
  tests/integration/Core/Framework/App/AppUrlChangeResolver/ReinstallAppsStrategyTest.php
Labels: Domain:Framework

#6432 fix: bump acceptance test suite minor version
  tests/acceptance/package-lock.json
Labels: Acceptance test

#6077 refactor: Improve elasticsearch area search usage
  changelog/_unreleased/2025-01-09-improve-elasticsearch-area-search-usage.md
  phpstan.neon.dist
  src/Elasticsearch/Admin/AdminSearcher.php
  src/Elasticsearch/Admin/Indexer/AbstractAdminIndexer.php
  src/Elasticsearch/Admin/Indexer/CategoryAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/CmsPageAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/CustomerAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/CustomerGroupAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/LandingPageAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/ManufacturerAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/MediaAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/NewsletterRecipientAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/OrderAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/PaymentMethodAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/ProductAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/ProductStreamAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/PromotionAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/PropertyGroupAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/SalesChannelAdminSearchIndexer.php
  src/Elasticsearch/Admin/Indexer/ShippingMethodAdminSearchIndexer.php
  src/Elasticsearch/Framework/ElasticsearchLanguageProvider.php
  src/Elasticsearch/Framework/Indexing/CreateAliasTaskHandler.php
  tests/integration/Elasticsearch/Admin/AdminSearchControllerTest.php
  tests/integration/Elasticsearch/Product/ElasticsearchProductTest.php
  tests/integration/Elasticsearch/Product/ProductSearchQueryBuilderTest.php
Labels: Core, Domain:Framework

#6076 refactor: Improve administration area search usage
  changelog/_unreleased/2025-01-09-improve-administration-area-search-usage.md
  phpstan.neon.dist
  src/Administration/Controller/AdminExtensionApiController.php
  src/Administration/Controller/AdminProductStreamController.php
  src/Administration/Controller/AdministrationController.php
  src/Administration/Controller/UserConfigController.php
  src/Administration/Notification/NotificationService.php
  src/Administration/Snippet/AppAdministrationSnippetPersister.php
  src/Administration/System/SalesChannel/Subscriber/SalesChannelUserConfigSubscriber.php
  tests/integration/Administration/Controller/AdminExtensionApiControllerTest.php
  tests/integration/Administration/Controller/AdministrationControllerTest.php
  tests/integration/Administration/Notification/Repository/NotificationRepositoryTest.php
  tests/integration/Administration/RateLimiter/RateLimiterTest.php
  tests/integration/Administration/Service/AdminSearcherTest.php
  tests/unit/Administration/Controller/AdminExtensionApiControllerTest.php
  tests/unit/Administration/Controller/AdminProductStreamControllerTest.php
  tests/unit/Administration/Controller/AdministrationControllerTest.php
  tests/unit/Administration/Notification/NotificationServiceTest.php
  tests/unit/Administration/Snippet/AppAdministrationSnippetPersisterTest.php
  tests/unit/Administration/System/SalesChannel/Subscriber/SalesChannelUserConfigSubscriberTest.php
Labels: Administration, Core, Domain:Framework

#6464 ci: Fix bc checker, although it is complaining about the wrong class
  .bc-exclude.php
Labels: Domain:Framework

#6295 refactor: Improve storefront area search usage
  changelog/_unreleased/2025-01-17-improve-storefront-area-search-usage.md
  phpstan-baseline.neon
  phpstan.neon.dist
  src/Storefront/Controller/RegisterController.php
  src/Storefront/Framework/Command/SalesChannelCreateStorefrontCommand.php
  src/Storefront/Framework/Cookie/AppCookieProvider.php
  src/Storefront/Theme/Command/ThemeChangeCommand.php
  src/Storefront/Theme/Command/ThemeDumpCommand.php
  src/Storefront/Theme/ConfigLoader/DatabaseConfigLoader.php
  src/Storefront/Theme/DataAbstractionLayer/ThemeIndexer.php
  src/Storefront/Theme/Message/CompileThemeHandler.php
  src/Storefront/Theme/ResolvedConfigLoader.php
  src/Storefront/Theme/Subscriber/AppLifecycleSubscriber.php
  src/Storefront/Theme/Subscriber/FirstRunWizardSubscriber.php
  src/Storefront/Theme/Subscriber/UnusedMediaSubscriber.php
  src/Storefront/Theme/Subscriber/UpdateSubscriber.php
  src/Storefront/Theme/ThemeLifecycleHandler.php
  src/Storefront/Theme/ThemeLifecycleService.php
  src/Storefront/Theme/ThemeService.php
  tests/integration/Storefront/Controller/AddressControllerTest.php
  tests/integration/Storefront/Controller/CheckoutControllerTest.php
  tests/integration/Storefront/Controller/MaintenanceControllerTest.php
  tests/integration/Storefront/Framework/App/AppStateServiceThemeTest.php
  tests/integration/Storefront/Framework/App/TemplateStateServiceTest.php
  tests/integration/Storefront/Framework/Routing/StorefrontRoutingTest.php
  tests/integration/Storefront/Framework/Seo/DataAbstractionLayer/Indexing/SeoUrlIndexerTest.php
  tests/integration/Storefront/Framework/Seo/MainCategory/MainCategoryExtensionTest.php
  tests/integration/Storefront/Framework/Seo/NavigationPageSeoUrlTest.php
  tests/integration/Storefront/Framework/Seo/SeoUrl/SeoUrlTest.php
  tests/integration/Storefront/Framework/Seo/SeoUrlTemplateRepositoryTest.php
  tests/integration/Storefront/Integration/ProductVisibilityTest.php
  tests/integration/Storefront/Page/Account/AccountOrderPageLoaderTest.php
  tests/integration/Storefront/Page/ErrorPageTest.php
  tests/integration/Storefront/Pagelet/HeaderPageletLoaderTest.php
  tests/integration/Storefront/Theme/Command/ThemeChangeCommandTest.php
  tests/integration/Storefront/Theme/ConfigLoader/DatabaseConfigLoaderTest.php
  tests/integration/Storefront/Theme/Subscriber/UpdateSubscriberTest.php
  tests/integration/Storefront/Theme/ThemeLifecycleHandlerTest.php
  tests/integration/Storefront/Theme/ThemeLifecycleServiceTest.php
  tests/unit/Storefront/Framework/Command/SalesChannelCreateStorefrontCommandTest.php
  tests/unit/Storefront/Theme/Command/ThemeDumpCommandTest.php
  tests/unit/Storefront/Theme/Message/CompileThemeHandlerTest.php
  tests/unit/Storefront/Theme/Subscriber/UnusedMediaSubscriberTest.php
  tests/unit/Storefront/Theme/ThemeLifecycleHandlerTest.php
  tests/unit/Storefront/Theme/ThemeServiceTest.php
Labels: Storefront, Core, Domain:Framework, skip-danger-phpstan-baseline

#6463 fix: add abstract annotation to getEntityName
  src/Core/Framework/DataAbstractionLayer/EntityExtension.php
Labels: Domain:Framework

#6297 test: navigation though breadcrumb in storefront menu
  tests/acceptance/.prettierrc
  tests/acceptance/tests/Categories/NavigateThroughStorefrontMenu.spec.ts
Labels: Acceptance test

#6462 fix: use native history API
  changelog/_unreleased/2025-01-28-fix-history-back-for-listing-filters.md
  src/Storefront/Resources/app/storefront/src/plugin/listing/listing.plugin.js
Labels: Storefront, Domain:Framework

#6466 chore: Fix grammar of occurences where something does not exist
  src/Administration/Resources/app/administration/src/app/adapter/view/vue.adapter.spec.js
  src/Administration/Resources/app/administration/src/app/asyncComponent/base/sw-chart/sw-chart.spec.js
  src/Administration/Resources/app/administration/src/app/component/entity/sw-category-tree-field/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-radio-field/index.js
  src/Administration/Resources/app/administration/src/app/component/utils/sw-shortcut-overview-item/sw-shortcut-overview-item.spec.js
  src/Administration/Resources/app/administration/src/app/service/acl.service.spec.js
  src/Administration/Resources/app/administration/src/app/service/privileges.service.spec.js
  src/Administration/Resources/app/administration/src/core/application.ts
  src/Administration/Resources/app/administration/src/core/factory/async-component.factory.spec.js
  src/Administration/Resources/app/administration/src/core/factory/locale.factory.ts
  src/Administration/Resources/app/administration/src/core/service/login.service.spec.js
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-trigger/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-visibility-detail/sw-product-visibility-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/state.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/component/structure/sw-admin-menu-extension/sw-admin-menu-extension.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-create/sw-sales-channel-create.spec.js
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/page/sw-sales-channel-detail/sw-sales-channel-detail.spec.js
  src/Administration/Resources/app/administration/test/_helper_/allowedErrors.js
  src/Core/Content/Sitemap/Service/SitemapHandle.php
  src/Core/Framework/Migration/MigrationRuntime.php
  src/Core/Framework/Migration/MigrationStep.php
  src/Core/Framework/Test/TestCaseBase/AdminApiTestBehaviour.php
  src/Core/System/Locale/LocaleException.php
  src/Core/System/StateMachine/StateMachineException.php
  src/Storefront/Resources/app/storefront/test/helper/dom-access.helper.test.js
  tests/integration/Core/Framework/Plugin/KernelPluginLoader/ComposerPluginLoaderTest.php
  tests/unit/Administration/Snippet/AppAdministrationSnippetPersisterTest.php
  tests/unit/Elasticsearch/Framework/Indexing/IndexCreatorTest.php
Labels: Domain:Framework, skip-danger-phpstan-baseline

#6417 test: checkout acceptance test with different tax rates
  tests/acceptance/tests/Checkout/CheckoutWithDifferentTaxRates.spec.ts
Labels: Acceptance test

#6355 refactor: Send small mail object directly without filesystem access
  changelog/_unreleased/2025-01-22-send-small-mail-object-directly.md
  src/Core/Content/DependencyInjection/mail_template.xml
  src/Core/Content/Mail/MailerConfigurationCompilerPass.php
  src/Core/Content/Mail/Service/MailSender.php
  src/Core/Framework/MessageQueue/Subscriber/MessageQueueSizeRestrictListener.php
  tests/integration/Core/Content/Mail/Service/EmailSenderTest.php
  tests/unit/Core/Content/Mail/Service/MailSenderTest.php
  tests/unit/Core/Framework/MessageQueue/Subscriber/MessageQueueSizeRestrictListenerTest.php
Labels: Domain:Framework

#6471 test: fix flakiness issues in php integration tests
  tests/integration/Core/Framework/DataAbstractionLayer/Dbal/RepositoryIteratorTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/EntityExtensionReadTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Event/EntityLoadedEventFactoryTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Reader/EntityReaderTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Search/Aggregation/Metric/RangeAggregationTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Search/Parser/SqlQueryParserTest.php
  tests/integration/Core/Framework/Plugin/PluginManagementServiceTest.php
Labels: Domain:Framework

#6467 fix: validation of jwt rsa signature
  src/Core/Framework/JWT/Constraints/HasValidRSAJWKSignature.php
  src/Core/Framework/JWT/JWTException.php
  tests/integration/Core/Framework/App/_fixtures/valid-jwks.json
  tests/integration/Core/Framework/Store/InAppPurchaseTest.php
  tests/integration/Core/Framework/Store/InAppPurchases/Services/KeyFetcherTest.php
  tests/integration/Core/Framework/Store/_fixtures/jwks.json
  tests/integration/Core/Framework/Store/_fixtures/jwt.json
  tests/integration/Core/Framework/Store/_fixtures/replacement-jwt.json
  tests/unit/Core/Framework/JWT/Constraints/HasValidRSAJWKSignatureTest.php
  tests/unit/Core/Framework/JWT/_fixtures/invalid-jwks.json
  tests/unit/Core/Framework/JWT/_fixtures/invalid-jwts.json
  tests/unit/Core/Framework/JWT/_fixtures/private.pem
  tests/unit/Core/Framework/JWT/_fixtures/public.pem
  tests/unit/Core/Framework/JWT/_fixtures/valid-jwks.json
  tests/unit/Core/Framework/JWT/_fixtures/valid-jwt.txt
  tests/unit/Core/Framework/Store/InAppPurchases/Services/InAppPurchaseProviderTest.php
  tests/unit/Core/Framework/Store/_fixtures/jwt.json
Labels: Status:In-Review, Domain:Checkout

#6478 chore: Cleanup code in migration domain
  .bc-exclude.php
  phpstan-baseline.neon
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/DomainExceptionRule.php
  src/Core/Framework/DependencyInjection/services.xml
  src/Core/Framework/FrameworkException.php
  src/Core/Framework/Migration/Command/CreateMigrationCommand.php
  src/Core/Framework/Migration/Command/MigrationCommand.php
  src/Core/Framework/Migration/Command/RefreshMigrationCommand.php
  src/Core/Framework/Migration/Exception/InvalidMigrationClassException.php
  src/Core/Framework/Migration/Exception/MigrateException.php
  src/Core/Framework/Migration/IndexerQueuer.php
  src/Core/Framework/Migration/MakeVersionableMigrationHelper.php
  src/Core/Framework/Migration/MigrationCollection.php
  src/Core/Framework/Migration/MigrationCollectionLoader.php
  src/Core/Framework/Migration/MigrationException.php
  src/Core/Framework/Migration/MigrationRuntime.php
  src/Core/Framework/Migration/MigrationSource.php
  src/Core/Framework/Migration/MigrationStep.php
  src/Core/Framework/Migration/Trigger.php
  src/Core/Installer/Database/MigrationCollectionFactory.php
  src/Core/Migration/Traits/StateMachineMigration.php
  src/Core/Migration/Traits/StateMachineMigrationImporter.php
  src/Core/Migration/V6_3/Migration1562933907ContactForm.php
  src/Core/Migration/V6_3/Migration1563180880AddDefaultThumbnailSizes.php
  src/Core/Migration/V6_3/Migration1575293069OrderMailTemplates.php
  src/Core/Migration/V6_3/Migration1578042218DefaultPages.php
  src/Core/Migration/V6_3/Migration1580743279UpdateDeliveryMailTemplates.php
  src/Core/Migration/V6_3/Migration1583142266FixDefaultOrderConfirmationMailTemplateVATDisplay.php
  src/Core/Migration/V6_3/Migration1584002637NewImportExport.php
  src/Core/Migration/V6_3/Migration1584953715UpdateMailTemplatesAfterOrderLink.php
  src/Core/Migration/V6_3/Migration1588143272UpdateOrderStateChangeMailTemplates.php
  src/Core/Migration/V6_3/Migration1588153272UpdateGermanMailTemplates.php
  src/Core/Migration/V6_3/Migration1589379060AddVariantCharacteristicsToEmailTemplates.php
  src/Core/Migration/V6_3/Migration1591253089OrderDeeplinkForMailTemplates.php
  src/Core/Migration/V6_3/Migration1595553089FixOrderConfirmationMailForAllPayloads.php
  src/Core/Migration/V6_3/Migration1596441551CustomerGroupRegistration.php
  src/Core/Migration/V6_4/Migration1612851765MakeCmsVersionable.php
  src/Core/Migration/V6_4/Migration1632721037OrderDocumentMailTemplate.php
  src/Core/Migration/V6_5/Migration1672931011ReviewFormMailTemplate.php
  src/Core/Migration/V6_6/Migration1696515133AddCheckoutGatewayUrl.php
  src/Core/Migration/V6_6/Migration1712309989DropLanguageLocaleUnique.php
  src/Core/Migration/V6_6/Migration1716196653AddTechnicalNameToImportExportProfile.php
  src/Core/Migration/V6_6/Migration1717601705AddIntraCommunityLabelDocumentConfigToStorno.php
  src/Core/Migration/V6_6/Migration1718615305AddEuToCountryTable.php
  src/Core/Migration/V6_6/Migration1718635021AddIntraCommunityLabelDocumentConfigToCreditNote.php
  src/Core/Migration/V6_6/Migration1718658881AddValidationDataToOrderTransaction.php
  src/Core/Migration/V6_6/Migration1720094362AddStateForeignKeyToOrderDelivery.php
  src/Core/Migration/V6_6/Migration1720094363AddStateForeignKeyToOrder.php
  src/Core/Migration/V6_7/Migration1697112044PaymentAndShippingTechnicalNameRequired.php
  src/Core/Migration/V6_7/Migration1720603803RemoveDefaultPaymentMethodFlows.php
  src/Core/Migration/V6_7/Migration1720603803RemoveDefaultPaymentMethodRule.php
  tests/integration/Core/Content/Rule/DataAbstractionLayer/RulePayloadIndexerTest.php
  tests/migration/Core/MigrationCommandTest.php
  tests/migration/Core/MigrationLoaderTest.php
Labels: Domain:Framework

#6314 fix(accessibility): make price labels in cart understandable for screen readers
  changelog/_unreleased/2025-01-28-improve-cart-line-item-prices-for-screen-readers.md
  src/Storefront/Resources/app/storefront/src/scss/component/_line-item.scss
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/component/checkout/offcanvas-cart-summary.html.twig
  src/Storefront/Resources/views/storefront/component/line-item/element/label.html.twig
  src/Storefront/Resources/views/storefront/component/line-item/element/quantity.html.twig
  src/Storefront/Resources/views/storefront/component/line-item/element/total-price.html.twig
  src/Storefront/Resources/views/storefront/component/line-item/element/unit-price.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/cart/index.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/confirm/index.html.twig
Labels: Storefront, accessibility, Domain:Framework

#6196 refactor: Make JIRA issue in changelog:create command optional
  changelog/_unreleased/2025-01-11-make-jira-issue-in-changelog-create-command-optional.md
  phpstan-baseline.neon
  src/Core/Framework/Changelog/ChangelogDefinition.php
  src/Core/Framework/Changelog/Command/ChangelogCreateCommand.php
  tests/integration/Core/Framework/Changelog/_fixture/template/minimal-template-expectation.txt
Labels: Product Ops, skip-danger-phpstan-baseline

#6465 chore: mark Import/Export classes as internal
  changelog/_unreleased/2025-01-29-mark-import-export-internal.md
  src/Core/Content/ImportExport/Event/ImportExportAfterImportRecordEvent.php
  src/Core/Content/ImportExport/Event/ImportExportAfterProcessFinishedEvent.php
  src/Core/Content/ImportExport/ImportExport.php
  src/Core/Content/ImportExport/Message/ImportExportHandler.php
  src/Core/Content/ImportExport/Processing/Pipe/AbstractPipe.php
  src/Core/Content/ImportExport/Processing/Pipe/AbstractPipeFactory.php
  src/Core/Content/ImportExport/Processing/Pipe/ChainPipe.php
  src/Core/Content/ImportExport/Processing/Pipe/EntityPipe.php
  src/Core/Content/ImportExport/Processing/Pipe/KeyMappingPipe.php
  src/Core/Content/ImportExport/Processing/Pipe/PipeFactory.php
  src/Core/Content/ImportExport/Strategy/Import/BatchImportStrategy.php
  src/Core/Content/ImportExport/Strategy/Import/OneByOneImportStrategy.php
  tests/unit/Core/Content/ImportExport/Message/ImportExportHandlerTest.php
  tests/unit/Core/Content/ImportExport/Strategy/Import/BatchImportStrategyTest.php
  tests/unit/Core/Content/ImportExport/Strategy/Import/OneByOneImportStrategyTest.php
Labels: Domain:Fundamentals, skip-danger-phpstan-baseline

#6498 feat: Added skip button to image gallery element
  changelog/_unreleased/2025-01-30-add-skip-image-gallery-button.md
  src/Storefront/Resources/views/storefront/element/cms-element-image-gallery.html.twig
Labels: Storefront, Domain:Framework

#6509 fix: Vite build flex template
  src/Administration/.gitattributes
Labels: Administration, Domain:Framework

#6049 refactor: Replace several CSS header stylings by bootstrap classes
  changelog/_unreleased/2025-01-14-replace-custom-css-declarations-from-the-header-scss-file-by-bootstrap-helper-classes.md
  src/Storefront/Resources/app/storefront/src/scss/layout/_header.scss
  src/Storefront/Resources/views/storefront/layout/header/actions/cart-widget.html.twig
  src/Storefront/Resources/views/storefront/layout/header/header.html.twig
  src/Storefront/Resources/views/storefront/layout/header/logo.html.twig
  src/Storefront/Resources/views/storefront/layout/header/search.html.twig
Labels: Storefront, Domain:Framework

#6493 fix: Allow empty theme config fields
  changelog/_unreleased/2025-01-30-allow-empty-theme-config-fields.md
  src/Storefront/Theme/Event/ThemeCompilerEnrichScssVariablesEvent.php
  src/Storefront/Theme/ThemeCompiler.php
  src/Storefront/Theme/Validator/SCSSValidator.php
  tests/integration/Storefront/Theme/ThemeCompilerTest.php
  tests/unit/Storefront/Theme/ThemeCompilerTest.php
  tests/unit/Storefront/Theme/Validator/SCSSValidatorTest.php
Labels: Storefront, Domain:Framework

#6522 chore(ci): fix ci
  .github/workflows/admin.yml
  .github/workflows/integration.yml
  .github/workflows/storefront.yml
Labels: Incomplete

#6520 fix: allow npm 11 for latest node 20 compatibility
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/meta/meta.spec.js
Labels: Incomplete

#5874 feat: make selection of addresses more handy
  changelog/_unreleased/2024-11-28-new-adresse-selection-modal.md
  phpstan-baseline.neon
  src/Core/Checkout/Customer/SalesChannel/RegisterRoute.php
  src/Core/Checkout/Customer/Validation/AddressValidationFactory.php
  src/Core/Framework/Resources/config/packages/feature.yaml
  src/Storefront/Controller/AddressController.php
  src/Storefront/DependencyInjection/controller.xml
  src/Storefront/Resources/app/storefront/src/main.js
  src/Storefront/Resources/app/storefront/src/plugin/address-editor/address-editor.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/address-manager/address-manager.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/address-search/address-search.plugin.js
  src/Storefront/Resources/app/storefront/src/scss/base.scss
  src/Storefront/Resources/app/storefront/src/scss/component/_address-manager.scss
  src/Storefront/Resources/app/storefront/src/scss/page/account/_address.scss
  src/Storefront/Resources/app/storefront/test/plugin/address-manager/address-manager.plugin.test.js
  src/Storefront/Resources/app/storefront/test/plugin/address-serach/address-search.plugin.test.js
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/component/account/register.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-editor-modal-create-address.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-editor-modal-list.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-editor-modal.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-form.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-manager-item.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-manager-modal-create-address.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-manager-modal-list.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-manager-modal.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
  src/Storefront/Resources/views/storefront/component/address/addresses-base.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/address-item.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/address-manager.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/create.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/edit.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/index.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/confirm/confirm-address.html.twig
  tests/integration/Storefront/Controller/AddressControllerTest.php
  tests/unit/Core/Checkout/Customer/Validation/AddressValidationFactoryTest.php
  tests/unit/Core/Checkout/Customer/Validation/CustomerProfileValidationFactoryTest.php
  tests/unit/Storefront/Controller/AddressControllerTest.php
Labels: Domain:Checkout

#6523 fix: Fix import/export file upload
  src/Administration/Resources/app/administration/src/module/sw-import-export/service/importExport.service.ts
  src/Core/Content/ImportExport/Controller/ImportExportActionController.php
  src/Core/Content/ImportExport/Service/FileService.php
  src/Core/Framework/Adapter/Filesystem/FilesystemFactory.php
Labels: skip-danger-phpstan-baseline
