Repository shopware/shopware, pull requests merged in 2025-09, with the labels that each got.

#12173 feat: Add docx file extension
  changelog/_unreleased/2025-08-28-allow-docx-extension.md
  src/Core/Framework/Resources/config/packages/shopware.yaml
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
Labels: backport-6.6.x, domain/framework

#12174 fix: sso remove slash from token issuer validation
  src/Administration/Login/TokenService/IdTokenParser.php
Labels: domain/crm-after-sales, backport-6.7.2.x, backport-6.7.3.x

#12221 chore: Explicitly requiring `symfony/web-profiler-bundle` in minimal version 7.3.0
  composer.json
  src/Core/composer.json
Labels: domain/framework

#12162 feat(app-system): memoize shop id
  src/Core/Framework/App/ShopId/ShopIdProvider.php
  src/Core/Framework/App/ShopIdChangeResolver/MoveShopPermanentlyStrategy.php
  src/Core/Framework/DependencyInjection/app.xml
  src/Core/Test/AppSystemTestBehaviour.php
  tests/integration/Core/Framework/App/ActionButton/ExecutorTest.php
  tests/integration/Core/Framework/App/AppUrlChangeResolver/MoveShopPermanentlyStrategyTest.php
  tests/integration/Core/Framework/App/AppUrlChangeResolver/ReinstallAppsStrategyTest.php
  tests/integration/Core/Framework/App/AppUrlChangeResolver/UninstallAppsStrategyTest.php
  tests/integration/Core/Framework/App/Lifecycle/Registration/HandshakeFactoryTest.php
  tests/integration/Core/Framework/App/ShopId/ShopIdProviderTest.php
Labels: component/appsystem, domain/framework

#12212 fix: Composer plugins can be removed when in custom/plugins
  changelog/_unreleased/2025-09-01-fix-remove-of-composer-plugins.md
  phpstan-baseline.neon
  src/Core/Framework/DependencyInjection/store.xml
  src/Core/Framework/Plugin/PluginEntity.php
  src/Core/Framework/Plugin/PluginManagementService.php
  src/Core/Framework/Store/Command/StoreDownloadCommand.php
  src/Core/Framework/Store/Services/ExtensionDownloader.php
  src/Core/Framework/Store/Services/ExtensionLoader.php
  tests/unit/Core/Framework/Plugin/PluginManagementServiceTest.php
Labels: component/core, backport-6.6.x, domain/framework, milestone/6.7.3.0

#12224 fix: Media thumbnail generation with null media thumbnail size
  changelog/_unreleased/2025-09-02-fix-media-thumbnail-generation-check-with-null-size.md
  src/Core/Content/Media/Thumbnail/ThumbnailService.php
Labels: domain/discovery, external-contribution, milestone/6.7.3.0

#11888 feat: Language metadata handling
  src/Core/System/DependencyInjection/snippet.xml
  src/Core/System/Resources/translation.yaml
  src/Core/System/Snippet/Command/InstallTranslationCommand.php
  src/Core/System/Snippet/DataTransfer/Metadata/MetadataCollection.php
  src/Core/System/Snippet/DataTransfer/Metadata/MetadataEntry.php
  src/Core/System/Snippet/Service/TranslationConfigLoader.php
  src/Core/System/Snippet/Service/TranslationMetadataLoader.php
  src/Core/System/Snippet/SnippetException.php
  src/Core/System/Snippet/Struct/TranslationConfig.php
  tests/integration/Administration/Snippet/fixtures/translationConfig/translation.yaml
  tests/unit/Administration/Snippet/SnippetFinderTest.php
  tests/unit/Core/System/Snippet/Command/InstallTranslationCommandTest.php
  tests/unit/Core/System/Snippet/DataTransfer/Metadata/MetadataCollectionTest.php
  tests/unit/Core/System/Snippet/DataTransfer/Metadata/MetadataEntryTest.php
  tests/unit/Core/System/Snippet/Files/SnippetFileLoaderTest.php
  tests/unit/Core/System/Snippet/Service/TranslationConfigLoaderTest.php
  tests/unit/Core/System/Snippet/Service/TranslationLoaderTest.php
  tests/unit/Core/System/Snippet/Service/TranslationMetadataLoaderTest.php
  tests/unit/Core/System/Snippet/Service/fixtures/translation.yaml
  tests/unit/Core/System/Snippet/SnippetExceptionTest.php
  tests/unit/Core/System/Snippet/SnippetServiceTest.php
  tests/unit/Core/System/Snippet/Struct/TranslationConfigTest.php
Labels: domain/discovery

#12101 feat: Apply search score as fallback sort criteria on searching
  changelog/_unreleased/2025-08-26-apply-search-score-as-fallback-sort-criteria-on-searching.md
  src/Core/Content/Product/SalesChannel/Listing/Processor/SortingListingProcessor.php
  src/Core/Content/Product/SalesChannel/Sorting/ProductSortingEntity.php
  tests/unit/Core/Content/Product/SalesChannel/Listing/Processor/SortingListingProcessorTest.php
  tests/unit/Core/Content/Product/SalesChannel/Sorting/ProductSortingEntityTest.php
Labels: component/search, domain/inventory

#12109 feat: decouple remote service lifecycle from file fetching
  .bc-exclude.php
  src/Core/Service/AppInfo.php
  src/Core/Service/DependencyInjection/services.xml
  src/Core/Service/Event/ServiceOutdatedEvent.php
  src/Core/Service/ServiceClient.php
  src/Core/Service/ServiceClientFactory.php
  src/Core/Service/ServiceException.php
  src/Core/Service/ServiceRegistry/Client.php
  src/Core/Service/ServiceSourceResolver.php
  src/Core/Service/Subscriber/ServiceOutdatedSubscriber.php
  tests/unit/Core/Service/AppInfoTest.php
  tests/unit/Core/Service/Event/ServiceOutdatedEventTest.php
  tests/unit/Core/Service/ServiceClientTest.php
  tests/unit/Core/Service/ServiceExceptionTest.php
  tests/unit/Core/Service/ServiceLifecycleTest.php
  tests/unit/Core/Service/ServiceRegistry/ClientTest.php
  tests/unit/Core/Service/ServiceSourceResolverTest.php
  tests/unit/Core/Service/Subscriber/ServiceOutdatedSubscriberTest.php
Labels: domain/service-enablement

#12171 feat: add YourProfile test file
  tests/acceptance/package-lock.json
  tests/acceptance/tests/Visual/Administration/FlowBuilder.spec.ts
  tests/acceptance/tests/Visual/Administration/RuleBuilderDetail.spec.ts
  tests/acceptance/tests/Visual/Administration/RuleBuilderDetail.spec.ts-snapshots/Rule-Builder-Detail-Assignments-Modal-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/RuleBuilderDetail.spec.ts-snapshots/Rule-Builder-Detail-Assignments-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/RuleBuilderDetail.spec.ts-snapshots/Rule-Builder-General-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Settings.spec.ts
  tests/acceptance/tests/Visual/Administration/YourProfile.spec.ts
  tests/acceptance/tests/Visual/Administration/YourProfile.spec.ts-snapshots/Your-Profile-General-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/YourProfile.spec.ts-snapshots/Your-Profile-Search-Preferences-Tab-Visual-linux.png
Labels: domain/quality-ops, domain/crm-after-sales

#10529 refactor: Simplify profile personal form template company fields
  changelog/_unreleased/2025-06-14-simplify-personal-company-fields.md
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
  src/Storefront/Resources/views/storefront/page/account/profile/index.html.twig
Labels: domain/checkout, external-contribution

#12249 feat: interpret checkbox custom fields as bool in rules
  changelog/_unreleased/2025-09-02-interpret-checkbox-custom-field-values-as-bool.md
  src/Core/Framework/Rule/CustomFieldRule.php
  tests/unit/Core/Framework/Rule/CustomFieldRuleTest.php
Labels: domain/crm-after-sales, external-contribution, milestone/6.7.3.0

#12205 chore: Enable `disallowedImplicitArrayCreation` phpstan parameter
  src/Core/Checkout/Cart/Delivery/DeliveryProcessor.php
  src/Core/Checkout/Cart/Order/RecalculationService.php
  src/Core/Content/ImportExport/Processing/Pipe/KeyMappingPipe.php
  src/Core/Content/Mail/Subscriber/FailedMessageSubscriber.php
  src/Core/DevOps/StaticAnalyze/PHPStan/common.neon
  src/Core/Framework/Api/ApiDefinition/Generator/BundleSchemaPathCollection.php
  src/Core/Framework/DataAbstractionLayer/AttributeEntityCompiler.php
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
  src/Core/Framework/DataAbstractionLayer/Search/Parser/SqlQueryParser.php
  src/Core/Framework/JWT/Struct/JWKCollection.php
  src/Core/Framework/Plugin/Command/PluginListCommand.php
  src/Core/Framework/Store/InAppPurchase/Services/DecodedPurchasesCollectionStruct.php
  tests/integration/Core/Checkout/Customer/Service/ProductReviewCountServiceTest.php
  tests/integration/Storefront/Framework/Seo/Api/SeoActionControllerTest.php
  tests/unit/Core/Content/Cms/Subscriber/CmsPageDefaultChangeSubscriberTest.php
  tests/unit/Core/Content/Mail/Subscriber/FailedMessageSubscriberTest.php
  tests/unit/Core/Content/Product/SalesChannel/Review/ProductReviewLoaderTest.php
Labels: domain/framework, external-contribution, milestone/6.7.3.0

#12204 chore: Enable several phpstan strict rules
  src/Core/DevOps/StaticAnalyze/PHPStan/common.neon
  src/Core/System/CustomEntity/CustomEntityRegistrar.php
Labels: domain/framework, external-contribution, milestone/6.7.3.0

#12225 fix: document content wrapping (backport)
  changelog/_unreleased/2025-04-08-fix-invoice-empty-pages.md
  changelog/_unreleased/2025-08-01-document-styling.md
  src/Core/Framework/Resources/views/documents/style_base_landscape.css.twig
  src/Core/Framework/Resources/views/documents/style_base_portrait.css.twig
Labels: component/documents, domain/crm-after-sales

#12311 fix: improve tags, update config endpoint OpenAPI schema
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/components/schemas/infoConfigResponse.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/paths/config.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/paths/info.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/paths/message-stats.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/info.json
Labels: component/core, domain/framework, milestone/6.7.3.0

#12198 feat: Add criteria `excludes` property
  .bc-exclude.php
  changelog/_unreleased/2025-08-29-add-criteria-excludes-property.md
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/AdminApi/components/schemas/Criteria.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/parameters/criteria.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/components/schemas/Criteria.json
  src/Core/Framework/Api/Response/Type/Api/JsonApiType.php
  src/Core/Framework/Api/Response/Type/Api/JsonType.php
  src/Core/Framework/Api/Serializer/JsonApiEncoder.php
  src/Core/Framework/Api/Serializer/JsonEntityEncoder.php
  src/Core/Framework/DataAbstractionLayer/Search/Criteria.php
  src/Core/Framework/DataAbstractionLayer/Search/CriteriaArrayConverter.php
  src/Core/Framework/DataAbstractionLayer/Search/RequestCriteriaBuilder.php
  src/Core/Framework/Script/Api/ScriptApiRoute.php
  src/Core/Framework/Script/Api/ScriptStoreApiRoute.php
  src/Core/System/SalesChannel/Api/ResponseFields.php
  src/Core/System/SalesChannel/Api/StoreApiResponseListener.php
  src/Core/System/SalesChannel/SalesChannelException.php
  src/Storefront/Controller/ScriptController.php
  tests/integration/Core/Framework/fixtures/QueryParameterAllowList.php
  tests/unit/Core/Framework/DataAbstractionLayer/Search/RequestCriteriaBuilderTest.php
  tests/unit/Core/System/SalesChannel/Api/ResponseFieldsTest.php
  tests/unit/Core/System/SalesChannel/Api/StoreApiResponseListenerTest.php
  tests/unit/Core/System/SalesChannel/Api/StructEncoderTest.php
Labels: domain/framework, external-contribution

#12332 feat: add visual test for Themes
  tests/acceptance/package-lock.json
  tests/acceptance/tests/Visual/Administration/AdminMenu.spec.ts
  tests/acceptance/tests/Visual/Administration/CategoryDetail.spec.ts
  tests/acceptance/tests/Visual/Administration/Dashboard.spec.ts
  tests/acceptance/tests/Visual/Administration/FlowBuilder.spec.ts
  tests/acceptance/tests/Visual/Administration/OrderDetail.spec.ts
  tests/acceptance/tests/Visual/Administration/ProductDetail.spec.ts
  tests/acceptance/tests/Visual/Administration/RuleBuilderDetail.spec.ts
  tests/acceptance/tests/Visual/Administration/Settings.spec.ts
  tests/acceptance/tests/Visual/Administration/Themes.spec.ts
  tests/acceptance/tests/Visual/Administration/Themes.spec.ts-snapshots/Themes-Detail-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/Themes.spec.ts-snapshots/Themes-Listing-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/YourProfile.spec.ts
Labels: testing/acceptance, domain/quality-ops, milestone/6.7.3.0

#12361 fix: missing product rule filter
  changelog/_unreleased/2025-09-08-fix-missing-promotion-rule-select.md
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/discount/sw-promotion-v2-settings-rule-selection/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/discount/sw-promotion-v2-settings-rule-selection/sw-promotion-v2-settings-rule-selection.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/discount/sw-promotion-v2-settings-trigger/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/discount/sw-promotion-v2-settings-trigger/sw-promotion-v2-settings-trigger.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-discount-component/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-discount-component/sw-promotion-discount-component.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-discount-component/sw-promotion-discount-component.spec.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-v2-cart-condition-form/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-v2-cart-condition-form/sw-promotion-v2-cart-condition-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/view/sw-promotion-v2-conditions/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/view/sw-promotion-v2-conditions/sw-promotion-v2-conditions.html.twig
Labels: domain/checkout, backport-6.7.2.x, milestone/6.7.3.0

#12318 fix: Zugferd invoice BasisQuantity should not be lineitem quantity
  src/Core/Checkout/Document/Zugferd/ZugferdDocument.php
  tests/unit/Core/Checkout/Document/Zugferd/ZugferdBuilderTest.php
  tests/unit/Core/Checkout/Document/Zugferd/ZugferdDocumentTest.php
Labels: domain/crm-after-sales, milestone/6.7.3.0

#12356 chore: add missing assertions in tests of core/framework integration suite
  tests/integration/Core/Framework/Api/Sync/SyncServiceTest.php
  tests/integration/Core/Framework/App/Validation/HookableValidatorTest.php
  tests/integration/Core/Framework/App/Validation/ManifestValidatorTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Version/VersioningTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/Write/EntityWriterTest.php
  tests/integration/Core/Framework/Routing/RouteScopeListenerTest.php
  tests/integration/Core/Framework/Store/Services/ExtensionLifecycleServiceTest.php
  tests/integration/Core/Framework/Store/Services/ExtensionStoreLicensesServiceTest.php
Labels: component/core, domain/framework, milestone/6.7.3.0

#12327 docs: add ux component docs
  src/Storefront/Controller/NavigationController.php
  src/Storefront/Resources/views/components/README.md
  src/Storefront/Resources/views/components/Slot.html.twig
  src/Storefront/Resources/views/components/Sw/Alert.html.twig
  src/Storefront/Resources/views/components/Sw/Button.html.twig
  src/Storefront/Resources/views/components/Sw/Content/Page.html.twig
  src/Storefront/Resources/views/components/Sw/Content/Page.scss
  src/Storefront/Resources/views/components/Sw/Content/Text.html.twig
  src/Storefront/Resources/views/components/Sw/Docs/ComponentDoc.html.twig
  src/Storefront/Resources/views/components/Sw/Docs/ComponentDoc.scss
  src/Storefront/Resources/views/components/Sw/Docs/ComponentDocNamespace.html.twig
  src/Storefront/Resources/views/components/Sw/Docs/ComponentLibrary.html.twig
  src/Storefront/Resources/views/components/Sw/Docs/ComponentLibrary.scss
  src/Storefront/Resources/views/components/Sw/Docs/ComponentNavigation.html.twig
  src/Storefront/Resources/views/components/Sw/Docs/ComponentNavigation.scss
  src/Storefront/Resources/views/components/Sw/Grid/Column.html.twig
  src/Storefront/Resources/views/components/Sw/Grid/Column.scss
  src/Storefront/Resources/views/components/Sw/Grid/Container.html.twig
  src/Storefront/Resources/views/components/Sw/Grid/Container.scss
  src/Storefront/Resources/views/components/Sw/Icon.html.twig
  src/Storefront/Resources/views/components/Sw/Icon.scss
  src/Storefront/Resources/views/components/Sw/Media/Image.html.twig
  src/Storefront/Resources/views/components/Sw/Media/Image.scss
  src/Storefront/Resources/views/components/Sw/Product/Badges.html.twig
  src/Storefront/Resources/views/components/Sw/Product/Card.html.twig
  src/Storefront/Resources/views/components/Sw/Product/CardActions.html.twig
  src/Storefront/Resources/views/components/Sw/Product/CardLoader.html.twig
  src/Storefront/Resources/views/components/Sw/Product/Listing.html.twig
  src/Storefront/Resources/views/components/Sw/Product/PriceDisplay.html.twig
  src/Storefront/Resources/views/components/Sw/Product/ProductCard.scss
  src/Storefront/Resources/views/components/Sw/Product/Variants.html.twig
  src/Storefront/Resources/views/components/Sw/Rating/Stars.html.twig
  src/Storefront/Resources/views/components/slider/slider.html.twig
  src/Storefront/Resources/views/components/slider/slider.js
  src/Storefront/Resources/views/components/slider/slider.scss
  src/Storefront/Resources/views/storefront/component/product/listing.html.twig
  src/Storefront/Resources/views/storefront/page/content/index.html.twig
Labels: component/storefront, domain/framework

#12403 chore: merge back into trunk 6.7.2.1
  CHANGELOG.md
  changelog/release-6-7-2-1/2025-09-04-properly-escape-active-route-params.md
  changelog/release-6-7-2-1/2025-09-08-fix-missing-promotion-rule-select.md
  src/Storefront/Resources/app/storefront/src/helper/form-validation.helper.js
  src/Storefront/Resources/views/storefront/component/feature.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-image-gallery.html.twig
  src/Storefront/Resources/views/storefront/layout/meta.html.twig
  src/Storefront/Resources/views/storefront/page/content/single-cms-page.html.twig
  src/Storefront/Resources/views/storefront/page/error/error-maintenance.html.twig
  src/Storefront/Resources/views/storefront/utilities/form-validation-config.html.twig
  tests/integration/Storefront/Controller/StorefrontControllerTest.php
  tests/unit/Storefront/Theme/Command/ThemeCreateCommandTest.php
Labels: domain/product-ops, milestone/6.7.3.0, backport-6.7.3.x

#12230 feat: allow accessing vite dev server with any host
  src/Administration/Resources/app/administration/vite.config.mts
Labels: component/administration, domain/framework, milestone/6.7.3.0

#12371 fix: provide discount id to discount component card
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-discount-component/sw-promotion-discount-component.html.twig
Labels: component/promotions, priority/low, domain/quality-ops, milestone/6.7.3.0

#12407 fix: contribution typo
  CONTRIBUTING.md
Labels: milestone/6.7.3.0

#11945 fix: Only show folder categories if they have children
  changelog/_unreleased/2025-08-17-only-show-folder-categories-if-they-have-children.md
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-category/snippet/en.json
  src/Storefront/Resources/views/storefront/layout/navbar/navbar.html.twig
  src/Storefront/Resources/views/storefront/layout/navigation/offcanvas/categories.html.twig
  src/Storefront/Resources/views/storefront/layout/navigation/offcanvas/item-link.html.twig
Labels: component/storefront, domain/framework, external-contribution

#12124 fix: Optimize navbar focus and toggle
  changelog/_unreleased/2025-08-27-optimize-navbar-focus-and-toggle.md
  src/Storefront/Resources/app/storefront/src/plugin/navbar/navbar.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/navbar/navbar.plugin.test.js
Labels: component/storefront, domain/framework, external-contribution

#12228 feat: improve languages admin ui resolves #11414
  changelog/_unreleased/2025-09-03-improved-language-settings-ui.md
  src/Administration/Resources/app/administration/src/meta/position-identifiers.json
  src/Administration/Resources/app/administration/src/module/sw-settings-language/page/sw-settings-language-detail/sw-settings-language-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-language/page/sw-settings-language-detail/sw-settings-language-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-language/page/sw-settings-language-detail/sw-settings-language-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-language/page/sw-settings-language-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-language/page/sw-settings-language-list/sw-settings-language-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-language/page/sw-settings-language-list/sw-settings-language-list.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-language/page/sw-settings-language-list/sw-settings-language-list.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-language/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-settings-language/snippet/en.json
Labels: domain/discovery, milestone/6.7.3.0

#12414 test: optimise CartCompressorTest unit test
  tests/unit/Core/Checkout/Cart/CartCompressorTest.php
Labels: domain/checkout, domain/framework, milestone/6.7.3.0

#12500 chore: update releases.json with 6.7.1.0/6.7.2.0
  releases.json
Labels: domain/product-ops, milestone/6.7.3.0

#12238 chore: extract package metadata generation from log processor, also make it public
  src/Core/Framework/Log/Monolog/AnnotatePackageProcessor.php
  src/Core/Framework/Log/PackageService.php
  tests/unit/Core/Framework/Log/Monolog/AnnotatePackageProcessorTest.php
Labels: domain/product-ops, milestone/6.7.3.0

#12392 feat: Ensure ENTITY_NAME constant is implemented in EntityDefinitions
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/NameConstantEntityDefinition.php
  src/Core/DevOps/StaticAnalyze/PHPStan/core-rules.neon
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/NameConstantEntityDefinitionTest.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/NameConstantEntityDefinition/constant-present-but-no-entity-definition.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/NameConstantEntityDefinition/constant-present-in-entity-definition-but-is-not-public.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/NameConstantEntityDefinition/constant-present-in-entity-definition.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/NameConstantEntityDefinition/no-constant-anonymous-class-in-test.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/NameConstantEntityDefinition/no-constant-in-abstract-entity-definition.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/NameConstantEntityDefinition/no-constant-in-attribute-entity.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/NameConstantEntityDefinition/no-constant-in-custom-entity.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/NameConstantEntityDefinition/no-constant-in-entity-definition.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/NameConstantEntityDefinition/no-constant-in-test.php
Labels: component/core, domain/framework, milestone/6.7.3.0

#12531 fix: remove Elasticsearch dependencies in Core namespace
  src/Core/Framework/Api/Controller/SalesChannelProxyController.php
  src/Core/Framework/Context.php
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/System/SalesChannel/Context/SalesChannelContextService.php
  src/Elasticsearch/Framework/DataAbstractionLayer/ElasticsearchEntitySearcher.php
  src/Elasticsearch/TokenQueryBuilder.php
  tests/unit/Core/Framework/DataAbstractionLayer/DataAbstractionLayerExceptionTest.php
  tests/unit/Core/Framework/MessageQueue/ScheduledTask/Registry/TaskRegistryTest.php
  tests/unit/Core/System/SalesChannel/Context/SalesChannelContextServiceTest.php
  tests/unit/Elasticsearch/Framework/DataAbstractionLayer/ElasticsearchEntitySearcherTest.php
  tests/unit/Elasticsearch/TokenQueryBuilderTest.php
Labels: domain/inventory, milestone/6.7.3.0, backport-6.7.3.x

#12460 fix: Elasticsearch indexing when a sales channel lacks the system default language
  changelog/_unreleased/2025-09-11-fix-es-index-language-inheritance-issue.md
  src/Elasticsearch/Product/ElasticsearchProductDefinition.php
  tests/unit/Elasticsearch/Product/ElasticsearchProductDefinitionTest.php
Labels: domain/inventory, milestone/6.7.3.0, backport-6.7.3.x

#12512 fix: product properties inherited
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-properties/sw-product-properties.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-properties/sw-product-properties.scss
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-detail/index.js
Labels: backport-6.6.x, domain/inventory, milestone/6.7.3.0, backport-6.7.3.x

#12542 fix: correct color for active column in product list
  src/Administration/Resources/app/administration/src/module/sw-product/page/sw-product-list/sw-product-list.html.twig
Labels: domain/inventory, milestone/6.7.3.0

#12339 fix: Add check for modal
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/sw-text-editor-toolbar-button/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-text-editor/sw-text-editor-toolbar-button/sw-text-editor-toolbar-button.spec.js
  src/Administration/Resources/app/administration/src/meta/baseline.ts
Labels: domain/discovery

#12457 fix: fix memory leaks in administration
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/app/adapter/view/vue.adapter.spec.js
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-modal-folder-settings/sw-media-modal-folder-settings.spec.js
  src/Administration/Resources/app/administration/src/app/component/media/sw-media-upload-v2/index.js
  src/Administration/Resources/app/administration/src/app/component/structure/sw-admin-menu/index.js
  src/Administration/Resources/app/administration/src/app/component/utils/sw-notification-center/index.js
  src/Administration/Resources/app/administration/src/app/directive/tooltip.directive.ts
  src/Administration/Resources/app/administration/src/core/helper/device.helper.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sw-media-library/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-download-form/sw-product-download-form.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-media-form/sw-product-media-form.html.twig
Labels: component/administration, domain/framework, milestone/6.7.3.0

#12419 chore: Adjust refresh token handling
  src/Administration/Login/LoginException.php
  src/Administration/Login/ShopwareGrantType.php
  src/Administration/Login/ShopwarePasswordGrantType.php
  src/Administration/Login/ShopwareRefreshTokenGrantType.php
  src/Administration/Login/TokenService/ExternalTokenService.php
  src/Administration/Login/TokenService/TokenResult.php
  src/Administration/Login/TokenTimeToLive.php
  src/Administration/Login/UserService/ExternalAuthUser.php
  src/Administration/Login/UserService/UserService.php
  src/Administration/Resources/config/services.xml
  src/Core/Framework/Api/EventListener/Authentication/ApiAuthenticationListener.php
  tests/integration/Administration/Login/Helper/FakeUserInstaller.php
  tests/integration/Administration/Login/Helper/ValidUserServiceCreator.php
  tests/integration/Administration/Login/ShopwarePasswordGrantTypeTest.php
  tests/integration/Administration/Login/UserService/ExternalAuthUserTest.php
  tests/integration/Administration/Login/UserService/ShopwareRefreshTokenGrantTypeTest.php
  tests/integration/Administration/Login/UserService/UserServiceTest.php
  tests/unit/Administration/Login/TokenService/ExternalTokenServiceTest.php
  tests/unit/Administration/Login/TokenTimeToLiveTest.php
Labels: domain/crm-after-sales, milestone/6.7.3.0

#12240 chore: Add language download to installer
  src/Core/Installer/Controller/FinishController.php
  src/Core/Installer/Controller/InstallerController.php
  src/Core/Installer/Controller/ShopConfigurationController.php
  src/Core/Installer/Controller/TranslationController.php
  src/Core/Installer/DependencyInjection/services.xml
  src/Core/Installer/Resources/public/assets/styles/style.css
  src/Core/Installer/Resources/translations/translations/messages.cs.yaml
  src/Core/Installer/Resources/translations/translations/messages.da-DK.yaml
  src/Core/Installer/Resources/translations/translations/messages.de.yaml
  src/Core/Installer/Resources/translations/translations/messages.en-US.yaml
  src/Core/Installer/Resources/translations/translations/messages.en.yaml
  src/Core/Installer/Resources/translations/translations/messages.es-ES.yaml
  src/Core/Installer/Resources/translations/translations/messages.fr.yaml
  src/Core/Installer/Resources/translations/translations/messages.it.yaml
  src/Core/Installer/Resources/translations/translations/messages.nl.yaml
  src/Core/Installer/Resources/translations/translations/messages.no.yaml
  src/Core/Installer/Resources/translations/translations/messages.pl.yaml
  src/Core/Installer/Resources/translations/translations/messages.pt-PT.yaml
  src/Core/Installer/Resources/translations/translations/messages.sv-SE.yaml
  src/Core/Installer/Resources/views/installer/base.html.twig
  src/Core/Installer/Resources/views/installer/finish.html.twig
  src/Core/Installer/Resources/views/installer/shop-configuration.html.twig
  src/Core/Installer/Resources/views/installer/translation.html.twig
  tests/acceptance/tests/Install/Installation.spec.ts
  tests/unit/Core/Installer/Controller/InstallerControllerTestTrait.php
  tests/unit/Core/Installer/Controller/ShopConfigurationControllerTest.php
  tests/unit/Core/Installer/Controller/TranslationControllerTest.php
  tests/unit/Core/Installer/InstallerTest.php
Labels: domain/discovery, milestone/6.7.3.0

#12422 test: customer listing and detail visual
  tests/acceptance/tests/Visual/Administration/CustomerDetail.spec.ts
  tests/acceptance/tests/Visual/Administration/CustomerDetail.spec.ts-snapshots/Detail-Addresses-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/CustomerDetail.spec.ts-snapshots/Detail-General-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/CustomerDetail.spec.ts-snapshots/Detail-Orders-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/CustomerDetail.spec.ts-snapshots/Listing-With-Customer-Visual-linux.png
Labels: domain/quality-ops

#12577 fix: only create install.lock on successful installation
  changelog/_unreleased/2025-09-17-fix-install-lock-creation-on-failure.md
  src/Core/Maintenance/System/Command/SystemInstallCommand.php
  tests/unit/Core/Maintenance/System/Command/SystemInstallCommandTest.php
Labels: Platform(Default), domain/framework, milestone/6.7.3.0

#12565 feat: make string template renderer cache directory configurable
  config-schema.json
  src/Core/Framework/Adapter/Twig/StringTemplateRenderer.php
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/Framework/DependencyInjection/services.xml
  src/Core/Framework/Resources/config/packages/shopware.yaml
Labels: domain/framework, milestone/6.7.3.0

#12592 feat(product-analytics): Add Feature Flag for Product Analytics
  src/Core/Framework/Resources/config/packages/feature.yaml
Labels: component/core, service/data-intelligence, milestone/6.7.3.0

#12532 ci: fix repo name for release
  .github/workflows/05-publish-release.yml
Labels: domain/product-ops, milestone/6.7.3.0

#12605 feat: make APP_ENV toggleable via environment variable
  CONTRIBUTING.md
  compose.yaml
Labels: backport-6.6.x, domain/product-ops, milestone/6.7.3.0

#12095 test: use PHPUnit deprecation expectations in tests
  tests/unit/Core/Framework/Adapter/Twig/TokenParser/FeatureFlagCallTokenParserTest.php
  tests/unit/Core/Framework/FeatureTest.php
Labels: priority/low, Platform(Default), domain/framework

#12497 feat(system): add SHOPWARE_SKIP_WEBINSTALLER env var for read-only filesystems
  changelog/_unreleased/2025-09-12-add-shopware-skip-webinstaller-environment-variable.md
  public/index.php
  src/Core/Maintenance/DependencyInjection/services.xml
  src/Core/Maintenance/System/Command/SystemInstallCommand.php
  tests/unit/Core/Installer/Finish/SystemLockerTest.php
  tests/unit/Core/Maintenance/System/Command/SystemInstallCommandTest.php
Labels: component/installer, Platform(Default), domain/framework

#9135 feat: remove global `controllerName` and `controllerAction` variables from templates
  changelog/_unreleased/2025-05-07-remove-global-controller-name-and-controller-action-from-template.md
  src/Storefront/Framework/Twig/TemplateDataExtension.php
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/analytics-event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/add-to-cart-by-number.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/add-to-cart.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/begin-checkout-on-cart.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/begin-checkout.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/checkout-progress.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/login.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/purchase.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/remove-from-cart.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/search-ajax.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/sign-up.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/view-item-list.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/view-item.event.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/events/view-search-results.js
  src/Storefront/Resources/app/storefront/src/plugin/google-analytics/google-analytics.plugin.js
  src/Storefront/Resources/app/storefront/src/scss/page/checkout/_cart.scss
  src/Storefront/Resources/app/storefront/src/scss/page/checkout/_checkout.scss
  src/Storefront/Resources/app/storefront/src/scss/page/checkout/_confirm.scss
  src/Storefront/Resources/app/storefront/src/scss/page/checkout/_finish.scss
  src/Storefront/Resources/app/storefront/src/scss/page/checkout/_register.scss
  src/Storefront/Resources/views/storefront/base.html.twig
  src/Storefront/Resources/views/storefront/component/analytics.html.twig
  src/Storefront/Resources/views/storefront/component/line-item/type/product.html.twig
  src/Storefront/Resources/views/storefront/page/content/single-cms-page.html.twig
  src/Storefront/Resources/views/storefront/page/error/error-maintenance.html.twig
Labels: component/storefront, priority/low, Platform(Default), domain/framework

#12615 feat: warn in rules when DPG indexing is disabled
  changelog/_unreleased/2025-09-19-warn-in-rules-when-dpg-indexing-is-disabled.md
  src/Administration/Controller/AdministrationController.php
  src/Administration/Resources/app/administration/index.html
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/constant/sw-settings-rule.constant.js
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/constant/sw-settings-rule.constant.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/snippet/en.json
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/view/sw-settings-rule-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/view/sw-settings-rule-detail-base/sw-settings-rule-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/view/sw-settings-rule-detail-base/sw-settings-rule-detail-base.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/view/sw-settings-rule-detail-base/sw-settings-rule-detail-base.spec.js
  src/Administration/Resources/views/administration/index.html.twig
  tests/unit/Administration/Controller/AdministrationControllerTest.php
Labels: component/rulebuilder, domain/crm-after-sales, milestone/6.7.3.0

#12394 fix(admin): Correct line-height for sw-field labels
  changelog/_unreleased/2025-09-08-adjust-line-height-of-sw-label-to-match-the-mt-label-line-height.md
  src/Administration/Resources/app/administration/src/app/component/form/field-base/sw-base-field/sw-base-field.scss
Labels: component/administration, domain/framework, external-contribution, milestone/6.7.3.0

#12589 fix: credit notes list credit items cumulatively
  src/Core/Checkout/Document/Renderer/CreditNoteRenderer.php
  tests/integration/Core/Checkout/Document/DocumentControllerTest.php
  tests/integration/Core/Checkout/Document/DocumentGeneratorControllerTest.php
  tests/integration/Core/Checkout/Document/Renderer/CreditNoteRendererTest.php
  tests/integration/Core/Checkout/Document/Renderer/InvoiceRendererTest.php
  tests/unit/Core/Checkout/Document/Renderer/CreditNoteRendererTest.php
Labels: component/documents, domain/crm-after-sales, milestone/6.7.3.0

#12668 fix: original values for color functions in SCSS Validator
  changelog/_unreleased/2025-09-24-fix-scss-validaor-to-save-color-functions.md
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-detail/index.js
  src/Storefront/Theme/Validator/SCSSValidator.php
  tests/unit/Storefront/Theme/ThemeServiceTest.php
  tests/unit/Storefront/Theme/Validator/SCSSValidatorTest.php
Labels: component/storefront, backport-6.6.x, domain/framework, milestone/6.7.3.0

#12606 fix: Localise language selection in installer
  src/Core/Installer/Controller/ShopConfigurationController.php
  src/Core/Installer/Controller/TranslationController.php
  src/Core/Installer/Resources/translations/translations/messages.cs.yaml
  src/Core/Installer/Resources/translations/translations/messages.da-DK.yaml
  src/Core/Installer/Resources/translations/translations/messages.de.yaml
  src/Core/Installer/Resources/translations/translations/messages.en-US.yaml
  src/Core/Installer/Resources/translations/translations/messages.en.yaml
  src/Core/Installer/Resources/translations/translations/messages.es-ES.yaml
  src/Core/Installer/Resources/translations/translations/messages.fr.yaml
  src/Core/Installer/Resources/translations/translations/messages.it.yaml
  src/Core/Installer/Resources/translations/translations/messages.nl.yaml
  src/Core/Installer/Resources/translations/translations/messages.no.yaml
  src/Core/Installer/Resources/translations/translations/messages.pl.yaml
  src/Core/Installer/Resources/translations/translations/messages.pt-PT.yaml
  src/Core/Installer/Resources/translations/translations/messages.sv-SE.yaml
  src/Core/Installer/Resources/views/installer/shop-configuration.html.twig
  tests/unit/Core/Installer/Controller/ShopConfigurationControllerTest.php
Labels: domain/discovery, milestone/6.7.3.0

#12039 feat: allow disabling search info in api response
  phpstan-baseline.neon
  src/Core/Content/Product/SalesChannel/Listing/ProductListingLoader.php
  src/Core/Framework/Api/ApiDefinition/Generator/OpenApi/OpenApiPathBuilder.php
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/account.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/category.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/cms.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/country-state.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/country.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/currency.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/customer.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/document.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/landing-page.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/language.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/navigation.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/order.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/payment-method.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/product-listing.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/product.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/salutation.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/search-suggest.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/search.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/seo-url.json
  src/Core/Framework/Api/ApiDefinition/Generator/Schema/StoreApi/paths/shipping-method.json
  src/Core/Framework/Api/Serializer/JsonEntityEncoder.php
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/EntityRepository.php
  src/Core/Framework/DataAbstractionLayer/Search/Criteria.php
  src/Core/Framework/DataAbstractionLayer/Search/RequestCriteriaBuilder.php
  src/Core/Framework/Test/Webhook/_fixtures/BusinessEvents/ArrayBusinessEvent.php
  src/Core/Framework/Test/Webhook/_fixtures/BusinessEvents/CollectionBusinessEvent.php
  src/Core/Framework/Test/Webhook/_fixtures/BusinessEvents/EntityBusinessEvent.php
  src/Core/Framework/Test/Webhook/_fixtures/BusinessEvents/NestedEntityBusinessEvent.php
  src/Core/PlatformRequest.php
  src/Core/System/SalesChannel/Entity/SalesChannelRepository.php
  tests/integration/Core/Framework/Api/Serializer/JsonEntityEncoderTest.php
  tests/integration/Core/Framework/Api/Serializer/fixtures/TestBasicStruct.php
  tests/integration/Core/Framework/Api/Serializer/fixtures/TestBasicWithToManyRelationships.php
  tests/integration/Core/Framework/Api/Serializer/fixtures/TestBasicWithToOneRelationship.php
  tests/integration/Core/Framework/Api/Serializer/fixtures/TestCollectionWithSelfReference.php
  tests/integration/Core/Framework/Api/Serializer/fixtures/TestCollectionWithToOneRelationship.php
  tests/integration/Core/Framework/Api/Serializer/fixtures/TestInternalFieldsAreFiltered.php
  tests/integration/Core/Framework/Api/Serializer/fixtures/TestMainResourceShouldNotBeInIncluded.php
  tests/unit/Core/Framework/DataAbstractionLayer/EntityRepositoryTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Search/RequestCriteriaBuilderTest.php
Labels: component/core, domain/framework

#12644 feat: Component Library for Twig UX Components
  composer.json
  src/Storefront/Controller/StorybookController.php
  src/Storefront/Controller/UxComponentLibraryController.php
  src/Storefront/DependencyInjection/controller.xml
  src/Storefront/DependencyInjection/services.xml
  src/Storefront/Framework/Routing/RequestTransformer.php
  src/Storefront/Framework/Routing/StorybookRouteScopeWhitelist.php
  src/Storefront/Resources/.gitignore
  src/Storefront/Resources/app/storefront/.eslintrc.js
  src/Storefront/Resources/app/storefront/.storybook/addons/slots-addon/SlotsPanel.ts
  src/Storefront/Resources/app/storefront/.storybook/addons/slots-addon/register.ts
  src/Storefront/Resources/app/storefront/.storybook/addons/template-addon/TemplatePanel.ts
  src/Storefront/Resources/app/storefront/.storybook/addons/template-addon/register.ts
  src/Storefront/Resources/app/storefront/.storybook/custom-controls.css
  src/Storefront/Resources/app/storefront/.storybook/main.ts
  src/Storefront/Resources/app/storefront/.storybook/manager.ts
  src/Storefront/Resources/app/storefront/.storybook/preview.ts
  src/Storefront/Resources/app/storefront/package-lock.json
  src/Storefront/Resources/app/storefront/package.json
  src/Storefront/Resources/app/storefront/tsconfig.json
  src/Storefront/Resources/views/components/Sw/Alert.stories.json
  src/Storefront/Resources/views/components/Sw/Button.stories.json
  src/Storefront/Resources/views/components/Sw/Docs/ComponentDoc.html.twig
  src/Storefront/Resources/views/components/Sw/Docs/ComponentDoc.scss
  src/Storefront/Resources/views/components/Sw/Docs/ComponentDocNamespace.html.twig
  src/Storefront/Resources/views/components/Sw/Docs/ComponentLibrary.html.twig
  src/Storefront/Resources/views/components/Sw/Docs/ComponentLibrary.scss
  src/Storefront/Resources/views/components/Sw/Docs/ComponentNavigation.html.twig
  src/Storefront/Resources/views/components/Sw/Docs/ComponentNavigation.scss
  src/Storefront/Resources/views/components/Sw/Icon.stories.json
  src/Storefront/Resources/views/components/Sw/Media/Image.stories.json
  src/Storefront/Resources/views/components/Sw/Product/Card.stories.json
  src/Storefront/Resources/views/components/Sw/Rating/Stars.stories.json
Labels: component/storefront, domain/framework

#12692 chore: Fix login
  src/Core/Framework/Sso/UserService/UserService.php
Labels: domain/crm-after-sales, milestone/6.7.3.0, backport-6.7.3.x

#12653 feat: custom exception for missing route
  src/Core/Framework/Resources/config/packages/framework.yaml
  src/Storefront/Controller/Exception/StorefrontException.php
  src/Storefront/Controller/Exception/StorefrontRouteNotFoundException.php
  src/Storefront/Controller/StorefrontController.php
  tests/unit/Storefront/Controller/StorefrontControllerTest.php
Labels: domain/checkout, milestone/6.7.3.0

#12639 fix: Add missing refreshTokenTtl context field to administration template
  changelog/_unreleased/2025-09-23-add-missing-refresh-token-ttl-to-admin-template.md
  src/Administration/Resources/views/administration/index.html.twig
Labels: component/administration, domain/framework, external-contribution, milestone/6.7.3.0

#12676 fix: default shipping address should reset on cart deletion
  changelog/_unreleased/2025-09-25-fix-default-shipping-billing-address-reset-on-cart-deletion.md
  src/Core/Checkout/Cart/Subscriber/CartOrderEventSubscriber.php
  src/Core/Checkout/DependencyInjection/cart.xml
  tests/integration/Core/Checkout/Cart/Subscriber/CartOrderEventSubscriberTest.php
  tests/unit/Core/Checkout/Cart/Subscriber/CartOrderEventSubscriberTest.php
Labels: domain/checkout, milestone/6.7.3.0

#12695 fix: Add correct mapping for en-GB and de-DE
  src/Core/System/Snippet/SnippetService.php
Labels: domain/discovery

#12712 fix: Fix base_url validation
  src/Core/Framework/Sso/TokenService/IdTokenParser.php
  tests/unit/Core/Framework/Sso/TokenService/IdTokenParserTest.php
Labels: domain/crm-after-sales, milestone/6.7.3.0, backport-6.7.3.x

#12510 fix: promotion discount entity property initialization error in shopping cart
  .bc-exclude.php
  changelog/_unreleased/2025-09-15-fix-promotion-discount-entity-property-initialization-error.md
  src/Core/Checkout/Promotion/Aggregate/PromotionDiscount/PromotionDiscountEntity.php
  tests/integration/Core/Checkout/Promotion/Cart/PromotionProcessorTest.php
Labels: domain/checkout, backport-6.7.2.x, milestone/6.7.3.0

#11826 fix: Deleting properties fails without error popup when property values are still in use
  changelog/_unreleased/2025-08-08-deleting-properties-fails-without-error-popup-when-property-values-are-still-in-use.md
  src/Administration/Resources/app/administration/src/module/sw-property/page/sw-property-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-property/page/sw-property-list/sw-property-list.spec.js
  src/Administration/Resources/app/administration/src/module/sw-property/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-property/snippet/en.json
Labels: domain/inventory

#12717 fix: typo in select sales channel alert
  src/Administration/Resources/app/administration/src/module/sw-order/snippet/en.json
Labels: domain/checkout, milestone/6.7.3.0

#12723 refactor: Remove not needed shipping detail SCSS
  changelog/_unreleased/2025-09-27-remove-not-needed-shipping-detail-admin-scss.md
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/page/sw-settings-shipping-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/page/sw-settings-shipping-detail/sw-settings-shipping-detail.scss
Labels: domain/checkout, external-contribution, milestone/6.7.3.0

#12715 fix: Ensure cache events produce same hash
  .bc-exclude.php
  src/Core/Framework/Adapter/Cache/Event/HttpCacheCookieEvent.php
  src/Core/Framework/Adapter/Cache/Event/HttpCacheKeyEvent.php
  tests/unit/Core/Framework/Adapter/Cache/Http/CacheResponseSubscriberTest.php
  tests/unit/Core/Framework/Adapter/Cache/HttpCacheKeyGeneratorTest.php
Labels: component/core, backport-6.6.x, domain/framework, milestone/6.7.3.0

#12679 fix: validate custom field name
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-detail/sw-custom-field-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-detail/sw-custom-field-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-detail/sw-custom-field-detail.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-list/sw-custom-field-list.spec.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-set-detail-base/sw-custom-field-set-detail-base.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/snippet/de.json
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/snippet/en.json
  src/Core/System/CustomField/CustomFieldException.php
  tests/unit/Core/System/CustomField/CustomFieldExceptionTest.php
Labels: component/customfields, domain/crm-after-sales, milestone/6.7.3.0

#12626 test: visual test for product list layout
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
  tests/acceptance/tests/Visual/Administration/ProductListLayout.spec.ts
  tests/acceptance/tests/Visual/Administration/ProductListLayout.spec.ts-snapshots/Layout-Create-Layout-Name-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductListLayout.spec.ts-snapshots/Layout-Create-Page-Types-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductListLayout.spec.ts-snapshots/Layout-Create-Section-Types-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductListLayout.spec.ts-snapshots/Layout-Detail-Blocks-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductListLayout.spec.ts-snapshots/Layout-Detail-Layout-Assignment-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductListLayout.spec.ts-snapshots/Layout-Detail-Navigator-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductListLayout.spec.ts-snapshots/Layout-Detail-Settings-Tab-Visual-linux.png
  tests/acceptance/tests/Visual/Administration/ProductListLayout.spec.ts-snapshots/Layout-Listing-Visual-linux.png
Labels: domain/quality-ops, milestone/6.7.3.0

#12405 feat(demodata): add sales channel domain to have language switch
  src/Core/Framework/Demodata/Command/DemodataCommand.php
  src/Core/Framework/Demodata/Generator/SalesChannelDomainGenerator.php
  src/Core/Framework/DependencyInjection/demodata.xml
Labels: component/storefront, component/core, domain/framework, milestone/6.7.3.0

#12760 test: remove skipping for rule test
  tests/acceptance/tests/Settings/RuleAssignments.spec.ts
Labels: domain/checkout, backport-6.7.3.x, milestone/6.7.4.0

#12698 chore: Added PHPStan rule to forbid update statements in executeQuery…
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/NoUpdatesInExecuteQueryRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/rules.neon
  src/Core/Framework/App/Lifecycle/Persister/WebhookPersister.php
  src/Core/Framework/MessageQueue/Stats/MySQLStatsRepository.php
  src/Core/Installer/Database/BlueGreenDeploymentService.php
  src/Core/Migration/V6_4/Migration1616076922AppPaymentMethod.php
  src/Core/Migration/V6_5/Migration1688556247FixCoverMediaVersionID.php
  src/Core/Migration/V6_5/Migration1692279790AppShippingMethod.php
  src/Core/Migration/V6_5/Migration1697462064FixMediaPath.php
  src/Core/Migration/V6_5/Migration1697532722FixADInMediaPath.php
  src/Core/Migration/V6_6/Migration1717601705AddIntraCommunityLabelDocumentConfigToStorno.php
  src/Core/Migration/V6_6/Migration1718635021AddIntraCommunityLabelDocumentConfigToCreditNote.php
  src/Core/Migration/V6_6/Migration1732608755MigrateNavigationSettingsForProductSlider.php
  src/Core/Migration/V6_6/Migration1736831335AddGenerateDocumentTypesForDocumentConfig.php
  src/Core/Migration/V6_7/Migration1740321707SetAutoplayTimeoutAndSpeedSettingsForProductSlider.php
  tests/integration/Core/Framework/Sso/Helper/FakeUserInstaller.php
  tests/integration/Core/System/UsageData/EntitySync/DispatchEntityMessageHandlerTest.php
  tests/unit/Core/Installer/Database/BlueGreenDeploymentServiceTest.php
Labels: domain/framework, milestone/6.7.3.0

#12773 docs: rename platform.sh to Upsun
  adr/2023-01-10-atomic-theme-compilation.md
Labels: domain/product-ops, milestone/6.7.4.0

#12754 chore(product-analytics): Add amplitude/sdk
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
Labels: component/administration, domain/service-enablement, domain/framework, milestone/6.7.4.0
