Repository shopware/shopware, pull requests merged in 2025-03, with the labels that each got.

#7174 chore: Refactor migration compiler passes
  src/Administration/DependencyInjection/AdministrationMigrationCompilerPass.php
  src/Core/Framework/DependencyInjection/CompilerPass/AbstractMigrationReplacementCompilerPass.php
  src/Core/Framework/DependencyInjection/CompilerPass/FrameworkMigrationReplacementCompilerPass.php
  src/Elasticsearch/DependencyInjection/ElasticsearchMigrationCompilerPass.php
  src/Storefront/DependencyInjection/StorefrontMigrationReplacementCompilerPass.php
Labels: component/core, Domain:Framework

#7096 fix: Filter rating plugin label issue
  src/Storefront/Resources/app/storefront/src/plugin/listing/filter-rating-select.plugin.js
Labels: component/storefront, Domain:Framework

#7158 fix: Double form submit from reCaptcha plugin
  changelog/_unreleased/2025-02-28-fix-google-recaptcha-with-guest-orders.md
  src/Storefront/Resources/app/storefront/src/plugin/captcha/google-re-captcha/google-re-captcha-base.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/captcha/google-re-captcha/google-re-captcha-v2.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/captcha/google-re-captcha/google-re-captcha-base.plugin.test.js
Labels: component/storefront, Domain:Framework, backport-6.6.10.0

#7167 fix: Add aria labels to product slider controls
  changelog/_unreleased/2025-02-28-add-aria-labels-to-product-slider-controls.md
  src/Storefront/Resources/views/storefront/element/cms-element-product-slider.html.twig
Labels: Domain:Discovery

#7227 fix: freeze redocly version
  .github/workflows/php.yml
Labels: Platform(Default)

#7175 ci: Move blue green check script to GitHub directory
  .github/bin/blue-green-check.php
Labels: component/core, Domain:Framework, backport-6.6.x

#6817 fix: ProductStreamUpdater performance issues / behavior
  changelog/_unreleased/2025-02-14-fix-product-stream-updater-performance-issues.md
  phpstan-baseline.neon
  src/Core/Content/Product/DataAbstractionLayer/ProductStreamUpdater.php
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/Indexing/ManyToManyIdFieldUpdater.php
  src/Core/Profiling/Resources/views/Collector/db.html.twig
  tests/unit/Core/Content/Product/DataAbstractionLayer/ProductStreamUpdaterTest.php
Labels: component/core, Domain:Framework

#7229 test: Skip advanced pricing and rule assignment tests
  tests/acceptance/tests/Product/ProductWithAdvancedPricingPerQuantity.spec.ts
  tests/acceptance/tests/Settings/RuleAssignments.spec.ts
Labels: needs-triage

#7198 fix: missing welcome message
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/sw-dashboard-index.spec.js
Labels: component/administration, Domain:Framework

#7234 ci: use one worker for ats again
  .github/workflows/integration.yml
Labels: needs-triage

#6194 refactor: Increase account content width on the XL viewport
  changelog/_unreleased/2025-01-11-increase-account-main-content-width-on-xl-viewport.md
  src/Storefront/Resources/views/storefront/page/account/_page.html.twig
Labels: Domain:Checkout

#7233 fix: update 6.7 upgrade doc
  UPGRADE-6.7.md
Labels: component/administration, Domain:Framework

#7231 fix: Accessibility of keyboard navigation on mobile
  changelog/_unreleased/2025-03-04-accessibility-via-mobile-keyboard-navigation.md
  src/Storefront/Resources/app/storefront/src/plugin/header/search-widget.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/offcanvas/offcanvas.plugin.js
Labels: component/storefront, Domain:Framework, backport-6.6.x, accessibility

#7188 refactor(cms): improve Definition field collections
  src/Core/Content/Cms/Aggregate/CmsBlock/CmsBlockDefinition.php
  src/Core/Content/Cms/Aggregate/CmsSection/CmsSectionDefinition.php
  src/Core/Content/Cms/Aggregate/CmsSlot/CmsSlotDefinition.php
Labels: Domain:Discovery

#7196 fix: Ignore tables with enums in definition validator as DBAL 3.x does not support enums
  src/Core/Framework/DataAbstractionLayer/DefinitionValidator.php
Labels: component/core, Domain:Framework

#7130 fix: issues with sw-entity-multiselect collapse and expand when there are multiple instances
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-select-base/sw-select-base.html.twig
Labels: component/administration, Status:In-Progress, Domain:Framework

#7145 fix: skip app template loading when DISABLED_EXTENSIONS is set
  changelog/_unreleased/2025-02-27-exclude-app-namespaces-if-disable_extensions_set.md
  src/Core/Framework/Adapter/Twig/NamespaceHierarchy/BundleHierarchyBuilder.php
  tests/integration/Core/Framework/Adapter/Twig/NamespaceHierarchy/BundleHierarchyBuilderTest.php
Labels: component/core, Domain:Framework

#7183 fix: remove unnecessary assertion in order conversion process
  src/Core/Checkout/Cart/Order/OrderConverter.php
  tests/unit/Core/Checkout/Cart/Order/OrderConverterTest.php
Labels: Domain:Checkout

#6885 chore: NEXT-40616 - undeprecate onlyAvailable flag
  UPGRADE-6.8.md
  src/Core/Checkout/DependencyInjection/payment.xml
  src/Core/Checkout/DependencyInjection/shipping.xml
  src/Core/Checkout/Gateway/SalesChannel/CheckoutGatewayRoute.php
  src/Core/Checkout/Payment/Hook/PaymentMethodRouteHook.php
  src/Core/Checkout/Payment/PaymentMethodCollection.php
  src/Core/Checkout/Payment/SalesChannel/PaymentMethodRoute.php
  src/Core/Checkout/Shipping/Hook/ShippingMethodRouteHook.php
  src/Core/Checkout/Shipping/SalesChannel/ShippingMethodRoute.php
  src/Core/Checkout/Shipping/ShippingMethodCollection.php
  src/Core/DevOps/Resources/generated/script-hooks-reference.md
  src/Storefront/Checkout/Payment/BlockedPaymentMethodSwitcher.php
  src/Storefront/Checkout/Shipping/BlockedShippingMethodSwitcher.php
  src/Storefront/Page/Account/Order/AccountEditOrderPageLoader.php
  src/Storefront/Page/Checkout/Offcanvas/OffcanvasCartPageLoader.php
  tests/unit/Core/Checkout/Gateway/SalesChannel/CheckoutGatewayRouteTest.php
  tests/unit/Core/Checkout/Shipping/Hook/ShippingMethodRouteHookTest.php
  tests/unit/Core/Checkout/Shipping/SalesChannel/ShippingMethodRouteTest.php
  tests/unit/Storefront/Checkout/Payment/BlockedPaymentMethodSwitcherTest.php
  tests/unit/Storefront/Checkout/Shipping/BlockedShippingMethodSwitcherTest.php
  tests/unit/Storefront/Page/Account/Order/AccountOrderEditPageLoaderTest.php
  tests/unit/Storefront/Page/Checkout/Offcanvas/OffcanvasCartPageLoaderTest.php
Labels: Domain:Checkout

#7222 fix: Show update button for composer plugins in custom/plugins
  changelog/_unreleased/2025-03-03-fix-updates-for-composer-plugins.md
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-base/index.js
  src/Core/Framework/Store/Services/ExtensionLoader.php
  src/Core/Framework/Store/Struct/ExtensionStruct.php
  tests/integration/Core/Framework/Store/Services/ExtensionLoaderTest.php
Labels: component/core, Domain:Framework, backport-6.6.x, backport-6.6.10.0

#7157 feat: split date and datetime rule operators
  src/Core/Checkout/Customer/Rule/CustomerBirthdayRule.php
  src/Core/Framework/Rule/RuleComparison.php
  src/Core/Framework/Rule/RuleConfig.php
  src/Core/Framework/Rule/RuleConstraints.php
  tests/unit/Core/Framework/Rule/RuleComparisonTest.php
  tests/unit/Core/Framework/Rule/RuleConfigTest.php
  tests/unit/Core/Framework/Rule/RuleConstraintsTest.php
Labels: Domain:CRM & After Sales, component/rulebuilder

#7186 docs: Typo in ADR 2025-02-06-deprecate-iterator-iterate.md
  adr/2025-02-06-deprecate-iterator-iterate.md
Labels: area/documentation

#7221 chore: prepare phpstan upgrade domain exception CartException
  src/Core/Checkout/Cart/CartException.php
  src/Core/Checkout/Cart/Delivery/Struct/DeliveryDate.php
  src/Core/Checkout/Cart/Rule/LineItemCustomFieldRule.php
  tests/unit/Core/Checkout/Cart/CartExceptionTest.php
  tests/unit/Core/Checkout/Cart/Delivery/Struct/DeliveryDateTest.php
Labels: component/core, Domain:Checkout

#7220 chore: prepare phpstan upgrade domain exception CustomerException
  src/Core/Checkout/Customer/CustomerException.php
  src/Core/Checkout/Customer/Rule/EmailRule.php
  tests/unit/Core/Checkout/Customer/CustomerExceptionTest.php
  tests/unit/Core/Checkout/Customer/Rule/EmailRuleTest.php
Labels: component/core, Domain:Checkout

#7224 fix(accessibility): Only use button modal triggers behind accessibility flag
  UPGRADE-6.7.md
  changelog/_unreleased/2025-03-03-put-ajax-modal-buttons-behind-accessibility-flag.md
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/component/buy-widget/buy-widget.html.twig
  src/Storefront/Resources/views/storefront/component/privacy-notice.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-components/cms-element-form-privacy.html.twig
  src/Storefront/Resources/views/storefront/page/account/order/index.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/confirm/index.html.twig
Labels: component/storefront, Domain:Framework, backport-6.6.10.0, accessibility

#7202 fix: convert undefined values to null in sync api service
  changelog/_unreleased/2025-03-03-fix-bulk-edit-custom-fields.md
  src/Administration/Resources/app/administration/src/core/service/api/sync.api.service.js
  src/Administration/Resources/app/administration/src/core/service/api/sync.api.service.spec.js
  src/Administration/Resources/app/administration/src/meta/baseline.ts
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/service/handler/bulk-edit-product.handler.js
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/service/handler/bulk-edit-product.handler.spec.js
Labels: component/core, Domain:Framework, backport-6.6.x

#7216 chore: prepare phpstan upgrade domain exception AdapterException
  phpstan-baseline.neon
  src/Core/Framework/Adapter/AdapterException.php
  src/Core/Framework/Adapter/Twig/Extension/ComparisonExtension.php
  tests/unit/Core/Framework/Adapter/AdapterExceptionTest.php
  tests/unit/Core/Framework/Adapter/Twig/Extension/ComparisonExtensionTest.php
Labels: component/core, Domain:Framework

#7237 fix: Digital products contain the Measures & packaging card
  changelog/_unreleased/2025-03-04-digital-products-contain-the-measures-packaging-card.md
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-specifications/sw-product-detail-specifications.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-specifications/sw-product-detail-specifications.spec.js
Labels: Status:In-Review, Domain:Inventory

#6887 fix(vite): Preserve symlinks when building administration plugins
  src/Administration/Resources/app/administration/build/plugins.vite.ts
Labels: component/administration, Domain:Framework

#6596 chore: Improve administration UPGRADE guide to reflect the Vue standards
  UPGRADE-6.7.md
Labels: component/administration, Domain:Framework

#7256 [6.6.x] fix: Add aria labels to product slider controls
  changelog/_unreleased/2025-02-28-add-aria-labels-to-product-slider-controls.md
  src/Storefront/Resources/views/storefront/element/cms-element-product-slider.html.twig
Labels: Domain:Discovery

#7219 chore: prepare phpstan upgrade domain exception PromotionException
  src/Core/Checkout/Promotion/Cart/PromotionCalculator.php
  src/Core/Checkout/Promotion/Exception/DiscountCalculatorNotFoundException.php
  src/Core/Checkout/Promotion/Exception/InvalidScopeDefinitionException.php
  src/Core/Checkout/Promotion/PromotionException.php
  tests/unit/Core/Checkout/Cart/Promotion/Cart/PromotionCalculatorTest.php
  tests/unit/Core/Checkout/Promotion/PromotionExceptionTest.php
Labels: component/core, Domain:Checkout

#7218 chore: prepare phpstan upgrade domain exception FlowException
  src/Core/Content/Flow/Controller/TriggerFlowController.php
  src/Core/Content/Flow/Exception/CustomTriggerByNameNotFoundException.php
  src/Core/Content/Flow/FlowException.php
  tests/unit/Core/Content/Flow/Controller/TriggerFlowControllerTest.php
  tests/unit/Core/Content/Flow/FlowExceptionTest.php
Labels: component/core, Domain:CRM & After Sales

#7217 chore: prepare phpstan upgrade domain exception MediaException
  src/Core/Content/Media/Core/Application/AbstractMediaPathStrategy.php
  src/Core/Content/Media/MediaException.php
  tests/unit/Core/Content/Media/MediaExceptionTest.php
Labels: component/core, Domain:Discovery

#7214 chore: prepare phpstan upgrade domain exception DataAbstractionLayerException
  phpstan-baseline.neon
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/Dbal/EntityAggregator.php
  src/Core/Framework/DataAbstractionLayer/Search/Parser/SqlQueryParser.php
  tests/unit/Core/Framework/DataAbstractionLayer/DataAbstractionLayerExceptionTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Search/Parser/SqlQueryParserTest.php
Labels: component/core, Domain:Framework

#7209 chore: prepare phpstan upgrade domain exception CustomEntityException
  src/Core/System/CustomEntity/CustomEntityException.php
  src/Core/System/CustomEntity/Schema/DynamicFieldFactory.php
  tests/unit/Core/System/CustomEntity/CustomEntityExceptionTest.php
  tests/unit/Core/System/CustomEntity/Schema/DynamicFieldFactoryTest.php
Labels: component/core, Domain:Framework

#7207 chore: prepare phpstan upgrade domain exception ElasticSearchException
  src/Elasticsearch/ElasticsearchException.php
  src/Elasticsearch/Framework/DataAbstractionLayer/CriteriaParser.php
  tests/unit/Elasticsearch/ElasticsearchExceptionTest.php
Labels: component/core, Domain:Framework

#7210 chore: prepare phpstan upgrade domain exception UtilException
  src/Core/Framework/Util/ArrayComparator.php
  src/Core/Framework/Util/Exception/ComparatorException.php
  src/Core/Framework/Util/FloatComparator.php
  src/Core/Framework/Util/UtilException.php
  tests/unit/Core/Framework/Util/ArrayComparatorTest.php
  tests/unit/Core/Framework/Util/ComparatorExceptionTest.php
  tests/unit/Core/Framework/Util/FloatComparatorTest.php
  tests/unit/Core/Framework/Util/UtilExceptionTest.php
Labels: component/core, Domain:Framework

#7195 fix: empty row on add snippet set
  src/Administration/Resources/app/administration/src/app/component/grid/sw-grid-row/index.js
  src/Administration/Resources/app/administration/src/app/component/grid/sw-grid-row/sw-grid-row.scss
  src/Administration/Resources/app/administration/src/app/component/grid/sw-grid/index.js
  src/Administration/Resources/app/administration/src/app/component/grid/sw-grid/sw-grid.html.twig
  src/Administration/Resources/app/administration/src/app/component/grid/sw-grid/sw-grid.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-set-list/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-snippet/page/sw-settings-snippet-set-list/sw-settings-snippet-set-list.spec.js
Labels: component/administration, Domain:Framework

#7277 fix(accessibility): Increase contrast for slider UI
  changelog/_unreleased/2025-03-05-increase-contrast-for-slider-ui.md
  src/Storefront/Resources/app/storefront/src/scss/component/_base-slider.scss
Labels: component/storefront, area/accessibility, Domain:Framework

#7280 fix: NEXT-40874 - order document empty state
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/sw-order-document-card.html.twig
Labels: backport-6.6.x, needs-triage

#7189 fix: customer modal multiple nodes
  changelog/_unreleased/2025-03-03-single-element-for-v-show-condition.md
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-initial-modal/sw-order-create-initial-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-initial-modal/sw-order-create-initial-modal.spec.js
Labels: Domain:Checkout

#7211 chore: prepare phpstan upgrade domain exception StoreException
  src/Core/Framework/App/AppException.php
  src/Core/Framework/Store/InAppPurchase/Services/KeyFetcher.php
  src/Core/Framework/Store/StoreException.php
  tests/unit/Core/Framework/Store/InAppPurchases/Services/KeyFetcherTest.php
Labels: component/core, Domain:Framework

#7212 chore: prepare phpstan upgrade domain exception RuleException
  src/Core/Framework/Rule/Container/ZipCodeRule.php
  src/Core/Framework/Rule/CustomFieldRule.php
  src/Core/Framework/Rule/RuleComparison.php
  src/Core/Framework/Rule/RuleException.php
  tests/integration/Core/Checkout/Cart/Rule/LineItemOfManufacturerRuleTest.php
  tests/integration/Core/Checkout/Cart/Rule/PaymentMethodRuleTest.php
  tests/integration/Core/Checkout/Cart/Rule/ShippingMethodRuleTest.php
  tests/unit/Core/Checkout/Cart/Rule/LineItemInCategoryRuleTest.php
  tests/unit/Core/Checkout/Cart/Rule/LineItemInProductStreamRuleTest.php
  tests/unit/Core/Checkout/Cart/Rule/LineItemOfTypeRuleTest.php
  tests/unit/Core/Checkout/Cart/Rule/LineItemTaxationRuleTest.php
  tests/unit/Core/Checkout/Rule/Rule/Cart/CartAmountRuleTest.php
  tests/unit/Core/Checkout/Rule/Rule/Cart/CartPositionPriceRuleTest.php
  tests/unit/Core/Checkout/Rule/Rule/Context/ShippingCountryRuleTest.php
  tests/unit/Core/Checkout/Rule/Rule/Context/ShippingZipCodeRuleTest.php
  tests/unit/Core/Framework/Rule/RuleComparisonTest.php
  tests/unit/Core/Framework/Rule/RuleExceptionTest.php
Labels: component/core, Domain:Framework

#7203 fix: Bulk editing products stock fails
  changelog/_unreleased/2025-03-03-bulk-editing-products-stock-fails.md
  src/Administration/Resources/app/administration/src/module/sw-bulk-edit/component/sw-bulk-edit-change-type-field-renderer/sw-bulk-edit-change-type-field-renderer.html.twig
Labels: Status:In-Review, Domain:Inventory

#7191 fix: Improve accessibility of footer collapse panels
  changelog/_unreleased/2025-03-03-Accessibility-of-footer-collapse.md
  src/Storefront/Resources/app/storefront/src/plugin/collapse/collapse-footer-columns.plugin.js
  src/Storefront/Resources/app/storefront/src/scss/layout/_footer.scss
  src/Storefront/Resources/views/storefront/layout/footer/footer.html.twig
Labels: component/storefront, Domain:Framework, accessibility

#7215 fix: Improve accessibility of footer collapse panels
  changelog/_unreleased/2025-03-03-Accessibility-of-footer-collapse.md
  src/Storefront/Resources/app/storefront/src/plugin/collapse/collapse-footer-columns.plugin.js
  src/Storefront/Resources/app/storefront/src/scss/layout/_footer.scss
  src/Storefront/Resources/views/storefront/layout/footer/footer.html.twig
Labels: component/storefront, Domain:Framework, accessibility

#7253 fix: a11y active main nav entry
  changelog/_unreleased/2025-03-04-set-aria-current-page-for-activatenavigationid-in-navbar.md
  src/Storefront/Resources/app/storefront/src/plugin/navbar/navbar.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/navbar/navbar.plugin.test.js
Labels: component/storefront, Domain:Framework

#7187 fix: Double form submit from reCaptcha plugin
  changelog/_unreleased/2025-02-28-fix-google-recaptcha-with-guest-orders.md
  src/Storefront/Resources/app/storefront/src/plugin/captcha/google-re-captcha/google-re-captcha-base.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/captcha/google-re-captcha/google-re-captcha-v2.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/captcha/google-re-captcha/google-re-captcha-base.plugin.test.js
  tests/acceptance/tests/Forms/GoogleReCaptchaV2.spec.ts
  tests/acceptance/tests/Forms/GoogleReCaptchaV3.spec.ts
  tests/acceptance/tests/Forms/ValidateBasicCaptchaInContactForm.spec.ts
  tests/acceptance/tests/Forms/ValidateCaptchaInContactForm.spec.ts
  tests/acceptance/tests/Forms/ValidateGoogleRecaptchaOnRegisterForm.spec.ts
Labels: component/storefront, Domain:Framework

#7290 fix: NEXT-40672 - correct sales channel context usage
  src/Storefront/Controller/AddressController.php
Labels: Domain:Checkout

#6953 fix: Only show style attribute if blockBgColor variable isset
  changelog/_unreleased/2025-02-20-fix-cms-block-bg-color-condition.md
  src/Storefront/Resources/views/storefront/section/cms-section-block-container.html.twig
Labels: component/storefront, Domain:Framework

#7291 fix: prettier format
  src/Administration/Resources/app/administration/src/app/component/form/sw-number-field/index.ts
  src/Administration/Resources/app/administration/src/app/component/rule/sw-condition-tree/sw-condition-tree.spec.js
  src/Administration/Resources/app/administration/src/core/service/api/sync.api.service.spec.js
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/index.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/promotion-codes/sw-promotion-v2-generate-codes-modal/sw-promotion-v2-generate-codes-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/promotion-codes/sw-promotion-v2-individual-codes-behavior/sw-promotion-v2-individual-codes-behavior.spec.js
Labels: Platform(Default)

#7276 fix: remove invalid association from rule-modal (#7004)
  src/Administration/Resources/app/administration/src/app/component/rule/sw-rule-modal/index.js
Labels: Domain:CRM & After Sales, component/rulebuilder

#6671 test: update custom fields create
  tests/acceptance/tasks/ShopAdmin/CustomField/CreateCustomField.ts
  tests/acceptance/tests/Settings/CreateCustomFieldSet.spec.ts
Labels: testing/acceptance, backport-6.6.x

#6497 ci: Add new pipeline for checking blue-green deployment
  .github/workflows/integration.yml
Labels: component/core, Domain:Framework, domain/product-ops

#7296 fix: unskip VariantGeneration.spec.ts
  tests/acceptance/package-lock.json
  tests/acceptance/tests/Product/VariantGeneration.spec.ts
Labels: testing/acceptance, backport-6.6.x, needs-triage

#7287 feat: Add `addParameter` method to `SwitchContextEvent`
  changelog/_unreleased/2025-03-05-update-switch-context-event.md
  src/Core/System/SalesChannel/Event/SwitchContextEvent.php
Labels: component/core, Domain:Framework

#7235 fix: usageKey needs to be be type of string
  src/Administration/Resources/app/administration/src/module/sw-promotion-v2/component/sw-promotion-discount-component/index.js
Labels: Domain:Checkout, component/promotions

#7279 fix: update offcanvas.plugin.js to support aria-labelledby
  changelog/_unreleased/2025-03-05-add-new-data-id-to-set-off-canvas-aria-labelledby.md
  src/Storefront/Resources/app/storefront/src/plugin/offcanvas-filter/offcanvas-filter.plugin.js
  src/Storefront/Resources/app/storefront/src/plugin/offcanvas/offcanvas.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/offcanvas/offcanvas.plugin.test.js
  src/Storefront/Resources/views/storefront/component/checkout/offcanvas-cart.html.twig
  src/Storefront/Resources/views/storefront/component/listing/filter-panel.html.twig
  src/Storefront/Resources/views/storefront/layout/navigation/offcanvas/general-headline.html.twig
Labels: component/storefront, area/accessibility

#7255 fix: hidden import/export profiles in listing
  src/Administration/Resources/app/administration/src/module/sw-import-export/view/sw-import-export-view-profiles/sw-import-export-view-profiles.html.twig
Labels: Domain:CRM & After Sales, component/documents

#7300 fix: some styling in the admin
  src/Administration/Resources/app/administration/src/app/component/base/sw-card-filter/sw-card-filter.scss
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar/sw-search-bar.html.twig
  src/Administration/Resources/app/administration/src/app/component/utils/sw-notifications/sw-notifications.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-base/sw-extension-card-base.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-my-extensions-listing-controls/sw-extension-my-extensions-listing-controls.html.twig
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-my-extensions-listing-controls/sw-extension-my-extensions-listing-controls.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-my-extensions-listing-controls/sw-extension-my-extensions-listing-controls.spec.js
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/page/sw-extension-my-extensions-listing/sw-extension-my-extensions-listing.spec.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sw-media-display-options/sw-media-display-options.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/component/sw-media-display-options/sw-media-display-options.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-customer-grid/sw-order-customer-grid.scss
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-select-document-type-modal/sw-order-select-document-type-modal.scss
  src/Administration/Resources/app/administration/src/module/sw-product-stream/component/sw-product-stream-modal-preview/sw-product-stream-modal-preview.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-cache/page/sw-settings-cache-index/sw-settings-cache-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-cache/page/sw-settings-cache-index/sw-settings-cache-index.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-currency/page/sw-settings-currency-detail/sw-settings-currency-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.html.twig
Labels: needs-triage

#7305 fix: fix styling issues with the settings tags
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-field/sw-media-field.scss
  src/Administration/Resources/app/administration/src/app/component/data-grid/sw-data-grid/sw-data-grid.scss
  src/Administration/Resources/app/administration/src/app/component/extension-api/sw-extension-component-section/sw-extension-component-section.html.twig
  src/Administration/Resources/app/administration/src/module/sw-integration/page/sw-integration-list/sw-integration-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-set-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-tag/component/sw-settings-tag-detail-assignments/sw-settings-tag-detail-assignments.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-tag/page/sw-settings-tag-list/sw-settings-tag-list.scss
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-role-detail/index.js
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/page/sw-users-permissions-role-detail/sw-users-permissions-role-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-users-permissions/view/sw-users-permissions-role-view-detailed/sw-users-permissions-role-view-detailed.html.twig
Labels: component/administration, Domain:Framework

#7297 fix: typed property error in SalesChannelAnalyticsEntity
  .bc-exclude.php
  src/Core/System/SalesChannel/Aggregate/SalesChannelAnalytics/SalesChannelAnalyticsEntity.php
  tests/unit/Core/System/SalesChannel/Aggregate/SalesChannelAnalytics/SalesChannelAnalyticsEntityTest.php
Labels: component/core

#7318 fix: update bc-exclude
  .bc-exclude.php
Labels: Domain:Framework

#7326 fix(sw-select-rule-create): Fix visible updates of multi-select in sw-select-rule-create
  src/Administration/Resources/app/administration/src/app/component/form/sw-select-rule-create/index.js
  src/Administration/Resources/app/administration/src/app/component/form/sw-select-rule-create/sw-select-rule-create.html.twig
Labels: Domain:Discovery

#6280 chore: upgrade phpstan to version 2.x
  composer.json
  src/Administration/Controller/AdministrationController.php
  src/Core/Checkout/Customer/SalesChannel/RegisterRoute.php
  src/Core/Checkout/Gateway/Command/AbstractCheckoutGatewayCommand.php
  src/Core/Content/Media/Core/Application/RemoteThumbnailLoader.php
  src/Core/Content/Media/Infrastructure/Path/SqlMediaLocationBuilder.php
  src/Core/Content/Media/Infrastructure/Path/SqlMediaPathStorage.php
  src/Core/Content/Product/DataAbstractionLayer/CheapestPrice/CheapestPriceAccessorBuilder.php
  src/Core/Content/Rule/RuleValidator.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/DomainExceptionRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/MessagesShouldNotUsePHPStanTypes.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/RouteScopeRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Tests/TestReflectionClassInterface.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Tests/TestRuleHelper.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Type/CollectionHasSpecifyingExtension.php
  src/Core/DevOps/Test/Command/MakeCoverageTestCommand.php
  src/Core/Framework/DataAbstractionLayer/Dbal/FieldAccessorBuilder/PriceFieldAccessorBuilder.php
  src/Core/Framework/Migration/Command/CreateMigrationCommand.php
  src/WebInstaller/Services/PhpBinaryFinder.php
  tests/devops/Core/DevOps/StaticAnalyse/PHPStan/Rules/Tests/TestRuleHelperTest.php
Labels: component/core, Domain:Framework

#7332 revert: add rule for issues created by members of the customer support team
  .github/labeler.yml
Labels: needs-triage

#7329 fix: HttpCacheTagDataCollectorSubscriber now collects HTTP cache tags correctly
  src/Core/Profiling/Subscriber/HttpCacheTagDataCollectorSubscriber.php
  tests/unit/Core/Profiling/Subscriber/HttpCacheTagDataCollectorSubscriberTest.php
Labels: component/core, Domain:Framework

#7182 refactor: Improve exception handling in Adapter components
  phpstan-baseline.neon
  src/Core/Framework/Adapter/AdapterException.php
  src/Core/Framework/Adapter/Cache/CacheClearer.php
  src/Core/Framework/Adapter/Cache/CacheValueCompressor.php
  src/Core/Framework/Adapter/Filesystem/Adapter/AdapterFactoryInterface.php
  src/Core/Framework/Adapter/Filesystem/Exception/AdapterFactoryNotFoundException.php
  src/Core/Framework/Adapter/Filesystem/Exception/DuplicateFilesystemFactoryException.php
  src/Core/Framework/Adapter/Filesystem/FilesystemFactory.php
  src/Core/Framework/Adapter/Filesystem/PrefixFilesystem.php
  src/Core/Framework/Adapter/Twig/AppTemplateIterator.php
  src/Core/Framework/Adapter/Twig/Extension/CategoryUrlExtension.php
  src/Core/Framework/Adapter/Twig/Extension/InstanceOfExtension.php
  src/Core/Framework/Adapter/Twig/Extension/MediaExtension.php
  src/Core/Framework/Adapter/Twig/Extension/PcreExtension.php
  src/Core/Framework/Adapter/Twig/Extension/RawUrlFunctionExtension.php
  src/Core/Framework/Adapter/Twig/Extension/SeoUrlFunctionExtension.php
  src/Core/Framework/Adapter/Twig/Extension/SwSanitizeTwigFilter.php
  src/Core/Framework/Adapter/Twig/Filter/CurrencyFilter.php
  src/Core/Framework/Adapter/Twig/NamespaceHierarchy/NamespaceHierarchyBuilder.php
  src/Core/Framework/Adapter/Twig/SecurityExtension.php
  src/Core/Framework/Adapter/Twig/TwigVariableParser.php
  src/Core/Framework/Test/Filesystem/Adapter/MemoryAdapterFactory.php
  tests/unit/Core/Framework/Adapter/Filesystem/FilesystemFactoryTest.php
  tests/unit/Core/Framework/Adapter/Filesystem/PrefixFilesystemTest.php
Labels: component/core, Domain:Framework

#7091 fix: Use the correct opensearch client for es:admin:reset command
  .github/workflows/admin.yml
  .github/workflows/integration.yml
  .github/workflows/php.yml
  .github/workflows/storefront.yml
  changelog/_unreleased/2025-02-26-use-correct-opensearch-client-for-es-admin-reset.md
  src/Elasticsearch/Resources/config/services.xml
Labels: component/core, Domain:Framework

#7308 test(perf): improve perf of ats admin tests
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
  tests/acceptance/tests/BulkEdit/BulkEditCustomerInformation.spec.ts
  tests/acceptance/tests/Settings/CreateCustomFieldSet.spec.ts
Labels: testing/acceptance, backport-6.6.x

#7335 test: unskip RuleAssignments.spec.ts
  tests/acceptance/tests/Settings/RuleAssignments.spec.ts
Labels: testing/acceptance, backport-6.6.x

#7016 feat: reintroduce private sw-dashboard-statistics
  src/Administration/Resources/app/administration/src/meta/meta.spec.js
  src/Administration/Resources/app/administration/src/meta/position-identifiers.json
  src/Administration/Resources/app/administration/src/module/sw-dashboard/component/sw-dashboard-statistics/index.ts
  src/Administration/Resources/app/administration/src/module/sw-dashboard/component/sw-dashboard-statistics/sw-dashboard-statistics.html.twig
  src/Administration/Resources/app/administration/src/module/sw-dashboard/component/sw-dashboard-statistics/sw-dashboard-statistics.scss
  src/Administration/Resources/app/administration/src/module/sw-dashboard/component/sw-dashboard-statistics/sw-dashboard-statistics.spec.js
  src/Administration/Resources/app/administration/src/module/sw-dashboard/index.ts
  src/Administration/Resources/app/administration/src/module/sw-dashboard/page/sw-dashboard-index/sw-dashboard-index.html.twig
Labels: Domain:CRM & After Sales

#7334 fix: settings icon size and settings index background
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.scss
Labels: component/administration, Domain:Framework, needs-triage

#7328 test: unskip test create link type category
  tests/acceptance/package-lock.json
  tests/acceptance/tests/Categories/CreateLinkTypeCategory.spec.ts
Labels: testing/acceptance, backport-6.6.x

#7314 fix: address title autocomplete
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
Labels: Domain:Checkout, backport-6.6.x

#7294 fix: NEXT-39259 - intra community helptext
  src/Administration/Resources/app/administration/src/module/sw-settings-country/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-country/snippet/en-GB.json
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-document/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-settings-document/snippet/en-GB.json
Labels: Domain:Checkout, backport-6.6.x

#7358 test: unskip RuleAssignmentsEntities.spec.ts
  tests/acceptance/tests/Settings/RuleAssignmentsEntities.spec.ts
Labels: testing/acceptance, backport-6.6.x, needs-triage

#7360 ci: fix customer-support labeling
  .github/workflows/01-pr-issue-labeler.yml
  .github/workflows/downstream.yml
Labels: needs-triage

#7307 feat(accessibility): add new translation keys for modal triggers with extracted html
  UPGRADE-6.7.md
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/component/buy-widget/buy-widget.html.twig
  src/Storefront/Resources/views/storefront/component/privacy-notice.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-form/form-components/cms-element-form-privacy.html.twig
  src/Storefront/Resources/views/storefront/page/account/order/index.html.twig
  src/Storefront/Resources/views/storefront/page/checkout/confirm/index.html.twig
Labels: component/storefront, area/accessibility, Domain:Framework

#7323 fix(accessibility): Increase contrast for slider UI
  changelog/_unreleased/2025-03-05-increase-contrast-for-slider-ui.md
  src/Storefront/Resources/app/storefront/src/scss/component/_base-slider.scss
Labels: component/storefront, area/accessibility, Domain:Framework

#7347 fix: Change type of log entry properties
  .bc-exclude.php
  phpstan.neon.dist
  src/Core/Framework/Log/LogEntryEntity.php
  tests/integration/Core/Framework/Log/ScheduledTask/LogCleanupTaskHandlerTest.php
  tests/integration/Core/Framework/Logging/LoggingServiceTest.php
  tests/unit/Core/Framework/Log/ExceptionLoggerTest.php
  tests/unit/Core/Framework/Log/LoggingServiceTest.php
  tests/unit/Core/Framework/Log/Monolog/AnnotatePackageProcessorTest.php
  tests/unit/Core/Framework/Log/Monolog/DoctrineSQLHandlerTest.php
  tests/unit/Core/Framework/Log/PackageTest.php
Labels: component/core, Domain:Framework

#7098 feat: Add support for html div wrappers in component sections
  changelog/_unreleased/2025-03-06-add-div-wrapper-support-to-component-sections.md
  src/Administration/Resources/app/administration/src/app/component/extension-api/sw-extension-component-section/sw-extension-component-section.html.twig
Labels: Status:In-Review

#7324 fix: Reduce height of product title link on wishlist
  src/Storefront/Resources/app/storefront/src/scss/component/_product-wishlist.scss
  tests/acceptance/tests/Settings/Wishlist/WishlistRegisteredCustomerFunctionalities.spec.ts
Labels: Domain:Discovery

#7368 test: unskip ProductWithAdvancedPricingPerQuantity.spec.ts
  tests/acceptance/tests/Product/ProductWithAdvancedPricingPerQuantity.spec.ts
Labels: testing/acceptance, backport-6.6.x, needs-triage

#7374 test: migrate forms acceptance test from trunk
  tests/acceptance/tests/Forms/GoogleReCaptchaV2.spec.ts
  tests/acceptance/tests/Forms/GoogleReCaptchaV3.spec.ts
  tests/acceptance/tests/Forms/ValidateBasicCaptchaInContactForm.spec.ts
  tests/acceptance/tests/Forms/ValidateCaptchaInContactForm.spec.ts
  tests/acceptance/tests/Forms/ValidateContactFormStorefront.spec.ts
  tests/acceptance/tests/Forms/ValidateGoogleRecaptchaOnRegisterForm.spec.ts
Labels: testing/acceptance

#7373 chore: Remove paratest dependency and all related code places as it is unused
  .github/workflows/integration.yml
  .gitlab/stages/22-blue-green.yml
  composer.json
  phpunit.xml.dist
  src/Core/Framework/Adapter/Cache/CacheClearer.php
  src/Core/Kernel.php
  src/Core/TestBootstrapper.php
  src/Core/composer.json
  tests/integration/Core/Checkout/Cart/Order/RecalculationServiceTest.php
  tests/integration/Core/Content/Media/DataAbstractionLayer/MediaFolderRepositoryTest.php
  tests/integration/Core/Content/Media/DataAbstractionLayer/MediaRepositoryTest.php
  tests/integration/Core/Framework/Api/ApiAliasTest.php
  tests/integration/Core/Framework/Api/ApiAwareTest.php
  tests/integration/Core/Framework/Api/ApiDefinition/Generator/OpenApi3Test.php
  tests/integration/Core/Framework/Api/Controller/CacheControllerTest.php
  tests/integration/Core/Framework/App/ScheduledTask/DeleteCascadeAppsHandlerTest.php
  tests/integration/Core/Framework/Cache/CacheClearerTest.php
  tests/integration/Core/Framework/Changelog/ChangelogCommandTest.php
  tests/integration/Core/Framework/DataAbstractionLayer/EntityExtensionRegisterTest.php
  tests/integration/Core/Framework/FeatureFlag/FeatureTest.php
  tests/integration/Core/Framework/Plugin/KernelPluginIntegrationTest.php
  tests/integration/Core/Framework/Plugin/PluginLifecycleServiceMigrationTest.php
  tests/integration/Core/Framework/Plugin/PluginLifecycleServiceTest.php
  tests/integration/Core/Framework/Plugin/PluginManagementServiceTest.php
  tests/integration/Core/Framework/Plugin/PluginServiceTest.php
  tests/integration/Core/Framework/Store/Services/ExtensionDataProviderTest.php
  tests/integration/Core/Framework/Store/Services/ExtensionLifecycleServiceTest.php
  tests/integration/Core/Framework/Store/Services/ExtensionLoaderTest.php
  tests/integration/Core/Framework/TestCaseBase/KernelLifecycleManagerTest.php
  tests/integration/Core/System/CustomEntity/Xml/Config/CmsAwareAndAdminUiTest.php
  tests/integration/Elasticsearch/Admin/AdminSearchControllerTest.php
  tests/integration/Elasticsearch/Admin/AdminSearchRegistryTest.php
  tests/integration/Elasticsearch/Framework/Indexing/ElasticsearchIndexerTest.php
  tests/integration/Elasticsearch/Product/CustomFieldUpdaterTest.php
  tests/integration/Elasticsearch/Product/ElasticsearchProductTest.php
  tests/integration/Storefront/Framework/Cache/HttpCacheIntegrationTest.php
  tests/integration/Storefront/Framework/Seo/NavigationPageSeoUrlTest.php
  tests/integration/Storefront/Framework/Seo/SeoUrl/SeoUrlTest.php
  tests/unit/Core/KernelTest.php
Labels: component/core, Domain:Framework, domain/product-ops

#7359 fix: Make off-canvas navigation accessible
  changelog/_unreleased/2025-03-07-make-offcanvas-navigation-accessible.md
  src/Storefront/Resources/app/storefront/src/plugin/main-menu/offcanvas-menu.plugin.js
  src/Storefront/Resources/app/storefront/src/scss/component/_icon.scss
  src/Storefront/Resources/app/storefront/src/scss/component/_offcanvas.scss
  src/Storefront/Resources/app/storefront/src/scss/layout/_navigation-offcanvas.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/abstract/variables/_bootstrap.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/layout/_navigation-offcanvas.scss
  src/Storefront/Resources/app/storefront/test/plugin/main-menu/offcanvas-menu.plugin.test.js
  src/Storefront/Resources/views/storefront/layout/navigation/offcanvas/categories.html.twig
  src/Storefront/Resources/views/storefront/layout/navigation/offcanvas/navigation.html.twig
  src/Storefront/Resources/views/storefront/utilities/offcanvas.html.twig
Labels: component/storefront, area/accessibility, Domain:Framework, backport-6.6.x

#7165 fix: deprecate usage_data_dispatch_enabled with more fine granular op…
  changelog/_unreleased/2025-02-28-add-shopware-usage-data-collection-enabled-config-to-improve-usage-of-shopware-usage-data-gateway-dispatch-enabled.md
  config-schema.json
  src/Core/Framework/DependencyInjection/Configuration.php
  src/Core/Framework/Resources/config/packages/dev/shopware.yaml
  src/Core/Framework/Resources/config/packages/shopware.yaml
  src/Core/System/DependencyInjection/usage_data.xml
  src/Core/System/UsageData/Client/GatewayClient.php
  src/Core/System/UsageData/Consent/ConsentReporter.php
  src/Core/System/UsageData/Services/EntityDispatchService.php
  src/Core/System/UsageData/Subscriber/EntityDeleteSubscriber.php
  tests/unit/Core/Framework/DependencyInjection/ConfigurationTest.php
  tests/unit/Core/System/UsageData/Client/GatewayClientTest.php
  tests/unit/Core/System/UsageData/Consent/ConsentReporterTest.php
  tests/unit/Core/System/UsageData/Services/EntityDispatchServiceTest.php
  tests/unit/Core/System/UsageData/Subscriber/EntityDeleteSubscriberTest.php
Labels: Status:In-Review, backport-6.6.x, service/data-&-ai

#7367 fix: style issues in admin
  src/Administration/Resources/app/administration/src/app/component/base/sw-simple-search-field/sw-simple-search-field.scss
  src/Administration/Resources/app/administration/src/app/component/data-grid/sw-data-grid-settings/sw-data-grid-settings.scss
  src/Administration/Resources/app/administration/src/app/component/filter/sw-number-filter/sw-number-filter.scss
  src/Administration/Resources/app/administration/src/app/component/filter/sw-range-filter/sw-range-filter.scss
  src/Administration/Resources/app/administration/src/app/component/rule/sw-condition-or-container/sw-condition-or-container.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product-stream/component/sw-product-stream-value/index.js
  src/Administration/Resources/app/administration/src/module/sw-product-stream/component/sw-product-stream-value/sw-product-stream-value.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product-stream/component/sw-product-stream-value/sw-product-stream-value.scss
Labels: component/administration, Domain:Framework

#7380 test: unskip BasicConsentBannerDeclineCookies.spec.ts
  tests/acceptance/tests/Settings/BasicConsentBannerDeclineCookies.spec.ts
Labels: testing/acceptance, backport-6.6.x, needs-triage

#7315 fix: address edit title
  src/Storefront/Resources/views/storefront/page/account/addressbook/edit.html.twig
Labels: Domain:Checkout, backport-6.6.x

#7366 fix: delete cart immediately after order is created
  changelog/_unreleased/2025-03-07-delete-cart-immediately-after-order-is-created.md
  src/Core/Checkout/Cart/SalesChannel/CartOrderRoute.php
Labels: component/core, Domain:Checkout

#7379 fix: style issues in admin
  src/Administration/Resources/app/administration/src/app/component/grid/sw-grid/sw-grid.scss
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-base/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-list/sw-custom-field-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-list/sw-custom-field-list.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-logging/component/sw-settings-logging-entry-info/index.js
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-list/index.js
  src/Storefront/Resources/app/administration/src/modules/sw-theme-manager/page/sw-theme-manager-list/sw-theme-manager-list.html.twig
Labels: component/administration, Domain:Framework

#7179 chore: PHPStan cleanup
  phpstan-baseline.neon
  src/Core/Checkout/Customer/CustomerException.php
  src/Core/Checkout/Customer/Validation/Constraint/CustomerEmailUniqueValidator.php
  src/Core/Checkout/Customer/Validation/Constraint/CustomerPasswordMatchesValidator.php
  src/Core/Checkout/Customer/Validation/Constraint/CustomerZipCodeValidator.php
  src/Core/Checkout/Document/Event/DocumentTemplateRendererParameterEvent.php
  src/Core/Checkout/Order/Aggregate/OrderCustomer/OrderCustomerEntity.php
  src/Core/Checkout/Order/Aggregate/OrderTransaction/OrderTransactionCollection.php
  src/Core/Checkout/Order/Event/OrderPaymentMethodChangedEvent.php
  src/Core/Checkout/Order/Exception/GuestNotAuthenticatedException.php
  src/Core/Checkout/Order/Exception/PaymentMethodNotAvailableException.php
  src/Core/Checkout/Order/Exception/WrongGuestCredentialsException.php
  src/Core/Checkout/Order/OrderException.php
  src/Core/Checkout/Order/SalesChannel/CancelOrderRoute.php
  src/Core/Checkout/Order/SalesChannel/OrderRoute.php
  src/Core/Checkout/Order/SalesChannel/OrderService.php
  src/Core/Checkout/Payment/Controller/PaymentController.php
  src/Core/Checkout/Payment/Event/PaymentMethodIndexerEvent.php
  src/Core/Checkout/Payment/PaymentException.php
  src/Core/Checkout/Promotion/Aggregate/PromotionIndividualCode/PromotionIndividualCodeCollection.php
  src/Core/Checkout/Promotion/Api/PromotionController.php
  src/Core/Checkout/Promotion/Cart/Discount/Calculator/DiscountAbsoluteCalculator.php
  src/Core/Checkout/Promotion/Cart/Discount/Calculator/DiscountFixedPriceCalculator.php
  src/Core/Checkout/Promotion/Cart/Discount/Calculator/DiscountPercentageCalculator.php
  src/Core/Checkout/Promotion/Cart/Discount/Composition/DiscountCompositionBuilder.php
  src/Core/Checkout/Promotion/Cart/Discount/DiscountCalculatorResult.php
  src/Core/Checkout/Promotion/Cart/Discount/DiscountPackage.php
  src/Core/Checkout/Promotion/Cart/Discount/DiscountPackageCollection.php
  src/Core/Checkout/Promotion/Cart/Discount/Filter/AdvancedPackageFilter.php
  src/Core/Checkout/Promotion/Cart/Discount/Filter/Applier/Applier.php
  src/Core/Checkout/Promotion/Cart/Discount/Filter/Exception/FilterPickerNotFoundException.php
  src/Core/Checkout/Promotion/Cart/Discount/Filter/Exception/FilterSorterNotFoundException.php
  src/Core/Checkout/Promotion/Cart/Discount/Filter/FilterServiceRegistry.php
  src/Core/Checkout/Promotion/Cart/PromotionCalculator.php
  src/Core/Checkout/Promotion/Cart/PromotionCartAddedInformationError.php
  src/Core/Checkout/Promotion/Cart/PromotionCartDeletedInformationError.php
  src/Core/Checkout/Promotion/DataAbstractionLayer/PromotionExclusionUpdater.php
  src/Core/Checkout/Promotion/Exception/PriceNotFoundException.php
  src/Core/Checkout/Promotion/PromotionException.php
  src/Core/Framework/Api/Acl/AclCriteriaValidator.php
  src/Core/Framework/DataAbstractionLayer/Exception/AssociationNotFoundException.php
  src/Core/Framework/DataAbstractionLayer/Search/RequestCriteriaBuilder.php
  src/Core/Framework/FrameworkException.php
  tests/integration/Core/Checkout/Payment/Controller/PaymentControllerTest.php
  tests/integration/Storefront/Controller/CheckoutControllerTest.php
  tests/unit/Core/Checkout/Customer/Validation/CustomerZipcodeValidatorTest.php
  tests/unit/Core/Checkout/Order/SalesChannel/CancelOrderRouteTest.php
  tests/unit/Core/Checkout/Order/SalesChannel/OrderRouteTest.php
  tests/unit/Core/Checkout/Payment/Controller/PaymentControllerTest.php
  tests/unit/Core/Checkout/Promotion/PromotionExceptionTest.php
  tests/unit/Core/Framework/DataAbstractionLayer/Search/RequestCriteriaBuilderTest.php
Labels: Domain:Checkout

#7343 fix: tax-free status was ignored on order history page
  src/Storefront/Resources/views/storefront/page/account/order-history/order-detail.html.twig
Labels: Domain:Checkout, backport-6.6.x

#7331 fix: search bar item hover style stays after mouse out
  src/Administration/Resources/app/administration/src/app/component/structure/sw-search-bar/index.js
Labels: component/administration, Domain:Framework

#7377 fix: currency and language switch in OffCanvas
  changelog/_unreleased/2025-03-07-fix-currency-and-language-switch-in-offcanvas.md
  src/Storefront/Resources/app/storefront/src/plugin/main-menu/offcanvas-menu.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/main-menu/offcanvas-menu.plugin.test.js
  src/Storefront/Resources/views/storefront/layout/header/actions/currency-widget.html.twig
  src/Storefront/Resources/views/storefront/layout/header/actions/language-widget.html.twig
Labels: component/storefront, Domain:Framework

#7338 fix: added missing cart errors after recalculation
  changelog/_unreleased/2025-03-06-added-cart-errors-after-recalculation.md
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-promotion-field/index.js
  src/Core/Checkout/Cart/Order/RecalculationService.php
  src/Core/Checkout/Promotion/Cart/PromotionCartDeletedInformationError.php
  tests/unit/Core/Checkout/Cart/Order/RecalculationServiceTest.php
Labels: Domain:Checkout, component/promotions

#7336 chore: merge back 6.6.10.0 - 6.6.10.2
  CHANGELOG.md
  changelog/release-6-6-10-2/2025-02-28-fix-google-recaptcha-with-guest-orders.md
  changelog/release-6-6-10-2/2025-03-03-fix-updates-for-composer-plugins.md
  changelog/release-6-6-10-2/2025-03-03-put-ajax-modal-buttons-behind-accessibility-flag.md
Labels: domain/product-ops

#7406 chore: Adjust navigation test to not test offcanvas.
  tests/acceptance/tests/Categories/NavigateThroughStorefrontMenu.spec.ts
Labels: component/storefront, area/accessibility, Domain:Framework

#7402 fix: profile update personal data
  src/Storefront/Resources/views/storefront/component/address/address-personal.html.twig
  src/Storefront/Resources/views/storefront/page/account/profile/index.html.twig
Labels: Domain:Checkout

#7415 fix: style issues in admin
  src/Administration/Resources/app/administration/src/app/assets/scss/global.scss
  src/Administration/Resources/app/administration/src/app/component/form/field-base/sw-base-field/sw-base-field.scss
  src/Administration/Resources/app/administration/src/app/component/form/field-base/sw-block-field/sw-block-field.scss
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-select-base/sw-select-base.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-select-base/sw-select-base.scss
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-select-selection-list/sw-select-selection-list.scss
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-single-select/sw-entity-single-select.scss
  src/Administration/Resources/app/administration/src/app/component/form/sw-price-field/sw-price-field.scss
  src/Administration/Resources/app/administration/src/app/component/utils/sw-inherit-wrapper/sw-inherit-wrapper.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-file-upload/sw-extension-file-upload.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-context-prices/sw-product-detail-context-prices.scss
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-cross-selling/sw-product-detail-cross-selling.scss
Labels: component/administration, Domain:Framework

#7104 feat(NEXT-40858): Implement windowGetId from Meteor Admin SDK
  changelog/_unreleased/2025-02-26-implement-windowgetid-message-from-meteor-admin-sdk.md
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/app/adapter/view/vue.adapter.ts
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-single-select/sw-entity-single-select.spec.js
  src/Administration/Resources/app/administration/src/app/composables/use-context.spec.ts
  src/Administration/Resources/app/administration/src/app/composables/use-context.ts
  src/Administration/Resources/app/administration/src/app/init/context.init.spec.js
  src/Administration/Resources/app/administration/src/app/init/context.init.ts
Labels: component/administration

#7419 chore: misc fixes
  README.md
  tests/unit/Core/Framework/Adapter/Twig/Extension/NodeExtensionTest.php
Labels: component/core, Domain:Framework, domain/product-ops

#7278 fix: Admin build on CDNs
  .github/workflows/downstream.yml
  src/Administration/Framework/Twig/ViteFileAccessorDecorator.php
  src/Administration/Resources/config/services.xml
  src/Core/Framework/Api/Controller/InfoController.php
  src/Core/Framework/DependencyInjection/api.xml
  src/Core/Test/Stub/Symfony/StubKernel.php
  tests/integration/Core/Framework/Api/Controller/Fixtures/AdminExtensionApiPluginWithLocalEntryPoint/Resources/public/meteor-app/index.html
  tests/integration/Core/Framework/Api/Controller/Fixtures/InfoController/Resources/public/administration/.vite/entrypoints.json
  tests/integration/Core/Framework/Api/Controller/InfoControllerTest.php
  tests/unit/Administration/Framework/Twig/Fixtures/Administration/Resources/public/administration/.vite/entrypoints.json
  tests/unit/Administration/Framework/Twig/Fixtures/Administration/Resources/public/administration/.vite/manifest.json
  tests/unit/Administration/Framework/Twig/Fixtures/TestBundle/Resources/public/administration/.vite/manifest.json
  tests/unit/Administration/Framework/Twig/ViteFileAccessorDecoratorTest.php
  tests/unit/Core/Framework/Api/Controller/Fixtures/AdminExtensionApiPluginWithLocalEntryPoint/Resources/public/meteor-app/index.html
  tests/unit/Core/Framework/Api/Controller/InfoControllerTest.php
Labels: component/core, Domain:Framework

#7351 fix: removed deprecated pluralization parameter from $tc calls
  src/Administration/Resources/app/administration/src/app/component/tree/sw-tree/sw-tree.html.twig
  src/Administration/Resources/app/administration/src/module/sw-category/page/sw-category-detail/sw-category-detail.html.twig
Labels: Domain:Discovery

#7430 test: unskip landing page acceptance tests
  tests/acceptance/tests/Categories/AddLandingPageInCategories.spec.ts
  tests/acceptance/tests/Categories/CreateLinkTypeCategory.spec.ts
Labels: testing/acceptance, backport-6.6.x, needs-triage

#7340 docs: add media uploaded event to webhook docs
  .bc-exclude.php
  src/Core/DevOps/Docs/App/DocsAppEventCommand.php
  src/Core/DevOps/Resources/generated/webhook-events-reference.md
  src/Core/Framework/Webhook/Hookable.php
  tests/unit/Core/DevOps/Docs/App/DocsAppEventCommandTest.php
Labels: Status:In-Progress, Domain:Framework

#7431 refactor: use dbal connection instead repository
  src/Core/Framework/DependencyInjection/webhook.xml
  src/Core/Framework/Webhook/Subscriber/RetryWebhookMessageFailedSubscriber.php
Labels: component/core, Domain:Framework

#7418 chore: fix codeowner for ctrl-alt-elite
  .github/CODEOWNERS
Labels: Status:In-Review, service/data-&-ai

#7433 feat: add mobile ar hint to modal
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/utilities/qr-code-modal.html.twig
Labels: Status:In-Review

#7428 fix: added missing rule-filter option for shipping price rule selection
  changelog/_unreleased/2025-03-11-added-missing-rule-filter-for-shipping-price-matrix.md
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/component/sw-settings-shipping-price-matrix/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/component/sw-settings-shipping-price-matrix/sw-settings-shipping-price-matrix.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/component/sw-settings-shipping-price-matrix/sw-settings-shipping-price-matrix.spec.js
Labels: Domain:Checkout, backport-6.6.x

#7446 fix: initialize empty properties on cms section and block config
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-block/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-block/sw-cms-block.spec.js
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-section/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-section/sw-cms-section.spec.js
Labels: Domain:Discovery

#7435 ci: fix reopened workflow
  .github/bin/js/src/move_reopened_to_wip.mjs
Labels: domain/product-ops

#7455 ci: fix customer-support labeling
  .github/workflows/01-pr-issue-labeler.yml
Labels: domain/product-ops

#7410 fix: system update webhook deduplication
  src/Core/Framework/DependencyInjection/webhook.xml
  src/Core/Framework/Webhook/Event/PreWebhooksDispatchEvent.php
  src/Core/Framework/Webhook/Service/WebhookLoader.php
  src/Core/Framework/Webhook/Service/WebhookManager.php
  src/Core/Framework/Webhook/Webhook.php
  src/Core/Service/Subscriber/WebhookManagerSubscriber.php
  tests/integration/Core/Framework/Webhook/Service/WebhookLoaderTest.php
  tests/integration/Core/Framework/Webhook/Service/WebhookManagerTest.php
  tests/unit/Core/Framework/Webhook/Service/WebhookManagerTest.php
  tests/unit/Core/Service/Subscriber/WebhookManagerSubscriberTest.php
Labels: component/core, Domain:Framework

#7452 fix: flaky integration test testForwardFromAddPromotionToHomePage
  tests/integration/Storefront/Controller/StorefrontRoutingTest.php
Labels: component/core, Domain:Framework

#7451 fix: progress bar showing NaN%
  changelog/_unreleased/2025-03-12-fix-progress-bar-showing-nan.md
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-clone-modal/index.js
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-clone-modal/sw-product-clone-modal.html.twig
Labels: Status:In-Review, Domain:Inventory

#7464 fix: server-timing header to be set only when elements is not empty
  src/Core/Profiling/Integration/ServerTiming.php
Labels: component/core, Domain:Framework

#7417 fix: add accessible menu to folder navigation [6.6.x]
  src/Storefront/Resources/views/storefront/layout/navigation/navigation.html.twig
Labels: Domain:Framework

#7313 refactor: align styling of import-export
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-exporter/sw-import-export-exporter.html.twig
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-exporter/sw-import-export-exporter.scss
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-importer/sw-import-export-importer.html.twig
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-importer/sw-import-export-importer.scss
Labels: Domain:CRM & After Sales

#7487 fix: Remove customer after closing create order modal
  changelog/_unreleased/2025-03-13-reset-customer-on-cancel-order-create-modal.md
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-initial-modal/index.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-initial-modal/sw-order-create-initial-modal.spec.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-customer-address-select/index.ts
Labels: Domain:Checkout

#7498 fix(storefront-nav): Hide arrow when no children available, improve accessibility
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/layout/_main-navigation.scss
  src/Storefront/Resources/views/storefront/layout/navbar/navbar.html.twig
  src/Storefront/Resources/views/storefront/layout/navigation/active-styling.html.twig
Labels: component/storefront, area/accessibility, Domain:Framework

#7490 fix: disabled context menu item allowed parent click listener to execute
  src/Administration/Resources/app/administration/src/app/component/context-menu/sw-context-menu-item/index.js
  src/Administration/Resources/app/administration/src/app/component/context-menu/sw-context-menu-item/sw-context-menu-item.html.twig
  src/Administration/Resources/app/administration/src/app/component/context-menu/sw-context-menu-item/sw-context-menu-item.scss
Labels: component/administration, Domain:Framework

#7391 fix: replacing feedback link on dashboard
  src/Administration/Resources/app/administration/src/module/sw-dashboard/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-dashboard/snippet/en-GB.json
Labels: Domain:CRM & After Sales, backport-6.6.x, component/dashboard, backport-6.5.x

#7283 fix: visual bugs in crm & after-sales domain
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/advanced-selection-entities/sw-advanced-selection-product/sw-advanced-selection-product.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/advanced-selection-entities/sw-advanced-selection-rule/sw-advanced-selection-rule.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-advanced-selection-modal/sw-entity-advanced-selection-modal.html.twig
  src/Administration/Resources/app/administration/src/app/component/form/select/entity/sw-entity-advanced-selection-modal/sw-entity-advanced-selection-modal.scss
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-date-range/sw-condition-date-range.scss
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-generic/sw-condition-generic.scss
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-time-range/sw-condition-time-range.scss
  src/Administration/Resources/app/administration/src/app/component/rule/sw-condition-base/sw-condition-base.scss
  src/Administration/Resources/app/administration/src/app/component/rule/sw-rule-modal/sw-rule-modal.scss
  src/Administration/Resources/app/administration/src/module/sw-first-run-wizard/view/sw-first-run-wizard-defaults/index.js
  src/Administration/Resources/app/administration/src/module/sw-first-run-wizard/view/sw-first-run-wizard-finish/index.js
  src/Administration/Resources/app/administration/src/module/sw-first-run-wizard/view/sw-first-run-wizard-mailer-local/index.js
  src/Administration/Resources/app/administration/src/module/sw-first-run-wizard/view/sw-first-run-wizard-mailer-selection/index.js
  src/Administration/Resources/app/administration/src/module/sw-first-run-wizard/view/sw-first-run-wizard-mailer-smtp/index.js
  src/Administration/Resources/app/administration/src/module/sw-first-run-wizard/view/sw-first-run-wizard-paypal-credentials/index.js
  src/Administration/Resources/app/administration/src/module/sw-first-run-wizard/view/sw-first-run-wizard-paypal-info/index.js
  src/Administration/Resources/app/administration/src/module/sw-first-run-wizard/view/sw-first-run-wizard-plugins/index.js
  src/Administration/Resources/app/administration/src/module/sw-first-run-wizard/view/sw-first-run-wizard-shopware-account/index.js
  src/Administration/Resources/app/administration/src/module/sw-first-run-wizard/view/sw-first-run-wizard-shopware-domain/index.js
  src/Administration/Resources/app/administration/src/module/sw-first-run-wizard/view/sw-first-run-wizard-store/index.js
  src/Administration/Resources/app/administration/src/module/sw-flow/component/modals/sw-flow-rule-modal/sw-flow-rule-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-flow/component/sw-flow-sequence-selector/sw-flow-sequence-selector.html.twig
  src/Administration/Resources/app/administration/src/module/sw-flow/view/detail/sw-flow-detail-general/sw-flow-detail-general.html.twig
  src/Administration/Resources/app/administration/src/module/sw-flow/view/detail/sw-flow-detail-general/sw-flow-detail-general.scss
  src/Administration/Resources/app/administration/src/module/sw-flow/view/listing/sw-flow-list/sw-flow-list.html.twig
  src/Administration/Resources/app/administration/src/module/sw-import-export/component/sw-import-export-activity-result-modal/sw-import-export-activity-result-modal.scss
  src/Administration/Resources/app/administration/src/module/sw-mail-template/page/sw-mail-template-index/sw-mail-template-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-document/page/sw-settings-document-detail/sw-settings-document-detail.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/component/sw-settings-rule-add-assignment-listing/sw-settings-rule-add-assignment-listing.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/component/sw-settings-rule-add-assignment-listing/sw-settings-rule-add-assignment-listing.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-rule/view/sw-settings-rule-detail-base/sw-settings-rule-detail-base.html.twig
Labels: Domain:CRM & After Sales

#6994 fix: matching of flow scope rules in promotions
  src/Administration/Resources/app/administration/src/app/decorator/condition-type-data-provider.decorator.spec.js
  src/Administration/Resources/app/administration/src/app/decorator/condition-type-data-provider.decorator.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-promotion-field/index.js
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-promotion-field/sw-order-promotion-field.html.twig
Labels: Domain:Checkout, component/promotions

#7496 fix: document exception deprecation
  src/Core/Checkout/Cart/Exception/CustomerNotLoggedInException.php
  src/Core/Checkout/Document/DocumentException.php
  tests/unit/Core/Checkout/Document/SalesChannel/DocumentRouteTest.php
Labels: Domain:CRM & After Sales

#7378 fix: Allow integer backed EnumFields from db
  src/Core/Framework/DataAbstractionLayer/DataAbstractionLayerException.php
  src/Core/Framework/DataAbstractionLayer/FieldSerializer/EnumFieldSerializer.php
  tests/unit/Core/Framework/DataAbstractionLayer/FieldSerializer/EnumFieldSerializerTest.php
Labels: Platform(Default), Domain:Framework, backport-6.6.x

#7393 chore: reintroduce ludtwig in CI pipeline
  .github/workflows/storefront.yml
  devenv.lock
  src/Storefront/Resources/views/.ludtwig-ignore
  src/Storefront/Resources/views/ludtwig-config.toml
  src/Storefront/Resources/views/storefront/component/account/login.html.twig
  src/Storefront/Resources/views/storefront/component/account/register.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-form.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-manager-modal-create-address.html.twig
  src/Storefront/Resources/views/storefront/component/address/address-manager-modal.html.twig
  src/Storefront/Resources/views/storefront/component/address/addresses-base.html.twig
  src/Storefront/Resources/views/storefront/component/buy-widget/buy-widget-form.html.twig
  src/Storefront/Resources/views/storefront/component/captcha/basicCaptcha.html.twig
  src/Storefront/Resources/views/storefront/component/checkout/offcanvas-cart-summary.html.twig
  src/Storefront/Resources/views/storefront/component/form/form-checkbox.html.twig
  src/Storefront/Resources/views/storefront/component/form/form-input.html.twig
  src/Storefront/Resources/views/storefront/component/form/form-select-birthday.html.twig
  src/Storefront/Resources/views/storefront/component/form/form-select.html.twig
  src/Storefront/Resources/views/storefront/component/form/form-textarea.html.twig
  src/Storefront/Resources/views/storefront/component/listing/filter-panel.html.twig
  src/Storefront/Resources/views/storefront/component/payment/payment-form.html.twig
  src/Storefront/Resources/views/storefront/component/privacy-notice.html.twig
  src/Storefront/Resources/views/storefront/component/review/review-form.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-cross-selling.html.twig
  src/Storefront/Resources/views/storefront/layout/header/actions/currency-widget.html.twig
  src/Storefront/Resources/views/storefront/layout/header/actions/language-widget.html.twig
  src/Storefront/Resources/views/storefront/layout/header/top-bar.html.twig
  src/Storefront/Resources/views/storefront/layout/meta.html.twig
  src/Storefront/Resources/views/storefront/layout/navigation/active-styling.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/address-item.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/create.html.twig
  src/Storefront/Resources/views/storefront/page/account/addressbook/edit.html.twig
  src/Storefront/Resources/views/storefront/page/account/guest-auth.html.twig
  src/Storefront/Resources/views/storefront/page/account/order-history/order-detail-document.html.twig
  src/Storefront/Resources/views/storefront/page/account/profile/index.html.twig
  src/Storefront/Resources/views/storefront/page/account/profile/recover-password.html.twig
  src/Storefront/Resources/views/storefront/page/account/profile/reset-password.html.twig
  src/Storefront/Resources/views/storefront/section/cms-section-sidebar.html.twig
  src/Storefront/Resources/views/storefront/utilities/form-validation-config.html.twig
Labels: component/storefront, Domain:Framework, Domain:CRM & After Sales

#7501 fix: Adjust date format in date range rule
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-date-range/index.js
  src/Administration/Resources/app/administration/src/app/component/rule/condition-type/sw-condition-date-range/sw-condition-date-range.spec.js
Labels: Domain:CRM & After Sales, component/rulebuilder

#7513 fix: Add new cross selling button is not align
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-cross-selling/sw-product-detail-cross-selling.scss
Labels: Domain:Inventory, component/inventory-products

#7504 fix: grid inline edit not working on double click
  src/Administration/Resources/app/administration/src/app/component/grid/sw-grid-row/index.js
Labels: component/administration, Domain:Framework

#7505 fix(accessibility): make sw_icon aria-hidden by default
  UPGRADE-6.7.md
  changelog/_unreleased/2025-03-14-make-sw_icons-aria-hidden-by-default.md
  src/Storefront/Resources/views/storefront/component/pagination.html.twig
  src/Storefront/Resources/views/storefront/component/product/card/box-standard.html.twig
  src/Storefront/Resources/views/storefront/component/product/card/box-wishlist.html.twig
  src/Storefront/Resources/views/storefront/component/product/quickview/minimal.html.twig
  src/Storefront/Resources/views/storefront/element/cms-element-sidebar-filter.html.twig
  src/Storefront/Resources/views/storefront/layout/breadcrumb.html.twig
  src/Storefront/Resources/views/storefront/layout/cookie/cookie-configuration-group.html.twig
  src/Storefront/Resources/views/storefront/layout/footer/footer.html.twig
  src/Storefront/Resources/views/storefront/layout/header/actions/cart-widget.html.twig
  src/Storefront/Resources/views/storefront/layout/header/search-suggest.html.twig
  src/Storefront/Resources/views/storefront/layout/navigation/offcanvas/back-link.html.twig
  src/Storefront/Resources/views/storefront/layout/scroll-up.html.twig
  src/Storefront/Resources/views/storefront/page/account/order-history/order-item.html.twig
  src/Storefront/Resources/views/storefront/page/account/sidebar.html.twig
  src/Storefront/Resources/views/storefront/utilities/alert.html.twig
  src/Storefront/Resources/views/storefront/utilities/icon.html.twig
  tests/unit/Storefront/Framework/Twig/Extension/IconCacheTwigFilterTest.php
  tests/unit/Storefront/Framework/Twig/Extension/fixtures/Storefront/Resources/views/test/base.html.twig
Labels: component/storefront, area/accessibility, Domain:Framework

#7611 fix: change sw-field to mt-switch in media folder settings
  changelog/_unreleased/2025-03-16-fix-media-folder-thumbnail-settings.md
  src/Administration/Resources/app/administration/src/app/asyncComponent/media/sw-media-modal-folder-settings/sw-media-modal-folder-settings.html.twig
  src/Core/Content/Media/Aggregate/MediaFolderConfiguration/MediaFolderConfigurationEntity.php
Labels: component/administration, Domain:Framework, backport-6.6.x

#7613 ci: remove usage of tj-actions/changed-files
  .github/workflows/05-deploy.yml
  .github/workflows/admin.yml
  .github/workflows/php.yml
  .github/workflows/storefront.yml
Labels: backport-6.6.x, domain/product-ops

#7440 chore: Update PHPStan and its plugins
  composer.json
  src/Core/Checkout/Cart/Facade/CartFacade.php
  src/Core/Checkout/Cart/Facade/ContainerFacade.php
  src/Core/Checkout/Cart/Facade/ItemsFacade.php
  src/Core/Checkout/Cart/Facade/ProductsFacade.php
  src/Core/Checkout/Cart/Facade/ScriptPriceStubs.php
  src/Core/Checkout/Cart/Facade/Traits/ContainerFactoryTrait.php
  src/Core/Checkout/Cart/Facade/Traits/DiscountTrait.php
  src/Core/Checkout/Cart/Facade/Traits/ItemsAddTrait.php
  src/Core/Checkout/Cart/Facade/Traits/ItemsCountTrait.php
  src/Core/Checkout/Cart/Facade/Traits/ItemsGetTrait.php
  src/Core/Checkout/Cart/Facade/Traits/ItemsHasTrait.php
  src/Core/Checkout/Cart/Facade/Traits/ItemsIteratorTrait.php
  src/Core/Checkout/Cart/Facade/Traits/ItemsRemoveTrait.php
  src/Core/Checkout/Cart/Facade/Traits/PriceFactoryTrait.php
  src/Core/Checkout/Cart/Facade/Traits/SurchargeTrait.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/DALFieldsMustBeRegisteredWithSchemaBuilder.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/DomainExceptionRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Internal/InternalMethodRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/Migration/InMigrationClassTrait.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/NoFlowEventAwareExtendsRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/NoFlowStoreFunctionRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/NoManualSalesChannelContextCreationRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/RuleAreasFlagNotAllowedRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/RuleConditionHasRuleConfigRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/ScheduledTaskTooLowIntervalRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Rules/UseCLIContextRule.php
  src/Core/DevOps/StaticAnalyze/PHPStan/Type/CollectionHasSpecifyingExtension.php
  src/Core/DevOps/StaticAnalyze/PHPStan/common.neon
  src/Core/Framework/Adapter/Kernel/KernelFactory.php
  src/Core/Framework/MessageQueue/ScheduledTask/ScheduledTaskHandler.php
  tests/integration/Core/Framework/Api/ApiAliasTest.php
  tests/integration/Core/Framework/Cache/CacheClearerTest.php
  tests/performance/bench/Fixtures.php
  tests/unit/Core/Checkout/Cart/Facade/CartFacadeTest.php
  tests/unit/Core/Checkout/Cart/Facade/CartPriceFacadeTest.php
  tests/unit/Core/Checkout/Cart/Facade/ContainerFacadeTest.php
  tests/unit/Core/Checkout/Cart/Facade/DiscountFacadeTest.php
  tests/unit/Core/Checkout/Cart/Facade/ErrorsFacadeTest.php
  tests/unit/Core/Checkout/Cart/Facade/ItemFacadeTest.php
  tests/unit/Core/Checkout/Cart/Facade/ItemsFacadeTest.php
  tests/unit/Core/Checkout/Cart/Facade/PriceFacadeTest.php
  tests/unit/Core/Checkout/Cart/Facade/ProductsFacadeTest.php
  tests/unit/Core/Checkout/Cart/Facade/ScriptPriceStubsTest.php
  tests/unit/Core/Checkout/Cart/Facade/StatesFacadeTest.php
Labels: component/core, Domain:Framework

#7414 feat(accessibility): Improve product box accessibility
  changelog/_unreleased/2025-03-12-improve-product-box-accessibility.md
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-listing/config/index.js
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-listing/config/sw-cms-el-config-product-listing.html.twig
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/product-listing/index.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/de-DE.json
  src/Administration/Resources/app/administration/src/module/sw-cms/snippet/en-GB.json
  src/Storefront/Resources/app/storefront/src/scss/component/_product-box.scss
  src/Storefront/Resources/snippet/de_DE/storefront.de-DE.json
  src/Storefront/Resources/snippet/en_GB/storefront.en-GB.json
  src/Storefront/Resources/views/storefront/component/product/card/action.html.twig
  src/Storefront/Resources/views/storefront/component/product/card/badges.html.twig
  src/Storefront/Resources/views/storefront/component/product/card/box-standard.html.twig
  src/Storefront/Resources/views/storefront/component/product/card/price-unit.html.twig
  tests/acceptance/tests/Product/ProductWithAdvancedPricingPerQuantity.spec.ts
Labels: component/storefront, Domain:Framework

#7322 fix: issues with sw-entity-multiselect collapse and expand when there…
  src/Administration/Resources/app/administration/src/app/component/form/select/base/sw-select-base/sw-select-base.html.twig
Labels: component/administration, Domain:Framework

#7450 fix: style issues in admin
  src/Administration/Resources/app/administration/src/app/assets/scss/global.scss
  src/Administration/Resources/app/administration/src/module/sw-sales-channel/view/sw-sales-channel-detail-product-comparison/sw-sales-channel-detail-product-comparison.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-payment/page/sw-settings-payment-overview/sw-settings-payment-overview.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-search/component/sw-settings-search-search-index/sw-settings-search-search-index.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-shipping/component/sw-settings-shipping-price-matrix/sw-settings-shipping-price-matrix.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-tax/page/sw-settings-tax-list/sw-settings-tax-list.html.twig
Labels: component/administration, Domain:Framework

#7620 ci: Fix warnings and deprecations in integration tests
  .github/workflows/integration.yml
  phpstan-baseline.neon
  src/Core/Framework/Changelog/Processor/ChangelogProcessor.php
  src/Core/Framework/DependencyInjection/services.xml
  tests/integration/Core/Content/Category/SalesChannel/CategoryRouteTest.php
  tests/integration/Core/Framework/Changelog/ChangelogCommandTest.php
  tests/integration/Core/Framework/FeatureFlag/FeatureTest.php
  tests/unit/Core/Framework/Adapter/Twig/TokenParser/FeatureFlagCallTokenParserTest.php
Labels: component/core, Domain:Framework, domain/product-ops

#7621 fix: media settings slider not working properly
  src/Administration/Resources/app/administration/src/module/sw-settings-media/page/sw-settings-media/index.js
  src/Administration/Resources/app/administration/src/module/sw-settings-media/page/sw-settings-media/sw-settings-media.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-media/page/sw-settings-media/sw-settings-media.spec.js
  src/Core/System/Resources/config/media.xml
Labels: 6.7-RC-Issues

#7439 fix: style issues in admin
  src/Administration/Resources/app/administration/src/app/assets/scss/global.scss
  src/Administration/Resources/app/administration/src/app/component/base/sw-simple-search-field/sw-simple-search-field.scss
  src/Administration/Resources/app/administration/src/app/component/base/sw-sorting-select/sw-sorting-select.scss
  src/Administration/Resources/app/administration/src/app/component/data-grid/sw-data-grid-settings/sw-data-grid-settings.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-layout-modal/sw-cms-layout-modal.scss
  src/Administration/Resources/app/administration/src/module/sw-cms/page/sw-cms-list/sw-cms-list.scss
  src/Administration/Resources/app/administration/src/module/sw-extension/component/sw-extension-card-base/sw-extension-card-base.scss
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-modal/sw-order-document-settings-modal.scss
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-media-upload/sw-product-variants-media-upload.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-media-upload/sw-product-variants-media-upload.scss
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/sw-product-variants-overview.html.twig
  src/Administration/Resources/app/administration/src/module/sw-product/component/sw-product-variants/sw-product-variants-overview/sw-products-variants-overview.scss
  src/Administration/Resources/app/administration/src/module/sw-product/view/sw-product-detail-variants/sw-product-detail-variants.scss
  src/Administration/Resources/app/administration/src/module/sw-settings-basic-information/page/sw-settings-basic-information/sw-settings-basic-information.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings/page/sw-settings-index/sw-settings-index.scss
Labels: component/administration, Domain:Framework

#7641 fix: upgrade issues to 6.4 -> 6.5 with web installer
  src/WebInstaller/Resources/flex-config/bin/ci
  src/WebInstaller/Resources/flex-config/bin/console
Labels: Domain:Framework, component/installer

#5678 feat: Add document renderer order criteria events
  changelog/_unreleased/2024-11-25-add-events-for-order-loading-when-creating-documents.md
  src/Core/Checkout/Document/DocumentEvents.php
  src/Core/Checkout/Document/Event/DocumentOrderCriteriaEvent.php
  src/Core/Checkout/Document/Event/DocumentOrderEvent.php
  src/Core/Checkout/Document/Renderer/CreditNoteRenderer.php
  src/Core/Checkout/Document/Renderer/DeliveryNoteRenderer.php
  src/Core/Checkout/Document/Renderer/InvoiceRenderer.php
  src/Core/Checkout/Document/Renderer/StornoRenderer.php
  tests/integration/Core/Checkout/Document/Renderer/CreditNoteRendererTest.php
Labels: pr/accepted, Domain:CRM & After Sales

#7639 fix: flaky PluginIntegrationTestBehaviour
  src/Core/Framework/Test/Plugin/PluginIntegrationTestBehaviour.php
  tests/integration/Core/Framework/Plugin/KernelPluginIntegrationTest.php
  tests/integration/Core/Framework/Plugin/KernelPluginLoader/DbalKernelPluginLoaderTest.php
Labels: component/core, Domain:Framework, domain/product-ops

#7389 fix: offCanvas links for menu and cart in watcher
  src/Storefront/Resources/app/storefront/build/start-hot-reload.js
Labels: component/storefront, Domain:Framework

#7630 fix(css): line-break on btn-link-inline buttons
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/abstract/variables/_bootstrap.scss
  src/Storefront/Resources/app/storefront/src/scss/skin/shopware/component/_button.scss
Labels: component/storefront, area/accessibility, Domain:Framework, backport-6.6.x

#7634 ci(refactor): use gh-project-automation package
  .github/bin/js/.gitignore
  .github/bin/js/package-lock.json
  .github/bin/js/package.json
  .github/bin/js/src/move_reopened_to_wip.mjs
  .github/workflows/01-pr-issue-labeler.yml
Labels: domain/product-ops
