Repository shopware/shopware, pull requests merged in 2025-10, with the labels that each got.

#12776 ci: enable currents for install ats
  .github/workflows/integration.yml
Labels: domain/product-ops, milestone/6.7.4.0

#12796 chore(admin-snippets): Add auth-filter for fallback
  src/Administration/Controller/AdministrationController.php
Labels: domain/discovery, backport-6.7.3.x, milestone/6.7.4.0

#12791 fix: Add specific cms state page property to watcher
  src/Administration/Resources/app/administration/src/module/sw-cms/component/sw-cms-mapping-field/index.ts
Labels: domain/discovery, milestone/6.7.4.0

#12752 feat(product-analytics): Add properties for page viewed and link visited events
  src/Administration/Resources/app/administration/src/app/init-post/amplitude.init.spec.js
  src/Administration/Resources/app/administration/src/app/init-post/amplitude.init.ts
  src/Administration/Resources/app/administration/src/core/telemetry/index.spec.js
  src/Administration/Resources/app/administration/src/core/telemetry/index.ts
  src/Administration/Resources/app/administration/src/core/telemetry/types.ts
Labels: component/administration, service/data-intelligence

#12743 feat(product-analytics): Add default properties for events
  src/Administration/Resources/app/administration/src/app/init-post/amplitude.init.spec.js
  src/Administration/Resources/app/administration/src/app/init-post/amplitude.init.ts
Labels: component/administration, service/data-intelligence

#12822 fix: package annotation affiliate tracking
  src/Storefront/Framework/AffiliateTracking/AffiliateTrackingListener.php
Labels: domain/checkout, milestone/6.7.4.0

#12764 feat: add typescript-eslint/no-misused-spread
  src/Administration/Resources/app/administration/.eslintrc.js
  src/Administration/Resources/app/administration/src/app/store/error.store.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-cms/service/cms.service.ts
  src/Administration/Resources/app/administration/src/module/sw-flow/store/flow.store.spec.ts
  src/Administration/Resources/app/administration/src/module/sw-flow/store/flow.store.ts
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/index.ts
Labels: domain/crm-after-sales, milestone/6.7.4.0

#12672 fix: Change error output of app loader while running in CI env
  changelog/_unreleased/2025-09-24-improve-error-output-of-app-loader.md
  src/Core/Framework/App/ActiveAppsLoader.php
  src/Core/Framework/Plugin/KernelPluginLoader/ComposerPluginLoader.php
  src/Core/Framework/Util/IOStreamHelper.php
  src/Core/Kernel.php
  src/Storefront/Theme/Subscriber/ThemeCompilerEnrichScssVarSubscriber.php
Labels: component/core, domain/framework, milestone/6.7.4.0

#12811 feat: horizontal card layout
  src/Storefront/Resources/views/components/Sw/Button.html.twig
  src/Storefront/Resources/views/components/Sw/Filter/LayoutToggle.html.twig
  src/Storefront/Resources/views/components/Sw/Filter/LayoutToggle.scss
  src/Storefront/Resources/views/components/Sw/Filter/Panel.html.twig
  src/Storefront/Resources/views/components/Sw/Filter/Panel.js
  src/Storefront/Resources/views/components/Sw/Filter/Panel.scss
  src/Storefront/Resources/views/components/Sw/Filter/Sort.html.twig
  src/Storefront/Resources/views/components/Sw/Filter/Sort.scss
  src/Storefront/Resources/views/components/Sw/Filter/Type/MultiSelect.html.twig
  src/Storefront/Resources/views/components/Sw/Filter/Type/MultiSelect.scss
  src/Storefront/Resources/views/components/Sw/Grid/Container.html.twig
  src/Storefront/Resources/views/components/Sw/Product/Card.html.twig
  src/Storefront/Resources/views/components/Sw/Product/Card.scss
  src/Storefront/Resources/views/components/Sw/Product/CardActions.html.twig
  src/Storefront/Resources/views/components/Sw/Product/Listing.html.twig
  src/Storefront/Resources/views/storefront/component/product/listing.html.twig
  src/Storefront/Resources/views/storefront/page/content/index.html.twig
Labels: component/storefront, domain/framework

#12854 chore: Update 6.7.3.0 changelog
  CHANGELOG.md
  UPGRADE-6.7.md
  UPGRADE-6.8.md
  changelog/release-6-7-3-0/2025-09-25-implement-lint-translation-files-command.md
  src/Core/Framework/Adapter/Filesystem/Adapter/GoogleStorageFactory.php
Labels: domain/product-ops, milestone/6.7.3.0

#12684 feat: add IDs to buttons for product analytics
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-address-modal/sw-order-address-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-address-selection/sw-order-address-selection.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-address-modal/sw-order-create-address-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-details-body/sw-order-create-details-body.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-details-header/sw-order-create-details-header.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-initial-modal/sw-order-create-initial-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-invalid-promotion-modal/sw-order-create-invalid-promotion-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-create-promotion-modal/sw-order-create-promotion-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-customer-grid/sw-order-customer-grid.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-card/sw-order-document-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-document-settings-modal/sw-order-document-settings-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-leave-page-modal/sw-order-leave-page-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid-sales-channel/sw-order-line-items-grid-sales-channel.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-line-items-grid/sw-order-line-items-grid.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-nested-line-items-modal/sw-order-nested-line-items-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-new-customer-modal/sw-order-new-customer-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-promotion-field/sw-order-promotion-field.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-save-changes-beforehand-modal/sw-order-save-changes-beforehand-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-saveable-field/sw-order-saveable-field.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-select-document-type-modal/sw-order-select-document-type-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-send-document-modal/sw-order-send-document-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-change-modal/sw-order-state-change-modal-attach-documents/sw-order-state-change-modal-attach-documents.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-state-history-modal/sw-order-state-history-modal.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/component/sw-order-user-card/sw-order-user-card.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-create/sw-order-create.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-detail/sw-order-detail.html.twig
  src/Administration/Resources/app/administration/src/module/sw-order/page/sw-order-list/sw-order-list.html.twig
Labels: service/data-intelligence, milestone/6.7.3.0

#12831 fix: Proper display of the administrator switch in the integration create modal
  src/Administration/Resources/app/administration/src/module/sw-integration/page/sw-integration-list/sw-integration-list.html.twig
Labels: component/administration, domain/framework, external-contribution, milestone/6.7.4.0

#12874 fix: node 24 warnings
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
Labels: needs-triage, milestone/6.7.4.0

#12341 fix: footerlink not clickable in 6.6.x
  src/Storefront/Resources/app/storefront/src/plugin/collapse/collapse-footer-columns.plugin.js
  src/Storefront/Resources/app/storefront/test/plugin/collapse/collapse-footer-column.plugin.test.js
Labels: priority/low, domain/framework

#12858 fix(image-slider): Fix broken snippet key
  src/Administration/Resources/app/administration/src/module/sw-cms/elements/image-slider/config/index.js
Labels: domain/discovery, milestone/6.7.4.0

#12861 chore: refactor rate limit exception for domain exceptions
  phpstan-baseline.neon
  src/Core/Framework/RateLimiter/Exception/RateLimitExceededException.php
  src/Core/Framework/RateLimiter/RateLimiter.php
  src/Core/Framework/RateLimiter/RateLimiterException.php
  tests/unit/Core/Framework/RateLimiter/RateLimiterTest.php
Labels: domain/framework, milestone/6.7.4.0

#12697 chore: Fix document footer landscape
  src/Core/Framework/Resources/views/documents/style_base_landscape.css.twig
  src/Core/Framework/Resources/views/documents/style_base_portrait.css.twig
  tests/integration/Core/Checkout/Document/Renderer/_snapshots/credit_note_renderer_default.html
  tests/integration/Core/Checkout/Document/Renderer/_snapshots/delivery_note_renderer_default.html
  tests/integration/Core/Checkout/Document/Renderer/_snapshots/invoice_renderer_default.html
  tests/integration/Core/Checkout/Document/Renderer/_snapshots/storno_renderer_default.html
Labels: domain/crm-after-sales

#12835 refactor: replace the latest sw-switch-field component with a bool input
  changelog/_unreleased/2025-10-04-replace-latest-sw-switch-field-component-with-bool-input.md
  src/Core/System/Resources/config/basicInformation.xml
Labels: component/administration, domain/framework, external-contribution, milestone/6.7.4.0

#12837 feat: add new twig blocks for product box
  changelog/_unreleased/2025-10-05-add-blocks-to-reduce-code-you-need-to-copy.md
  src/Storefront/Resources/views/storefront/component/product/card/action.html.twig
  src/Storefront/Resources/views/storefront/component/product/card/price-unit.html.twig
Labels: component/storefront, domain/framework, domain/inventory, external-contribution, milestone/6.7.4.0

#12826 feat(product-analytics): Remove link_visited events. Add default properties for user_interaction events
  src/Administration/Resources/app/administration/src/app/init-post/amplitude.init.spec.js
  src/Administration/Resources/app/administration/src/app/init-post/amplitude.init.ts
  src/Administration/Resources/app/administration/src/core/telemetry/ElementQueries/tagged-buttons.spec.js
  src/Administration/Resources/app/administration/src/core/telemetry/ElementQueries/tagged-buttons.ts
  src/Administration/Resources/app/administration/src/core/telemetry/index.spec.js
  src/Administration/Resources/app/administration/src/core/telemetry/index.ts
  src/Administration/Resources/app/administration/src/core/telemetry/types.ts
Labels: component/administration, service/data-intelligence

#12893 fix: Improve handling of legacy cookie values
  src/Core/Content/Cookie/Service/CookieProvider.php
  tests/unit/Core/Content/Cookie/Service/CookieProviderTest.php
Labels: component/core, domain/framework, backport-6.7.3.x, milestone/6.7.3.1

#12856 test: contact form visual test
  tests/acceptance/tests/Visual/Storefront/ContactForm.spec.ts
  tests/acceptance/tests/Visual/Storefront/ContactForm.spec.ts-snapshots/Contact-Form-Visual-linux.png
Labels: domain/quality-ops, milestone/6.7.3.0

#11988 fix: Use seoUrl when present for contact and shipping info in footer
  src/Storefront/Resources/views/storefront/layout/footer/footer.html.twig
Labels: domain/discovery

#12145 feat: Add custom action button on media sidebar
  changelog/_unreleased/2025-09-03-add-custom-action-in-media-sidebar.md
  src/Administration/Resources/app/administration/blocks-list.json
  src/Administration/Resources/app/administration/package-lock.json
  src/Administration/Resources/app/administration/package.json
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-action-button/sw-app-action-button.html.twig
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-action-button/sw-app-action-button.scss
  src/Administration/Resources/app/administration/src/app/component/app/sw-app-action-button/sw-app-action-button.spec.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/index.js
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.html.twig
  src/Administration/Resources/app/administration/src/module/sw-media/component/sidebar/sw-media-quickinfo/sw-media-quickinfo.spec.js
Labels: domain/discovery, backport-6.7.3.x

#12909 fix: update event binding for multi-select switch and add related tests
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-type-select/sw-custom-field-type-select.html.twig
  src/Administration/Resources/app/administration/src/module/sw-settings-custom-field/component/sw-custom-field-type-select/sw-custom-field-type-select.spec.js
Labels: component/administration, domain/framework, milestone/6.7.4.0

#12910 fix: Customer group decline sets now correct group
  src/Core/Checkout/Customer/Api/CustomerGroupRegistrationActionController.php
  tests/integration/Core/Checkout/Customer/Api/CustomerGroupRegistrationActionControllerTest.php
  tests/unit/Core/Checkout/Customer/Api/CustomerGroupRegistrationActionControllerTest.php
Labels: domain/crm-after-sales, milestone/6.7.4.0
